<% provide(:title, 'Home') %>
<% if signed_in? %>
  <% if is_community_active? %>
  <div class="row">
    <aside class="span6">
      <span class="span6">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      </span>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </span>
    </aside>
     <div class="span12">
      <h3><a href="#" id="mp_link">Micropost Feed </a>| <a href="#" id="gp_link">Grouppost Feed</a></h3>
      <div id="mp_div"> <%= render 'shared/feed' %> </div>
      <div id="gp_div" style="display: none"> <%= render 'shared/group_feed' %> </div>

    </div>
  </div> 
  <% else %>
    <script type="text/javascript">
    window.location.href="/communities" 
  </script>
  <% end %>

<% else %>
<div class="center hero-unit container-fluid canvas">
  <span class="center hero-unit span10">
      <h1>Welcome to Scrapbook</h1>

    <h2>
      This is 
      <a href="#">Rashi - Event Management</a>
       application.
    </h2>

    <%= link_to "Sign up now!", '/signup', class: "btn success" %>
  </span>

<span class="center">
           
             <%= render 'sessions/signin' %>
             
    
</span>
</div>
<!--
<%= link_to image_tag("indy.png", alt: "Rashi"), 'http://rashi.org/' %> -->
<% end %> 
<script type="text/javascript">
$("#mp_link").click(function(){
  $("#mp_link").css("text-decoration","underline");
  $("#gp_link").css("text-decoration","none");
  $("#gp_div").hide();
  $("#mp_div").show();
})
$("#gp_link").click(function(){
  $("#gp_link").css("text-decoration","underline");
  $("#mp_link").css("text-decoration","none");
  $("#mp_div").hide();
  $("#gp_div").show();
})
</script>