<% provide(:title, "Reset password") %>


<div class="container  center-signin uiBoxWhite">
  <div class="span14 signin-name-div"><h3 class="signin-name">Reset password</h3><br>
      <div class="alert-message block-message error">    
        <p><strong>Forgot your password?</strong></p><br>
        <ul class="post_grid">
          <li>Please enter the correct email address below.</li><br>
          <li>A link will be sent to your email, please click on it within 2 hours to reset your password.</li><br>
          <li>To reset your Facebook account password click <a href="https://www.facebook.com/recover/initiate" target="_blank">here</a>.</li>
        </ul>
      </div>
  </div>
  <div class="row">

    <%= form_tag password_resets_path, :method => :post do %>
  
    <div class="center_block clearfix signin-maginleft">
      <%= label_tag :email, "Email: " %>
      <div class="input">
    	<%= text_field_tag :email, params[:email] %>
      </div>
    </div>

    <div class="center_block clearfix signin-maginleft">
      <div class="input">
        <%= submit_tag "Reset Password", :class=>"btn primary"%> or <%= link_to "Sign up for Smarthood", root_path , class: "font_strong" %>
      </div>
    </div>
    

  <% end %>



  </div>
</div>

