<div class="comments img_zoom panel-body np">
  <ul class="media-list mb0 comment_form_<%= post.id %>" id="comment_form_<%= post.id %>" >
  <li class="media no-border p0">
    <%= form_for [post.comments.build], remote: true, html: {id: "comment_#{post.id}"}  do |f| %>
    <%= button_tag(type: 'submit', class: "btn btn-default pull-right mt7 pl6 pr6 pt6 pb6 mr5", style: "border-radius: 999px") do %>
     <i class="ico-arrow-right7 font-20"></i>
    <% end %>
    <span class = "media-body bg-white">
      <%= f.text_field :content, :placeholder=>"Write comment...", class: "form-control form-control-minimal ht50",:title => "Comment", 'data-validation' => "required", 'data-validation-error-msg' => "Comment can't be blank"  %>
      <div class="center loading_page_<%= post.id %> pull-right hide"><img src="/assets/loading.gif"></div>
      <%= f.hidden_field :post_id %>
        <!--<span class="media-meta pull-right hide">
          <%= f.submit "Post", class: "btn primary" %>
        </span>-->
    </span>
  <% end %>
  </li> 
</ul>

<% post.comments.each do |comment| %>
<% unless comment.id.nil? %>
  
<ul class=" mb0 media-list comments_ol_<%= post.id %>" id="comments_ol_<%= comment.id %>">
  <hr class="nm mt0 mb10">
  <li class="media no-border p0 pb5 mt5">
    <a class="pull-left pl10 pr0" href="/users/<%=comment.user.id %>/" data-remote="true" class="pop_up" rel="popover" data-content='<%= gravatar_for comment.user, size: 40 %>' data-original-title="<%= comment.user.name %>" ><%= gravatar_for comment.user, size: 40 %></a>
        <div class = "media-body plr10">
        <% if current_user?(comment.user) %>
        <span class="pull-right" id="comments_del_<%= comment.id %>">
                 <strong> <%= link_to "×", comment, method: :delete, remote: true,
                                                   data: { confirm: "You sure?" },
                                                   title: "delete the comment" %></strong>
        </span>
        <% end %>
          <p class="media-heading"><%= link_to comment.user.name, comment.user, remote: true %></p>
          <p class="media-text"><%= comment.content %>
            <span class="media-meta pull-right"><%= time_ago_in_words(comment.created_at) %> ago.</span>
          </p>
        </div>
  </li>
</ul>
<script type="text/javascript">
/*$( "#comments_ol_<%= comment.id %>" ).hover(
  function() {
    $("#comments_del_<%= comment.id %>").show();
  }, function() {
    $("#comments_del_<%= comment.id %>").hide();
  }
);*/
$("#comments_del_<%= comment.id %>").click(function(){
//  $( "#comments_ol_<%= comment.id %>" ).hide();
});
</script>

<% end %>
<% end %>

</div>


<script type="text/javascript">
$(document).ready(function(){
//  $('.gravatar').addClass('thumbnail');
});
  $("#comment_<%= post.id %>").submit(function(){
    $(".loading_page_<%= post.id %>").show();
  });
$(".comments_ol_<%= post.id %>").hide();
$(".comments_ol_<%= post.id %>:lt(3)").show();

$("#cmnts_<%= post.id %>").click(function(){
  $(".comments_ol_<%= post.id %>").toggle();
  $(".comments_ol_<%= post.id %>:lt(3)").toggle();
//  $(".comments_ol_<%= post.id %>").toggle();
//  $(".comments_ol_<%= post.id %>").toggle('slow');
  $("#cmnts_<%= post.id %> > span").toggle();
  $(".comment_form_<%= post.id %>").toggle();
});

  $(".comment_form_<%= post.id %>").hide();

     $(document).ready(function(){
        $.validate({
          validateOnBlur : false,
          form : '#comment_<%= post.id %>',
          onSuccess : function() {
           // $(".loading_page_<%= post.id %>").show();
          },
        });
    });

/*$('.pop_up').popover({
    html: true,
    trigger: 'manual',
    placement: 'left',
    delay: { hide: 500},
    template: ' <div class="popover"><div class="pop_div"><div class="arrow1" stlye="margin-right:10px;"></div><div class="popover-inner"  ><h3 class="popover-title" ></h3><div class="popover-content" ><p></p><br></div></div></div></div>'
});

  $(".pop_up").hover(function(){
      $(this).popover('show');        
  },function(){
      $(this).popover('hide');        
  });*/

</script>