<br>
<% post.comments.reverse_each do |comment| %>
<% unless comment.id.nil? %>
  
<ol style="padding:0;margin:0;width:400px" >
<%= link_to gravatar_for(comment.user, size: 30), comment.user, title: current_user.name%>
     <span class="content"><%= comment.content %></span>
     <span class="timestamp">
      Posted <%= time_ago_in_words(comment.created_at) %> ago.
    </span>
     <% if current_user?(comment.user) %>
    <%= link_to "delete", comment, method: :delete, remote: true, data: { confirm: "You sure?" },title: comment.content %>
  
<% end %>  
</ol>
<% end %>
<% end %>
<ol style="padding:0;margin:0;width:400px">
<%= link_to gravatar_for(current_user, size: 30), current_user, title: current_user.name , style: "padding:5px"%>
<%= form_for [post.comments.build], remote: true do |f| %>
  <%= f.hidden_field :post_id %>
  <%= render 'shared/error_messages', object: f.object %>
  <br>
  <div class="field">
    <%= f.text_field :content, placeholder: "Comment...", class: "xxlarge" %>
  </div>
  <div style="display:none">
  <%= f.submit "Post", class: "btn primary "  %>
  </div>
<% end %>
                                
</ol>