<div id="aboutDiv">
    <!--<%= link_to "edit", '#', id: "edit_group",  class: "pull-right btn btn-primary icon edit mr5 hide",:title => "Edit" %>
   <% if @group.is_joined?(current_user, @group) %>
   <%= link_to "Unjoin", unjoin_grp_group_path(@group), class: "btn btn-primary icon prev pull-right mr5 hide", remote: true %>
 <% end %>-->
<!-- <p><h4>Description : <small><%= group.description %></small></h4></p>

 <p><h4>Privacy : <%= group.privacy == Privacyenum::PRIVATE ? 'Private' : 'Public' %></h4></p>-->
 
 <!--<div class="tab-content">
  <div  class="tab-pane np active " id="group_moderators">-->
  <div class="row pl15">
    <div class="row mb5">
    <% if @is_admin %>
    <a class=" btn-sm btn-success pull-right mt10 mr20" href="#" id="invite" data-toggle="modal" data-target="#modal_invite" >Add Members</a>
    <a class=" btn-sm btn-warning pull-right mt10 mr5" href="#" id="moderator" data-toggle="modal" data-target="#modal_add_mod" >Edit</a>
    <% end %>
    </div>
 <ul class="list-unstyled" id="activity_groups_ul" >
  <% if ad_users.count > 0  %>
    <% ad_users.each do |user|%>
    <li>
      <div class="col-sm-6 pl0  pr5 mb5">
            <div class="panel widget nm">
                <div class="table-layout nm">
                    <img src="<%= gravatar_for_url user, size: 82 %>" class="pull-left gravatar" ></img>
                    <p class="mb0">
                        <% if @group.is_joined?(current_user, @group) && @group.can_admin_unjoin?(current_user) %>
                           <%= link_to "Unjoin", unjoin_grp_group_path(@group, user_id: user.id), class: "btn btn-xs btn-danger pull-right mr5 bd-top-none", data: { confirm: "You sure?" }, remote: true %>
                         <% end %>
                        <span class="badge badge-success ml10 mt5">moderator</span>
                    </p>
                     <div class=" valign-middle">
                        <div class="panel-body mt5 pl95 pb0 pr0">
                            <h5 class="semibold mt0 mb0"><%= link_to user.name.length > 17 ? user.name.slice(0..17) + "..." : user.name, user %></h5>
                            <p class="mb0"><a class="ellipsis text-muted mb0" mailto="<%= user.email %>"><%= user.email.length > 17 ? user.email.slice(0..17) + "..." : user.email %></a></p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </li>
    <% end %>
  <% end %> 
  </ul>
</div>

  <div class="row pl15">
    <div class="row">
    
    </div>
    <ul class="list-unstyled">
  <% if mem_users.count > 0 %>
  <% mem_users.each do |user|%>
  <li>
    <div class="col-sm-6 pl0  pr5 mb5">
            <div class="panel widget nm">
                <div class="table-layout nm">
                    <img src="<%= gravatar_for_url user, size: 82 %>" class="pull-left gravatar" ></img>
                          <p class="mb0">
                              <% if @group.can_admin_unjoin?(current_user) %>
                                 <%= link_to "Unjoin", unjoin_grp_group_path(@group, user_id: user.id), class: "btn btn-xs btn-danger pull-right mr5 bd-top-none", data: { confirm: "You sure?" }, remote: true %>
                               <% end %>
                            </p>   
                    <div class=" valign-middle">
                        <div class="panel-body mt20 pl95 pb0 pr0">
                            <h5 class="semibold mt0 mb0"><%= link_to user.name.length > 17 ? user.name.slice(0..17) + "..." : user.name, user %></h5>
                            <p class="mb0"><a class="ellipsis text-muted mb0" mailto="<%= user.email %>"><%= user.email.length > 17 ? user.email.slice(0..17) + "..." : user.email %></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </li>
  <% end %>
 
  <% end %>
  </ul>
</div>
</div>

<!--<%= form_for( @group, remote: true, :html => {:multipart => true}) do |f| %>
<div id="modal_edit_grp" class="modal fade" >
  <div class="modal-dialog">
    <div class="modal-content">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <span class="semibold font-15">Edit Group</h3>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="">
         <%= render 'shared/error_messages', object: f.object %>
         <div class="center_block clearfix">
          <%= f.label :name %>
          <div class="input">
            <%= f.text_field :name, :placeholder=>"Title" %></div>
          </div>

          <div class="center_block clearfix">
            <%= f.label :description %>
            <div class="input">
              <%= f.text_area :description, :placeholder=>"Description", class: ' inherit_width', :title=>"Description", rows: 3, cols: 75  %> 
            </div>
          </div>

          <div class="center_block clearfix">
            <%= label_tag "Private group:" %>
            <div class="input">
              <%= f.check_box :privacy %>
            </div>
          </div><br><br>

          <div class="center_block clearfix">
            <%= label_tag "Change picture:" %>
            <%= f.fields_for :photo, Photo.new, :child_index => 'NEW_RECORD' do |photo_form| %>
              <%= photo_form.file_field :pic, id: "pic2",style: "width:1px; height:1px; padding:0px;  left:0px;" %>  
            <% end %>
            <div class="input"> 
              <% unless @group.photo.nil? %>
              <%= cl_image_tag(@group.photo.pic_url(:small), class:" thumbnail albumLink", id:"group_edit_pic", style: "cursor:pointer;") %>   
              <% end %>
              <canvas id="imageCanvas_event" style = "border: 1px solid #ddd; padding:5px; align:center; width:200px;display:none;cursor:pointer" >select new image</canvas>
            </div>
          </div>  

        </div>
      </div>   
    </div>
    <div class="modal-footer" >
      <%= f.submit "Update", class: "btn primary pull-right", id: "updGroup" %>  
    </div>
  </div>
  </div>
</div>
<% end %>-->

<%= form_for( group, url: invite_app_user_group_path(group), method: :get, remote: true) do |f| %>
<div id="modal_invite" class="modal fade">
  <div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <!--<a href="#" id="close_invite" class="close">×</a>-->
      <button type="button" class="close" data-dismiss="modal">×</button>
      <span class="semibold font-15">Invite Smarthood Users</span>
    </div>
    <div class="modal-body">
          <div class="center_block clearfix">
            <div>
            <div class="col-sm-6">
              <%= f.text_field :user_tokens, id: "search_user", class: "form-control" %>
            </div>
            </div>
          </div>
    </div>
    <div class="modal-footer" >
      <%= f.submit "Invite", class: "btn btn-success btn-custom pull-right", id: "invite_submit" %>  
    </div>
  </div>
  </div>
</div>
<% end %>

<%= form_for( group, url: add_moderators_group_path(group), method: :get, remote: true) do |f| %>
<div id="modal_add_mod" class="modal fade">
  <div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <!--<a href="#" id="close_add_mod" class="close">×</a>-->
      <button type="button" class="close" data-dismiss="modal">×</button>
      <span>Edit Moderators</span>
    </div>
    <div class="modal-body">
        <div class="">         
         <%= render 'shared/error_messages', object: f.object %>
          <section>
            <ul class="list-unstyled mb0">
              <% @all_users.each do |uc| %>
              <% user = User.find(uc.user_id) %>
              <ol class="pl5 mb5 <%= "hide" if user == current_user %>">
                  <%= gravatar_for user, size: 25 %>
                  <%= link_to user.name, "#" %>
                  
                    <div class="checkboxFive pull-right mr10">
                            <%= check_box_tag 'user_ids[]', user.id, uc.is_admin?, id: "checkboxFiveInput#{uc.id}" %>
                            <label for="checkboxFiveInput<%= uc.id %>"></label>
                        </div>
                  
                            <%= hidden_field_tag 'user_all_ids[]', user.id %>
              </ol>
              <% end %>
            </ul>     
          </section>
      </div>
  </div>
  <div class="modal-footer" >
    <%= f.submit "Update", class: "btn btn-success btn-custom pull-right", id: "submit_add_mod" %>  
  </div>
</div>
</div>
</div>
<% end %>



<script type="text/javascript">


$('#submit_add_mod').click(function(){
  $('#modal_add_mod').modal('hide');
});

$('#invite_submit').click(function(){
  $('#modal_invite').modal('hide');
});

/*
$(document).ready(function(){
  $('#edit_group').hide();
});
$('#aboutDiv').hover(function(){
  $('#edit_group').toggle();
},function(){
  $('#edit_group').toggle();
});
*/

$("#edit_group").click(function(){
      $('#modal_edit_grp').modal('show');
    });
    $("#closeX_edit_grp").click(function(){
          $('#modal_edit_grp').modal('hide');
        });

    $("#updGroup").click(function(){
          $('#modal_edit_grp').modal('hide');
        });

    $("#group_edit_pic").click(function(){
      $('#group_edit_pic').hide();
      $('#pic2').click();
      $('#imageCanvas_event').show();
    });

      var imageLoader = document.getElementById('pic2');
    imageLoader.addEventListener('change', handleImage, false);
    $("#imageCanvas_event").click(function(){
        $("#pic2").click();
    });
        var canvas = document.getElementById('imageCanvas_event');
    var ctx = canvas.getContext('2d');
    ctx.font="30px Arial";
    ctx.fillText("Change picture",10,50);

  function handleImage(e){
    var canvas = document.getElementById('imageCanvas_event');
    var ctx = canvas.getContext('2d');
    var iCnt=0;
    var files = e.target.files;
    canvas.width = 180;
    canvas.height = 155*(Math.ceil(files.length/4));
    for( var i = 0, len = files.length; i < len; i++) 
          {
          if(files[i])
            {
              var reader = new FileReader();
              reader.onload = function(event){
                var img = new Image();

                img.onload = function(){
                  var ratioPx = 150;
                  var sWidth =ratioPx;
                  var ratio = img.width/sWidth;
                  var sHeight = img.height/ratio;   
                    if(sHeight>ratioPx){
                       sHeight =ratioPx;
                       ratio = img.height/sHeight;
                       sWidth = img.width/ratio;  
                    }
                  ctx.drawImage(img, 155*(iCnt%4),155*(Math.floor(iCnt/4)),sWidth,sHeight);
                  //ctx.drawImage(img,0,0,sWidth,sHeight);
                  iCnt++;
                }
                img.src = event.target.result;
              }
              reader.readAsDataURL(e.target.files[i]);     
            }
          }
  }

   $("#search_user").tokenInput("/events/search_auto_user", {
    crossDomain: false,
   // prePopulate: $(".eventdetails_with_autocomplete").data("pre"),
    theme: "facebook",
         resultsFormatter: function(item){ return "<li>" + "<img src='" + item.profile_pic + "' title='" + item.name + "' height='30px' width='30px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name + " " + ""+ "</div><div class='full_name'>" + item.email + " " + ""+ "</div></div></li>" },
         tokenFormatter: function(item) { return  "<li>" +  item.name +  "</li>" },
        preventDuplicates: true ,
        zindex: 11001,
        hintText: "Type in a user name",
  });

  $(".token-input-list-facebook").addClass("form-control wdp-100-xs wd235-sm font-15 autocomplete-border");

</script>