          <a  id="back_to_album" href="<%= request.referer %>/group_photos?grp_id=<%= @group.id %>" data-remote="true" class="btn btn-primary pull-right mr5  btn-custom">Back</a>
          <div id="group_gallery"  ></div>
          <div id="gallery"  >
            <% if community.is_active?(current_user, community) %>
              <% if @group.is_joined?(current_user, @group) %> 
            <div class="row"> 
              <a  id="upload_pics_grp" class="btn btn-success pull-right btn-custom mr20 "> Create Album</a>
            </div>
            <% end %>  
            <% end %>  
            <div id="grp_album">
                    <div id="gallery1">
                       <ul id="grid" class="list-unstyled">
                      <% unless albums.nil? %>
                               <% albums.each do |album| %>
                                   <% unless album.photos[0].nil? %>
                                      <%= render partial: 'groups/album_list', locals: {album: album} %>
                                   <% end %> 
                               <% end %>
                       <% end %>  
                    </ul>
                    </div>
                     
          </div>
      <!--<ul class="users" id="photos_events_ul" >
      </ul>-->
      </div>
      
      <%= form_for(album, url: create_album_groups_path, remote: true, :html => {:multipart => true}) do  |f| %> 
<div id="modal5" class="modal fade" >
  <div id="modal-from-dom_com">
      <div class="modal-dialog">
        <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <span class="semibold font-15">Create album</h3>
    </div>
    <div class="modal-body">
      
      <div class="row">
        <div class="col-sm-offset-1 "  >
         <%= render 'shared/error_messages', object: f.object %>
         <div class="center_block clearfix">
          <%= f.label :title, class: "control-label pl15 mt15" %>
          <div>
          <div class="col-sm-9">
            <%= f.text_field :title, class: "form-control", :placeholder=>"Title", 'data-validation' => "length",
     'data-validation-length' =>"3-25", 'data-validation-error-msg' => "The Album title has to be a value between 3-25 characters" %>
          </div>
          </div>
        </div>

        <div class="center_block clearfix">
          <%= f.label :description, class: "control-label pl15 mt15" %>
          <div>
          <div class="col-sm-9">
            <%= f.text_area :description, class: "form-control inherit_width", :placeholder=>"Description", :title=>"Description", rows: 3, cols: 75, 'data-validation' => "length ",
     'data-validation-length' =>"3-250", 'data-validation-error-msg' => "The album description has to be an alphanumeric value between 3-250 characters"   %> 
          </div>
          </div>
        </div>
          <div class="center_block clearfix">
            <%= f.label "privacy:", class: "control-label pl15 mt15" %>
            <div>
            <div class="col-sm-9">
              <%= f.select :privacy, options_for_select([["Public", Privacyenum::PUBLIC], ["Private", Privacyenum::PRIVATE]]) %>
            </div>
            </div>
          </div>
         <div class="center_block clearfix ">
            <%= f.label  "Album downloadable: ", class: "control-label pl15 mt10 pull-left" %>
            <div>
            <div class="col-xs-1 ">
              <%= f.check_box :downloadable, class: "mt14" %>
            </div>
            </div>
          </div>
  
         <div class="center_block clearfix mt10">
         <div class="col-sm-9">    
           <%= fields_for :photos, Photo.new, :child_index => 'NEW_RECORD' do |photo_form| %>

           <%= photo_form.file_field :pic, id: "pic_com", :multiple => true, style: "width:0px; height:0px; padding:0px;  left:0px;", 'data-validation' => "required", 'data-validation-error-msg' => "Please select atleast 1 photo" %>  
           <% end %>
           <%= hidden_field_tag :type, "group" %>
           <%= hidden_field_tag :id, @group.id %>
           <canvas id="imageCanvas_com" style = "border: 1px solid #ddd; padding:5px; align:center;cursor:pointer;" >click to add photos</canvas>
         </div>
   
       </div>
     </div>
   </div>
 </div>
 <div class="modal-footer" >
  <%= f.submit "Create Album", class: "btn btn-success btn-custom pull-right busy", id: "crtAlb_com" %> 
  <%= f.submit "", :class => 'hide reset_form', :type => 'reset' %> 
 
</div>
</div>
</div>
</div>
</div>

<% end %>
          


        <script type="text/javascript">
          $("#upload_pics_grp").click(function(){
            $('#modal5').modal({
              //  keyboard: true,
                backdrop: "static",
              });
          });
          $("#close5X").click(function(){
                $('#modal5').modal('hide');
              });

$('#album_privacy').addClass('form-control');

$('#grid').find('li').click(function(){
  $('#upload_pics_grp').hide();
  $('#back_to_album').show();
});
  $('#back_to_album').click(function(){
    $('#upload_pics_grp').show();
    $('#back_to_album').hide();
    
  });
$(document).ready(function(){
$('#back_to_album').hide();
  $.validate({
    onSuccess : function() {
      $('#crtAlb_com').attr('data-loading-text', 'Creating...');
      $('#crtAlb_com').button('loading');
     // return false; // Will stop the submission of the form
    },
  });
});


var imageLoader = document.getElementById('pic_com');
imageLoader.addEventListener('change', handleImage, false);
$("#imageCanvas_com").click(function(){
  $("#pic_com").click();
});

var canvas = document.getElementById('imageCanvas_com');
var ctx = canvas.getContext('2d');
  ctx.font="15px Arial";
  ctx.fillText("Click here to add photos (Max: 50 files)",25,75);

function handleImage(e){
  var canvas = document.getElementById('imageCanvas_com');
  var ctx = canvas.getContext('2d');
  var iCnt=0;
  var files = e.target.files;
    if(files.length>50){
      alert("Maximum of 50 files can be selected");
      $('#pic_com').val('');
      ctx.setTransform(1, 0, 0, 1, 0, 0);
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      ctx.font="20px Arial";
      ctx.fillText("Click here to add photos",10,50);
      return;
    }
   if(files.length<1){
      ctx.setTransform(1, 0, 0, 1, 0, 0);
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      ctx.font="20px Arial";
      ctx.fillText("Click here to add photos",10,50);
      return;
    }
  canvas.width = 600;
  canvas.height = 155*(Math.ceil(files.length/4));
  for( var i = 0, len = files.length; i < len; i++) 
  {
    if(files[i])
    {
      var reader = new FileReader();
      reader.onload = function(event){
        var img = new Image();

        img.onload = function(){
          var ratioPx = 150;
          var sWidth =ratioPx;
          var ratio = img.width/sWidth;
          var sHeight = img.height/ratio;   
          if(sHeight>ratioPx){
           sHeight =ratioPx;
           ratio = img.height/sHeight;
           sWidth = img.width/ratio;  
         }
         ctx.drawImage(img, 155*(iCnt%4),155*(Math.floor(iCnt/4)),sWidth,sHeight);
                          //ctx.drawImage(img,0,0,sWidth,sHeight);
                          iCnt++;
                        }
                        img.src = event.target.result;
                      }
                      reader.readAsDataURL(e.target.files[i]);     
                    }
                  }
                }

        </script>
        </div>
