          <div id="gallery"  >
            <div id="grp_album">
                    <div id="gallery1" class=" pull-left">
                       <ul id="grid"  style="margin-left:0px;">
                        <% if community.is_active?(current_user, community) %>
                           <% if @group.is_joined?(current_user, @group) %>    
                             <li style="background-color:#ffffff!important;margin-left:0px;">
                             <div id="upload_pics_grp"  style = "border:2px dashed #ddd; width:110px; height:110px; padding:10px;  left:40px; text-align:middle; z-index: 1;  cursor:pointer;  float:left; margin-bottom:3px;" class="bgClrChg">  <h5 class="center" style="margin:38px 0 0 0 "> Create Album </h5>
                            </div>
                           </li>               
                       <% end %>  
                       <% end %>  
                      <% unless albums.nil? %>
                               <% albums.each do |album| %>
                                   <% unless album.photos[0].nil? %>
                                      <%= render partial: 'groups/album_list', locals: {album: album} %>
                                   <% end %> 
                               <% end %>
                       <% end %>  
                    </ul>
                    </div>
                     
          </div>
      <ul class="users" id="photos_events_ul" >
      </ul>
      <%= form_for(album, url: create_album_groups_path, remote: true, :html => {:multipart => true}) do  |f| %> 
      <div id="modal5" style="display:none" >
          <div id="modal-from-dom5" class="modal hide fade in" style="display: block;width:700px;">
            <div class="modal-header">
              <a href="#" id="close5X" class="close">×</a>
              <h3>Create album</h3>
            </div>
                <div class="modal-body" style="max-height:450px;">
      <div class="row">
        <div class="span14 ui-front "  >

         <%= render 'shared/error_messages', object: f.object %>
         <div class="center_block clearfix pull-left">
          <%= f.label :title %>
          <div class="input">
            <%= f.text_field :title, :placeholder=>"Title", 'data-validation' => "length",
     'data-validation-length' =>"3-25", 'data-validation-error-msg' => "The Album title has to be a value between 3-25 characters" %>
          </div>
        </div>

        <div class="center_block clearfix pull-left">
          <%= f.label :description %>
          <div class="input">
            <%= f.text_area :description, :placeholder=>"Description", class: ' inherit_width', :title=>"Description", rows: 3, cols: 75, 'data-validation' => "length ",
     'data-validation-length' =>"0-250", 'data-validation-error-msg' => "The community description has to be maximum of 250 characters"   %> 
          </div>
        </div>
        <span class="overrideClass">
          <div class="center_block clearfix pull-left">
            <%= f.label "privacy:" %>
            <div class="input">
              <%= f.select :privacy, options_for_select([["Public", Privacyenum::PUBLIC], ["Private", Privacyenum::PRIVATE]]) %>
            </div>
          </div>
        </span>
        <br><br>
        <div class="center_block clearfix pull-left clear">
         <div class="input">    
           <%= fields_for :photos, Photo.new, :child_index => 'NEW_RECORD' do |photo_form| %>

           <%= photo_form.file_field :pic, id: "pic_com", :multiple => true, style: "width:0px; height:0px; padding:0px;  left:0px;", 'data-validation' => "required", 'data-validation-error-msg' => "Please select atleast 1 photo" %>  
           <% end %>
           <%= hidden_field_tag :type, "group" %>
           <%= hidden_field_tag :id, @group.id %>
           <canvas id="imageCanvas_com" style = "border: 1px solid #ddd; padding:5px; align:center;cursor:pointer;" >click to add photos</canvas>
         </div>
       </div>
     </div>
   </div>
 </div>
 <div class="modal-footer" >
  <%= f.submit "Create Album", class: "btn primary pull-right busy", id: "crtAlb_com" %> 
</div>
</div>
</div>
<% end %>
          


        <script type="text/javascript">
          $("#upload_pics_grp").click(function(){
            $('#modal5').modal({
              //  keyboard: true,
                backdrop: "static",
              });
          });
          $("#close5X").click(function(){
                $('#modal5').modal('hide');
              });



$(document).ready(function(){
  $.validate({
    onSuccess : function() {
      $('#crtAlb_com').attr('data-loading-text', 'Creating...');
      $('#crtAlb_com').button('loading');
     // return false; // Will stop the submission of the form
    },
  });
});


var imageLoader = document.getElementById('pic_com');
imageLoader.addEventListener('change', handleImage, false);
$("#imageCanvas_com").click(function(){
  $("#pic_com").click();
});

var canvas = document.getElementById('imageCanvas_com');
var ctx = canvas.getContext('2d');
  ctx.font="15px Arial";
  ctx.fillText("Click here to add photos (Max: 50 files)",25,75);

function handleImage(e){
  var canvas = document.getElementById('imageCanvas_com');
  var ctx = canvas.getContext('2d');
  var iCnt=0;
  var files = e.target.files;
    if(files.length>50){
      alert("Maximum of 50 files can be selected");
      $('#pic_com').val('');
      ctx.setTransform(1, 0, 0, 1, 0, 0);
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      ctx.font="20px Arial";
      ctx.fillText("Click here to add photos",10,50);
      return;
    }
   if(files.length<1){
      ctx.setTransform(1, 0, 0, 1, 0, 0);
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      ctx.font="20px Arial";
      ctx.fillText("Click here to add photos",10,50);
      return;
    }
  canvas.width = 600;
  canvas.height = 155*(Math.ceil(files.length/4));
  for( var i = 0, len = files.length; i < len; i++) 
  {
    if(files[i])
    {
      var reader = new FileReader();
      reader.onload = function(event){
        var img = new Image();

        img.onload = function(){
          var ratioPx = 150;
          var sWidth =ratioPx;
          var ratio = img.width/sWidth;
          var sHeight = img.height/ratio;   
          if(sHeight>ratioPx){
           sHeight =ratioPx;
           ratio = img.height/sHeight;
           sWidth = img.width/ratio;  
         }
         ctx.drawImage(img, 155*(iCnt%4),155*(Math.floor(iCnt/4)),sWidth,sHeight);
                          //ctx.drawImage(img,0,0,sWidth,sHeight);
                          iCnt++;
                        }
                        img.src = event.target.result;
                      }
                      reader.readAsDataURL(e.target.files[i]);     
                    }
                  }
                }

        </script>
        </div>
