<li>
  <span class="content"><%= group.name %> 
	<% if group.privacy? %>
  <span class="red_color">Private</span>
  <% end %>
   <% unless group.User.nil? %> 
   <span class="green_color">Owner</span>	
   <%= group.User.name %> <% end %>
</span>
  <div id="follow_form_<%= group.id %>" class="pull-right-half">
  <% if group.following?(current_user, group) %>
    <%= render 'unfollow', :group => group %>
  <% else %>
    <%= render 'follow', :group => group %>
  <% end %>
  </div>
  <span class="timestamp">
    <%= group.description %>
  </span>

</li>