<% unless group.nil? %>
<% unless group.id.nil? %>
<div>
  <% unless ad_users.nil? %>
  <% if (ad_users.count > 0) %>
  <div id="moderatorDiv" class="bgClrChg">
    <h5>Moderators<% if @is_admin %><%= link_to "edit", '#', id: "moderator",  class: "uibutton icon edit pull-right" %><% end %></h5> 
    <% if ad_users.count > 0  %>
    <section class="stats">
      <a href="#" id="ad_users_a">
        <strong id="following" class="stat">
          <%= ad_users.count %>
        </strong>
        <%="Member".pluralize(ad_users.count) %>
      </a>
      <div id="ad_users_div">
        <% ad_users.each do |ad_user| %>
        <a class="pop_up" rel="popover" data-content='<%= gravatar_for ad_user, size: 100 %>' data-original-title="<%= ad_user.name %>" >
         <%= gravatar_for ad_user, size: 25 %>
       </a>
       <% end %>
     </div>
   </section>
   <% end %>  
 </div>
 
 
 
 
 
 <% end %>
 <% end %> 
 <% unless inv_users.nil? %> 
 <div id="inviteDiv" class="bgClrChg">
  <h5>Members<%= link_to "add", '#', id: "invite",  class: "uibutton icon add pull-right" %></h5>
  <section class="stats">
    <a href="#" id="inv_users_a">
      <strong id="followers" class="stat">
        <%= inv_users.count %>
      </strong>
      <%="Member".pluralize(inv_users.count) %>
    </a>
    
    <div id="inv_users_div">
      <% inv_users.each do |inv_user| %>
      <a class="pop_up" rel="popover" data-content='<%= gravatar_for inv_user, size: 100 %>' data-original-title="<%= inv_user.name %>" >
       <%= gravatar_for inv_user, size: 25 %>
     </a>
     <% end %>
   </div>
 </section>
 
</div>
<% end %>
</div>
<%= form_for( group, url: add_moderators_group_path(group), method: :get, remote: true) do |f| %>
<div id="modal_add_mod" class="modal fade">
  <div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <a href="#" id="close_add_mod" class="close">×</a>
      <span>Edit Moderators</span>
    </div>
    <div class="modal-body">
        <div class="">         
         <%= render 'shared/error_messages', object: f.object %>
          <section>
            <ul class="list-unstyled mb0">
              <% @ucs.each do |uc| %>
              <% user = User.find(uc.user_id) %>
              <ol class="pl5">
                  <%= gravatar_for user, size: 25 %>
                  <%= link_to user.name, "#" %>
                  
                  <div class="checkboxFive pull-right mr10">
                            <%= check_box_tag 'user_ids[]', user.id, uc.is_admin?, id: "checkboxFiveInput#{uc.id}" %>
                            <label for="checkboxFiveInput<%= uc.id %>"></label>
                        </div>
                  
                            <%= hidden_field_tag 'user_all_ids[]', user.id %>
                                  
              </ol>
              <% end %>
            </ul>     
          </section>
      </div>
  </div>
  <div class="modal-footer" >
    <%= f.submit "Update", class: "btn btn-success btn-custom pull-right", id: "submit_add_mod" %>  
  </div>
</div>
</div>
</div>
<% end %>



<%= form_for( group, url: invite_app_user_group_path(group), method: :get, remote: true) do |f| %>
<div id="modal_invite" class="modal fade">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <a href="#" id="close_invite" class="close">×</a>
      <span>Invite</span>
    </div>
    <div class="modal-body">
          <div class="center_block clearfix">
            <%= f.label "Invite by User name:", class: "control-label pl15" %>
            <div>
            <div class="col-sm-6">
              <%= f.text_field :user_tokens, id: "search_user", class: "form-control" %>
            </div>
            </div>
          </div>
    </div>
    <div class="modal-footer" >
      <%= f.submit "Invite", class: "btn btn-primary pull-right", id: "invite_submit" %>  
    </div>
  </div>
  </div>
</div>
<% end %>




<script type="text/javascript">
$(document).ready(function(){
//  $('.gravatar').addClass('thumbnail');  
  $('#invite').hide();
  $('#moderator').hide();

  $('#moderatorDiv').hover(function(){
    $('#moderator').toggle();
  },function(){
    $('#moderator').toggle();
  });

  $('#inviteDiv').hover(function(){
    $('#invite').toggle();
  },function(){
    $('#invite').toggle();
  });

  $('#ad_users_div').hide();
  $('#inv_users_div').hide();



});

$('#ad_users_a').click(function(){
  $('#ad_users_div').toggle('slow')
});

$('#inv_users_a').click(function(){
  $('#inv_users_div').toggle('slow')
});



$("#invite").on( "click", function() {
 $('#modal_invite').modal('show');
});

$("#close_invite").click(function(){
  $('#modal_invite').modal('hide');
});

$("#invite_submit").click(function(){
  $('#modal_invite').modal('hide');
});

$("#moderator").on( "click", function() {
 $('#modal_add_mod').modal('show');
});

$("#close_add_mod").click(function(){
  $('#modal_add_mod').modal('hide');
});

$("#submit_add_mod").click(function(){
  $('#modal_add_mod').modal('hide');
});

$(function() {
  $("#search_user").tokenInput("/groups/<%= group.id %>/search_app_user", {
    crossDomain: false,
    theme: "facebook",
    resultsFormatter: function(item){ return "<li>" + "<img src='" + item.profile_pic + "' title='" + item.name + "' height='30px' width='30px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name + " " + ""+ "</div></div></li>" },
    tokenFormatter: function(item) { return  "<li>" + "<img src='" + item.profile_pic + "' title='" + item.name + "' height='30px' width='30px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name +"</div></div></li>" },
    preventDuplicates: true ,
    zindex: 11001,
    hintText: "Type in a user name",
  });
});

</script>
<% end %>
<% end %>
