<% provide(:title, @group.name) %>
<div class="row span7" >
    <%= render '/groups/side_link_left' %>
</div>  

<div>
<ul id="group_list" class="span13 grid">
  <ul class="tabs">
    <li class="active" id="posts_groups_li"><a href="#"><h4>Posts</h4></a></li>
    <li id="about_groups_li"><a ><h4>About</h4></a></li>
    <li id="photos_groups_li"><a ><h4>Photos</h4></a></li>
  </ul>

     <div id="posts_groups">  
      <ul class="users" id="posts_groups_ul" >
            <div id="posts" style="overflow:auto;">
                
            <%= render :partial => 'posts/group_post', :locals => {:post => @post}, :group => @group %>
            <br><br>
              <div id="div_post" class="resources<%= @group.id %>">
                <%= render partial: 'posts/post', locals: {posts: @posts, group: @group}  %>
              </div>
              <p id="group_id" class='active_hide'><%= @group.id %></p>
               <div id="loading_page" class="center" ><img src="http://res.cloudinary.com/rashi/image/upload/v1377924529/loading7_gvb06y.gif"></div>
            </div>
      
      </ul>
    <br>
  </div>
  <div id="about_groups">  
   <%= render partial: 'groups/about', locals: {ad_users: @ad_users, inv_users: @inv_users, ad_groups: @ad_groups, inv_groups: @inv_groups, group: @group} %>
  </div>
  <div id="photos_groups">
        <%= render partial: 'groups/albums', locals: {group: @group, albums: @group.albums, album: @album} %>
  </div>

</div>
</div>

<div id="sidebar_right" class="row">
    <%= render '/groups/side_link_right' %>
</div>  



<script type="text/javascript">
$('#posts_groups_li').click(function(){
  $('#posts_groups_li').addClass('active');
  $('#about_groups_li').removeClass('active');
  $('#photos_groups_li').removeClass('active');
  $('#posts_groups').show();
  $('#about_groups').hide();
  $('#photos_groups').hide();
});
$('#about_groups_li').click(function(){
  $('#posts_groups_li').removeClass('active');
  $('#about_groups_li').addClass('active');
  $('#photos_groups_li').removeClass('active');
  $('#posts_groups').hide();
  $('#about_groups').show();
  $('#photos_groups').hide();
});
$('#photos_groups_li').click(function(){
  $('#posts_groups_li').removeClass('active');
  $('#about_groups_li').removeClass('active');
  $('#photos_groups_li').addClass('active');
  $('#posts_groups').hide();
  $('#about_groups').hide();
  $('#photos_groups').show();
});



var currentPage = 1;
var intervalID = -1000;
 
function checkScroll_post() {
  if (nearBottomOfPage()) {
    currentPage++;
  console.log("--"+intervalID+"---"+$('#group_id').html());
  $('#loading_page').show();
  if($('#group_id').html() == null){
      clearInterval(intervalID);
      clearInterval(intervalID-1);
      for (var i = 1; i < 99999; i++){
        window.clearInterval(i);
      }
      restartInterval();

      console.log("-null-"+intervalID);
    }
    jQuery.ajax('/groups/post_paginate?id=<%= @group.id %>&page=' + currentPage, {asynchronous:true, evalScripts:true, method:'get', success: function(data, textStatus, jqXHR) {
      $('#loading_page').hide();
    if($(data).find('.grid').html()==null || $(data).find('.grid').html() == '' || $('#group_id').html()== null){
     // console.log("-1-"+ $(data).find('.grid').html()+"-1-");
      clearInterval(intervalID);
      clearInterval(intervalID-1);
      for (var i = 1; i < 99999; i++){
        window.clearInterval(i);
      }
      restartInterval();

      console.log("-1-"+intervalID);
    }else{
    $('.resources<%= @group.id %>').append(data);
    }
  },});
  }
}
 
function nearBottomOfPage() {
  return scrollDistanceFromBottom() < 50;
}
 
function scrollDistanceFromBottom(argument) {
  return pageHeight() - (window.pageYOffset + self.innerHeight);
}
 
function pageHeight() {
  return Math.max(document.body.scrollHeight, document.body.offsetHeight);
}
 
$('document').ready(function(){
  intervalID = setInterval(checkScroll_post, 250);
  $('#about_groups').hide();
  $('#photos_groups').hide();
  $(".sidetabs").removeClass('sidetabs_selected');
})


$('.pop_up').popover({
    html: true,
    trigger: 'manual',
    placement: 'left',
    delay: { hide: 500},
    template: ' <div class="popover"><div class="pop_div"><div class="arrow1" stlye="margin-right:10px;"></div><div class="popover-inner"  ><h3 class="popover-title" ></h3><div class="popover-content" ><p></p><br></div></div></div></div>'
});

  $(".pop_up").hover(function(){
      $(this).popover('show');        
  },function(){
      $(this).popover('hide');        
  });


</script>