<% provide(:title, @group.name) %>
<div class="row">
  <aside class="span7">
    <section>
      <%=  cl_image_tag(@group.photo.pic_url(:thumb_medium), class:"image_al_c1 thumbnail", id:"#{@group.photo.id}") %>
      <h4>
        <%= @group.name %>
      </h4>
      <small><%= @group.description %></small>
    </section>
    <section>
        <div class="center" id="follow_form">
          <% if @group.privacy? %>
          <br>
          <%= link_to "Send request",'', class: "uibutton icon secure" %>
          <% else %>
            <% if @group.following?(current_user, @group) %>
              <%= render 'unfollow', :group => @group %>
            <% else %>
              <%= render 'follow', :group => @group %>
            <% end %>
          <% end %>
          
        </div>
    </section>
    <section>
            <% unless @group.User.nil? %> <br>
            <b id="followers" class="stat">
              Admin  
            </b>
           
            <div class="user_avatars">
                <%= link_to gravatar_for(@group.User, size: 30), @group.User, :title => @group.User.name %>
            </div>
           <% end %>
          
    </section>  
    <section>
      <%= render 'shared/group_stats' %>
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <%= link_to gravatar_for(user, size: 30), user, :title => user.name %>
          <% end %>
        </div>
      <% end %>
    </section>

  </aside>
<div class="">
  	 <%= render 'follow_form' if signed_in? %>
    <% if @group.posts.any? %>
      <h3>Posts (<%= @group.posts.count %>)</h3>
      <ol class="microposts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>


<div id="group_list" class="span13">
  <ul class="tabs">
    <li class="active" id="posts_groups_li"><a href="#"><h4>Posts</h4></a></li>
    <li id="about_groups_li"><a ><h4>About</h4></a></li>
    <li id="photos_groups_li"><a ><h4>Photos</h4></a></li>
  </ul>

     <div id="posts_groups">  
      <ul class="users" id="posts_groups_ul" >
            <div id="posts" style="overflow:auto;">
                
            <%= render :partial => 'posts/group_post', :locals => {:post => @post}, :group => @group %>
            <br><br>
              <div id="div_post" class="resources<%= @group.id %>">
                <%= render partial: 'posts/post', locals: {posts: @posts, group: @group}  %>
              </div>
              <p id="group_id" class='hide'><%= @group.id %></p>
               <div id="loading_page" class="center loading_page_post"></div>
            </div>
      
      </ul>
    <br>
  </div>
  <div id="about_groups">  
   <%= render partial: 'groups/about', locals: {ad_users: @ad_users, inv_users: @inv_users, ad_groups: @ad_groups, inv_groups: @inv_groups, group: @group} %>
  </div>
  <div id="photos_groups">
        <%= render partial: 'groups/albums', locals: {group: @group, albums: @group.albums, album: @album} %>
  </div>

</div>

 <%= form_for( @group, remote: true, :html => {:multipart => true}) do |f| %>
 <div id="modal" style="display:none;" >
  <div id="modal-from-dom2" class="modal hide fade in" style="display: block;width:700px;">
    <div class="modal-header">
      <a href="#" id="closeX" class="close">×</a>
      <span style="font-size:20px;line-height: 2;">Create Group</span>
    </div>
    <div class="modal-body" style="max-height:550px;">
      <div class="row">
        <div class="span14 ui-front">

         <%= render 'shared/error_messages', object: f.object %>

         <div class="center_block clearfix">
          <%= f.label :name %>
          <div class="input">
            <%= f.text_field :name, :placeholder=>"Title" %></div>
          </div>

          <div class="center_block clearfix">
            <%= f.label :description %>
            <div class="input">
              <%= f.text_area :description, :placeholder=>"Description", class: ' inherit_width', :title=>"Description", rows: 3, cols: 75  %> 
            </div>
          </div>

          <div class="center_block clearfix">
            <%= label_tag "Private group:" %>
            <div class="input">
            <%= f.check_box :privacy %>
           </div>
          </div>
          <div class="center_block clearfix">
            <%= label_tag "Add picture:" %>
            <%= f.fields_for :photo, Photo.new, :child_index => 'NEW_RECORD' do |photo_form| %>

            <%= photo_form.file_field :pic, id: "pic",style: "width:1px; height:1px; padding:0px;  left:0px;" %>  

            <% end %>
            <div class="input">
              <canvas id="imageCanvas" style = "border: 1px solid #ddd; padding:5px; align:center; width:200px;cursor:pointer" >select new image</canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer" >
      <%= f.submit "Create", class: "btn primary pull-right", id: "editGroup" %>  
    </div>
  </div>
</div>
<% end %>


<script type="text/javascript">
$('#posts_groups_li').click(function(){
  $('#posts_groups_li').addClass('active');
  $('#about_groups_li').removeClass('active');
  $('#photos_groups_li').removeClass('active');
  $('#posts_groups').show();
  $('#about_groups').hide();
  $('#photos_groups').hide();
});
$('#about_groups_li').click(function(){
  $('#posts_groups_li').removeClass('active');
  $('#about_groups_li').addClass('active');
  $('#photos_groups_li').removeClass('active');
  $('#posts_groups').hide();
  $('#about_groups').show();
  $('#photos_groups').hide();
});
$('#photos_groups_li').click(function(){
  $('#posts_groups_li').removeClass('active');
  $('#about_groups_li').removeClass('active');
  $('#photos_groups_li').addClass('active');
  $('#posts_groups').hide();
  $('#about_groups').hide();
  $('#photos_groups').show();
});

$("#edit_group").click(function(){
  $('#modal').modal('show');
});
$("#closeX").click(function(){
  $('#modal').modal('hide');
});

$("#editGroup").click(function(){
  $('#modal').modal('hide');
  showProgress();
});


var currentPage = 1;
var intervalID = -1000;
 
function checkScroll_post() {
  if (nearBottomOfPage()) {
    currentPage++;
  console.log("--"+intervalID+"---"+$('#group_id').html());
  $('#loading_page').show();
  if($('#group_id').html() == null){
      clearInterval(intervalID);
      clearInterval(intervalID-1);
      for (var i = 1; i < 99999; i++){
        window.clearInterval(i);
      }
      console.log("-null-"+intervalID);
    }
    jQuery.ajax('/groups/post_paginate?id=<%= @group.id %>&page=' + currentPage, {asynchronous:true, evalScripts:true, method:'get', success: function(data, textStatus, jqXHR) {
      $('#loading_page').hide();
    if($(data).find('.grid').html()==null || $(data).find('.grid').html() == '' || $('#group_id').html()== null){
     // console.log("-1-"+ $(data).find('.grid').html()+"-1-");
      clearInterval(intervalID);
      clearInterval(intervalID-1);
      for (var i = 1; i < 99999; i++){
        window.clearInterval(i);
      }
      console.log("-1-"+intervalID);
    }else{
    $('.resources<%= @group.id %>').append(data);
    }
  },});
  }
}
 
function nearBottomOfPage() {
  return scrollDistanceFromBottom() < 50;
}
 
function scrollDistanceFromBottom(argument) {
  return pageHeight() - (window.pageYOffset + self.innerHeight);
}
 
function pageHeight() {
  return Math.max(document.body.scrollHeight, document.body.offsetHeight);
}
 
$('document').ready(function(){
  intervalID = setInterval(checkScroll_post, 250);
  $('#about_groups').hide();
  $('#photos_groups').hide();
  console.log("init--"+intervalID);
})


$('.pop_up').popover({
    html: true,
    trigger: 'manual',
    placement: 'left',
    delay: { hide: 500},
    template: ' <div class="popover"><div class="pop_div"><div class="arrow1" stlye="margin-right:10px;"></div><div class="popover-inner"  ><h3 class="popover-title" ></h3><div class="popover-content" ><p></p><br></div></div></div></div>'
});

  $(".pop_up").hover(function(){
      $(this).popover('show');        
  },function(){
      $(this).popover('hide');        
  });


</script>