<aside class="span6">
  <% unless @group.nil? %>
  <% unless @group.id.nil? %>
  <div id="group_pic">
  <section >
    <%= render partial: 'groups/group_pic', locals: {group: @group} %>

  </section>
  <section>
    <div class="center" id="follow_form">
      <% unless current_user.id == @group.User_id %>
        <% if @group.privacy? %>
        <br>
        <%= link_to "Send request",'', class: "uibutton icon secure" %>
        <% else %>
        <% if @group.following?(current_user, @group) %>
        <%= render 'unfollow', :group => @group %>
        <% else %>
        <%= render 'follow', :group => @group %>
        <% end %>
        <% end %>
      <% end %>

    </div>
  </section>
  </div>
  <% end %>
  <% end %>

  <section id="group_sec" style="background-color:#e5e5e5;padding:10px;width:210px;" class="well">
    <span style="clear:both"></span>
    <%= link_to "Create Group", '#', id: "create_group",  class: " pull-right uibutton icon add" %><br><br>
    <div id="comUnity_div">    
      <li class="sidetabs sidetabs_selected" style="list-style-type: none;padding:5px; margin:5px;">
        <h6><%= link_to  "My", "#" %></h6>
      </li>
      <%= link_to "", my_groups_path , id: "my_group", remote: true %>
      <li class="sidetabs "id="public_li" style="list-style-type: none;padding:5px; margin:5px;">
        <h6><%= link_to  "Public", "#" %></h6>
      </li>
      <%= link_to "", public_groups_path, id: "public_group", remote: true %>
      <li class="sidetabs "id="gp_li" style="list-style-type: none;padding:5px; margin:5px;">
        <h6><%= link_to  "Group post", "#" %></h6>
      </li>
      <%= link_to "", group_post_groups_path, id: "group_post", remote: true %>

    </div>
  </section>


<div id="modal_sel_grp" style="display:none;" >
  <div id="modal-from-dom2" class="modal hide fade in" style="display: block;width:700px;">
    <div class="modal-header">
      <a href="#" id="closeX_sel_grp" class="close">×</a>
      <span style="font-size:20px;line-height: 2;">Select Groups</span>
    </div>
    <div class="modal-body" style="max-height:400px;">
      <div class="row">
        <div class="span14 ui-front">
        <section id="groups_sec" style="">
            <% render :partial => 'groups/group_list', :locals => {:groups => @groups} %>
        </section>
        </div>
      </div>
    </div>
    <div class="modal-footer" >
      <%= link_to "Select","#", class: "btn primary pull-right", id: "selGroup" %>  
    </div>
  </div>
</div>


</aside>

<%= form_for( Group.new, remote: true, :html => {:multipart => true}) do |f| %>
<div id="modal" style="display:none;" >
  <div id="modal-from-dom2" class="modal hide fade in" style="display: block;width:700px;">
    <div class="modal-header">
      <a href="#" id="closeX" class="close">×</a>
      <span style="font-size:20px;line-height: 2;">Create Group</span>
    </div>
    <div class="modal-body" style="max-height:550px;">
      <div class="row">
        <div class="span14 ui-front">

         <%= render 'shared/error_messages', object: f.object %>

         <div class="center_block clearfix">
          <%= f.label :name %>
          <div class="input">
            <%= f.text_field :name, :placeholder=>"Title" %></div>
          </div>

          <div class="center_block clearfix">
            <%= f.label :description %>
            <div class="input">
              <%= f.text_area :description, :placeholder=>"Description", class: ' inherit_width', :title=>"Description", rows: 3, cols: 75  %> 
            </div>
          </div>

          <div class="center_block clearfix">
            <%= label_tag "Private group:" %>
            <div class="input">
              <%= f.check_box :privacy %>
            </div>
          </div>
          <div class="center_block clearfix"><br>
            <%= f.label "Invite members:" %>
            <div class="input ui-front ">
              <%= f.text_field :user_tokens, id: "search_users" %>
            </div>
          </div>
          <div class="center_block clearfix">
            <%= label_tag "Add picture:" %>
            <%= f.fields_for :photo, Photo.new, :child_index => 'NEW_RECORD' do |photo_form| %>

            <%= photo_form.file_field :pic, id: "pic",style: "width:1px; height:1px; padding:0px;  left:0px;" %>  

            <% end %>
            <div class="input">
              <canvas id="imageCanvas" style = "border: 1px solid #ddd; padding:5px; align:center; width:200px;cursor:pointer" >select new image</canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer" >
      <%= f.submit "Create", class: "btn primary pull-right", id: "crtGroup" %>  
    </div>
  </div>
</div>
<% end %>



<script type="text/javascript">

$(".sidetabs").click(function(){
  $(".sidetabs").removeClass('sidetabs_selected');
  $(this).addClass('sidetabs_selected');
  $(this).next('a').click();
});

$("#create_group").click(function(){
  $('#modal').modal('show');
});
$("#closeX").click(function(){
  $('#modal').modal('hide');
});

$("#crtGroup").click(function(){
  $('#modal').modal('hide');
  showProgress();
});




var imageLoader = document.getElementById('pic');
imageLoader.addEventListener('change', handleImage, false);
$("#imageCanvas").click(function(){
  $("#pic").click();
});
var canvas = document.getElementById('imageCanvas');
var ctx = canvas.getContext('2d');
ctx.font="30px Arial";
ctx.fillText("Add picture",10,50);

function handleImage(e){
  var canvas = document.getElementById('imageCanvas');
  var ctx = canvas.getContext('2d');
  var iCnt=0;
  var files = e.target.files;
  canvas.width = 180;
  canvas.height = 155*(Math.ceil(files.length/4));
  for( var i = 0, len = files.length; i < len; i++) 
  {
    if(files[i])
    {
      var reader = new FileReader();
      reader.onload = function(group){
        var img = new Image();

        img.onload = function(){
          var ratioPx = 150;
          var sWidth =ratioPx;
          var ratio = img.width/sWidth;
          var sHeight = img.height/ratio;   
          if(sHeight>ratioPx){
           sHeight =ratioPx;
           ratio = img.height/sHeight;
           sWidth = img.width/ratio;  
         }
         ctx.drawImage(img, 155*(iCnt%4),155*(Math.floor(iCnt/4)),sWidth,sHeight);
                  //ctx.drawImage(img,0,0,sWidth,sHeight);
                  iCnt++;
                }
                img.src = group.target.result;
              }
              reader.readAsDataURL(e.target.files[i]);     
            }
          }
        }

        $(function() {
          $("#search_users").tokenInput("/groups/search_app_user", {
            crossDomain: false,
            theme: "facebook",
            resultsFormatter: function(item){ return "<li>" + "<img src='" + item.profile_pic + "' title='" + item.name + "' height='30px' width='30px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name + " " + ""+ "</div></div></li>" },
            tokenFormatter: function(item) { return  "<li>" + "<img src='" + item.profile_pic + "' title='" + item.name + "' height='30px' width='30px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name +"</div></div></li>" },
            preventDuplicates: true ,
            zindex: 11001,
            hintText: "Type in a user name",
          });
        });

        </script>