<% provide(:title, @title) %>
<div class="row">
  <aside class="span6">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section style="width:180px;margin:2px;">
      <%= render 'shared/stats' %>
    </section>
    <section>
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <%= link_to gravatar_for(user, size: 30), user %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
<div id="aboutDiv">  
  <div class="span8">
    <h2><%= @title %></h2>
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
