<% @posts.each do |post| %>
      <table id="table_<%= post.id %>">
      <tr>
        <td width="70px" style="padding:2px;">
      <div class="pull-left">
        <section class="grid">
          <li>
            <a href="/users/<%=post.user.id %>/" data-remote="true" style="cursor:pointer;border:0px;padding:0px;" class="pop_up" rel="popover" data-content='<%= gravatar_for post.user, size: 100 %>' data-original-title="<%= post.user.name %>" >
                    <%= gravatar_for post.user, size: 50 %>
            </a>
          </li>
        </section>
      </div>
      </td>
      <td style="padding:0px;">
         <% post.photos.each do |photo| %>
            <li style="border-top: 0px;">
            <div  class="img_zoom" >
          <a href="<%= photo.pic_url %>" rel="rettyPhoto[<%= post.id %>]" class="lightview" 
         data-lightview-group="thumbnail-<%= post.id %>" 
         data-lightview-group-options="controls: 'thumbnails'">
          <%= cl_image_tag(photo.pic_url(:medium_large), class:"image_al_c")  %></a> 
          </div>
          </li>
        
        <% end %>
        
        <div style="background-color:#f0f0f0;padding:5px;margin:4px 0px;">
        <span class="content" style="font-size:15px"><%= post.content %></span>
        <% unless post.activities[0].nil? %>
          <% unless post.activities[0].is_admin %>
            <span class="content">Activity: <%= post.activities[0].title %></span>
          <% end %>
        <% end %>
          <span class="timestamp">
            Posted <%= time_ago_in_words(post.created_at) %> ago.
          </span>
        <% if current_user?(post.user) %>
          <%= link_to "delete", post, method: :delete, remote: true,
                                           data: { confirm: "You sure?" },
                                           title: post.content %>
        <% end %>
        </div>
             <span  class="center_block"><br><h6>Posted under the <%="Group".pluralize(group_feed_item.groups.count) %>:</h6>
              <ul class="groupsList">
              <% group_feed_item.groups.each do |group| %>
              <ol>
              <%= link_to group.name, group %>
              </ol>
              <% end %>
              </ul>
            </span>

          <div id="postId_<%= post.id %>" class="comments">
              <%= render :partial => "comments/comment", :locals => { :comment => @comment, :post => post} %>
          </div>

      </td>
      </tr>
      </table>
 <% end %>
<script type="text/javascript">
$(document).ready(function(){
  $(".gravatar").addClass(" thumbnail");
  });

$('.img_zoom1 img').load(function() {
    $(this).data('height', this.height);
}).bind('mouseenter mouseleave', function(e) {
    $(this).stop().animate({
        height: $(this).data('height') * (e.type === 'mouseenter' ? 1.08 : 1)
    });
});


$('.pop_up').popover({
    html: true,
    trigger: 'manual',
    placement: 'left',
    delay: { hide: 500},
    template: ' <div class="popover"><div class="pop_div"><div class="arrow1" stlye="margin-right:10px;"></div><div class="popover-inner"  ><h3 class="popover-title" ></h3><div class="popover-content" ><p></p><br></div></div></div></div>'
});

  $(".pop_up").hover(function(){
      $(this).popover('show');        
  },function(){
      $(this).popover('hide');        
  });

</script>

<li id="post_id_<%= group_feed_item.id %>" class="posts">
  <div id="gallery">
  <ul id="grid">
  <% group_feed_item.photos.each do |photo| %>
  <li>
      <div  class="img_zoom1" >
    <a href="<%= photo.pic_url %>" rel="rettyPhoto[<%= group_feed_item.id %>]" class="lightview" 
   data-lightview-group="thumbnail-<%= group_feed_item.id %>" 
   data-lightview-group-options="controls: 'thumbnails'">
    <%= cl_image_tag(photo.pic_url(:thumb), class:"image_al_c thumbnail")  %></a> 
    </div>
    </li>
  <% end %>
</ul>
</div>
  
  <div class="clear-float">
    <br>
  <%= link_to gravatar_for(group_feed_item.user), group_feed_item.user %>
    <span class="user">
      <%= link_to group_feed_item.user.name, group_feed_item.user %>
    </span>

    <span class="content"><%= group_feed_item.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(group_feed_item.created_at) %> ago.
    </span>

    
  <% if current_user?(group_feed_item.user) %>
    <%= link_to "delete", group_feed_item, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: group_feed_item.content %>
  <% end %>
<br>

      <span  class="center_block"><br><h6>Posted under the <%="Group".pluralize(group_feed_item.groups.count) %>:</h6>
      <ul class="groupsList">
      <% group_feed_item.groups.each do |group| %>
      <ol>
      <%= link_to group.name, group %>
      </ol>
      <% end %>
      </ul>
    </span>
  <div class="comments">
    <%= render :partial => "comments/comment", :locals => { :comment => @comment, :post => group_feed_item} %>

   
 </div>
 </div>
</li>

<script type="text/javascript">
$('.img_zoom img').load(function() {
    $(this).data('height', this.height);
}).bind('mouseenter mouseleave', function(e) {
    $(this).stop().animate({
        height: $(this).data('height') * (e.type === 'mouseenter' ? 1.08 : 1)
    });
});
</script>