<div id="aboutDiv">
 <%= link_to "edit", '#', id: "edit_event",  class: " pull-right uibutton icon edit",:title => "Edit" %>
 <p><h4>Description : <small><%= event.description %></small></h4></p>
    <% if  event.starts_at.to_formatted_s(:long) == event.ends_at.to_formatted_s(:long) %>
      <p><h4>Time : <%= event.starts_at.to_formatted_s(:long)  %></h4></p>
    <% else %>
      <p><h4>Time : <%= event.starts_at.to_formatted_s(:long)  %> - <%= event.ends_at.to_formatted_s(:long)  %></h4></p>
    <% end %>     
    <p><h4>Location : <%= event.address %></h4></p>
      <%= render :partial => "events/maps", :locals => { :location => event } %>
     <p><h4>Privacy : <%= (event.privacy == Privacyenum::PUBLIC) ? 'Event Invitees': 'custom' %></h4></p>
      <ul class="users" id="activity_events_ul" >
        <% if (ad_users.count > 0 || ad_groups.count > 0) %>
          <h4>Moderators</h4>
        <% end %>  
        <% if ad_users.count > 0  %>
        <h6>Members</h6>
        <% ad_users.each do |user|%>
        <li style="width:100px;float:left;">
          <div  class="img_zoom" style="float:left;" >
            <%= gravatar_for user, size: 52 %>
          </div>
          <span style="margin:5px;float:left;">
            <%= link_to user.name, user %>
          </span>
        </li>
        <% end %>
        <li style="clear:both;"></li>
        <% end %> 
        <% if ad_groups.count > 0  %> 
        <h6>Groups</h6>
        <% ad_groups.each do |group|%>
        <li style="width:100px;float:left;">
              <div  class="img_zoom"  style="margin:10px; float:left;">
              <% unless group.photo.nil? %>
                <div  class="img_zoom" id="div-img_<%= group.photo.id %>">
                       <%= link_to cl_image_tag(group.photo.pic_url(:smallest), class:"image_al_c1 thumbnail", id:"#{group.photo.id}"), "/groups/#{group.id}", remote: true,   style:"cursor:pointer;"%>
                        </div>
              <% end %>
              <span>
                  <%= link_to group.name, group %>  
                  <br>                 
              </span>
              <span class="timestamp">
                <% if group.description.length > 17 %>
                  <%= group.description.slice! 0..17 %>...
                  <% else %>
                  <%= group.description %>
                  <% end %>
                </span>

                </div>

        </li>
         <% end %>
         <li style="clear:both;"></li>
        <% end %>
        <% if (inv_users.count > 0 || inv_groups.count > 0) %> 
          <h4>Invitees</h4>
        <% end %>
        <% if inv_users.count > 0 %>
          <h6>Members</h6>
          <% inv_users.each do |user|%>
          <li style="width:100px;float:left;">
            <div  class="img_zoom" style="float:left;" >
            <%= gravatar_for user, size: 52 %>
            </div>
            <span style="margin:5px;float:left;">
            <%= link_to user.name, user %>
            </span>
          </li>
          <% end %>
          <li style="clear:both;"></li>
        <% end %>
        <% if inv_groups.count > 0 %>
        <h6>Groups</h6>
        <% inv_groups.each do |group|%>
        
        <li style="width:100px; float:left;">
              <div  class="img_zoom"  style="margin:10px; float:left;">
              <% unless group.photo.nil? %>
                <div  class="img_zoom" id="div-img_<%= group.photo.id %>">
                       <%= link_to cl_image_tag(group.photo.pic_url(:smallest), class:"image_al_c1 thumbnail", id:"#{group.photo.id}"), "/groups/#{group.id}", remote: true,   style:"cursor:pointer;"%>
                        </div>
              <% end %>
              <span>
                  <%= link_to group.name, group %>
                  <br>                
              </span>
              <span class="timestamp">
                <% if group.description.length > 17 %>
                  <%= group.description.slice! 0..17 %>...
                  <% else %>
                  <%= group.description %>
                  <% end %>
                </span>

                </div>

        </li>
        <% end %>
      <% end %>
      </ul>


    <br>
</div>
    <script type="text/javascript">
    $(document).ready(function(){
      $('#edit_event').hide();
    });
    $('#aboutDiv').hover(function(){
      $('#edit_event').toggle();
      },function(){
      $('#edit_event').toggle();
    });

    $("#edit_event").click(function(){
      $('#modal2').modal('show');
    });
    $("#close2X").click(function(){
          $('#modal2').modal('hide');
        });

    $("#updEvent").click(function(){
          $('#modal2').modal('hide');
        });
    </script>