<div class="row">
  
             <%="".pluralize(ad_users.count) %>
                <% if activity.admin?(current_user) %>
                 <a href="#" id="moderator" class="btn btn-warning btn-custom mr15 pull-right button_toggle" data-toggle="modal" data-target="#modal_add_mod">Edit</a>
                <% end %>
                
              <%="".pluralize(inv_users.count) %>
               <% if activity.admin?(current_user) %>
                 <a href="#" id="guests" class="btn btn-success btn-custom pull-right button_toggle mr15" data-toggle="modal" data-target="#modal_add_mem">Add</a>
               <% end %>
</div>
                
                <div class="row ml0">
     
                                      <ul class="list-unstyled mb0">
                                       <% ad_users.each do |user|%>
                                        <li>
                                            <div class="col-sm-6 pl0  pr5 mb5">
                                                <div class="panel widget nm">
                                                    <div class="table-layout nm">
                                                        <img src="<%= gravatar_for_url user.user, size: 82 %>" class="pull-left gravatar" ></img>
                                                        <span class="badge badge-success ml10 mt5">Moderator</span>
                                                        <div class=" valign-middle">
                                                            <div class="panel-body mt5 pt10 pl95 pb0 pr0">
                                                                 <p class="semibold mt0 mb0 ellipsis"><%= link_to user.user.name, user.user, remote: true %></p>
                                                                 <p class="mb0 ellipsis"><a class=" text-muted mb0" mailto="<%= user.user.email %>"><%= user.user.email %></a></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    <% end %>
                              </ul>
      
      
   </div>


          <% if inv_users.count > 0 %>
            
        <div class="row ml0">
     
          <ul class="list-unstyled mb0">
            <% inv_users.each do |user|%>
              <li>
                  <div class="col-sm-6 pl0  pr5 mb5">
                      <div class="panel widget nm">
                          <div class="table-layout nm">
                              <img src="<%= gravatar_for_url user.user, size: 82 %>" class="pull-left gravatar" ></img>
                              <div class=" valign-middle">
                                  <div class="panel-body mt5 pt0 pl95 pb0 pr0">
                                      <p class="semibold mt0 mb0">
                                       <% if activity.admin?(current_user) && user.user.id != current_user.id %>
                                         <%= link_to "Unjoin", "/events/#{event.id}/unjoin_activity?user_id=#{user.user.id}&activity_id=#{activity.id}", class: "btn btn-xs btn-danger pull-right mr5 bd-top-none button_toggle remove_act", style: "bottom: 6px;", remote: true,  data: { confirm: "You want to remove the guest from the sub-event ?" } %>
                                       <% end %>
                                       <%= link_to user.user.name.length > 17 ? user.user.name.slice(0..17) + "..." : user.user.name, user.user %>
                                      </p>
                                      <p class="mb0"><a class="ellipsis text-muted mb0" mailto="<%= user.user.email %>"><%= user.user.email.length > 17 ? user.user.email.slice(0..17) + "..." : user.user.email %></a></p>
                                        
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </li>
          <% end %>
          </ul>
      
   </div>
          <% else %>
         
              <address>No guests in the sub-event</address>
            
          <% end %>
      

<%= form_for( activity, url: add_activity_moderators_event_path(event), method: :get, remote: true) do |f| %>
<div id="modal_add_mod" class="modal fade">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <span class="semibold font-15">Set moderators</span>
    </div>
    <% if @ads.count > 1 %>
      <span class=" semibold font-12 pull-right">(Check to set member as a Moderator)</span>
    <% end %>
    <div class="modal-body">
      <div class="row">
        <div class=" ui-front">  
        <%= f.hidden_field :id %>
        <%= hidden_field_tag :event_id, event.id %>
         <%= render 'shared/error_messages', object: f.object %>
         <aside class="">
          <section>
            <!-- <h2 style="margin-left:65px;padding:3px;">Moderators</h2> -->
             <ul class="list-unstyled pl0">
              <% if @ads.count > 1 %>
                  <% @ads.each do |uc| %>
                  <% user = User.find(uc.user_id) %>
                  <% if user == current_user  %>
                    <% next %>
                  <% end %>
                  <li class="tr-hover pa10 li-none select_unselect_community c-pointer">
                    <div class="checkboxFive pull-right mr50" style="margin-top:12px;">
                        <%= check_box_tag 'user_ids[]', user.id, uc.is_admin?, id: "checkboxFiveInput#{uc.id}" %>
                      <label for="checkboxFiveInput<%= uc.id %>"></label>
                    </div>
                    <div  class="img_zoom" style="float:left;margin-left:15px;" >
                      <%= gravatar_for user, size: 52 %>
                    </div>
                    
                    <address style="margin-left:82px;margin-top:5px;">
                      <strong> <a href="#"><%= user.name %></a></strong>
                      <p><%= user.email %></p>
                    </address> 
                  <div class="pull-right">
                    <%= hidden_field_tag 'user_all_ids[]', user.id %>
                  </div>
                  </li>
                  <% end %>
              <% else %>
                <address class="center">No guests to set as moderator</address>
              <% end %>

            </ul>     
          </section>
        </aside>
      </div>
    </div>   
  </div>
  <% if @ads.count > 1 %>
  <div class="modal-footer" >
    <%= f.submit "Update", class: "btn btn-success btn-custom pull-right busy", id: "submit_add_mod" %>  
  </div>
  <% end %>
</div>
</div>
</div>

<% end %>




<%= form_for( activity, url: add_activity_guests_event_path(event), method: :get, remote: true) do |f| %>
<div id="modal_add_mem" class="modal fade">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <span class="semibold font-15">Add guests from the event</span>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class=" ui-front">  
        <%= f.hidden_field :id %>       
        <%= hidden_field_tag :event_id, event.id %>
         <%= render 'shared/error_messages', object: f.object %>
        
          
          <div class="tr-hover">
          	
            <li style="padding:3px!important;" class="tr-hover li-none select_unselect_event c-pointer">
                        <div class="checkboxFive pull-right mr50 mt10">
                          <%= check_box_tag 'invite_everyone' %>
                          <label class="" for="invite_everyone"></label>
                        </div>
                        <address style="margin-top:5px;">
                          <span class="control-label pl15 mt15">Invite all guests from event</span>
                        </address> 
                       
                      </li> 
            
         
          </div>
          
          <div class="search_event_guests_li mb10">
	           <div class="center_block clearfix">
	            <span class="control-label pl15 mt15">Add guests by name from the event</span>
              <div>
              <div class="col-sm-6 mt10">
  	               <%= f.text_field :user_tokens, class: "form-control", id: "search_event_guests" %>
              </div>
              </div>
            </div>
	          
        	</div>
        
          <li class="search_event_guests_li li-none " >
            <label class="control-label ml15 mb0">Add guests from the event</label>
            <div class="center_block clearfix marginLeft50"><br>
            <ul class="list-unstyled autoscroll-200">
              <% if @urs.count > 0 %>
                  <% @urs.each do |uc| %>
                  <% user = User.find(uc) %>
                  <% if user == current_user  %>
                    <% next %>
                  <% end %>
                      <li class="tr-hover ml15 ">
                        <div class="checkboxFive pull-right mr50" style="margin-top:5px;">
                            <%= check_box_tag 'user_ids[]', user.id, nil, id: "checkboxFiveInput#{uc}" %>
                          <label for="checkboxFiveInput<%= uc %>"></label>
                        </div>
                        <div  class="img_zoom" style="float:left;margin-left:15px;margin-top: 5px;" >
                          <%= gravatar_for user, size: 30 %>
                        </div>
                        <div >
                          <p class="ml50 mb0"><a href="#"><%= user.name %></a></p>
                          <p class="pl10"><%= user.email %></p>
                        </div>
                      <div style="margin-right:10px;" class="pull-right">
                        <%= hidden_field_tag 'user_all_ids[]', user.id %>
                      </div>
                      </li>
                  <% end %>
              <% else %>
                <span class="semibold ml20">No guests to set as moderator</span>
              <% end %>
            </ul>
            </div>
          </li>
      </div>
    </div>   
  </div>
  <div class="modal-footer" >
    <%= f.submit "Update", class: "btn btn-success btn-custom pull-right busy", id: "submit_add_mem" %>  
  </div>
</div>
</div>
</div>
<% end %>



<script type="text/javascript">
$("#invite_everyone").click( function() {
  if($(this).closest(':checkbox').is(':checked')){
      $('.search_event_guests_li').addClass('hide');
  }else{
      $('.search_event_guests_li').removeClass('hide');
  }
});

  $("#search_event_guests").tokenInput("/events/<%= event.id %>/search_event_guests?activity_id=<%= activity.id %>", {
    crossDomain: false,
    theme: "facebook",
    resultsFormatter: function(item){ return "<li>" + "<img src='" + item.profile_pic + "' title='" + item.name + "' height='30px' width='30px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name + " " + ""+ "</div><div class='full_name'>" + item.email + " " + ""+ "</div></div></li>" },
    tokenFormatter: function(item) { return  "<li>" + "<img src='" + item.profile_pic + "' title='" + item.name + "' height='30px' width='30px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name +"</div><div class='full_name'>" + item.email + " " + ""+ "</div></div></li>" },
    preventDuplicates: true ,
    zindex: 11001,
    hintText: "Type in a user name",
  });
$(function() {
});

$(".token-input-list-facebook").addClass("form-control mt5 font-15 autocomplete-border");

$('.remove_act').click(function(){
  $('.loading_page').show();
});


  $('#all_li').click(function(){
      $(".all").show();
      $('#all_li').removeClass('active');
      $('#all_li').addClass('active');
      $('#yes_li').removeClass('active');
      $('#no_li').removeClass('active');
      $('#maybe_li').removeClass('active');
  });

    $('#yes_li').click(function(){
      $(".invited").hide();
      $(".no").hide();
      $(".maybe").hide();
      $(".yes").show();
      $('#yes_li').removeClass('active');
      $('#yes_li').addClass('active');
      $('#all_li').removeClass('active');
      $('#no_li').removeClass('active');
      $('#maybe_li').removeClass('active');
  });

   $('#no_li').click(function(){
      $(".invited").hide();
      $(".maybe").hide();
      $(".yes").hide();
      $(".no").show();
      $('#no_li').removeClass('active');
      $('#no_li').addClass('active');
      $('#all_li').removeClass('active');
      $('#yes_li').removeClass('active');
      $('#maybe_li').removeClass('active');
  });

   $('#maybe_li').click(function(){
      $(".invited").hide();
      $(".no").hide();
      $(".yes").hide();
      $(".maybe").show();
      $('#maybe_li').removeClass('active');
      $('#maybe_li').addClass('active');
      $('#all_li').removeClass('active');
      $('#no_li').removeClass('active');
      $('#yes_li').removeClass('active');
  });


/*$("#moderator").on( "click", function() {
 $('#modal_add_mod').modal({
      //keyboard: true,
      backdrop: "static",
    });
// $('body').css('overflow','hidden');
// $('body').css('position','fixed');
});

$("#close_add_mod").click(function(){
  $('#modal_add_mod').modal('hide');
});*/

$("#submit_add_mod").click(function(){
  $(this).attr('data-loading-text', 'Updating...');
  $(this).button('loading');
});


/*$("#guests").on( "click", function() {
 $('#modal_add_mem').modal({
      //keyboard: true,
      backdrop: "static",
    });
// $('body').css('overflow','hidden');
// $('body').css('position','fixed');
});

$("#close_add_mem").click(function(){
  $('#modal_add_mem').modal('hide');
});
*/
$("#submit_add_mem").click(function(){
  $(this).attr('data-loading-text', 'Updating...');
  $(this).button('loading');
});

$(function(){
  $('.button_toggle').hide();

   $('.tr-hover').hover(function() {
       $(this).find('.button_toggle').show();
       }, function() {
         $(this).find('.button_toggle').hide();
    });

});

      </script>