
          <li style="padding:0px;position:relative;border-bottom:0px;" class="tr-hover1 li-none" >
            <% if @event.responded?(current_user) %>
              <% if @activity.admin?(current_user) %>
               <button class=" pull-right btn btn-warning btn-custom" id="edit_activity">edit</button>
               <% end %>

     
               <% if @activity.admin?(current_user) %>

                  <%= link_to "delete", "/events/#{@event.id}/delete_activity?activity_id=#{@activity.id}", method: :delete, remote: true,
                                           data: { confirm: "You sure?" },
                                           class: "pull-right btn btn-danger btn-custom mr10",
                                           title: "Delete this activity" %>
               <% end %>
            <% else %>
                <div class="text_overlay_cu_cover_pic button_toggle" style="margin-left:4px; margin-bottom:160px;height:60px;padding:0;margin-top:0;">
                    <span class="pull-right "> &nbsp;</span>
                  <address style="width:535px !important;"><p  style="width:100% !important;"><strong style="line-height:1.8">Attend this event</strong>
                    <span class="pull-right "> &nbsp;</span>
                    <%= link_to "May be", "/events/#{@event.id}/event_invitation?status=maybe", class: "uibutton pull-right button_toggle_pic event_inv", remote: true %>
                    <span class="pull-right "> &nbsp;</span>
                    <%= link_to "No", "/events/#{@event.id}/event_invitation?status=no", class: "uibutton pull-right button_toggle_pic event_inv marginRight5", remote: true %>
                    <span class="pull-right "> &nbsp;</span>
                    <%= link_to "Yes", "/events/#{@event.id}/event_invitation?status=yes", class: "uibutton pull-right button_toggle_pic event_inv ", remote: true %>
                  </p></address>
                </div>
            <% end %>
                
              </li>


<%= form_for( @activity, remote: true,  :html => {id: "update_activity_form"}) do |f| %>
  <div id="modal_update_activity" class="modal fade">
          <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">×</button>
              <span class="semibold font-15">Edit Sub-event</span>
            </div>
            <div class="modal-body">
              <div class="row">
          <div class="span14 ui-front col-sm-offset-1">
            <%= f.hidden_field :event_id %>
            <%= f.hidden_field :id %>
               <%= render 'shared/error_messages', object: f.object %>
                <div class="center_block clearfix">
                  <%= f.label :title, class:"control-label pl15 mt15" %>
                  <div>
                  <div class="col-sm-9">
                    <%= f.text_field :title, class:"form-control", :placeholder=>"Title", 'data-validation' => "length",
     'data-validation-length' =>"3-25", 'data-validation-error-msg' => "The event name has to be a value between 3-25 characters" %></div>
                </div>
                  </div>

                <div class="center_block clearfix">
                  <div class="control-label ml15 pt15">
                    
                  <%= label_tag :starts_at %>
                  </div>
                  <div>
                    
                <a id="end_date_add_link" class="btn btn-success btn-sm mt3 icon add pull-right mr60-sm mr12-xs">End Date</a>
                  <div class="col-sm-9 col-xs-9">
                  <%= f.text_field :starts_at, class:"form-control", :placeholder => "Time" %>&nbsp;&nbsp;&nbsp;
                </div>
                </div>
                  </div>
                  
                <div class="center_block clearfix" id="end_date">
                  <div class="control-label pl15">
                    
                  <%= label_tag :ends_at %>
                  </div>
                  <div>
                   <a id="end_date_remove_link"  href="#" class="btn-danger btn-sm icon add pull-right mt3 mr60-sm mr12-xs icon prev">Remove</a>
                    
                  <div class="col-sm-9 col-xs-9">
                    <%= f.text_field :ends_at, class:"form-control" %>
                  </div>
                </div> 
                  </div>

                <div class="center_block clearfix">
                  <%= f.label :location, class: "control-label ml15" %>
                  <div>
                    
                  <%= link_to "View map", '#', id: "view_map_link_activity",  class: "btn-info mt3 btn-sm icon add pull-right mr60-sm mr12-xs icon prev" %>
                  <%= link_to "Hide map", '#', id: "hide_map_link_activity",  class: "btn-danger mt3 btn-sm icon add pull-right mr60-sm mr12-xs icon prev" %>
                  <div class="col-sm-9 col-xs-9">
                  <%= f.text_field :address, :placeholder => :location, :size => 43, class: 'form-control events_with_autocomplete inherit_width', 'data-autocompleteUrl' => search_address_events_path , 'data-validation' => "length",
                   'data-validation-length' =>"3-250", 'data-validation-error-msg' => "The event address has to be a value between 3-250 characters" %>&nbsp;&nbsp;&nbsp;
                </div>
                <div class="input" id="view_map">
                </div>
                </div>
                  </div>
                <div class="center_block clearfix">
                  <%= f.label :description ,class: "control-label ml15 pt15" %>
                  <div>
                    
                  <div class="col-sm-9">
                  <%= f.text_area :description, :placeholder=>"Description", class: 'form-control inherit_width', :title=>"Description", rows: 3, cols: 75, 'data-validation' => "length",
     'data-validation-length' =>"3-250", 'data-validation-error-msg' => "The event description has to be a value between 3-250 characters"  %> 
                </div>
                </div>
                  </div>
                <div class="center_block clearfix">
                  <div class="control-label pl15 mt15">
                    
                  <%= label_tag :privacy %>
                  </div>
                  <div>
                    
                  <div class="col-sm-9">
                    <%= f.select :privacy, options_for_select([["Public", Privacyenum::PUBLIC], ["Private", Privacyenum::PRIVATE]], f.object.privacy), {}, id: "activity_privacy_edit" %>
                  </div>
                </div>
                  </div>
          </div>
        </div>   
           </div>
            <div class="modal-footer" >
              <%= f.submit "Update", class: "btn btn-success pull-right btn-custom", id: "update_activity" %>  
            </div>
          </div>
        </div>
        </div>
<% end %>



              <script type="text/javascript">
              
              $('#activity_privacy_edit').addClass('form-control');
              
              $('#end_date').hide();
              $('#end_date_add_link').click(function(){
                $('#end_date').show();
                $('#end_date_add_link').hide();
              });
              $('#end_date_remove_link').click(function(){
                $('#end_date').hide();                
                $('#end_date_add_link').show();
              });
              
                        /*$('#activity_address').keydown(function(){
                          $('#view_map_link').hide();
                          $('#view_map').hide();
                        });
          */
            $('#hide_map_link_activity').hide();
          $('#view_map_link_activity').click(function(){
              var address = "/events/get_geo_coordinates?address="+$('#activity_address').val();
              // $.get(address,"script");
               $.ajax({
                type: "GET",
                url: address,
                dataType: "script"
              }); 
              
          });
          
          $('#hide_map_link_activity').click(function(){
            $('#hide_map_link_activity').hide();
            $('#view_map_link_activity').show();
            $('#view_map').hide();
          });
              
        /*  $('a.ui-corner-all').on("click", function(){
            if($('#activity_address').val()!=""){
              $('#view_map_link').show();
            }else{
              $('#view_map_link').hide();
            }
          });*/

              
              

              $(document).ready(function(){
              });
                $.validate({
                  form : '#update_activity_form',
                  onSuccess : function() {
                    $('#update_activity').attr('data-loading-text', 'Updating...');
                    $('#update_activity').button('loading');
                  },
                });
                $('.loading_page').hide();

                 $('#end_date_act').hide();

                 $('#view_map_link_act').hide();


                 $('.tr-hover-btn').hover(function() {
                       $(this).find('.button_toggle_pic').show();
                       }, function() {
                         $(this).find('.button_toggle_pic').hide();
                    });

                 $('.event_inv').click(function(){
                    $('.loading_page').show();
                 });

                  $("#edit_activity").click(function(){
                    $('#modal_update_activity').modal({
                      //keyboard: true,
                      backdrop: "static",
                    });
                  });
                  $("#closeX_update_activity").click(function(){
                        $('#modal_update_activity').modal('hide');
                      });

                 $('.tr-select-main').click(function(){
                    $("#event_show_link").click();
                    $('.loading_page').show();
                 });
                 $('.tr-select').click(function(){
                    var id = $(this).find('p').html();
                    $("#act_"+id).click();
                    $('.loading_page').show();
                 });




    $(document).ready(function(){
      $('.button_toggle').show();
    $('#end_date').hide();

    $('#view_map_link').hide();

    $(function() {
      /*return $('.events_with_autocomplete').autocomplete({
        minLength: 2,
        source: function(request, response) {
          return $.ajax({
            url: $('.events_with_autocomplete').data('autocompleteurl'),
            dataType: "json",
            data: {starts_at: "", ends_at: "",
              address: request.term, event: "<%= @event.to_json %>"
            },
            success: function(data) {
              return response(data);
            }
          });
        }
      });*/
    });



    
});



var startDateTextBox = $("#activity_starts_at");
var endDateTextBox = $("#activity_ends_at");

      startDateTextBox.datetimepicker({ 
        onClose: function(dateText, inst) {
          if (endDateTextBox.val() != '') {
            var testStartDate = startDateTextBox.datetimepicker('getDate');
            var testEndDate = endDateTextBox.datetimepicker('getDate');
            if (testStartDate > testEndDate)
              endDateTextBox.datetimepicker('setDate', testStartDate);
          }
          else {
            endDateTextBox.val(dateText);
          }
        },
        onSelect: function (selectedDateTime){
          endDateTextBox.datetimepicker('option', 'minDate', startDateTextBox.datetimepicker('getDate') );
        },
        dateFormat: "dd/mm/yy"
      });
      endDateTextBox.datetimepicker({ 
        onClose: function(dateText, inst) {
          if (startDateTextBox.val() != '') {
            var testStartDate = startDateTextBox.datetimepicker('getDate');
            var testEndDate = endDateTextBox.datetimepicker('getDate');
            if (testStartDate > testEndDate)
              startDateTextBox.datetimepicker('setDate', testEndDate);
          }
          else {
            startDateTextBox.val(dateText);
          }
        },
        onSelect: function (selectedDateTime){
          startDateTextBox.datetimepicker('option', 'maxDate', endDateTextBox.datetimepicker('getDate') );
        },
        dateFormat: "dd/mm/yy"
      });





$('#end_date_add_link').click(function(){
  $('#end_date').show();
  $('#end_date_add_link').hide();
});
$('#end_date_remove_link').click(function(){
  $('#end_date').hide();
  $('#end_date_add_link').show();
});

   $(document).ready(function(){
                $.validate({
                  form : '#create_activity_form',
                  onSuccess : function() {
                    $('#create_activity_act').attr('data-loading-text', 'Creating...');
                    $('#create_activity_act').button('loading');
                  },
                });
                $('.loading_page').hide();
              });


                  $(".add_activity").click(function(){
                    $('#modal_create_activity').modal({
                      //keyboard: true,
                      backdrop: "static",
                    });
                  });

                  $("#closeX_create_activity").click(function(){
                        $('#modal_create_activity').modal('hide');
                      });



              </script>
