
<h3>Users</h3> 

<%= form_tag new_event_path, :method => 'get', remote: true, id: "users_search_editor" do  %>  
  <%= hidden_field_tag :direction4, params[:direction4] %>  
  <%= hidden_field_tag :sort4, params[:sort4] %> 
  <p>  
    <%= text_field_tag :search4, params[:search4] %>  
      </p> 
         <div style="display:none">
          <% @editor_users.each do |user| %>
          <%= check_box_tag "p_editor_users[#{user.id}]", user.id %>
        <%= user.name %>
        <% end %>
      </div> 
<% end %>
  <div id="event_user_editor" style="height:200px;overflow:auto;">
      <%= render 'editor_userlist' %>
    
  </div>
   

<script type="text/javascript">

$(function () {  
  $(document).on('click', '#event_user_editor th a, #event_user_editor .pagination a', function () {  
      $.getScript(this.href);  
      return false;  
    }  
  );  
});  

$('#users_search_editor input').keyup(function () {  
  $.get($('#users_search_editor').attr('action'), $('#users_search_editor').serialize(), null, 'script');  
  return false;  
});  


// Setup the "moveove" links
$(document).on('click', '.rowLink4',function () {
    // get the row containing this link 
    var row = $(this).closest("div");
 
    // find out in which table it resides
    var table = $(this).closest("span");
 
    // move it
    row.detach(); 
  var id = this.id;
  id = id.replace("ed_usr_", ""); 
    if (table.is("#table1_edit_gp_sel")) {
        $('#p_editor_users_'+id).attr('checked', false);
        $('#editor_users_'+id).attr('checked', false);
       $(row).html( $(row).html().replace("Remove","Add")); 
       //  $("#table2_inv_gp_list").append(row);
        loadEditorUser();
    }
    else {
      $("#p_editor_users_"+id).attr('checked', true);
      $("#editor_users_"+id).attr('checked', true);
      $(row).html( $(row).html().replace("Add","Remove"));
      $("#table1_edit_gp_sel").append(row);

    }
 
    // draw the user's attention to it
    row.fadeOut();
    row.fadeIn();
});

function loadEditorUser(){
$.get($('#users_search_editor').attr('action'), $('#users_search_editor').serialize(), null, 'script');  
  return false;  

}
</script>