
      <div class="row">
        
        <%="".pluralize(ad_users.count) %>
             <% if event.responded?(current_user) %>
                <% if event.is_admin?(current_user.id) %>
                 <a id="moderator" class="btn btn-warning btn-custom pull-right mr15 mb5" data-toggle="modal" data-target="#modal_add_moderators">Edit Moderators</a>
                <% end %>
              <% end %>
      </div>
      
   <div class="row ml0">
     
          <ul class="list-unstyled mb0">
           <% ad_users.each do |user|%>
            <li>
                <div class="col-sm-6 pl0  pr5 mb5">
                    <div class="panel widget nm">
                        <div class="table-layout nm">
                            <img src="<%= gravatar_for_url user.user, size: 82 %>" class="pull-left gravatar" ></img>
                            <span class="badge badge-success ml10 mt5">Moderator</span>
                            <div class=" valign-middle">
                                <div class="panel-body mt5 pt10 pl95 pb0 pr0">
                                     <p class="semibold mt0 mb0 ellipsis"><%= link_to user.user.name, user.user, remote: true %></p>
                                     <p class="mb0 ellipsis"><a class=" text-muted mb0" mailto="<%= user.user.email %>"><%= user.user.email %></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        <% end %>
  </ul>
      
   </div>
      
       <div class="row ml0">
              <%="".pluralize(inv_users.count) %>
                <ul class="nav nav-pills mt5 mb10 ml5 list-unstyled">
                  <li class="active" id="all_li"><a class="c-pointer pt3 pb3 bd-rad12" data-toggle="tab" ><span class="font-11">Invited - <%= inv_users.count %></span></a></li>
                  <li id="yes_li"><a class="c-pointer pt3 pb3 bd-rad12"><span class="font-11" data-toggle="tab">Yes - <%= inv_users.where(status: "yes").count %></span></a></li>
                  <li id="no_li"><a class="c-pointer pt3 pb3 bd-rad12"><span class="font-11" data-toggle="tab">No - <%= inv_users.where(status: "no").count %></span></a></li>
                  <li id="maybe_li"><a class="c-pointer pt3 pb3 bd-rad12"><span class="font-11" data-toggle="tab">May be - <%= inv_users.where(status: "maybe").count %></span></a></li>
                </ul>
          
        </div> 
        
        
        
        <div class="row ml0">
          
          <% if inv_users.count > 0 %>
               <ul class="list-unstyled">
            <% inv_users.each do |user|%>
                                   
                                         <% if user.status == "invited" %>
                                                            <li class="invited">
                                                        <% elsif user.status == "yes" %>
                                                            <li class="yes">
                                                        <% elsif user.status == "no" %>
                                                            <li class="no">
                                                        <% elsif user.status == "maybe" %>
                                                            <li class="maybe">
                                                        <% else %>
                                                        <% end %>
                                            <div class="col-sm-6 pl0 pr5 mb5">
                                                <div class="panel widget nm">
                                                    <div class="table-layout nm">
                                                        <img src="<%= gravatar_for_url user.user, size: 82 %>" class="pull-left gravatar" ></img>
                                                        
                                                        <% if user.status == "invited" %>
                                                            <span class="badge badge-default ml10 mt5 ">Not Responded</span>
                                                        <% elsif user.status == "yes" %>
                                                            <span class="badge badge-default ml10 mt5 ">Yes</span>
                                                        <% elsif user.status == "no" %>
                                                            <span class="badge badge-default ml10 mt5 ">No</span>
                                                        <% elsif user.status == "maybe" %>
                                                            <span class="badge badge-default ml10 mt5 ">May be</span>
                                                        <% else %>
                                                        <% end %>
                                                        
                                                        
                                                        <div class=" valign-middle">
                                                            <div class="panel-body mt5 pt10 pl95 pb0 pr0">
                                                                 <p class="semibold mt0 mb0 ellipsis"><%= link_to user.user.name, user.user %></p>
                                                                <p class="mb0 ellipsis"><a class=" text-muted mb0" mailto="<%= user.user.email %>"><%= user.user.email %></a></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                <% end %>
                                      </ul>
          <% else %>
          
              <address>No guests in the event</address>
            
          <% end %>
            
        </div>
      
      
                     
      
      

<%= form_for( event, url: add_event_moderators_event_path(event), method: :get, remote: true) do |f| %>
<div id="modal_add_moderators" class="modal fade" >
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <span class="semibold font-15">Set moderators</span>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="">  
        <%= f.hidden_field :id %>       
         <%= render 'shared/error_messages', object: f.object %>
         <aside class="">
          <section>
            <!-- <h2 style="margin-left:65px;padding:3px;">Moderators</h2> -->
            
            <ul class="list-unstyled pl0">
              <% @eds.each do |uc| %>
              <% user = User.find(uc.user_id) %>
              <% if user == current_user  %>
                <% next %>
              <% end %>
                  <li class="tr-hover pa10 li-none select_unselect_community c-pointer">
                    <div class="checkboxFive pull-right mr40 mt15" >
                        <%= check_box_tag 'user_ids[]', user.id, uc.is_admin?, id: "checkboxFiveInput#{uc.id}" %>
                      <label for="checkboxFiveInput<%= uc.id %>"></label>
                    </div>
                    <div  class="img_zoom" style="float:left;margin-left:15px;" >
                      <%= gravatar_for user, size: 52 %>
                    </div>
                    
                    <address style="margin-left:82px;margin-top:5px;">
                      <strong> <a href="#"><%= user.name %></a></strong>
                      <p><%= user.email %></p>
                    </address> 
                  <div class="pull-right">
                    <%= hidden_field_tag 'user_all_ids[]', user.id %>
                  </div>
                  </li>
              <% end %>
            </ul>     
          </section>
        </aside>
      </div>
    </div>   
  </div>
  <div class="modal-footer" >
    <%= f.submit "Update", class: "btn btn-success btn-custom pull-right" , id: "submit_add_mod" %>  
  </div>
</div>
</div>
</div>
<% end %>

<script type="text/javascript">
  $('#all_li').click(function(){
       $(".invited").show();
      $(".no").show();
      $(".maybe").show();
      $(".yes").show();
  });

    $('#yes_li').click(function(){
      $(".invited").hide();
      $(".no").hide();
      $(".maybe").hide();
      $(".yes").show();

  });

   $('#no_li').click(function(){
      $(".invited").hide();
      $(".maybe").hide();
      $(".yes").hide();
      $(".no").show();
  });

   $('#maybe_li').click(function(){
      $(".invited").hide();
      $(".no").hide();
      $(".yes").hide();
      $(".maybe").show();
  });


/*$("#moderator").on( "click", function() {
 $('#modal_add_mod').modal({
      //keyboard: true,
      backdrop: "static",
    });
// $('body').css('overflow','hidden');
// $('body').css('position','fixed');
});*/


$("#submit_add_mod").click(function(){
  $(this).attr('data-loading-text', 'Updating...');
  $(this).button('loading');
  $('.modal').modal('hide');
});

$(function(){
  $('.button_toggle').hide();

   $('.tr-hover').hover(function() {
       $(this).find('.button_toggle').show();
       }, function() {
         $(this).find('.button_toggle').hide();
    });

});

</script>





