      <ul class="users list-unstyled" id="posts_events_ul" >
            <div id="posts" style="overflow:auto;">
              <% if event.responded?(current_user) %>
                <%= render :partial => 'events/activity_post', :locals => {:post => @post, :activity => @activity, event: @event} %>
              <% end %>
            </div>
              <div id="div_event_post" class="resources<%= @activity.id %>">
              <% unless @posts.count < 1  %>
                <%= render partial: 'posts/post', locals: {posts: @posts, activity: @activity}  %>
              <% else %>
              <div class="center" >No posts to display</div>
              <% end %>
              </div>
              <p id="activity_id" class='hide'><%= @activity.id %></p>
              <div id="loading_page" class="center loading_page_post"></div>
			</ul>
      <script type="text/javascript">

     var currentPage_event_post = 1;
        var events_post_intervalID = -1000;
        var insideLoop_events ="false"; 
        function checkScroll_events_post() {
            console.log('grp_post');
          if (nearBottomOfPage() && insideLoop_events!="true") {
            insideLoop_events="true";
            currentPage_event_post++;
            $('#loading_page').show();
            if($('.resources<%= @activity.id.to_s %>').length == 0){
                clearInterval(events_post_intervalID);
                for (var i = events_post_intervalID; i > 0; i--){
                  window.clearInterval(i);
                }
                insideLoop_events = "false";
                return;    
            }
           jQuery.ajax('/events/<%= event.id %>/event_posts_page?activity_id=<%= @activity.id.to_s %>&page=' + currentPage_event_post, {asynchronous:true, evalScripts:true, method:'get', success: function(data, textStatus, jqXHR) {
            $('.resources<%= @activity.id.to_s %>').append($(data));
            $('#loading_page').hide();
            if(typeof jQuery(data) == 'undefined' ||jQuery(data).html() == null || $(data).find('.paginate_do').html()==null){
              clearInterval(events_post_intervalID);
              for (var i = 1; i < 99999; i++){
               window.clearInterval(i);
             }
             restartInterval();
           }
           insideLoop_events ="false"; 
         },});
         }
        }

    function nearBottomOfPage() {
      return scrollDistanceFromBottom() < 150;
    }
    
    function scrollDistanceFromBottom(argument) {
      return pageHeight() - (window.pageYOffset + self.innerHeight);
    }
    
    function pageHeight() {
      return Math.max(document.body.scrollHeight, document.body.offsetHeight);
    }
      events_post_intervalID = setInterval(checkScroll_events_post, 500);
    




      </script>