<% provide(:title, 'Events') %>
<div class="container container-fluid pull-left" style="padding:0;min-width:860px!important;">
<div class="center loading_page active_hide" ><img src="/assets/loading.gif"></div>
<%= link_to "List view", '#', id: "list_view",  class: "uibutton pull-left marginRight15" %>
<%= link_to "Calendar view", '#', id: "fullCalendar_view",  class: "uibutton pull-left marginRight15 " %>
  <%= link_to "Create Event", '#', id: "create_event",  class: " pull-left uibutton icon add" %>
<span class="pull-right marginRight15">
<%= select_tag :events_scope, options_for_select([["All Events", "all"], ["Active Community events", "active"], ["Events I created", "my"]], session['events_scope']), :onchange => "$.get('#{events_path}', {'events_scope':this.value}, null, 'script' );", class: "large pull-right"  %>
</span>
<aside class="span6 pull-right" style="width:300px;">
  <section  class="span6">
  </section>
</aside>
<br>  
<br>
<br>
 <ul class="users">
  <% if @invited_events.count > 0 %>
      <span style="font-size:13px;line-height: 2;margin-left:15px;"><strong>Invitation from events </strong></span>
    <br>

  <% @invited_events.each do |event| %>
      <li style="padding-left:15px;margin-top:5px;cursor:pointer;position:relative;" class="tr-hover event" >
        <% unless event.photo.nil? %>
        <%= link_to cl_image_tag(event.photo.pic_url(:cover_pic_smallest), class:"image_al_c1 thumbnail pull-left ", id:"#{event.photo.id}"), "#" %>

        <% end %>
                  <div style="margin:5px 10px 0px 95px;">
                    <!--
                    <%= link_to "May be", "/events/#{event.id}/event_invitation?status=maybe", class: "uibutton pull-right button_toggle event_inv", remote: true %>
                    <span class="pull-right "> &nbsp;</span>
                    <%= link_to "No", "/events/#{event.id}/event_invitation?status=no", class: "uibutton pull-right button_toggle event_inv marginRight5", remote: true %>
                    <span class="pull-right "> &nbsp;</span>
                    <%= link_to "Yes", "/events/#{event.id}/event_invitation?status=yes", class: "uibutton pull-right button_toggle event_inv ", remote: true %>
                  -->
                    <address>
                      <strong> <%= link_to event.title, "#", style: "font-size:13px;" %></strong> <br>
                      <strong>Description : &nbsp;</strong> <%= event.description %><br>
                      <strong>Location : &nbsp;</strong><%= event.address %><br>
                      <strong>Privacy : &nbsp;</strong><%= privacy_str(event) %><br>
                        
                    </address>  
                  </div>
      </li>
      <%= link_to "", event, remote: true %>  
      
    <% end %>
    <br>
  <% end %>
 </ul>
<div id="event_list">

<ul class="tabs">
  <!-- <li class="active" id="today_events_li"><a ><h4>Events Today</h4></a></li> -->
  <li class="active" id="upcoming_events_li"><a ><h4>Upcoming Events</h4></a></li>
  <li id="past_events_li"><a ><h4>Past Events</h4></a></li>
</ul>

<div id="upcoming_events">  
<ul class="users" id="upcoming_events_ul" >
  <% unless @upcoming_events.blank? %>
    <div id="upcoming_events_page" class="upcoming_events_paginate">
    <% @upcoming_events.each do |upcoming_event| %>
      <%= render :partial => 'events/event', :locals => {:event => upcoming_event} %>
    <% end %>
      </div>  
      <!-- <div id="loading_upcoming_events_paginate" class="center" ><img src="http://res.cloudinary.com/rashi/image/upload/v1377924529/loading7_gvb06y.gif"></div> -->
  <% end %>  
</ul>

<br>
</div>
<div id="past_events">
<ul class="users" id="past_events_ul">
  <% unless @past_events.blank? %>
  <div id="past_events_page" class="past_events_paginate">
    <% @past_events.each do |past_event| %>
      <%= render :partial => 'events/event', :locals => {:event => past_event} %> 
    <% end %>

  </div>  
    <!-- <div id="loading_past_events_paginate" class="center" ><img src="http://res.cloudinary.com/rashi/image/upload/v1377924529/loading7_gvb06y.gif"></div> -->
  <% end %>
</ul>
<br>
</div>
      <div class="center loading_page active_hide" ><img src="/assets/loading.gif"></div>

<!-- 
<div id="today_events">
<ul class="users" id="today_events_ul ">
  <% unless @today_events.blank? %>
    <div id="today_events_page" class="today_events_paginate">
    <% @today_events.each do |today_event| %>
      <%= render :partial => 'events/event', :locals => {:event => today_event} %> 
    <% end %>
    </div>    
    <div id="loading_today_events_paginate" class="center" ><img src="http://res.cloudinary.com/rashi/image/upload/v1377924529/loading7_gvb06y.gif"></div>
  <% end %>
</ul>
<br>
</div>
 -->
</div>

<div id='calendar_upper' class="marginRight15">
  <div id='calendar_events'><br></div>
</div>


<%= form_for( @event, remote: true, :html => {:multipart => true, id: 'create_event_form'}) do |f| %>
<div id="modal_create_event" style="display:none;" >
          <div id="modal-from-dom" class="modal hide fade in" style="display: block;width:700px;">
            <div class="modal-header">
              <a href="#" id="closeX" class="close">×</a>
              <h3>Create Event</h3>
            </div>
            <div class="modal-body" style="max-height:450px;">
            <div class="row">
              <div class="span15 ui-front">
            
               <%= render 'shared/error_messages', object: f.object %>
               <div class="center_block clearfix">
                  <%= f.label :title %>
                  <div class="input">
                    <%= f.text_field :title, :placeholder=>"Title", 'data-validation' => "length",
     'data-validation-length' =>"3-25", 'data-validation-error-msg' => "The event name has to be a value between 3-25 characters" %></div>
                </div>

                <div class="center_block clearfix">
                  <%= label_tag :starts_at %>
                  <div class="input">
                  <%= f.text_field :starts_at, :placeholder => "Time" %>&nbsp;&nbsp;&nbsp;
                <a id="end_date_add_link" class="uibutton icon add">End Date</a>
                </div>
                </div>
                <div class="center_block clearfix" id="end_date">
                  <%= label_tag :ends_at %>
                  <div class="input">
                    <%= f.text_field :ends_at %>&nbsp;&nbsp;&nbsp;
                   <a id="end_date_remove_link" class="uibutton icon prev">Remove</a>
                  </div>
                </div> 

                <div class="center_block clearfix">
                  <%= f.label :location %>
                  <div class="input ">
                  <%= f.text_field :address, :placeholder => :location, :size => 43, class: 'events_with_autocomplete inherit_width', 'data-autocompleteUrl' => search_address_events_path , 'data-validation' => "length",
     'data-validation-length' =>"3-250", 'data-validation-error-msg' => "The event address has to be a value between 3-250 characters" %>&nbsp;&nbsp;&nbsp;
                
                  <%= link_to "View map", '#', id: "view_map_link",  class: "uibutton icon prev" %>
                </div>
                <div class="input" id="view_map">
                
                </div>
                </div>
                <div class="center_block clearfix">
                  <%= f.label :description %>
                  <div class="input">
                  <%= f.text_area :description, :placeholder=>"Description", class: ' inherit_width', :title=>"Description", rows: 3, cols: 75, 'data-validation' => "length",
     'data-validation-length' =>"3-250", 'data-validation-error-msg' => "The event description has to be a value between 3-250 characters"  %> 
                </div>
                </div>
                <div class="center_block clearfix">
                  <%= label_tag :privacy %>
                  <div class="input">
                    <%= f.select :privacy, options_for_select([["Public", Privacyenum::PUBLIC], ["Private", Privacyenum::PRIVATE]]) %>
                  </div>
                </div> <br>
                <div class="center_block clearfix ">
                    <label>Guests can invite</label>
                  <div class="input">
                    <div class="checkboxFive pull-right marginRight15" >
                  <%= f.check_box 'GuestsCanInvite', id: "Guests_can_invite_other_guests" %>
                    <label for="Guests_can_invite_other_guests" </label>
                  </div>
                  </div>
                </div> <br>
                <div class="center_block clearfix">
                <%= label_tag "Add picture:" %>
                
                <div class="input">    
                <canvas id="imageCanvas" style = "border: 1px solid #ddd; padding:5px; align:center;cursor:pointer" >select new image</canvas>
                </div>
                <%= f.fields_for :photo, Photo.new, :child_index => 'NEW_RECORD' do |photo_form| %>
                  <%= photo_form.file_field :pic, id: "pic",style: "width:0px; height:0px;  padding:0px;  left:0px;" %>  
                <% end %>
              </div>
        </div>   
      </div>
      </div>
            <div class="modal-footer" >
              <%= f.submit "Create", class: "btn primary pull-right", id: "create_event_submit" %>  
            </div>
          </div> 
        </div>
  <% end %>
</div>

</div>
<script type="text/javascript">


var startDateTextBox = $("#event_starts_at");
var endDateTextBox = $("#event_ends_at");

startDateTextBox.datetimepicker({ 
  onClose: function(dateText, inst) {
    if (endDateTextBox.val() != '') {
      var testStartDate = startDateTextBox.datetimepicker('getDate');
      var testEndDate = endDateTextBox.datetimepicker('getDate');
      if (testStartDate > testEndDate)
        endDateTextBox.datetimepicker('setDate', testStartDate);
    }
    else {
      endDateTextBox.val(dateText);
    }
  },
  onSelect: function (selectedDateTime){
    endDateTextBox.datetimepicker('option', 'minDate', startDateTextBox.datetimepicker('getDate') );
  },
  dateFormat: "dd/mm/yy"
});
endDateTextBox.datetimepicker({ 
  onClose: function(dateText, inst) {
    if (startDateTextBox.val() != '') {
      var testStartDate = startDateTextBox.datetimepicker('getDate');
      var testEndDate = endDateTextBox.datetimepicker('getDate');
      if (testStartDate > testEndDate)
        startDateTextBox.datetimepicker('setDate', testEndDate);
    }
    else {
      startDateTextBox.val(dateText);
    }
  },
  onSelect: function (selectedDateTime){
    startDateTextBox.datetimepicker('option', 'maxDate', endDateTextBox.datetimepicker('getDate') );
  },
  dateFormat: "dd/mm/yy"
});




$(document).ready(function(){
  $.validate({
    form : '#create_event_form',
    onSuccess : function() {
      $('#create_event_submit').attr('data-loading-text', 'Creating...');
      $('#create_event_submit').button('loading');
    },
  });
  $('.loading_sub').hide();
});

  $(document).ready(function(){
//  $('.gravatar').addClass('thumbnail');  
    $("#create_event").click(function(){
      $('#modal_create_event').modal({
      //keyboard: true,
      backdrop: "static",
    });
    });
    $("#closeX").click(function(){
          $('#modal_create_event').modal('hide');
        });

    $('#end_date').hide();
  });


var imageLoader = document.getElementById('pic');
imageLoader.addEventListener('change', handleImage, false);
$("#imageCanvas").click(function(){
  $("#pic").click();
});
var canvas = document.getElementById('imageCanvas');
var ctx = canvas.getContext('2d');
  ctx.font="15px Arial";
  ctx.fillText("Click here to add a picture",25,75);

function handleImage(e){
  var canvas = document.getElementById('imageCanvas');
  var ctx = canvas.getContext('2d');
  var iCnt=0;
  var files = e.target.files;
   if(files.length<1){
      $('#pic').val('');
      ctx.setTransform(1, 0, 0, 1, 0, 0);
      canvas.width = 300;
      canvas.height = 155;
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      ctx.font="15px Arial";
      ctx.fillText("Click here to add a picture",25,75);
      return;
    }
  canvas.width = 200;
  canvas.height = 155*(Math.ceil(files.length/4));
  for( var i = 0, len = files.length; i < len; i++) 
  {
    if(files[i])
    {
      var reader = new FileReader();
      reader.onload = function(event){
        var img = new Image();

        img.onload = function(){
          var ratioPx = 195;
          var sWidth =ratioPx;
          var ratio = img.width/sWidth;
          var sHeight = img.height/ratio;   
          if(sHeight>ratioPx){
           sHeight =ratioPx;
           ratio = img.height/sHeight;
           sWidth = img.width/ratio;  
         }
         ctx.drawImage(img, 155*(iCnt%4),155*(Math.floor(iCnt/4)),sWidth,sHeight);
                  //ctx.drawImage(img,0,0,sWidth,sHeight);
                  iCnt++;
                }
                img.src = event.target.result;
              }
              reader.readAsDataURL(e.target.files[i]);     
            }
          }
        }

$('#event_address').keydown(function(){
    $('#view_map_link').hide();
    $('#view_map').hide();
});

$('#view_map_link').click(function(){
    var address = "/events/get_geo_coordinates?address="+$('#event_address').val();
    // $.get(address,"script");
     $.ajax({
      type: "GET",
      url: address,
      dataType: "script"
    }); 
});

$('a.ui-corner-all').on("click", function(){
  if($('#event_address').val()!=""){
    $('#view_map_link').show();
  }else{
    $('#view_map_link').hide();
  }
});

$('#upcoming_events_li').click(function(){
  $('#upcoming_events_li').addClass('active');
  $('#past_events_li').removeClass('active');
  $('#today_events_li').removeClass('active');
  $('#upcoming_events').show();
  $('#past_events').hide();
  $('#today_events').hide();
});
$('#past_events_li').click(function(){
  $('#upcoming_events_li').removeClass('active');
  $('#past_events_li').addClass('active');
  $('#today_events_li').removeClass('active');
  $('#upcoming_events').hide();
  $('#past_events').show();
  $('#today_events').hide();
});
$('#today_events_li').click(function(){
  $('#upcoming_events_li').removeClass('active');
  $('#past_events_li').removeClass('active');
  $('#today_events_li').addClass('active');
   $('#upcoming_events').hide();
  $('#past_events').hide();
  $('#today_events').show();
});

$('#end_date_add_link').click(function(){
  $('#end_date').show();
  $('#end_date_add_link').hide();
});
$('#end_date_remove_link').click(function(){
  $('#end_date').hide();
  $('#end_date_add_link').show();
});

  $(function() {
  $("#search_user").tokenInput("/events/search_auto_user", {
    crossDomain: false,
   // prePopulate: $(".eventdetails_with_autocomplete").data("pre"),
    theme: "facebook",
        resultsFormatter: function(item){ return "<li>" + "<img src='" + item.profile_pic + "' title='" + item.name + "' height='30px' width='30px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name + " " + ""+ "</div><div class='email'>" + item.email + "</div></div></li>" },
        tokenFormatter: function(item) { return  "<li>" + "<img src='" + item.profile_pic + "' title='" + item.name + "' height='30px' width='30px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name +"</div></div></li>" },
        preventDuplicates: true ,
        zindex: 11001,
        hintText: "Type in a user name",
  });
});

  $(function() {
  $("#search_group").tokenInput("/events/search_auto_group", {
    crossDomain: false,
   // prePopulate: $(".eventdetails_with_autocomplete").data("pre"),
    theme: "facebook",
        resultsFormatter: function(item){ return "<li>" + "<img src='" + item.profile_pic + "' title='" + item.name + "' height='30px' width='30px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name + " " + ""+ "</div><div class='email'>" + item.description + "</div></div></li>" },
        tokenFormatter: function(item) { return  "<li>" + "<img src='" + item.profile_pic + "' title='" + item.name + "' height='30px' width='30px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name +"</div></div></li>" },
        preventDuplicates: true ,
        zindex: 11001,
        hintText: "Type in a group name",
  });
});

$(document).ready(function() {
$('#past_events').hide();
for (var i = 1; i < 99999; i++){
   window.clearInterval(i);
}
restartInterval();

  $('#page-2').hide();

  $('#view_map_link').hide();

    $(function() {
      return $('.events_with_autocomplete').autocomplete({
        minLength: 2,
        source: function(request, response) {
          return $.ajax({
            url: $('.events_with_autocomplete').data('autocompleteurl'),
            dataType: "json",
            data: {starts_at: "", ends_at: "",
              address: request.term, event: "<%= @event.to_json %>"
            },
            success: function(data) {
              return response(data);
            }
          });
        }
      });
    });

    $(function() {
      return $('.eventdetails_with_autocomplete').autocomplete({
        minLength: 2,
        source: function(request, response) {
          return $.ajax({
            url: "/events/search_user_group",
            dataType: "json",
            data: {starts_at: "", ends_at: "",
              location: request.term
            },
            success: function(data) {
              return response(data);
            }
          });
        }
      });
    });




  $('#today_events_li').click();
   $('#end_date').hide();
  
/*  $("#create_event").click(function(){
      $('#modal').modal('show');
    });
    $("#closeX").click(function(){
          $('#modal').modal('hide');
        });

    $("#crtEvent").click(function(){
          $('#modal').modal('hide');
        });*/

	$('#list_view').click(function(){
		$('#event_list').show();
		$('#calendar_upper').hide();
		$('#fullCalendar_view').show();
		$('#list_view').hide();
		$('#calendar_events').hide();
		$('#h3Cal').hide();
	});

		//$('#calendar').fullCalendar('today');
		//$('#list_view').click();
		$('#event_list').show();
		//
		$('#fullCalendar_view').show();
		$('#list_view').hide();
    // page is now ready, initialize the calendar...

   // $('#calendar').fullCalendar({
        // put your options and callbacks here
   // });
		
});

	$('#fullCalendar_view').click(function(){
		$('#event_list').hide();
		$('#calendar_upper').show();
		$('#fullCalendar_view').hide();
		$('#list_view').show();
		$('#calendar_events').show();
		$('#h3Cal').show();
    $('#calendar_events').fullCalendar('render');

	});

var updateEvent;

  $(document).ready(function(){
      // page is now ready, initialize the calendar...
      $('#calendar_events').fullCalendar({
          editable: true,
          header: {
              left: 'prev,next today',
              center: 'title',
              right: 'month,agendaWeek,agendaDay'
          },
          defaultView: 'month',
          height: 500,
          slotMinutes: 15,
          loading: function(bool){
              if (bool)
                  $('#loading').show();
              else
                  $('#loading').hide();
          },
          events: "/events",
          timeFormat: 'h:mm t{ - h:mm t} ',
          dragOpacity: "0.5",
          eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc){
             if (confirm("Are you sure about this change?")) {
                moveEvent(event, dayDelta, minuteDelta, allDay);
             }
             else {
             revertFunc();
             }
          },
          
          eventResize: function(event, dayDelta, minuteDelta, revertFunc){
             if (confirm("Are you sure about this change?")) {
                //resizeEvent(event, dayDelta, minuteDelta);
                updateEvent(event);
             }
             else {
             revertFunc();
             }
          },
          
          eventClick: function(event, jsEvent, view){
              showEventDetails(event);
          },
      });
		$('#calendar_events').hide();
		$('#h3Cal').hide();




  });

  function showEventDetails(event){
       $.ajax({
        url: '/events/'+event.id,
        dataType: 'script'
      }); 
  }



updateEvent = function(the_event) {

  return $.ajax({
  url: "/events/" + the_event.id,
  type: 'PUT',
  data: {
    event: {
      title: the_event.title,
      starts_at: "" + the_event.start,
      ends_at: "" + the_event.end,
      description: the_event.description
    }
  },
  success: function(data) {
    alert('Load was performed.');
  }
});

 }


var upcoming_events_currentPage = 2;
var past_events_currentPage = 2;
var today_events_currentPage = 2;

var intervalID_U = -1000;
var intervalID_P = -1000;
var intervalID_T = -1000;

var upcoming_event = "upcoming_events_paginate";
var past_event = "past_events_paginate";
var today_event = "today_events_paginate";

$('#upcoming_events_li').click(function(){
  $('#upcoming_events_page').addClass('paginate');
  $('#past_events_page').removeClass('paginate');
  $('#today_events_page').removeClass('paginate');
   intervalID_U = setInterval(callCheckScroll, 250);
   console.log("U--"+intervalID_U);
});

$('#past_events_li').click(function(){
  $('#upcoming_events_page').removeClass('paginate');
  $('#past_events_page').addClass('paginate');
  $('#today_events_page').removeClass('paginate');
   intervalID_P = setInterval(callCheckScroll, 250);
   console.log("P--"+intervalID_P);
});

$('#today_events_li').click(function(){
  $('#upcoming_events_page').removeClass('paginate');
  $('#past_events_page').removeClass('paginate');
  $('#today_events_page').removeClass('paginate');
  $('#today_events_page').addClass('paginate');
  intervalID_T = setInterval(callCheckScroll, 250);
 console.log("T--"+intervalID_T);
});

function checkScroll_evt_idx(paginate) {
  if (nearBottomOfPage()) {
      var currentPage=0;
      var intervalID;
    if (paginate === "upcoming_events_paginate") {
        currentPage = upcoming_events_currentPage++;
        intervalID = intervalID_U;
     } else if (paginate === "past_events_paginate") {
        currentPage = past_events_currentPage++;
        intervalID = intervalID_P;
     } else if (paginate === "today_events_paginate") {
        currentPage = today_events_currentPage++;
        intervalID = intervalID_T;
     }
     console.log("ID--"+intervalID);
  //console.log("endless request "+ currentPage+" " + paginate);
  $('.loading_page').show();
    jQuery.ajax('/events/'+paginate+'?page=' + currentPage, {asynchronous:true, evalScripts:true, method:'get', success: function(data, textStatus, jqXHR) {
    $('.loading_page').hide();
    
    if(data==null || data == ''){
      clearInterval(intervalID_U);
      clearInterval(intervalID_P);
      clearInterval(intervalID_T);
      for (var i = 1; i < 99999; i++){
        window.clearInterval(i);
      }
      restartInterval();

      console.log(intervalID_U+"--"+intervalID_P+"--"+intervalID_T);
    } 
    $('.'+paginate).append(data);
    },});
  }
}
 
function nearBottomOfPage() {
  return scrollDistanceFromBottom() < 50;
}
 
function scrollDistanceFromBottom(argument) {
  return pageHeight() - (window.pageYOffset + self.innerHeight);
}
 
function pageHeight() {
  return Math.max(document.body.scrollHeight, document.body.offsetHeight);
}

function callCheckScroll(){
  if($("#upcoming_events_page").hasClass('paginate')){
    checkScroll_evt_idx(upcoming_event)
  }else if($("#past_events_page").hasClass('paginate')){
    checkScroll_evt_idx(past_event)
  }else if($("#today_events_page").hasClass('paginate')){
    checkScroll_evt_idx(today_event)
  }
}
 
$('document').ready(function(){
 intervalID_T = setInterval(checkScroll_evt_idx, 250, upcoming_event);
  //console.log("DT--"+intervalID_T);
});


$(document).ready(function(){
  $("li.event").click(function(){
    $(this).next('a').click();
    $('.loading_page').show();
  });
});

</script>