<% provide(:title, @event.title) %>
<% provide(:page_image, @event.photo.pic_url) %>
<% unless signed_in? %>
    <br> 
    <br> 
    <br> 
    <br> 
    <br> 
<% end %>
<div class="container container-fluid">
      <div  class="image_overlay tr-hover-btn" >
<!--  
             <h4 class="pull-left" style="margin-left:10px;font-size:18px;">
             <div id="albumLink">
              <%= link_to @event.title, @event, class:"albumLink", remote: true %>
              </div>
            </h4>
               -->
            <% unless @event.photo.nil? %>
           <%= link_to cl_image_tag(@event.photo.pic_url(:largest), class:"padding1",rel: "#{@event.id}", id:"#{@event.photo.id}") , @event.photo.pic_url, class: "fancybox-album", rel: "#{@event.id}" , title: "#{@event.title}"    %>
            <% end %>
            <div class="btn_overlay_cu_cover_pic">
                <% if @event.responded?(current_user.id) %>
                  <% if @event.is_admin?(current_user) %>
                       <button class=" pull-right uibutton icon edit button_toggle_pic" id="edit_event">edit</button>
                   <% end %>

                   <span class="pull-right "> &nbsp;</span>
                   <% if @event.is_admin?(current_user) %>
                      <%= link_to "delete",  @event, method: :delete, remote: true,
                                               data: { confirm: "You sure?" },
                                               class: "pull-right uibutton button_toggle_pic",
                                               title: "Delete this event" %>
                   <% end %>
                  <span class="pull-right "> &nbsp;</span>
                <% end %>
            </div>
            <h2 class="text_overlay_cover_pic button_toggle_pic">
              <%= render partial: "events/text_overlay", locals: {obj: @event} %>
            </h2>
        </div>
  <aside class="span6">
    <section>


    </section>
    <section id="activity_span" style="background-color:#e5e5e5;padding:10px;" class="well">
      <h2 id="act_h"><span  class="pull-left" style="margin-left:10px;font-size:13px;"><strong>Event</strong></span></h2>
      <span style="clear:both"></span>
      <div id="event_link">    
          <li class="sidetabs sidetabs_selected" style="list-style-type: none;padding:5px; margin:5px;">
                <h6><%= link_to  @event.title, @event, id: "act_#{@event.id}", remote: true %></h6>
          </li>
          <%= link_to "", @event, remote: true %>
      </div>
      <h2 id="act_h"><span  class="pull-left" style="margin-left:10px;font-size:13px;line-height:2;"><strong>Sub-event</strong></span> <%= link_to "add", '#', id: "create_activity",  class: " pull-right uibutton icon add",:title => "Add Activity" %></h2>
      <span style="clear:both"></span>
      <div id="event_activities">    
          <%= render @activities %>
      </div>
    </section>
      
   </aside>
<div class="center loading_page active_hide" ><img src="/assets/loading.gif"></div>

<div class="span13" style="margin-top:10px;">
<div id="event_list">
  <%= render partial: "events/event_links", locals: { event: @event, activity: @activity } %>
</div>

        <div id="show_event_div">
            <%= render partial: "events/event_members", locals: { event: @event, activity: @activity, ad_users: @ad_users, inv_users: @inv_users } %>
        </div>
</div>


<div id="crt_act">
  <%= form_for( [@event.activities.build], remote: true) do |f| %>
  <div id="modal" style="display:none" >
          <div id="modal-from-dom" class="modal hide fade in" style="display: block;width:700px;">
            <div class="modal-header">
              <a href="#" id="closeX" class="close">×</a>
              <h3>Create Activity</h3>
            </div>
            <div class="modal-body" style="max-height:450px;">
              <div class="row">
          <div class="span14 ui-front">
            <%= f.hidden_field :event_id %>
               <%= render 'shared/error_messages', object: f.object %>
                <div id="page_crt-1">
                  <%= link_to "Next page", '#', id: "next_crt",  class: "uibutton icon next pull-right" %>
                <div class="center_block clearfix">
                  <%= f.label :title %>
                  <div class="input">
                  <%= f.text_field :title, :placeholder=>"Title" %></div>
                </div>
                <div class="center_block clearfix">
                  <%= label_tag :starts_at %>
                  <div class="input">
                  <%= f.text_field :starts_at, :placeholder => "Time" ,:value => @event.starts_at %>&nbsp;&nbsp;&nbsp;
                <a id="end_date_add_link" class="uibutton icon add">End Date</a>
                </div>
                </div>
                <div class="center_block clearfix" id="end_date">
                  <%= label_tag :ends_at %>
                  <div class="input">
                    <%= f.text_field :ends_at ,:value => @event.ends_at %>&nbsp;&nbsp;&nbsp;
                   <a id="end_date_remove_link" class="uibutton icon prev">Remove</a>
                  </div>
                </div> 

                <div class="center_block clearfix">
                  <%= f.label :location %>
                  <div class="input ">
                  <%= f.text_field :address, :placeholder => :location, :size => 43, class: 'events_with_autocomplete inherit_width',:value => @event.address , 'data-autocompleteUrl' => search_address_events_path %>&nbsp;&nbsp;&nbsp;
                
                  <%= link_to "View map", '#', id: "view_map_link",  class: "uibutton icon prev" %>
                </div>
                <div class="input" id="view_map">
                
                </div>
                </div>
                <div class="center_block clearfix">
                  <%= f.label :description %>
                  <div class="input">
                  <%= f.text_area :description, :placeholder=>"Description", class: ' inherit_width', :title=>"Description", rows: 3, cols: 75  %> 
                </div>
                </div>
              </div> 
              <div id="page_crt-2">
                <%= link_to "Previous page", '#', id: "prev_crt",  class: "uibutton icon next pull-right" %>
                <div class="center_block clearfix">
                  <%= label_tag :privacy %>
                  <div class="input">
                    <%= f.select :privacy, options_for_select([["Public", Privacyenum::PUBLIC], ["Private", Privacyenum::PRIVATE]]) %>
                  </div>
                </div>
                <div id="page_crt_ac-2">
                 <div class="center_block clearfix"><br>
                  <%= f.label "Invite by User name:" %>
                  <div class="input ui-front">
                     <%= f.text_field :user_tokens, id: "search_user" %>
                  </div>
                </div>
                <div class="center_block clearfix">
                  <%= f.label "Invite by Group Name:" %>
                  <div class="input ui-front">
                     <%= f.text_field :group_tokens, id: "search_group" %>
                  </div>
                </div>
              </div>   
             </div>     
          </div>
        </div>   
           </div>
            <div class="modal-footer" >
              <%= f.submit "Create Activity", class: "btn primary pull-right", id: "crtActivity" %>  
            </div>
          </div>
          
        </div>
            <% end %>
    </div>



 <%= form_for( @event, remote: true, :html => {:multipart => true}) do |f| %>
<div id="modal2" style="display:none;" >
          <div id="modal-from-dom2" class="modal hide fade in" style="display: block;width:700px;">
            <div class="modal-header">
              <a href="#" id="close2X" class="close">×</a>
              <span style="font-size:20px;line-height: 2;">Edit Event</span>
            </div>
            <div class="modal-body" style="max-height:450px;">
               <div class="row">
                  <div class="span14 ui-front">
                   <%= render 'shared/error_messages', object: f.object %>
                   <div class="center_block clearfix">
                      <%= f.label :title %>
                      <div class="input">
                        <%= f.text_field :title, :placeholder=>"Title", 'data-validation' => "length",
         'data-validation-length' =>"3-25", 'data-validation-error-msg' => "The Event name has to be a value between 3-25 characters" %></div>
                    </div>

                    <div class="center_block clearfix">
                      <%= label_tag :starts_at %>
                      <div class="input">
                      <%= f.text_field :starts_at, :placeholder => "Time" %>&nbsp;&nbsp;&nbsp;
                    <a id="end_date_add_link_event" class="uibutton icon add">End Date</a>
                    </div>
                    </div>
                    <div class="center_block clearfix" id="end_date_event">
                      <%= label_tag :ends_at %>
                      <div class="input">
                        <%= f.text_field :ends_at %>&nbsp;&nbsp;&nbsp;
                       <a id="end_date_remove_link_event" class="uibutton icon prev">Remove</a>
                      </div>
                    </div> 

                    <div class="center_block clearfix">
                      <%= f.label :location %>
                      <div class="input ">
                      <%= f.text_field :address, :placeholder => :location, :size => 43, class: 'events_with_autocomplete inherit_width', 'data-autocompleteUrl' => search_address_events_path , 'data-validation' => "length",
         'data-validation-length' =>"3-250", 'data-validation-error-msg' => "The event address has to be a value between 3-250 characters" %>&nbsp;&nbsp;&nbsp;
                    
                      <%= link_to "View map", '#', id: "view_map_link_event",  class: "uibutton icon prev" %>
                    </div>
                    <div class="input" id="view_map">
                    
                    </div>
                    </div>
                    <div class="center_block clearfix">
                      <%= f.label :description %>
                      <div class="input">
                      <%= f.text_area :description, :placeholder=>"Description", class: ' inherit_width', :title=>"Description", rows: 3, cols: 75, 'data-validation' => "length",
         'data-validation-length' =>"3-250", 'data-validation-error-msg' => "The event description has to be a value between 3-250 characters"  %> 
                    </div>
                    </div>
                    <div class="center_block clearfix">
                      <%= label_tag :privacy %>
                      <div class="input">
                        <%= f.select :privacy, options_for_select([["Public", Privacyenum::PUBLIC], ["Members", Privacyenum::MEMBERS], ["Private", Privacyenum::PRIVATE]]) %>
                      </div>
                    </div> <br>

              <div class="center_block clearfix">
                <%= label_tag "Change picture:" %>
                <%= f.fields_for :photo, Photo.new, :child_index => 'NEW_RECORD' do |photo_form| %>
                  <%= photo_form.file_field :pic, id: "pic2",style: "width:0px; height:0px; padding:0px;  left:0px;" %>  
                <% end %>
                <div class="input"> 
                  <% unless @event.photo.nil? %>
                  <%= cl_image_tag(@event.photo.pic_url(:small), class:" thumbnail albumLink", id:"event_edit_pic", style: "cursor:pointer;") %>   
                  <% end %>
                  <canvas id="imageCanvas2" style = "border: 1px solid #ddd; padding:5px; align:center; width:200px;display:none;cursor:pointer" >select new image</canvas>
                </div>
              </div>  

            </div>   
          </div>


           </div>
            <div class="modal-footer" >
              <%= f.submit "Update", class: "btn primary pull-right", id: "updEvent" %>  
            </div>
          </div>
          
        </div>
            <% end %>
</div>


<script type="text/javascript">

$(".sidetabs").click(function(){
  $(".sidetabs").removeClass('sidetabs_selected');
  $(this).addClass('sidetabs_selected');
  $(this).next('a').click();
  $('.loading_page').show();
});

$('#posts_events_li').click(function(){
  $('#posts_events_li').addClass('active');
  $('#activity_events_li').removeClass('active');
  $('#photos_events_li').removeClass('active');
  $('#posts_events').show();
  $('#activity_events').hide();
  $('#photos_events').hide();
});
$('#activity_events_li').click(function(){
  $('#posts_events_li').removeClass('active');
  $('#activity_events_li').addClass('active');
  $('#photos_events_li').removeClass('active');
  $('#posts_events').hide();
  $('#activity_events').show();
  $('#photos_events').hide();
});
$('#photos_events_li').click(function(){
  $('#posts_events_li').removeClass('active');
  $('#activity_events_li').removeClass('active');
  $('#photos_events_li').addClass('active');
  $('#posts_events').hide();
  $('#activity_events').hide();
  $('#photos_events').show();
});

     $('.tr-hover-btn').hover(function() {
       $(this).find('.button_toggle_pic').show();
       }, function() {
         $(this).find('.button_toggle_pic').hide();
    });

$(document).ready(function(){
  $("#upload_pics").show();
  $('#activity_events').hide();
  $('#photos_events').hide();
  $("#crt_act").show();

  $("#page_crt-2").hide();
  $("#page_crt_ac-2").hide();

    $("#create_activity").click(function(){
      $('#modal').modal('show');
    });
    $("#closeX").click(function(){
          $('#modal').modal('hide');
        });
    $("#crtActivity").click(function(){
          $('#modal').modal('hide');
        });

    $('#end_date').hide();

    $('#view_map_link').hide();

    $(function() {
      return $('.events_with_autocomplete').autocomplete({
        minLength: 2,
        source: function(request, response) {
          return $.ajax({
            url: $('.events_with_autocomplete').data('autocompleteurl'),
            dataType: "json",
            data: {starts_at: "", ends_at: "",
              address: request.term, event: "<%= @event.to_json %>"
            },
            success: function(data) {
              return response(data);
            }
          });
        }
      });
    });

    
});



var startDateTextBox = $("#activity_starts_at");
var endDateTextBox = $("#activity_ends_at");

startDateTextBox.datetimepicker({ 
  onClose: function(dateText, inst) {
    if (endDateTextBox.val() != '') {
      var testStartDate = startDateTextBox.datetimepicker('getDate');
      var testEndDate = endDateTextBox.datetimepicker('getDate');
      if (testStartDate > testEndDate)
        endDateTextBox.datetimepicker('setDate', testStartDate);
    }
    else {
      endDateTextBox.val(dateText);
    }
  },
  onSelect: function (selectedDateTime){
    endDateTextBox.datetimepicker('option', 'minDate', startDateTextBox.datetimepicker('getDate') );
  }
});
endDateTextBox.datetimepicker({ 
  onClose: function(dateText, inst) {
    if (startDateTextBox.val() != '') {
      var testStartDate = startDateTextBox.datetimepicker('getDate');
      var testEndDate = endDateTextBox.datetimepicker('getDate');
      if (testStartDate > testEndDate)
        startDateTextBox.datetimepicker('setDate', testEndDate);
    }
    else {
      startDateTextBox.val(dateText);
    }
  },
  onSelect: function (selectedDateTime){
    startDateTextBox.datetimepicker('option', 'maxDate', endDateTextBox.datetimepicker('getDate') );
  }
});



$('#activity_address').keydown(function(){
    $('#view_map_link').hide();
    $('#view_map').hide();
});

$('#view_map_link').click(function(){
    var address = "/events/get_geo_coordinates?address="+$('#activity_address').val();
    // $.get(address,"script");
     $.ajax({
      type: "GET",
      url: address,
      dataType: "script"
    }); 
});

$('a.ui-corner-all').on("click", function(){
  if($('#activity_address').val()!=""){
    $('#view_map_link').show();
  }else{
    $('#view_map_link').hide();
  }
});


$('#end_date_add_link').click(function(){
  $('#end_date').show();
  $('#end_date_add_link').hide();
});
$('#end_date_remove_link').click(function(){
  $('#end_date').hide();
  $('#end_date_add_link').show();
});

  $(function() {
  $("#search_user").tokenInput("/events/<%= @event.id %>/search_selected_user", {
    crossDomain: false,
    prePopulate: $("#search_user").data("pre"),
    theme: "facebook",
        resultsFormatter: function(item){ return "<li>" + "<img src='" + item.profile_pic + "' title='" + item.name + "' height='30px' width='30px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name + " " + ""+ "</div><div class='email'>" + item.email + "</div></div></li>" },
        tokenFormatter: function(item) { return  "<li>" + "<img src='" + item.profile_pic + "' title='" + item.name + "' height='30px' width='30px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name +"</div></div></li>" },
        preventDuplicates: true ,
        zindex: 11001,
        hintText: "Type in a user name",
  });
});

  $(function() {
  $("#search_group").tokenInput("/events/<%= @event.id %>/search_selected_group", {
    crossDomain: false,
    prePopulate: $("#search_group").data("pre"),
    theme: "facebook",
        resultsFormatter: function(item){ return "<li>" + "<img src='" + item.profile_pic + "' title='" + item.name + "' height='30px' width='30px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name + " " + ""+ "</div><div class='email'>" + item.description + "</div></div></li>" },
        tokenFormatter: function(item) { return  "<li>" + "<img src='" + item.profile_pic + "' title='" + item.name + "' height='30px' width='30px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name +"</div></div></li>" },
        preventDuplicates: true ,
        zindex: 11001,
        hintText: "Type in a group name",
  });
});


  $( "#activity_privacy" ).change(function () {
    var str = "";
    $("#activity_privacy option:selected" ).each(function() {
      if($(this).text()=="Custom"){
        $("#page_crt_ac-2").show();
      }else{
        $("#page_crt_ac-2").hide();
      }
    });
  });

/*
  var imageLoader = document.getElementById('pic1');
    imageLoader.addEventListener('change', handleImage, false);
    $("#imageCanvas1").click(function(){
        $("#pic1").click();
    });
        
    var canvas = document.getElementById('imageCanvas1');
    var ctx = canvas.getContext('2d');
    ctx.font="30px Arial";
    ctx.fillText("Select photos",10,50);

  function handleImage(e){
    var canvas = document.getElementById('imageCanvas1');
    var ctx = canvas.getContext('2d');
    var iCnt=0;
    var files = e.target.files;
    canvas.width = 600;
    canvas.height = 155*(Math.ceil(files.length/4));
    for( var i = 0, len = files.length; i < len; i++) 
          {
          if(files[i])
            {
              var reader = new FileReader();
              reader.onload = function(event){
                var img = new Image();

                img.onload = function(){
                  var ratioPx = 150;
                  var sWidth =ratioPx;
                  var ratio = img.width/sWidth;
                  var sHeight = img.height/ratio;   
                    if(sHeight>ratioPx){
                       sHeight =ratioPx;
                       ratio = img.height/sHeight;
                       sWidth = img.width/ratio;  
                    }
                  ctx.drawImage(img, 155*(iCnt%4),155*(Math.floor(iCnt/4)),sWidth,sHeight);
                  //ctx.drawImage(img,0,0,sWidth,sHeight);
                  iCnt++;
                }
                img.src = event.target.result;
              }
              reader.readAsDataURL(e.target.files[i]);     
            }
          }
  }


  $("#upload_pics").click(function(){
      $('#modal1').modal('show');
    });
    $("#closeX").click(function(){
          $('#modal1').modal('hide');
        });

    $("#crtAlb").click(function(){
          $('#modal1').modal('hide');
        });

*/


//-------------edit event-------------------------


$('#prev2-1').click(function(){
    $( "#page2-1" ).animate({ width: '600px' }, 1000, function() {
                $(this).show();
             });
    $( "#page2-2" ).animate({ width: '0px' }, 1000, function() {
                $(this).hide();
             });

});
$('#next2-2').click(function(){
    $( "#page2-1" ).animate({ width: '0px' }, 1000, function() {
                $(this).hide();
             });
    $( "#page2-2" ).animate({ width: '600px' }, 1000, function() {
                $(this).show();
             });
});

$('#event_address').keydown(function(){
    $('#view_map_link2').hide();
    $('#view_map2').hide();
});

$('#view_map_link2').click(function(){
    var address = "/events/get_geo_coordinates?address="+$('#event_address').val();
    // $.get(address,"script");
     $.ajax({
      type: "GET",
      url: address,
      dataType: "script"
    }); 
});

$('a.ui-corner-all').on("click", function(){
  if($('#event_address').val()!=""){
    $('#view_map_link2').show();
  }else{
    $('#view_map_link2').hide();
  }
});


$('#end_date_add_link2').click(function(){
  $('#end_date2').show();
  $('#end_date_add_link2').hide();
});
$('#end_date_remove_link2').click(function(){
  $('#end_date2').hide();
  $('#end_date_add_link2').show();
});

  $(function() {
  $("#search_user_evt").tokenInput("/events/search_auto_user", {
    crossDomain: false,
   // prePopulate: $(".eventdetails_with_autocomplete").data("pre"),
    theme: "facebook",
        resultsFormatter: function(item){ return "<li>" + "<img src='" + item.profile_pic + "' title='" + item.name + "' height='30px' width='30px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name + " " + ""+ "</div><div class='email'>" + item.email + "</div></div></li>" },
        tokenFormatter: function(item) { return  "<li>" + "<img src='" + item.profile_pic + "' title='" + item.name + "' height='30px' width='30px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name +"</div></div></li>" },
        preventDuplicates: true ,
        zindex: 11001,
        hintText: "Type in a user name",
  });
});

  $(function() {
  $("#search_group_evt").tokenInput("/events/search_auto_group", {
    crossDomain: false,
   // prePopulate: $(".eventdetails_with_autocomplete").data("pre"),
    theme: "facebook",
        resultsFormatter: function(item){ return "<li>" + "<img src='" + item.profile_pic + "' title='" + item.name + "' height='30px' width='30px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name + " " + ""+ "</div><div class='email'>" + item.description + "</div></div></li>" },
        tokenFormatter: function(item) { return  "<li>" + "<img src='" + item.profile_pic + "' title='" + item.name + "' height='30px' width='30px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name +"</div></div></li>" },
        preventDuplicates: true ,
        zindex: 11001,
        hintText: "Type in a group name",
  });
});

$(document).ready(function() {

/*    $('#create_activity').hide();
   
    $('#activity_span').hover(function(){
      $('#create_activity').toggle();
      },function(){
      $('#create_activity').toggle();
    });*/

  $('#page2-2').hide();

  $('#view_map_link2').hide();
  $('#end_date_add_link2').hide();

    $("#event_pic").click(function(){
      $('#event_pic').hide();
      $('#pic2').click();
      $('#imageCanvas2').show();
    });


    $(function() {
      return $('.events_with_autocomplete').autocomplete({
        minLength: 2,
        source: function(request, response) {
          return $.ajax({
            url: $('.events_with_autocomplete').data('autocompleteurl'),
            dataType: "json",
            data: {starts_at: "", ends_at: "",
              address: request.term, event: "<%= @event.to_json %>"
            },
            success: function(data) {
              return response(data);
            }
          });
        }
      });
    });

    $(function() {
      return $('.eventdetails_with_autocomplete').autocomplete({
        minLength: 2,
        source: function(request, response) {
          return $.ajax({
            url: "/events/search_user_group",
            dataType: "json",
            data: {starts_at: "", ends_at: "",
              location: request.term
            },
            success: function(data) {
              return response(data);
            }
          });
        }
      });
    });



});

$("#edit_event").click(function(){
      $('#modal2').modal('show');
    });
    $("#close2X").click(function(){
          $('#modal2').modal('hide');
        });

    $("#updEvent").click(function(){
          $('#modal2').modal('hide');
        });



      var imageLoader = document.getElementById('pic2');
    imageLoader.addEventListener('change', handleImage, false);
    $("#imageCanvas2").click(function(){
        $("#pic2").click();
    });
        var canvas = document.getElementById('imageCanvas2');
    var ctx = canvas.getContext('2d');
    ctx.font="30px Arial";
    ctx.fillText("Change picture",10,50);

  function handleImage(e){
    var canvas = document.getElementById('imageCanvas2');
    var ctx = canvas.getContext('2d');
    var iCnt=0;
    var files = e.target.files;
    canvas.width = 180;
    canvas.height = 155*(Math.ceil(files.length/4));
    for( var i = 0, len = files.length; i < len; i++) 
          {
          if(files[i])
            {
              var reader = new FileReader();
              reader.onload = function(event){
                var img = new Image();

                img.onload = function(){
                  var ratioPx = 150;
                  var sWidth =ratioPx;
                  var ratio = img.width/sWidth;
                  var sHeight = img.height/ratio;   
                    if(sHeight>ratioPx){
                       sHeight =ratioPx;
                       ratio = img.height/sHeight;
                       sWidth = img.width/ratio;  
                    }
                  ctx.drawImage(img, 155*(iCnt%4),155*(Math.floor(iCnt/4)),sWidth,sHeight);
                  //ctx.drawImage(img,0,0,sWidth,sHeight);
                  iCnt++;
                }
                img.src = event.target.result;
              }
              reader.readAsDataURL(e.target.files[i]);     
            }
          }
  }

var currentPage = 1;
var intervalID = -1000;
var insideLoop ="false"; 
 
function checkScroll_post() {
   if (nearBottomOfPage() && insideLoop!="true" ) {
    insideLoop ="true";
    currentPage++;
  $('#loading_page').show();
  if($('#activity_id').html() == null){
      clearInterval(intervalID);
      for (var i = 1; i < 99999; i++){
        window.clearInterval(i);
      }
      restartInterval();
      insideLoop = "false";
      return;
    }
    jQuery.ajax('/events/post_paginate?id='+$('#activity_id').html()+'&event_id=<%= @event.id %>&page=' + currentPage, {asynchronous:true, evalScripts:true, method:'get', success: function(data, textStatus, jqXHR) {
      $('#loading_page').hide();
    if($(data).find('#posts_one_div').html()==null || $(data).find('#posts_one_div').html() == '' ){
      clearInterval(intervalID);
      for (var i = 1; i < 99999; i++){
        window.clearInterval(i);
      }
      restartInterval();
    }else{
      $('.resources<%= @activity.id %>').append(data);
    }
    insideLoop = "false";
  },});
  }
}
 
function nearBottomOfPage() {
  return scrollDistanceFromBottom() < 150;
}
 
function scrollDistanceFromBottom(argument) {
  return pageHeight() - (window.pageYOffset + self.innerHeight);
}
 
function pageHeight() {
  return Math.max(document.body.scrollHeight, document.body.offsetHeight);
}
 
$('document').ready(function(){
  intervalID = setInterval(checkScroll_post, 250);
});


$('.pop_up').popover({
    html: true,
    trigger: 'manual',
    placement: 'left',
    delay: { hide: 500},
    template: ' <div class="popover"><div class="pop_div"><div class="arrow1" stlye="margin-right:10px;"></div><div class="popover-inner"  ><h3 class="popover-title" ></h3><div class="popover-content" ><p></p><br></div></div></div></div>'
});

  $(".pop_up").hover(function(){
      $(this).popover('show');        
  },function(){
      $(this).popover('hide');        
  });


</script>
