<% provide(:title, @event.title) %>
<% provide(:page_image, @event.photo.pic_url) %>
<% unless signed_in? %>
<% end %>
        <article class="panel overflow-hidden mb5">
            <header class="thumbnail">
            <div class="media wallpaper-container">
            <div class="image_overlay wallpaper">
            <div class="huge-title">
               <% unless @event.photo.nil? %>
                <%= link_to cl_image_tag(@event.photo.pic_url(:largest), class:"padding1",rel: "#{@event.id}", id:"#{@event.photo.id}") , @event.photo.pic_url, class: "fancybox-album albumLink roundCorner wallpaper-media wallpaper-image native", title: "#{@event.title}", remote: true %>
              <% end %>
              <h3 class="  meta bottom bottom-gardient ht55 mb0 animated color-white" data-wow-offset="80" data-wow-duration="3s" style="visibility: visible;-webkit-animation-duration: 3s; -moz-animation-duration: 3s; animation-duration: 3s;  text-shadow: 2px 2px #6A6A6A;"></h3>
               <h3 class="  meta bottom mb0 wow bounceInDown animated color-white" data-wow-offset="80" data-wow-duration="3s" style="visibility: visible;-webkit-animation-duration: 3s; -moz-animation-duration: 3s; animation-duration: 3s;  text-shadow: 2px 2px #6A6A6A;"><%= @event.title %></h3>
            </div>
            </div>
            </div>
            </header>
            <section class="panel-body pt5 pb0">
                <aside class="">
                    <%= render partial: "events/text_overlay", locals: {obj: @event} %>
                </aside>
          </section>
        </article>
        
        

    <div id="activity_span" class="">
     <!-- <h2 id="act_h"><span  class="pull-left"><strong>Event</strong></span></h2>
      <div id="event_link">    
          <li class="sidetabs sidetabs_selected">
                <h6><%= link_to  @event.title, @event, id: "act_#{@event.id}", remote: true %></h6>
          </li>
      </div>-->
      <!--<h2 id="act_h"><span  class="pull-left"><strong>Sub-event</strong></span>   </h2>-->
     
                                     <div id="btn_group_overlay" class="btn-group pull-right mb5">
                                        <button type="button" class="btn btn-sm btn-info btn-custom dropdown-toggle " data-toggle="dropdown" aria-expanded="false"> Sub-Event <span class="caret"></span></button>
                                        <ul class="dropdown-menu semibold-imp">
                                              <li class="">
                                                <% if @event.responded?(current_user) %>
                                                 <a id="create_activity" class="semibold " href="#" data-toggle="modal" data-target="#modal_create_activity">Create Sub-Event</a>
                                                <% end %>
                                              </li>
                                             <%= render @activities %>
                                        </ul>
                                    </div>
                                    <div id="back_to_event" class="hide pull-right mb5">
                                        <%= link_to "Back to Event",@event,class: "semibold btn btn-info btn-custom", remote: true %>
                                    </div>
      <!--<% if @event.responded?(current_user) %>
       <a id="create_activity" class="btn btn-sm btn-success pull-right mr10" href="#" data-toggle="modal" data-target="#modal_create_activity">Add Activity</a>
      <% end %>-->
    </div>
   
<div class="center loading_page hide" ><img src="/assets/loading.gif"></div>

<div class="">
<div id="event_list">
  <%= render partial: "events/event_links", locals: { event: @event, activity: @activity } %>
</div>
        <div id="show_event_div">
                             
            <%= render partial: "events/event_members", locals: { event: @event, activity: @activity, ad_users: @ad_users, inv_users: @inv_users } %>
        </div>
</div>


<%= form_for( [@event.activities.build], remote: true,  :html => {id: "create_activity_form"}) do |f| %>
  <div id="modal_create_activity" class="modal fade">
          <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">×</button>
              <span class="semi-bold font-15">Create Sub-event</span>
            </div>
              <%= f.hidden_field :event_id, value: @event.id %>
            <div class="modal-body">
              <div class="row">
          <div class="col-sm-offset-1">
               <%= render 'shared/error_messages', object: f.object %>
                <div class="center_block clearfix">
                  <%= f.label :title, class: "control-label ml15 pt15" %>
                  <div>
                  <div class="col-sm-9">
                    <%= f.text_field :title, :placeholder=>"Title",class: "form-control", 'data-validation' => "length",
                     'data-validation-length' =>"3-25", 'data-validation-error-msg' => "The Event name has to be a value between 3-25 characters" %></div>
                </div>
                </div>

                <div class="center_block clearfix">
                  <div class="control-label ml15 pt15">
                  <%= label_tag :starts_at %>
                  </div>
                  <div>
                  <a id="end_date_add_link_act" class="btn btn-success btn-sm mt3 icon add pull-right mr12-xs mr60-sm">End Date</a>
                  <div class="col-sm-9 col-xs-9">
                  <%= f.text_field :starts_at,class: "form-control", :placeholder => "Time", value: @event.starts_at  %>&nbsp;&nbsp;&nbsp;
                </div>
                </div>
                </div>
                
                <div class="center_block clearfix" id="end_date_act">
                  <div class="control-label ml15">
                  <%= label_tag :ends_at %>
                  </div>
                  <div>
                  <a id="end_date_remove_link_act" class="btn-danger btn-sm mt3 icon add pull-right mr12-xs mr60-sm icon prev">Remove</a>
                  <div class="col-sm-9 col-xs-9">
                    <%= f.text_field :ends_at,class: "form-control",  value: @event.ends_at  %>&nbsp;&nbsp;&nbsp;
                  </div>
                </div> 
                </div> 

                <div class="center_block clearfix">
                  <%= f.label :location,class: "control-label pl15" %>
                  <div>
                  <%= link_to "View map", '#', id: "view_map_link_act",  class: "btn-info btn-sm mt3 icon add pull-right mr12-xs mr60-sm icon prev" %>
                  <%= link_to "Hide map", '#', id: "hide_map_link_act",  class: "btn-danger btn-sm mt3 icon add pull-right mr12-xs mr60-sm icon prev" %>
                  <div class="col-sm-9 col-xs-9">
                  <%= f.text_field :address, :placeholder => :location, :size => 43, class: 'form-control events_with_autocomplete inherit_width', 'data-autocompleteUrl' => search_address_events_path , 'data-validation' => "length",
                 'data-validation-length' =>"3-250", 'data-validation-error-msg' => "The event address has to be a value between 3-250 characters", value: @event.address %>&nbsp;&nbsp;&nbsp;
                
                </div>
                  <div class="" id="view_map_act">
                  </div>
                </div>
                </div>
                
                <div class="center_block clearfix">
                  <%= f.label :description, class: "control-label ml15 pt15" %>
                  <div>
                    
                  <div class="col-sm-9">
                  <%= f.text_area :description, :placeholder=>"Description", class: ' inherit_width form-control', :title=>"Description", rows: 3, cols: 75, 'data-validation' => "length",
     'data-validation-length' =>"3-250", 'data-validation-error-msg' => "The event description has to be a value between 3-250 characters"  %> 
                </div>
                </div>
                  </div>
                  
                <div class="center_block clearfix">
                  <div class="control-label ml15 pt15">
                  <%= label_tag :privacy %>
                  </div>
                  <div class="col-sm-9">
                    <%= f.select :privacy, options_for_select([["Public", Privacyenum::PUBLIC], ["Private", Privacyenum::PRIVATE]]), {}, id: "activity_privacy_create" %>
                  </div>
                </div>
          </div>
        </div>   
           </div>
            <div class="modal-footer" >
              <%= f.submit "Create", class: "btn btn-success pull-right btn-custom", id: "create_activity_act" %>  
            </div>
          </div>
          
        </div>
        </div>
<% end %>
<script>
  
$('#activity_privacy_create').addClass('form-control');



    $('#hide_map_link_act').hide();
    
    $('#view_map_link_act').click(function(){
    var address = "/events/get_geo_coordinates?address="+$('#event_address').val();
     $.ajax({
      type: "GET",
      url: address,
      dataType: "script"
    });
    $('#view_map_link_act').hide();
    $('#hide_map_link_act').show();
   
});

    $('#hide_map_link_act').click(function(){
      $('#view_map_act').hide();
      $('#hide_map_link_act').hide();
      $('#view_map_link_act').show();
    });
  
  
  
  $('#end_date_act').hide();
    $('#end_date_add_link_act').click(function(){
      $('#end_date_act').show();
      $('#end_date_add_link_act').hide();
    });
    
    $('#end_date_remove_link_act').click(function(){
      $('#end_date_act').hide();
      $('#end_date_add_link_act').show();
    });
    


</script>

<script type="text/javascript">


$('#posts_events_li').click(function(){
  $('#posts_events_li').addClass('active');
  $('#activity_events_li').removeClass('active');
  $('#photos_events_li').removeClass('active');
  $('#posts_events').show();
  $('#activity_events').hide();
  $('#photos_events').hide();
});
$('#activity_events_li').click(function(){
  $('#posts_events_li').removeClass('active');
  $('#activity_events_li').addClass('active');
  $('#photos_events_li').removeClass('active');
  $('#posts_events').hide();
  $('#activity_events').show();
  $('#photos_events').hide();
});
$('#photos_events_li').click(function(){
  $('#posts_events_li').removeClass('active');
  $('#activity_events_li').removeClass('active');
  $('#photos_events_li').addClass('active');
  $('#posts_events').hide();
  $('#activity_events').hide();
  $('#photos_events').show();
});

/*     $('.tr-hover-btn').hover(function() {
       $(this).find('.button_toggle_pic').show();
       }, function() {
         $(this).find('.button_toggle_pic').hide();
    });*/




  $("#upload_pics").show();
  $('#activity_events').hide();
  $('#photos_events').hide();

  /*$('#end_date_act').hide();
  $('#view_map_link_act').hide();*/

 
  
  
 
  

 $(document).ready(function(){
                $.validate({
                  form : '#create_activity_form',
                  onSuccess : function() {
                    $('#create_activity_act').attr('data-loading-text', 'Creating...');
                    $('#create_activity_act').button('loading');
                  },
                });
                $('.loading_page').hide();
              });


                  /*$("#create_activity").click(function(){
                    $('#modal_create_activity').modal({
                      //keyboard: true,
                      backdrop: "static",
                    });
                  });
                  $("#closeX_create_activity").click(function(){
                        $('#modal_create_activity').modal('hide');
                      });
*/
                 
                  


});

    $(function() {
      /*return $('.events_with_autocomplete').autocomplete({
        minLength: 2,
        source: function(request, response) {
          return $.ajax({
            url: $('.events_with_autocomplete').data('autocompleteurl'),
            dataType: "json",
            data: {starts_at: "", ends_at: "",
              address: request.term, event: "<%= @event.to_json %>"
            },
            success: function(data) {
              return response(data);
            }
          });
        }
      });*/
    });

    



var startDateTextBox = $("#activity_starts_at");
var endDateTextBox = $("#activity_ends_at");


      startDateTextBox.datetimepicker({ 
        onClose: function(dateText, inst) {
          if (endDateTextBox.val() != '') {
            var testStartDate = startDateTextBox.datetimepicker('getDate');
            var testEndDate = endDateTextBox.datetimepicker('getDate');
            if (testStartDate > testEndDate)
              endDateTextBox.datetimepicker('setDate', testStartDate);
          }
          else {
            endDateTextBox.val(dateText);
          }
        },
        onSelect: function (selectedDateTime){
          endDateTextBox.datetimepicker('option', 'minDate', startDateTextBox.datetimepicker('getDate') );
        },
        dateFormat: "dd/mm/yy"
      });
      endDateTextBox.datetimepicker({ 
        onClose: function(dateText, inst) {
          if (startDateTextBox.val() != '') {
            var testStartDate = startDateTextBox.datetimepicker('getDate');
            var testEndDate = endDateTextBox.datetimepicker('getDate');
            if (testStartDate > testEndDate)
              startDateTextBox.datetimepicker('setDate', testEndDate);
          }
          else {
            startDateTextBox.val(dateText);
          }
        },
        onSelect: function (selectedDateTime){
          startDateTextBox.datetimepicker('option', 'maxDate', endDateTextBox.datetimepicker('getDate') );
        },
        dateFormat: "dd/mm/yy"
      });


/*
$('#activity_address').keydown(function(){
    $('#view_map_link').hide();
    $('#view_map_act').hide();
});

$('#view_map_link').click(function(){
    var address = "/events/get_geo_coordinates?address="+$('#activity_address').val();
    // $.get(address,"script");
     $.ajax({
      type: "GET",
      url: address,
      dataType: "script"
    }); 
});

$('a.ui-corner-all').on("click", function(){
  if($('#activity_address').val()!=""){
    $('#view_map_link').show();
  }else{
    $('#view_map_link').hide();
  }
});


$('#end_date_add_link').click(function(){
  $('#end_date').show();
  $('#end_date_add_link').hide();
});
$('#end_date_remove_link').click(function(){
  $('#end_date').hide();
  $('#end_date_add_link').show();
});
*/
  $(function() {
});
  $("#search_user").tokenInput("/events/<%= @event.id %>/search_selected_user", {
    crossDomain: false,
    prePopulate: $("#search_user").data("pre"),
    theme: "facebook",
        resultsFormatter: function(item){ return "<li>" + "<img src='" + item.profile_pic + "' title='" + item.name + "' height='30px' width='30px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name + " " + ""+ "</div><div class='email'>" + item.email + "</div></div></li>" },
        tokenFormatter: function(item) { return  "<li>" + "<img src='" + item.profile_pic + "' title='" + item.name + "' height='30px' width='30px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name +"</div></div></li>" },
        preventDuplicates: true ,
        zindex: 11001,
        hintText: "Type in a user name",
  });

  $(function() {
});
  $("#search_group").tokenInput("/events/<%= @event.id %>/search_selected_group", {
    crossDomain: false,
    prePopulate: $("#search_group").data("pre"),
    theme: "facebook",
        resultsFormatter: function(item){ return "<li>" + "<img src='" + item.profile_pic + "' title='" + item.name + "' height='30px' width='30px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name + " " + ""+ "</div><div class='email'>" + item.description + "</div></div></li>" },
        tokenFormatter: function(item) { return  "<li>" + "<img src='" + item.profile_pic + "' title='" + item.name + "' height='30px' width='30px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name +"</div></div></li>" },
        preventDuplicates: true ,
        zindex: 11001,
        hintText: "Type in a group name",
  });


  $( "#activity_privacy" ).change(function () {
    var str = "";
    $("#activity_privacy option:selected" ).each(function() {
      if($(this).text()=="Custom"){
        $("#page_crt_ac-2").show();
      }else{
        $("#page_crt_ac-2").hide();
      }
    });
  });

/*
  var imageLoader = document.getElementById('pic1');
    imageLoader.addEventListener('change', handleImage, false);
    $("#imageCanvas1").click(function(){
        $("#pic1").click();
    });
        
    var canvas = document.getElementById('imageCanvas1');
    var ctx = canvas.getContext('2d');
    ctx.font="30px Arial";
    ctx.fillText("Select photos",10,50);

  function handleImage(e){
    var canvas = document.getElementById('imageCanvas1');
    var ctx = canvas.getContext('2d');
    var iCnt=0;
    var files = e.target.files;
    canvas.width = 600;
    canvas.height = 155*(Math.ceil(files.length/4));
    for( var i = 0, len = files.length; i < len; i++) 
          {
          if(files[i])
            {
              var reader = new FileReader();
              reader.onload = function(event){
                var img = new Image();

                img.onload = function(){
                  var ratioPx = 150;
                  var sWidth =ratioPx;
                  var ratio = img.width/sWidth;
                  var sHeight = img.height/ratio;   
                    if(sHeight>ratioPx){
                       sHeight =ratioPx;
                       ratio = img.height/sHeight;
                       sWidth = img.width/ratio;  
                    }
                  ctx.drawImage(img, 155*(iCnt%4),155*(Math.floor(iCnt/4)),sWidth,sHeight);
                  //ctx.drawImage(img,0,0,sWidth,sHeight);
                  iCnt++;
                }
                img.src = event.target.result;
              }
              reader.readAsDataURL(e.target.files[i]);     
            }
          }
  }


  $("#upload_pics").click(function(){
      $('#modal1').modal('show');
    });
    $("#closeX").click(function(){
          $('#modal1').modal('hide');
        });

    $("#crtAlb").click(function(){
          $('#modal1').modal('hide');
        });

*/


//-------------edit event-------------------------


$('#prev2-1').click(function(){
    $( "#page2-1" ).animate({ width: '600px' }, 1000, function() {
                $(this).show();
             });
    $( "#page2-2" ).animate({ width: '0px' }, 1000, function() {
                $(this).hide();
             });

});
$('#next2-2').click(function(){
    $( "#page2-1" ).animate({ width: '0px' }, 1000, function() {
                $(this).hide();
             });
    $( "#page2-2" ).animate({ width: '600px' }, 1000, function() {
                $(this).show();
             });
});

/*$('#event_address').keydown(function(){
    $('#view_map_link2').hide();
    $('#view_map2').hide();
});

$('#view_map_link2').click(function(){
    var address = "/events/get_geo_coordinates?address="+$('#event_address').val();
    // $.get(address,"script");
     $.ajax({
      type: "GET",
      url: address,
      dataType: "script"
    }); 
});

$('a.ui-corner-all').on("click", function(){
  if($('#event_address').val()!=""){
    $('#view_map_link2').show();
  }else{
    $('#view_map_link2').hide();
  }
});


$('#end_date_add_link2').click(function(){
  $('#end_date2').show();
  $('#end_date_add_link2').hide();
});
$('#end_date_remove_link2').click(function(){
  $('#end_date2').hide();
  $('#end_date_add_link2').show();
});
*/
  $(function() {
  $("#search_user_evt").tokenInput("/events/search_auto_user", {
    crossDomain: false,
   // prePopulate: $(".eventdetails_with_autocomplete").data("pre"),
    theme: "facebook",
        resultsFormatter: function(item){ return "<li>" + "<img src='" + item.profile_pic + "' title='" + item.name + "' height='30px' width='30px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name + " " + ""+ "</div><div class='email'>" + item.email + "</div></div></li>" },
        tokenFormatter: function(item) { return  "<li>" + "<img src='" + item.profile_pic + "' title='" + item.name + "' height='30px' width='30px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name +"</div></div></li>" },
        preventDuplicates: true ,
        zindex: 11001,
        hintText: "Type in a user name",
  });
});

  $(function() {
  $("#search_group_evt").tokenInput("/events/search_auto_group", {
    crossDomain: false,
   // prePopulate: $(".eventdetails_with_autocomplete").data("pre"),
    theme: "facebook",
        resultsFormatter: function(item){ return "<li>" + "<img src='" + item.profile_pic + "' title='" + item.name + "' height='30px' width='30px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name + " " + ""+ "</div><div class='email'>" + item.description + "</div></div></li>" },
        tokenFormatter: function(item) { return  "<li>" + "<img src='" + item.profile_pic + "' title='" + item.name + "' height='30px' width='30px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name +"</div></div></li>" },
        preventDuplicates: true ,
        zindex: 11001,
        hintText: "Type in a group name",
  });
});

$(document).ready(function() {

});
/*    $('#create_activity').hide();
   
    $('#activity_span').hover(function(){
      $('#create_activity').toggle();
      },function(){
      $('#create_activity').toggle();
    });*/

  $('#page2-2').hide();

  /*$('#view_map_link2').hide();
  $('#end_date_add_link2').hide();*/

    $("#event_pic").click(function(){
      $('#event_pic').hide();
      $('#pic2').click();
      $('#imageCanvas_event').show();
    });


     /*
    $(function() {
     return $('.events_with_autocomplete').autocomplete({
        minLength: 2,
        source: function(request, response) {
          return $.ajax({
            url: $('.events_with_autocomplete').data('autocompleteurl'),
            dataType: "json",
            data: {starts_at: "", ends_at: "",
              address: request.term, event: "<%= @event.to_json %>"
            },
            success: function(data) {
              return response(data);
            }
          });
        }
      });
    });
      */

      return $('.eventdetails_with_autocomplete').autocomplete({
        minLength: 2,
        source: function(request, response) {
          return $.ajax({
            url: "/events/search_user_group",
            dataType: "json",
            data: {starts_at: "", ends_at: "",
              location: request.term
            },
            success: function(data) {
              return response(data);
            }
          });
        }
      });
    $(function() {
    });




$(document).ready(function(){
});
  /*$('#modal_create_activity').modal('hide');
   $('.modal-backdrop').remove();*/
  $.validate({
    form : "#update_event_form",
    onSuccess : function() {
      $('#update_event').attr('data-loading-text', 'Updating...');
      $('#update_event').button('loading');
    },
  });
  $('.loading_page').hide();
/*
  $('#end_date_event').hide();

  $('#view_map_link_event').hide();*/


                 /* $('#end_date_add_link_event').click(function(){
                    $('#end_date_event').show();
                    $('#end_date_add_link_event').hide();
                  });
                  $('#end_date_remove_link_event').click(function(){
                    $('#end_date_event').hide();
                    $('#end_date_add_link_event').show();
                  });*/



$("#edit_event").click(function(){
      /*$('#modal_edit_event').modal({
        backdrop: "static"*/
      });
   /* $("#closeX_edit_event").click(function(){
          $('#modal_edit_event').modal('hide');
        });*/

    $("#update_event").click(function(){
      $('.loading_page').show();
        });

    $("#event_edit_pic").click(function(){
      $('#pic2').click();
    });

var imageLoader = document.getElementById('pic2');
imageLoader.addEventListener('change', handleImage, false);
$("#imageCanvas_event").click(function(){
  $("#pic2").click();
});
var canvas = document.getElementById('imageCanvas_event');
var ctx = canvas.getContext('2d');
ctx.font="30px Arial";
ctx.fillText("Change picture",10,50);

function handleImage(e){
  var canvas = document.getElementById('imageCanvas_event');
  var ctx = canvas.getContext('2d');
  var iCnt=0;
  var files = e.target.files;
  canvas.width = 180;
  canvas.height = 155*(Math.ceil(files.length/4));
     if(files.length<1){
      $('#pic2').val('');
      $('#event_edit_pic').show();
      $('#imageCanvas_event').hide();
      return;
    }
  for( var i = 0, len = files.length; i < len; i++) 
  {
          $('#event_edit_pic').hide();
          $('#imageCanvas_event').show();
    if(files[i])
    {
      var reader = new FileReader();
      reader.onload = function(event){
        var img = new Image();

        img.onload = function(){
          var ratioPx = 150;
          var sWidth =ratioPx;
          var ratio = img.width/sWidth;
          var sHeight = img.height/ratio;   
          if(sHeight>ratioPx){
           sHeight =ratioPx;
           ratio = img.height/sHeight;
           sWidth = img.width/ratio;  
         }
         ctx.drawImage(img, 155*(iCnt%4),155*(Math.floor(iCnt/4)),sWidth,sHeight);
                  //ctx.drawImage(img,0,0,sWidth,sHeight);
                  iCnt++;
                }
                img.src = event.target.result;
              }
              reader.readAsDataURL(e.target.files[i]);     
            }
          }
        }




var currentPage = 1;
var intervalID = -1000;
var insideLoop ="false"; 
 
function checkScroll_post() {
   if (nearBottomOfPage() && insideLoop!="true" ) {
    insideLoop ="true";
    currentPage++;
  $('#loading_page').show();
  if($('#activity_id').html() == null){
      clearInterval(intervalID);
      for (var i = 1; i < 99999; i++){
        window.clearInterval(i);
      }
      restartInterval();
      insideLoop = "false";
      return;
    }
    jQuery.ajax('/events/post_paginate?id='+$('#activity_id').html()+'&event_id=<%= @event.id %>&page=' + currentPage, {asynchronous:true, evalScripts:true, method:'get', success: function(data, textStatus, jqXHR) {
      $('#loading_page').hide();
    if($(data).find('.posts_one_div').html()==null || $(data).find('.posts_one_div').html() == '' ){
      clearInterval(intervalID);
      for (var i = 1; i < 99999; i++){
        window.clearInterval(i);
      }
      restartInterval();
    }else{
      $('.resources<%= @activity.id %>').append(data);
    }
    insideLoop = "false";
  },});
  }
}
 
function nearBottomOfPage() {
  return scrollDistanceFromBottom() < 150;
}
 
function scrollDistanceFromBottom(argument) {
  return pageHeight() - (window.pageYOffset + self.innerHeight);
}
 
function pageHeight() {
  return Math.max(document.body.scrollHeight, document.body.offsetHeight);
}
 
$('document').ready(function(){
  intervalID = setInterval(checkScroll_post, 250);
});

/*
$('.pop_up').popover({
    html: true,
    trigger: 'manual',
    placement: 'left',
    delay: { hide: 500},
    template: ' <div class="popover"><div class="pop_div"><div class="arrow1" stlye="margin-right:10px;"></div><div class="popover-inner"  ><h3 class="popover-title" ></h3><div class="popover-content" ><p></p><br></div></div></div></div>'
});

  $(".pop_up").hover(function(){
      $(this).popover('show');        
  },function(){
      $(this).popover('hide');        
  });
*/

var startDateTextBox = $("#event_starts_at");
      var endDateTextBox = $("#event_ends_at");

      startDateTextBox.datetimepicker({ 
        onClose: function(dateText, inst) {
          if (endDateTextBox.val() != '') {
            var testStartDate = startDateTextBox.datetimepicker('getDate');
            var testEndDate = endDateTextBox.datetimepicker('getDate');
            if (testStartDate > testEndDate)
              endDateTextBox.datetimepicker('setDate', testStartDate);
          }
          else {
            endDateTextBox.val(dateText);
          }
        },
        onSelect: function (selectedDateTime){
          endDateTextBox.datetimepicker('option', 'minDate', startDateTextBox.datetimepicker('getDate') );
        },
        dateFormat: "dd/mm/yy"
      });
      endDateTextBox.datetimepicker({ 
        onClose: function(dateText, inst) {
          if (startDateTextBox.val() != '') {
            var testStartDate = startDateTextBox.datetimepicker('getDate');
            var testEndDate = endDateTextBox.datetimepicker('getDate');
            if (testStartDate > testEndDate)
              startDateTextBox.datetimepicker('setDate', testEndDate);
          }
          else {
            startDateTextBox.val(dateText);
          }
        },
        onSelect: function (selectedDateTime){
          startDateTextBox.datetimepicker('option', 'maxDate', endDateTextBox.datetimepicker('getDate') );
        },
        dateFormat: "dd/mm/yy"
      });

</script>
