<% provide(:title, 'Edit event') %>
<table class="container_full" width="1200px">
	<tr>
		<td colspan="6" >
			<h1>Edit event</h1>
		</td>
	</tr>
<tr>
	<td class="span6">
		<div  >
			<h2>Invited Users / Groups</h2>
			  <span id="table1_inv_gp_sel" >
			    <div >
			    </div>
			  </span> 
			<%= render 'invite_groups'%>
			<%= render 'invite_users'%>
	  	</div>
	</td>
	<td class="span1 clear-float"></td>
	<td class="span8 offset1 ">

		
		<div class="">
		      <%= form_for(@event, remote: true) do |f| %>
		    	 <%= render 'shared/error_messages', object: f.object %>
		   	<div class="span8 offset1 ">
		      <div class="center_block clearfix">
                  <%= f.label :title %>
                  <div class="input">
                  <%= f.text_field :title %></div>
                </div>

                <div class="center_block clearfix">
                  <%= f.label :description %>
                  <div class="input">
                  <%= f.text_field :description %></div>
                </div>

                <div class="center_block clearfix">
                  <%= f.label :location %>
                  <div class="input">
                  <%= f.text_field :location %></div>
                </div>

                <div class="center_block clearfix">
                   <%= label_tag :all_day %>
                  <div class="input">
                  <%= f.check_box :all_day %></div>
                </div>
                <div class="center_block clearfix">
                  <%= label_tag :privacy %>
                  <div class="input">
                  <%= f.check_box :privacy %></div>
                </div> 

                  <div class="center_block clearfix">
                  <%= label_tag :starts_at %>
                  <div class="input">
                  <%= f.text_field :starts_at %></div>
                </div>

                <div class="center_block clearfix">
                  <%= label_tag :ends_at %>
                  <div class="input">
                  <%= f.text_field :ends_at %></div>
                </div> 
                <%= f.submit "Update my event", class: "btn primary pull-right" %>
               </div>     
		  	  </div>

		  	   <div style="display: none">
		          <% @invite_groups.each do |group| %>
		          <%= check_box_tag "invite_groups[#{group.id}]", group.id %>
		          <%= check_box_tag "editor_groups[#{group.id}]", group.id %>
		        <% end %>
			        <% @invite_users.each do |user| %>
			          <%= check_box_tag "invite_users[#{user.id}]", user.id %>
			          <%= check_box_tag "editor_users[#{user.id}]", user.id %>
			        <% end %>
		      </div>			  	  

		      
		    <% end %>
		 		</div>
	</td>
	<td class="span1"></td>
    	<td class="span6">
		<div  >
			<h2>Editors</h2>
			  <span id="table1_edit_gp_sel" >
			    <div >
			    </div>
			  </span> 
			<%= render 'editor_groups'%>
			<%= render 'editor_users'%>
	  	</div>
	</td>

</tr>
</table>
<script type="text/javascript">

var startDateTextBox = $("#event_starts_at");
var endDateTextBox = $("#event_ends_at");

startDateTextBox.datetimepicker({ 
	onClose: function(dateText, inst) {
		if (endDateTextBox.val() != '') {
			var testStartDate = startDateTextBox.datetimepicker('getDate');
			var testEndDate = endDateTextBox.datetimepicker('getDate');
			if (testStartDate > testEndDate)
				endDateTextBox.datetimepicker('setDate', testStartDate);
		}
		else {
			endDateTextBox.val(dateText);
		}
	},
	onSelect: function (selectedDateTime){
		endDateTextBox.datetimepicker('option', 'minDate', startDateTextBox.datetimepicker('getDate') );
	}
});
endDateTextBox.datetimepicker({ 
	onClose: function(dateText, inst) {
		if (startDateTextBox.val() != '') {
			var testStartDate = startDateTextBox.datetimepicker('getDate');
			var testEndDate = endDateTextBox.datetimepicker('getDate');
			if (testStartDate > testEndDate)
				startDateTextBox.datetimepicker('setDate', testEndDate);
		}
		else {
			startDateTextBox.val(dateText);
		}
	},
	onSelect: function (selectedDateTime){
		startDateTextBox.datetimepicker('option', 'maxDate', endDateTextBox.datetimepicker('getDate') );
	}
});
</script>

<% @event.invited_groups.each do |group| %>
<script type="text/javascript">
$("#gp_"+<%= group.id %>).click();
</script>
<% end %>
<% @event.editor_groups.each do |group| %>
<script type="text/javascript">
$("#ed_gp_"+<%= group.id %>).click();
</script>
<% end %>
<% @event.invited_users.each do |user| %>
<script type="text/javascript">
$("#usr_"+<%= user.id %>).click();
</script>
<% end %>
<% @event.editor_users.each do |user| %>
<script type="text/javascript">
$("#ed_usr_"+<%= user.id %>).click();
</script>
<% end %>