<% provide(:title, 'Events') %>
<h1>Events</h1>
<%= link_to "List view", '#', id: "list_view",  class: "btn primary pull-right marginRight15" %>
<%= link_to "FullCalendar view", '#', id: "fullCalendar_view",  class: "btn primary pull-right marginRight15" %>
<br>	
<br>
<br>
<div id="event_list">

<h3>List view</h3>
<%= will_paginate @events %>

<ul class="users">
  <%= render @events %>
</ul>

<%= will_paginate @events %>
<br>
<br>
</div>
<div id='calendar_upper' class="marginRight15">
<h3 id="h3Cal">Calendar view</h3><br>
	<div id='calendar_events'></div></div>


<script type="text/javascript">
$(document).ready(function() {
	$('#list_view').click(function(){
		$('#event_list').show();
		$('#calendar_upper').hide();
		$('#fullCalendar_view').show();
		$('#list_view').hide();
		$('#calendar_events').hide();
		$('#h3Cal').hide();
	});

		//$('#calendar').fullCalendar('today');
		//$('#list_view').click();
		$('#event_list').show();
		//
		$('#fullCalendar_view').show();
		$('#list_view').hide();
    // page is now ready, initialize the calendar...

   // $('#calendar').fullCalendar({
        // put your options and callbacks here
   // });
		
});

	$('#fullCalendar_view').click(function(){
		$('#event_list').hide();
		$('#calendar_upper').show();
		$('#fullCalendar_view').hide();
		$('#list_view').show();
		$('#calendar_events').show();
		$('#h3Cal').show();
	});


  $(document).ready(function(){
      // page is now ready, initialize the calendar...
      $('#calendar_events').fullCalendar({
          editable: true,
          header: {
              left: 'prev,next today',
              center: 'title',
              right: 'month,agendaWeek,agendaDay'
          },
          defaultView: 'month',
          height: 500,
          slotMinutes: 15,
          loading: function(bool){
              if (bool)
                  $('#loading').show();
              else
                  $('#loading').hide();
          },
          events: "/events",
          timeFormat: 'h:mm t{ - h:mm t} ',
          dragOpacity: "0.5",
          eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc){
// if (confirm("Are you sure about this change?")) {
                  moveEvent(event, dayDelta, minuteDelta, allDay);
// }
// else {
// revertFunc();
// }
          },
          
          eventResize: function(event, dayDelta, minuteDelta, revertFunc){
// if (confirm("Are you sure about this change?")) {
                  resizeEvent(event, dayDelta, minuteDelta);
// }
// else {
// revertFunc();
// }
          },
          
          eventClick: function(event, jsEvent, view){
              showEventDetails(event);
          },
      
      
      
      
      });
		$('#calendar_events').hide();
		$('#h3Cal').hide();
  });

  /*
var updateEvent;

$(document).ready(function() {
  return $('#calendar_events').fullCalendar({
    editable: true,
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,agendaWeek,agendaDay'
    },
    defaultView: 'month',
    height: 500,
    slotMinutes: 30,
    eventSources: [
      {
        url: '/events'
      }
    ],
    timeFormat: 'h:mm t{ - h:mm t} ',
    dragOpacity: "0.5",
    eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc) {
      return updateEvent(event);
    },
    eventResize: function(event, dayDelta, minuteDelta, revertFunc) {
      return updateEvent(event);
    }
  });
  		$('#calendar_events').hide();
		$('#h3Cal').hide();
});

updateEvent = function(the_event) {
  return $.update("/events/" + the_event.id, {
    event: {
      title: the_event.title,
      starts_at: "" + the_event.start,
      ends_at: "" + the_event.end,
      description: the_event.description
    }
  });

};*/

</script>