<% provide(:title, 'Create event') %>
<table class="container_full" width="1200px">
	<tr>
		<td colspan="6" >
			<h1 >Create event</h1>
		</td>
	</tr>
<tr>
	<td class="span6">
		<div  >
			<h2>Invited users</h2>
			  <span id="table1_inv_gp_sel" >
			    <div >
			    </div>
			  </span> 
			<%= render 'invite_groups'%>
			<%= render 'invite_users'%>
	  	</div>
	</td>
	<td class="span1 clear-float"></td>
	<td>

		
		<div class="">
		      <%= form_for(@event) do |f| %>
		    	 <%= render 'shared/error_messages', object: f.object %>
		      <%= f.label :title %>
		      <%= f.text_field :title %>

		      <%= f.label :description %>
		      <%= f.text_field :description %>

		      <%= f.label :location %>
		      <%= f.text_field :location %>
		      
		      <%= f.check_box :all_day %>
		      <%= label_tag :all_day %>

		      <%= f.check_box :privacy %>
		      <%= label_tag :privacy %>
		      <div class="span3 overrideClass"	>
		      <%= label_tag :starts_at %>
		      <%= f.text_field :starts_at%>
		      <%= label_tag :ends_at %>
		      <%= f.text_field :ends_at %>
		  	  </div>

		  	   <div style="display:none">
		          <% @invite_groups.each do |group| %>
		          <%= check_box_tag "invite_groups[#{group.id}]", group.id %>
		          <%= check_box_tag "editor_groups[#{group.id}]", group.id %>
		        <% end %>
			        <% @invite_users.each do |user| %>
			          <%= check_box_tag "invite_users[#{user.id}]", user.id %>
			          <%= check_box_tag "editor_users[#{user.id}]", user.id %>
			        <% end %>
		      </div>	
		  	  
		  	  

		      <%= f.submit "Create my event", class: "btn primary" %>
		    <% end %>
		 		</div>
	</td>
	<td class="span1"></td>
	<td>
    	<td class="span6">
		<div  >
			<h2>Editors</h2>
			  <span id="table1_edit_gp_sel" >
			    <div >
			    </div>
			  </span> 
			<%= render 'editor_groups'%>
			<%= render 'editor_users'%>
	  	</div>
	</td>

</tr>
</table>
<script type="text/javascript">

var startDateTextBox = $("#event_starts_at");
var endDateTextBox = $("#event_ends_at");

startDateTextBox.datetimepicker({ 
	onClose: function(dateText, inst) {
		if (endDateTextBox.val() != '') {
			var testStartDate = startDateTextBox.datetimepicker('getDate');
			var testEndDate = endDateTextBox.datetimepicker('getDate');
			if (testStartDate > testEndDate)
				endDateTextBox.datetimepicker('setDate', testStartDate);
		}
		else {
			endDateTextBox.val(dateText);
		}
	},
	onSelect: function (selectedDateTime){
		endDateTextBox.datetimepicker('option', 'minDate', startDateTextBox.datetimepicker('getDate') );
	}
});
endDateTextBox.datetimepicker({ 
	onClose: function(dateText, inst) {
		if (startDateTextBox.val() != '') {
			var testStartDate = startDateTextBox.datetimepicker('getDate');
			var testEndDate = endDateTextBox.datetimepicker('getDate');
			if (testStartDate > testEndDate)
				startDateTextBox.datetimepicker('setDate', testEndDate);
		}
		else {
			startDateTextBox.val(dateText);
		}
	},
	onSelect: function (selectedDateTime){
		startDateTextBox.datetimepicker('option', 'maxDate', endDateTextBox.datetimepicker('getDate') );
	}
});
</script>