<% provide(:title, @event.title) %>

<div class="row">
  <aside class="span6">
    <section>
      <%=  cl_image_tag(@event.photo.pic_url(:thumb), class:" thumbnail", id:"#{@event.photo.id}") %>
      <h4>
        <%= @event.title %>
      </h4>
      <small><%= @event.description %></small>
    </section>
    
      <%= render partial: 'shared/event_stats', locals: {ad_users: @ad_users, inv_users: @inv_users, ad_groups: @ad_groups, inv_groups: @inv_groups} %>
   </aside>
   <aside id="right" style="float: right;width:220px;">
        <%= image_tag "http://maps.google.com/maps/api/staticmap?size=400x200&sensor=true&zoom=15&markers=#{@event.latitude}%2C#{@event.longitude}" %>
    </aside>
<div id="event_list" class="span14">
	<ul class="tabs">
	  <li class="active" id="posts_events_li"><a ><h4>Timeline</h4></a></li>
	  <li id="activity_events_li"><a ><h4>Activities</h4></a></li>
	  <li id="photos_events_li"><a ><h4>Photos</h4></a></li>
	</ul>

	<div id="posts_events">  
		<h3>Timeline</h3>
			<ul class="users" id="posts_events_ul" >
			</ul>
		<br>
	</div>
	<div id="activity_events">  
		<h3>Activity</h3>
			<ul class="users" id="activity_events_ul" >
			</ul>
		<br>
	</div>
	<div id="photos_events">  
		<h3>Photos</h3>
			<ul class="users" id="photos_events_ul" >
			</ul>
		<br>
	</div>

</div>

<script type="text/javascript">
$('#posts_events_li').click(function(){
  $('#posts_events_li').addClass('active');
  $('#activity_events_li').removeClass('active');
  $('#photos_events_li').removeClass('active');
  $('#posts_events').show();
  $('#activity_events').hide();
  $('#photos_events').hide();
});
$('#activity_events_li').click(function(){
  $('#posts_events_li').removeClass('active');
  $('#activity_events_li').addClass('active');
  $('#photos_events_li').removeClass('active');
  $('#posts_events').hide();
  $('#activity_events').show();
  $('#photos_events').hide();
});
$('#photos_events_li').click(function(){
  $('#posts_events_li').removeClass('active');
  $('#activity_events_li').removeClass('active');
  $('#photos_events_li').addClass('active');
  $('#posts_events').hide();
  $('#activity_events').hide();
  $('#photos_events').show();
});


$(document).ready(function(){
	$('#activity_events').hide();
  	$('#photos_events').hide();
});
</script>