<%= link_to "Create issue", '#', id: "create_issue_link",  class: " pull-right uibutton icon edit", style: "margin-right:15px;",:title => "Create issue" %>
<div>
<br>
<br>
<br>
</div>
<aside class="well span5" style="margin:0px;">
<h4>Quick Filter</h4>
	<section>

	<%= form_tag '/issue_trackers/quick_filter', :method => :post, :remote => true do %>

	<div  class="span4" style="padding:5px;" >
			<h4>Issue Type:
				<span style="overflow: hidden;font-size:small">
					<%= select_tag "issue_type", options_for_select([["Bug", "Bug"], ["Improvement", "Improvement"], ["New feature", "New feature"], ["Task", "Task"], ["Sub-task", "Sub-task"]]),  multiple: true, class: "span4 quick_filter", id: "issue_type_search", size: "5", style: "width:110%;" %>
				</span> 
			</h4>
			
		</div>

		<div class="span4" style="border-top:1px solid #aaa; padding:5px;">
			<h4>Module:
				<span style="overflow: hidden;font-size:small">
					<%= select_tag :module, options_for_select([["Home", "Home"], ["Community", "ComUnity"], ["Users", "Users"], ["Events", "Events"], ["Photos", "Photos"], ["Groups", "Groups"], ["Notifications", "Notifications"], ["Issues Tracker", "Issues tracker"]]),  multiple: true, class: "span4 quick_filter", style: "width:110%;", id: "issue_module_search", size: "8" %>
				</span> 
			</h4>
		</div>
		<div class="span4" style="border-top:1px solid #aaa;padding:5px;">
			<h4>Priority:
				<span style="overflow: hidden;font-size:small">
					<%= select_tag :priority, options_for_select([["Critical", "Critical"], ["High", "High"], ["Medium", "Medium"], ["Low", "Low"]]),  multiple: true, class: "span4 quick_filter", style: "width:110%;", id: "issue_priority_search", size: "4" %>
				</span> 
			</h4>
		</div>
		<div class="span4" style="border-top:1px solid #aaa;padding:5px;">
			<h4>Severity :
				<span style="overflow: hidden;font-size:small">
					<%= select_tag :severity, options_for_select([["Critical", "Critical"], ["High", "High"], ["Medium", "Medium"], ["Low", "Low"]]),  multiple: true, class: "span4 quick_filter", style: "width:110%;", id: "issue_severity_search", size: "4" %>
				</span> 
			</h4>
		</div>
		<div class="span4" style="border-top:1px solid #aaa;padding:5px;">
			<h4>Status :
				<span style="overflow: hidden;font-size:small">
					<%= select_tag :status, options_from_collection_for_select(@ticket_actions, "description", "description"),  multiple: true, class: "span4 quick_filter", style: "width:110%;", id: "ticket_action_id_search", size: "7" %>
				</span> 
			</h4>
		</div>
		<div class="active_hide">
			<%= submit_tag "Search", class: "uibutton pull-right ", id: "search_submit" %>  
		</div>
		<% end %>
	</section>
</aside>
<div id="quick_filter" class="span20">
	<%=render 'issue_trackers/table' %>
</div>


<%= form_for( @issue, remote: true,  :html => {:multipart => true}) do |f| %>
  <div id="modal_issue" class="modal_issue" style="display:none" >
          <div id="modal-from-dom" class="modal hide fade in" style="display: block;width:700px;">
            <div class="modal-header">
              <a href="#" id="close_issue" class="close">×</a>
              <h3>Create issue</h3>
            </div>
            <div class="modal-body" style="max-height:430px;">
              <div class="row">
		          <div class="span14 ui-front">
		               <%= render 'shared/error_messages', object: f.object %>
		               <div class="center_block clearfix">
		                  <%= f.label :title %>
		                  	<div class="input">
             					<%= f.text_area :title, :placeholder=>"Title", class: ' inherit_width', :title => "Title", rows: 2, cols: 75, 'data-validation' => "required", 'data-validation-error-msg' => "Title can't be blank"   %> 
		              		</div>
		                </div>
		                <div class="center_block clearfix">
		                  <%= f.label :description %>
		                  	<div class="input">
             					<%= f.text_area :description, :placeholder=>"Description", class: ' inherit_width', :title => "Description", rows: 3, cols: 75  %> 
		              		</div>
		                </div>
		                <div class="center_block clearfix">
		                  <%= f.label :issue_type %>
		                  	<div class="input">
		                  		<%= f.select :issue_type, options_for_select([["Bug", "Bug"], ["Improvement", "Improvement"], ["New feature", "New feature"], ["Task", "Task"], ["Sub-task", "Sub-task"]], f.object.issue_type), {}, id: "issue_type" %>
		              		</div>
		                </div>
		                <div class="center_block clearfix">
		                  <%= f.label :module %>
		                  	<div class="input">
		                  		<%= f.select :module, options_for_select([["Home", "Home"], ["Community", "ComUnity"], ["Users", "Users"], ["Events", "Events"], ["Photos", "Photos"], ["Groups", "Groups"], ["Notifications", "Notifications"], ["Issues Tracker", "Issues tracker"]], f.object.module), {}, id: "issue_module" %>
		              		</div>
		                </div>
		                <div class="center_block clearfix">
		                  <%= f.label :priority %>
		                  	<div class="input">
		                  		<%= f.select :priority, options_for_select([["Critical", "Critical"], ["High", "High"], ["Medium", "Medium"], ["Low", "Low"]], f.object.priority), {}, id: "issue_priority" %>
		              		</div>
		                </div>
		                <div class="center_block clearfix">
		                  <%= f.label :severity %>
		                  	<div class="input">
		                  		<%= f.select :severity, options_for_select([["Critical", "Critical"], ["High", "High"], ["Medium", "Medium"], ["Low", "Low"]], f.object.severity), {}, id: "issue_severity" %>
		              		</div>
		                </div>
		                <div class="center_block clearfix">
		                  <%= f.label :version %>
		                  	<div class="input">
		                  		<%= f.text_field :version, :placeholder=>"Version", value: "0.1" %>
		              		</div>
		                </div>
		                <div class="center_block clearfix">
		                  <%= f.label :impact %>
		                  	<div class="input">
              					<%= f.text_area :impact, :placeholder=>"Impact", class: ' inherit_width', :title => "Impact", rows: 3, cols: 75  %> 
		              		</div>
		                </div>
		                <div class="center_block clearfix">
		                  <%= f.label :author %>
		                  	<div class="input">
              					<%= text_field_tag current_user.name, nil, value: current_user.name, class: 'disabled', disabled: true %> 
		              		</div>
		                </div>
			          <%= f.fields_for :issue_ticket_actions, IssueTicketAction.new do |ff| %>
			               <div class="center_block clearfix">
			                  <%= ff.label :ticket_action_id, "Status" %>
			                  <div class="input">
			                  <%= ff.select(:ticket_action_id, TicketAction.all.collect {|a| [a.description, a.id]}) %>
			                  </div>
			                  
			               </div>
			               <%= ff.hidden_field :user_id, :value => current_user.id %>
			          	
			               <div class="center_block clearfix">
			                  <%= ff.label :comment, "Comments" %>
			                  <div class="input">
              					<%= ff.text_area :comment, :placeholder=>"Comment", class: ' inherit_width', :title => "Comment", rows: 3, cols: 75  %> 
			                  </div>
			               </div>

			                <div class="center_block clearfix">
						            <%= label_tag "Add picture:" %>
						            <%= fields_for :photos, Photo.new, :child_index => 'NEW_RECORD' do |photo_form| %>
						            	<%= photo_form.file_field :pic, id: "pic", :multiple => true, style: "width:1px; height:1px; padding:0px;  left:0px;" %>  
						            <% end %>
						            <div class="input">
						              <canvas id="imageCanvas" style = "border: 1px solid #ddd; padding:5px; align:center; width:500px;cursor:pointer" >select new image</canvas>
						            </div>
						        </div>


			          <% end %>

			        </div> 	  
          	 </div>
           </div>
            <div class="modal-footer" >
              <%= f.submit "Create", class: "btn primary pull-right ", id: "create_issue_submit" %> 
                    <%= f.submit "", :class => 'active_hide reset_form', :type => 'reset' %> 
 
            </div>
          </div>          
        </div>
<% end %>
<script type="text/javascript">

    $("#create_issue_link").click(function(){
       $('.modal_issue').modal({
    //  keyboard: true,
     //	 backdrop: "static"
    	});
    });
    $("#close_issue").click(function(){
          $('.modal_issue').modal('hide');
            $('.reset_form').click();
     });


var imageLoader = document.getElementById('pic');
imageLoader.addEventListener('change', handleImage, false);
$("#imageCanvas").click(function(){
  $("#pic").click();
});
var canvas = document.getElementById('imageCanvas');
var ctx = canvas.getContext('2d');
ctx.font="30px Arial";
ctx.fillText("Add picture",10,50);

function handleImage(e){
  var canvas = document.getElementById('imageCanvas');
  var ctx = canvas.getContext('2d');
  var iCnt=0;
  var files = e.target.files;
  canvas.width = 180;
  canvas.height = 155*(Math.ceil(files.length/4));
  for( var i = 0, len = files.length; i < len; i++) 
  {
    if(files[i])
    {
      var reader = new FileReader();
      reader.onload = function(event){
        var img = new Image();

        img.onload = function(){
          var ratioPx = 150;
          var sWidth =ratioPx;
          var ratio = img.width/sWidth;
          var sHeight = img.height/ratio;   
          if(sHeight>ratioPx){
           sHeight =ratioPx;
           ratio = img.height/sHeight;
           sWidth = img.width/ratio;  
         }
         ctx.drawImage(img, 155*(iCnt%4),155*(Math.floor(iCnt/4)),sWidth,sHeight);
                  //ctx.drawImage(img,0,0,sWidth,sHeight);
                  iCnt++;
                }
                img.src = event.target.result;
              }
              reader.readAsDataURL(e.target.files[i]);     
            }
          }
        }

$(".quick_filter").click(function(){
	$("#search_submit").click();
});


$(document).ready(function(){
  $.validate({
//    validateOnBlur : false,
    onSuccess : function() {
      $('#create_issue_submit').attr('data-loading-text', 'Creating...');
      $('#create_issue_submit').button('loading');
    },
  });
});

</script>