<% @posts.each do |post| %>

      <table id="table_<%= post.id %>">
      <tr>
        <td width="70px" style="padding:2px;">
      <div class="pull-left paginate_do">
        <section class="grid">
          <li>
            <a href="/users/<%=post.user.id %>/" data-remote="true" style="cursor:pointer;border:0px;padding:0px;" class="pop_up" rel="popover" data-content='<%= gravatar_for post.user, size: 100 %>' data-original-title="<%= post.user.name %>" >
                    <%= gravatar_for post.user, size: 50 %>
            </a>
          </li>
        </section>
      </div>
      </td>
      <td style="padding:0px;" class="post_grid">
        <div class="container_pics" >
         <% post.photos.each do |photo| %>
            <li style="border-top: 0px;">
            <div  class="img_zoom" >
            <a href="<%= photo.pic_url %>" rel="rettyPhoto[<%= post.id %>]" class="lightview" data-lightview-group="thumbnail-<%= post.id %>" data-lightview-group-options="controls: 'thumbnails'">
            <%= cl_image_tag(photo.pic_url(:medium_large), class:"image_al_c")  %></a> 
          </div>
          </li>
          <% break %>
        <% end %>
        </div>
        <div style="background-color:#f0f0f0;padding:5px;margin:4px 0px;">
        
        <p class="pull-right">
          <span class="timestamp" >
            Posted <%= time_ago_in_words(post.created_at) %> ago.
          </span>
        <% if current_user?(post.user) %>
          <%= link_to "delete", "/buysell/#{post.id}/delete_item", method: :post, remote: true,
                                           data: { confirm: "You sure?" },
                                           title: post.content %>&nbsp;&nbsp;&nbsp;<a class="pull-right disabled uibutton edit_buysell_link" id="edit_buysell_<%= post.id%>">Edit</a>
        <% end %>
        </p><br>
        <div>
          <%= label_tag "Name: " , nil, class: " pull-left" %><span style="line-height: 2.3em;">&nbsp;&nbsp;<%= post.postable.name %><span><br>
        </div>
        <div class="more_details">
          <%= label_tag "Description: ", nil, class: "pull-left" %><span style="line-height: 2.3em;">&nbsp;&nbsp;<%= post.postable.description %><span><br>
        </div>
        <div>
          <%= label_tag "Type: ", nil, class: " pull-left" %><span style="line-height: 2.3em;">&nbsp;&nbsp;<%= post.postable.item_type %><span><br>
        </div>
        <div>
          <%= label_tag "Category: ", nil, class: " pull-left" %><span style="line-height: 2.3em;">&nbsp;&nbsp;<%= post.postable.buysell_item_subcategory.buysell_item_category.name %><span><br>
        </div>
                <div>
          <%= label_tag "Sub-category: ", nil, class: " pull-left" %><span style="line-height: 2.3em;">&nbsp;&nbsp;<%= post.postable.buysell_item_subcategory.name %><span><br>
        </div>
        <div>
          <%= label_tag "Price: ", nil, class: " pull-left" %><span style="line-height: 2.3em;">&nbsp;&nbsp;<%= post.postable.price %><span><br>
        </div>
        <div>
          <%= label_tag "Condition: ", nil, class: " pull-left" %><span style="line-height: 2.3em;">&nbsp;&nbsp;<%= post.postable.condition %><span><br>
        </div>
        <div class="more_details">
          <%= label_tag "Notes: ", nil, class: " pull-left" %><span style="line-height: 2.3em;">&nbsp;&nbsp;<%= post.postable.notes %><span><br>
        </div>
        <div class="more_details">
          <%= label_tag "Contact No: ", nil, class: " pull-left" %><span style="line-height: 2.3em;">&nbsp;&nbsp;<%= post.postable.contact_no %><span><br>
        </div>
                  <div class="center_block clearfix more_details ">
                                <%= label_tag "Address:" %>
                                <div  class="clearfix" style="margin-left:150px;margin-top:7px;">
                                <p><%= post.postable.address.doorno  %></p>
                                <p><%= post.postable.address.street  %></p>
                                <p><%= post.postable.address.city  %></p>
                                <p><%= post.postable.address.country  %> - <%= post.postable.address.postalcode  %></p>
                                </div>
                      </div>

          <a class="pull-right more_details_link disabled">More details...</a><br>

        <% unless post.communities.count == 1 && post.communities[0].id == active_community.id %>
          <% unless post.communities[0].nil? %>
                  <span  class="center_block"><br><h6>Posted under the <%="ComUnity".pluralize(post.communities.count) %>:</h6>
                  <ul class="groupsList">
                  <% post.communities.each do |cu| %>
                  <ol>
                  <%= link_to cu.name, cu, remote:true %>
                  </ol>
                  <% end %>
                  </ul>
                </span>
          <% end %>
        <% end %>
        </div>


      </td>
      </tr>
      </table>

<%= form_for( post.postable, url: "/buysell/update", remote: true,  :html => {:multipart => true, method: 'put'}) do |f| %>
  <div id="modal_edit_buysell_<%= post.id%>" style="display:none" class="modal_edit_buysell" >
          <div id="modal-from-dom" class="modal hide fade in" style="display: block;width:700px;">
            <div class="modal-header">
              <a href="#" id="close_edit_item" class="close close_edit_item">×</a>
              <h3>Create category</h3>
            </div>
            <div class="modal-body" style="max-height:430px;">
              <div class="row">
              <div class="span14 ui-front">
                <%= f.hidden_field :id %>
                   <%= render 'shared/error_messages', object: f.object %>
                   <div class="center_block clearfix">
                      <%= f.label :name %>
                        <div class="input">
                      <%= f.text_field :name, :placeholder=>"Name", class: ' inherit_width', :title => "Title" %> 
                      </div>
                    </div>
                    <div class="center_block clearfix">
                      <%= f.label :description %>
                        <div class="input">
                      <%= f.text_area :description, :placeholder=>"Description", class: ' inherit_width', :title => "Description", rows: 3, cols: 75  %> 
                      </div>
                    </div>
                    <div class="old_category">
                      <div class="center_block clearfix">
                          <%= label_tag "Category" %>
                          <div class="input">
                            <span style="line-height: 2.3em;">&nbsp;&nbsp;<%= post.postable.buysell_item_subcategory.buysell_item_category.name %><span>
                          </div>
                          
                       </div>
                       <div class="center_block clearfix">
                          <%= label_tag "Sub-Category" %>
                          <div class="input">
                            <span style="line-height: 2.3em;">&nbsp;&nbsp;<%= post.postable.buysell_item_subcategory.name %><span>
                          </div>
                          
                       </div>
                    </div>
                    <div class="center_block clearfix">
                      <%= f.label :item_type, "Sell/Rent" %>
                        <div class="input">
                      <%= f.select :item_type, options_for_select([["I want to sell", "sell"], ["I want to Rent", "rent"]], f.object.item_type), {}, id: "type" %>    
                      </div>
                    </div>
                    <div class="center_block clearfix">
                      <%= f.label :price %>
                        <div class="input">
                      <%= f.select :currency, options_for_select([["Rs", "Rs"], ["$", "$"]], f.object.currency), {}, id: "currency", class: "span2" %>    
                      <%= f.text_field :price, :placeholder=>"Price", class: ' inherit_width', :title => "Price" %> 
                      </div>
                    </div>
                    <div class="center_block clearfix">
                      <%= f.label :condition %>
                        <div class="input">
                      <%= f.select :condition, options_for_select([["New", "new"], ["Used", "used"]], f.object.condition), {}, id: "condition", class: "span2" %>
                      </div>
                    </div>
                    <div class="center_block clearfix">
                      <%= f.label :notes %>
                        <div class="input">
                      <%= f.text_area :notes, :placeholder=>"More details", class: ' inherit_width', :title => "More details", rows: 3, cols: 75  %> 
                      </div>
                    </div>
                    <div class="center_block clearfix">
                      <%= f.label "Contact No." %>
                        <div class="input">
                      <%= f.text_field :contact_no, :placeholder=>"Mobile / Phone no.", class: ' inherit_width', :title => "Contact No." %> 
                      </div>
                    </div>

                        <%= f.fields_for :address do |f| %>
                             <div class="center_block clearfix">
                        <%= label_tag "Address:" %><br><br><br>
                                <%= f.label "Door no." %>
                                <div class="input">
                                <%= f.text_field :doorno, :placeholder=>"Door no." %>
                                </div>
                             </div>
                             <div class="center_block clearfix">
                                  <%= f.label :street %>
                                <div class="input">
                                  <%= f.text_field :street, :placeholder=>"Street" %>
                                </div>
                             </div>
                             <div class="center_block clearfix">
                                  <%= f.label :city %>
                                <div class="input">
                                  <%= f.text_field :city, :placeholder=>"City" %>
                                </div>
                             </div>
                             <div class="center_block clearfix">
                                  <%= f.label :country %>
                                <div class="input">
                                  <%= f.text_field :country, :placeholder=>"Country" %>
                                </div>
                             </div>
                             <div class="center_block clearfix">
                                  <%= f.label :postalcode, "Postal Code" %>
                                <div class="input">
                                  <%= f.text_field :postalcode, :placeholder=>"Postal Code" %>
                                </div>
                             </div>

                        <% end %>
                    
              </div>    
             </div>
           </div>
            <div class="modal-footer" >
              <%= f.submit "Update", class: "btn primary pull-right edit_item", id: "edit_item" %>  
            </div>
          </div>          
        </div>
<% end %>


 <% end %>
<script type="text/javascript">
$(document).ready(function(){
  $(".gravatar").addClass(" thumbnail");
  $("#content").addClass("photo_content");
  $(".more_details").hide();
  });

$('.img_zoom1 img').load(function() {
    $(this).data('height', this.height);
}).bind('mouseenter mouseleave', function(e) {
    $(this).stop().animate({
        height: $(this).data('height') * (e.type === 'mouseenter' ? 1.08 : 1)
    });
});
$(".more_details_link").click(function(){
  $(this).parent().children(".more_details").show();
  $(this).hide();
});

$('.pop_up').popover({
    html: true,
    trigger: 'manual',
    placement: 'left',
    delay: { hide: 500},
    template: ' <div class="popover"><div class="pop_div"><div class="arrow1" stlye="margin-right:10px;"></div><div class="popover-inner"  ><h3 class="popover-title" ></h3><div class="popover-content" ><p></p><br></div></div></div></div>'
});

  $(".pop_up").hover(function(){
      $(this).popover('show');        
  },function(){
      $(this).popover('hide');        
  });

$(".edit_buysell_link").click(function(){
      var id = this.id
      $('#modal_'+id).modal('show');
    });
    $(".close_edit_item").click(function(){
          $('.modal_edit_buysell').modal('hide');
        });

    $(".edit_item").click(function(){
          $('.modal_edit_buysell').modal('hide');
        });



        $( "#buysell_item_category_id3" ).change(function() {
      var categoryId = $( "#buysell_item_category_id3" ).val();
      var postId = $( "#buysell_item_category_id3" ).val();
      $.get( '<%= edit_subcategory_buysell_index_path %>', { category_id: categoryId, post_id: postId } );
    });


</script>