   <div id="camera_rolls" style="margin-left:250px;margin-bottom:0px;">
    <ul class="breadcrumb" style="width:667px">
      <li><a href="#" class="marginLeft10">Albums</a> </li>

      <span style="margin-left:510px;"><li><%= link_to "Create Album", '#', id: "addTo",  class: "uibutton icon add " %></li></span>
    </ul>
  </div>

  <%= form_for(@album, remote: true, :html => {:multipart => true, :class => 'fileupload'}) do  |f| %> 
  <div id="modal" style="display:none" >
    <div id="modal-from-dom" class="modal hide fade in" style="display: block;width:700px;">
      <div class="modal-header">
        <a href="#" id="closeX" class="close">×</a>
        <h3>Create album</h3>
      </div>
      <div class="modal-body" style="max-height:450px;">
        <div class="row">
          <div class="span14 ui-front "  >

           <%= render 'shared/error_messages', object: f.object %>
           <div class="center_block clearfix pull-left">
            <%= f.label :title %>
            <div class="input">
              <%= f.text_field :title, :placeholder=>"Title" %>
            </div>
          </div>

          <div class="center_block clearfix pull-left">
            <%= f.label :description %>
            <div class="input">
              <%= f.text_area :description, :placeholder=>"Description", class: ' inherit_width', :title=>"Description", rows: 3, cols: 75  %> 
            </div>
          </div>
          <span class=" overrideClass">
            <div class="center_block clearfix pull-left">
              <%= f.label "privacy:" %>
              <div class="input">
                <%= f.select :privacy, options_for_select([["Public", Privacyenum::PUBLIC], ["Private", Privacyenum::PRIVATE]]) %>
              </div>
            </div>
          </span>
           <span class=" overrideClass">
              <div class="center_block clearfix pull-left">
                  <div class="input">
                      <%= f.attachinary_file_field :photos %>
                  </div>
             </div>
          </span>
        </div>
      </div>
    </div>
    <div class="modal-footer" >
      <%= f.submit "Create Album", class: "btn primary pull-right", id: "crtGrp" %> 
    </div>
  </div>
</div>
<% end %>

<% unless @albums.nil? %>

<div id="gallery1" class="span17" style="margin-left:25px;margin-bottom:0px;">
 <ul id="grid" >

   <% @albums.each do |album| %>
   <% unless album.photos[0].nil? %>
   <li>
    <div  class="img_zoom" >
     <%= link_to cl_image_tag(album.photos[0].pic_url(:small), class:"image_al_c thumbnail") , album, class:"albumLink", remote: true %>
     <h5 style="float:right;"><%= link_to album.title, album, class:"albumLink", remote: true %></h5>
   </div>
 </li>
 <% end %> 
 <% end %>
</ul>
</div>

<% end %>  

<script type="text/javascript">
$(document).ready(function(){

  $("#upload2").click(function(){
    $("#pics").click();
  });

  $("#addTo").click(function(){
    $('#modal').modal('show');
  });
  $("#closeX").click(function(){
    $('#modal').modal('hide');
  });

  $("#crtGrp").click(function(){
    $('#modal').modal('hide');
  });

try{
  $('.attachinary-input').attachinary();
}catch(err){
  alert(err.message);
}


});
      


   </script>