   <div id="camera_rolls" style="margin-bottom:0px;" class="spam13">
    <ul class="breadcrumb" style="width:100%;">
      <li><a href="#" class="marginLeft10">Albums</a> </li>

      <span style="margin-left:410px;"><li><%= link_to "Create Album", '#', id: "addTo",  class: "uibutton icon add " %></li></span>
    </ul>
  </div>

  <%= form_for(@album, remote: true, :html => {:multipart => true}) do  |f| %> 
  <div id="modal" style="display:none" >
    <div id="modal-from-dom" class="modal hide fade in" style="display: block;width:700px;">
      <div class="modal-header">
        <a href="#" id="closeX" class="close">×</a>
        <h3>Create album</h3>
      </div>
      <div class="modal-body" style="max-height:450px;">
        <div class="row">
          <div class="span14 ui-front "  >

           <%= render 'shared/error_messages', object: f.object %>
           <div class="center_block clearfix ">
            <%= f.label :title %>
            <div class="input">
              <%= f.text_field :title, :placeholder=>"Title" %>
            </div>
          </div>

          <div class="center_block clearfix ">
            <%= f.label :description %>
            <div class="input">
              <%= f.text_area :description, :placeholder=>"Description", class: ' inherit_width', :title=>"Description", rows: 3, cols: 75  %> 
            </div>
          </div>
          <span class=" overrideClass">
            <div class="center_block clearfix">
              <%= f.label :privacy %>
              <div class="input">
                <%= f.select :privacy, options_for_select([["Public", Privacyenum::PUBLIC], ["Private", Privacyenum::PRIVATE]]) %>
              </div>
            </div>
          </span>
          <span class=" overrideClass">
            <br>
          </span>
          <div class="center_block clearfix">
            <%= f.label  "Album downloadable" %>
            <div class="input">
              <%= check_box_tag :downloadable %>
            </div>
          </div>
          <div class="center_block clearfix ">
          <%= fields_for :photos, Photo.new, :child_index => 'NEW_RECORD' do |photo_form| %>
            <%= photo_form.file_field :pic, id: "pic1", :multiple => true, style: "width:0px; height:0px; padding:0px;  left:0px;" %>  
          <% end %>
              <div class="input">
                <canvas id="imageCanvas1" style = "border: 1px solid #ddd; padding:5px; align:center;cursor:pointer;" >Click here to add photos</canvas>
              </div>
         </div>
          </span>
        </div>
      </div>
    </div>
    <div class="modal-footer" >
      <%= f.submit "Create Album", class: "btn primary pull-right", id: "crtGrp" %> 
    </div>
  </div>
</div>
<% end %>

<% unless @albums.nil? %>

<div id="gallery1" style="margin:0px 0px 0px 10px;width:100%;">
 <ul id="grid"  style="width:100%;">

   <% @albums.each do |album| %>
   <% unless album.photos[0].nil? %>
   <li>
    <div  class="img_zoom" >
     <%= link_to cl_image_tag(album.photos[0].pic_url(:small), class:"image_al_c thumbnail") , album, class:"albumLink", remote: true %>
     <h5 style="float:right;"><%= link_to album.title, album, class:"albumLink", remote: true %></h5>
   </div>
 </li>
 <% end %> 
 <% end %>
</ul>
</div>
<% end %>  

<script type="text/javascript">
$(document).ready(function(){

  $("#upload2").click(function(){
    $("#pics").click();
  });

  $("#addTo").click(function(){
    $('#modal').modal('show');
  });
  $("#closeX").click(function(){
    $('#modal').modal('hide');
  });

  $("#crtGrp").click(function(){
    $('#modal').modal('hide');
  });

  var imageLoader = document.getElementById('pic1');
  imageLoader.addEventListener('change', handleImage, false);
  $("#imageCanvas1").click(function(){
    $("#pic1").click();
  });

  var canvas = document.getElementById('imageCanvas1');
  var ctx = canvas.getContext('2d');
  ctx.font="15px Arial";
  ctx.fillText("Click here to add photos (Max: 50 files)",25,75);

  function handleImage(e){
    var canvas = document.getElementById('imageCanvas1');
    var ctx = canvas.getContext('2d');
    var iCnt=0;
    var files = e.target.files;
    if(files.length>50){
      alert("Maximum of 50 files can be selected");
      $('#pic1').val('');
      ctx.setTransform(1, 0, 0, 1, 0, 0);
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      ctx.font="20px Arial";
      ctx.fillText("Click here to add photos",10,50);
      return;
    }
   if(files.length<1){
      ctx.setTransform(1, 0, 0, 1, 0, 0);
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      ctx.font="20px Arial";
      ctx.fillText("Click here to add photos",10,50);
      return;
    }
    canvas.width = 500;
    canvas.height = 155*(Math.ceil(files.length/3));
    for( var i = 0, len = files.length; i < len; i++) 
    {
      if(files[i])
      {
        var reader = new FileReader();
        reader.onload = function(event){
          var img = new Image();

          img.onload = function(){
            var ratioPx = 150;
            var sWidth =ratioPx;
            var ratio = img.width/sWidth;
            var sHeight = img.height/ratio;   
            if(sHeight>ratioPx){
             sHeight =ratioPx;
             ratio = img.height/sHeight;
             sWidth = img.width/ratio;  
           }
           ctx.drawImage(img, 155*(iCnt%3),155*(Math.floor(iCnt/3)),sWidth,sHeight);
                  //ctx.drawImage(img,0,0,sWidth,sHeight);
                  iCnt++;
                }
                img.src = event.target.result;
              }
              reader.readAsDataURL(e.target.files[i]);     
            }
          }
        }


      });


   </script>