    <script type="text/javascript">var photoCount = 0;</script>
    <%= form_for  @share, :url => new_share_path, :method => :get, remote: true do  |f| %>
      <div id="modal" style="display:none" >
          <div id="modal-from-dom" class="modal hide fade in" style="display: block;">

            <div class="modal-header">
              <a href="#" id="clsX" class="close">×</a>
              <h3>Share album</h3>
            </div>
            <div class="modal-body">
                      <div class="bs-example bs-email">
                        <div class="form-group">
                          <input type="text" class="form-control tokenfields" style="width:480px;" id="tokenfield-m1" name="email" placeholder="Type email and hit tab/enter" />
                        </div>
                </div>
                <%= hidden_field_tag 'type', 'album' %>  
                <%= hidden_field_tag "id", "#{@album.id}" %>
            </div>
            <div class="modal-footer" >
              <%= link_to "Share", '#', id: "sharelink",  class: "btn primary pull-right " , style:"margin-left:10px"%>
              <%= submit_tag "Share", id: "shareAlb", class: "btn primary", style: "float:right;display:none;"  %> 
            </div>
          </div>
        </div>
    <% end %>

    <%= form_for  @album, :url => { :action => "edit" },  :method => :get, remote: true do  |f| %>
          <div style="margin-right:120px;"  >
               <div id="album_indiv" style=" margin-bottom:0px;">
                  <ul class="breadcrumb" style="width:535px;height:22px;">
                    <li><a href="#" class="marginLeft10 marginRight10" style="line-height:21px;" id="album_bc">Albums</a><span class="divider" style="line-height:21px;" >></span> </li>
                    <li><a href="#" class="marginLeft5" style="line-height:21px;"  ><%= @album.title %></a></li>
                    <span style="margin-right:5px;float:right;"><li><%= link_to "Share", '#', id: "share",  class: "uibutton icon add" %></li>
                      <% unless @album.downloadlink.blank? %>
                        <li><%= link_to "Download", @album.downloadlink , id: "download",  class: "uibutton" %></li>
                      <% else %>
                       <li><%= link_to "Generate downloadable link", gen_downloadable_link_album_path(@album.id) , id: "gen_download",  class: "uibutton", remote: true %></li>
                      <% end %>
                    </span>
                  </ul>
                </div>
              <span id="buttonset" style="display:none;">
                  <input type="checkbox" id="option-fullscreen"><label for="option-fullscreen">Fullscreen</label>
                  <input type="checkbox" id="option-slideshow"><label for="option-slideshow">Slideshow</label>
              </span>
              <div style="display:none;">
              <select id="effect">
                    <option>blind</option>
                  <option>clip</option>
                  <option>drop</option>
                  <option>explode</option>
                  <option selected>fade</option>
                  <option>fold</option>
                  <option>puff</option>
                  <option>random</option>
                  <option>slide</option>
                  <option>scale</option>
              </select>
              <select id="theme-switcher">
                  <option value="base">Base</option>
                  <option value="black-tie">Black Tie</option>
                  <option value="blitzer">Blitzer</option>
                  <option value="cupertino">Cupertino</option>
                  <option value="dark-hive">Dark Hive</option>
                  <option value="dot-luv">Dot Luv</option>
                  <option value="eggplant">Eggplant</option>
                  <option value="excite-bike">Excite Bike</option>
                  <option value="flick">Flick</option>
                  <option value="hot-sneaks">Hot sneaks</option>
                  <option value="humanity">Humanity</option>
                  <option value="le-frog">Le Frog</option>
                  <option value="mint-choc">Mint Choc</option>
                  <option value="overcast">Overcast</option>
                  <option value="pepper-grinder">Pepper Grinder</option>
                  <option value="redmond">Redmond</option>
                  <option value="smoothness">Smoothness</option>
                  <option value="south-street" selected>South Street</option>
                  <option value="start">Start</option>
                  <option value="sunny">Sunny</option>
                  <option value="swanky-purse">Swanky Purse</option>
                  <option value="trontastic">Trontastic</option>
                  <option value="ui-darkness">UI Darkness</option>
                  <option value="ui-lightness">UI Lightness</option>
                  <option value="vader">Vader</option>
              </select>
              </div>
            </h4>
    </div>
    <span style="clear:both;" ></span>
    <div id="gallery1" class="pull-left">
      <ul id="grid" style="margin:0px;">
        <% @album.photos.each do |photo| %>
          <li style="margin-left:0px;">
                  <a href="<%= photo.pic_url %>"  class="fancybox-album" rel="group1">
                  <%= cl_image_tag(photo.pic_url(:small_mid), class:"thumbnail", style: "margin:0px!important;", alt: "http://res.cloudinary.com/rashi/image/upload/v1377921346/RYW-Logo-smaller_rbkszn.png")  %></a> 
              </li>
            
        <% end %>
      
      </ul>
    </div>
  </div>
<% end %>
<script type="text/javascript">

         $('.tokenfields').on('beforeCreateToken', function (e) {
            var token = e.token.value.split('|')
            e.token.value = token[1] || token[0]
            e.token.label = token[1] ? token[0] + ' (' + token[1] + ')' : token[0]
          }).on('afterCreateToken', function (e) {
            // Über-simplistic e-mail validation
            var re = /\S+@\S+\.\S+/
            var valid = re.test(e.token.value)
            if (!valid) {
              $(e.relatedTarget).addClass('invalid')
            }
          }).on('beforeEditToken', function (e) {
            if (e.token.label !== e.token.value) {
              var label = e.token.label.split(' (')
              e.token.value = label[0] + '|' + e.token.value
            }
          }).on('removeToken', function (e) {
           // alert('Token removed! Token value was: ' + e.token.value)
          }).on('preventDuplicateToken', function (e) {
            alert('Duplicate detected! Token value is: ' + e.token.value)
          }).tokenfield();

        $(document).ready(function(){

           $("#share").click(function(){
              $('#modal').modal('show');
            });


           $("#sharelink").click(function(){
              $('#modal').modal('hide');
              $("#shareAlb").click();

            });

           $("#clsX").click(function(){
             $('#modal').modal('hide');
            });

            $("#album_bc").click(function(){
              $('#photos_community_li').click();
            });
          });
        
/*          $("a.fancybox-album").fancybox({
            padding    : 0,
            'transitionIn'  : 'elastic',
            'transitionOut' : 'elastic',
            'speedIn'   : 600, 
            'speedOut'    : 200, 
            'overlayShow' : false
          });*/


      </script>