   <div id="photo_list">
    <script type="text/javascript">var photoCount = 0;</script>
    <div id="album_downlink"></div>
          <div class="row mt5 mb5" >
               <div id="album_indiv" class="pull-right">
                    <!-- <li><a href="#" class="marginLeft10 marginRight10" style="line-height:21px;" id="album_bc">Albums</a><span class="divider" style="line-height:21px;" >></span> </li>
                    <li><a href="#" class="marginLeft5" style="line-height:21px;"  ><%= @album.title %></a></li> -->
                    <% if @album.user == current_user %>
                      <%= link_to "Delete", "/communities/delete_album?id=#{@album.id}" , method: :get, class: "btn btn-danger btn-custom  mr10", id: "delete_album", 
                                             data: { confirm: "You sure?" }, remote: true,
                                             title: "Delete album: " + @album.title %>
                      <%= link_to "edit", '#', id: "edit_album",  class: "btn btn-warning mr10 icon edit btn-custom", :title => "Edit" %>
                      
                    <% end %>
                      <% if @album.privacy ==  Privacyenum::PUBLIC || @album.user == current_user  %>
                       <%= link_to "Share", '#', id: "share",  class: "btn btn-info  mr10 btn-custom" %>
                      <% end %>
                      <% if @album.downloadable? %>
                       <%= link_to "Download", gen_downloadable_link_album_path(@album.id) , id: "gen_download",  class: "btn btn-success btn-custom  mr20", remote: true %>
                      <% end %>
                </div>
              <span id="buttonset" style="display:none;">
                  <input type="checkbox" id="option-fullscreen"><label for="option-fullscreen">Fullscreen</label>
                  <input type="checkbox" id="option-slideshow"><label for="option-slideshow">Slideshow</label>
              </span>
              <div style="display:none;">
              <select id="effect">
                    <option>blind</option>
                  <option>clip</option>
                  <option>drop</option>
                  <option>explode</option>
                  <option selected>fade</option>
                  <option>fold</option>
                  <option>puff</option>
                  <option>random</option>
                  <option>slide</option>
                  <option>scale</option>
              </select>
              <select id="theme-switcher">
                  <option value="base">Base</option>
                  <option value="black-tie">Black Tie</option>
                  <option value="blitzer">Blitzer</option>
                  <option value="cupertino">Cupertino</option>
                  <option value="dark-hive">Dark Hive</option>
                  <option value="dot-luv">Dot Luv</option>
                  <option value="eggplant">Eggplant</option>
                  <option value="excite-bike">Excite Bike</option>
                  <option value="flick">Flick</option>
                  <option value="hot-sneaks">Hot sneaks</option>
                  <option value="humanity">Humanity</option>
                  <option value="le-frog">Le Frog</option>
                  <option value="mint-choc">Mint Choc</option>
                  <option value="overcast">Overcast</option>
                  <option value="pepper-grinder">Pepper Grinder</option>
                  <option value="redmond">Redmond</option>
                  <option value="smoothness">Smoothness</option>
                  <option value="south-street" selected>South Street</option>
                  <option value="start">Start</option>
                  <option value="sunny">Sunny</option>
                  <option value="swanky-purse">Swanky Purse</option>
                  <option value="trontastic">Trontastic</option>
                  <option value="ui-darkness">UI Darkness</option>
                  <option value="ui-lightness">UI Lightness</option>
                  <option value="vader">Vader</option>
              </select>
              </div>
            </h4>
    </div>
    <div id="group_gallery">
    <div id="gallery1" class="">
      <ul id="grid" class="list-unstyled" >
        <% if @album.user == current_user %>
        <% end %>


        <% @album.photos.each do |photo| %>
          <li>
                  <div class="col-xs-6 pl0 pr5">
                        <div class="thumbnail mb5">
                            <div class="">
                              <a href="<%= photo.pic_url %>"  class="fancybox-album" rel="group1">
                                <%= cl_image_tag(photo.pic_url(:thumb_full_wide), class:"bd-rad5", alt: "https://res.cloudinary.com/rashi/image/upload/v1377921346/RYW-Logo-smaller_rbkszn.png")  %>
                                </a>
                            </div>
                        </div>
                    </div>
          <!--<% if @album.user == current_user  && @album.photos.count > 1 %>
                    <div class="btn_overlay_cu_cover_pic hide">
                      <%= link_to "Delete", photo , method: :delete, class: "uibutton danger pull-right photo_del", remote: true, title: "Delete photo" %>
                    </div>
          <% end %>-->
          </li>
            
        <% end %>
      
      </ul>
    </div>
    </div>

<%= form_for(@album , url: update_album_communities_path, remote: true, :html => {:multipart => true, id: 'update_album'}) do  |f| %> 
<div id="modal_com" class="modal fade" >
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" >×</button>
        <span class="semibold font-15">Edit album</span>
      </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-offset-1"  >

         <%= render 'shared/error_messages', object: f.object %>
          
        
        <div class="center_block clearfix">
          <%= f.label :title, class: "control-label pl15 mt15" %>
          <div>
          <div class="col-sm-9">
            <%= f.text_field :title, class: "form-control", :placeholder=>"Title", 'data-validation' => "length",
     'data-validation-length' =>"3-25", 'data-validation-error-msg' => "The album title has to be a value between 3-25 characters" %>
          </div>
          </div>
        </div>

        
         <div class="center_block clearfix">
          <%= f.label :description, class: "control-label pl15 mt15" %>
          <div>
          <div class="col-sm-9">
            <%= f.text_area :description, :placeholder=>"Description", class: 'inherit_width form-control', :title=>"Description", rows: 3, cols: 75, 'data-validation' => "length ",
     'data-validation-length' =>"3-250", 'data-validation-error-msg' => "The album description has to be an alphanumeric value between 3-250 characters"   %> 
          </div>
          </div>
        </div>
   
        <div class="center_block clearfix">
            <%= f.label "privacy:", class: "control-label pl15 mt15" %>
            <div>
            <div class="col-sm-9">
             <%= f.select :privacy, options_for_select([["Public", Privacyenum::PUBLIC], ["Private", Privacyenum::PRIVATE]], f.object.privacy) %>
            </div>
            </div>
          </div>
 
           <div class="center_block clearfix ">
            <%= f.label  "Album downloadable: ", class: "control-label pl15 mt10 pull-left" %>
            <div>
            <div class="col-sm-1 ">
              <%= f.check_box :downloadable, class: "form-control" %>
            </div>
            </div>
          </div>
          
        
       <div class="center_block clearfix mt10">
         <div class="col-sm-9">    
           <%= fields_for :photos, Photo.new, :child_index => 'NEW_RECORD' do |photo_form| %>

           <%= photo_form.file_field :pic, id: "pic_com", :multiple => true, style: "width:0px; height:0px; padding:0px;  left:0px;" %>  
           <% end %>
           <%= hidden_field_tag 'type', 'album' %>  
           <%= hidden_field_tag "id", "#{@album.id}" %>
           <%= f.hidden_field :id %>
           <canvas id="imageCanvas_com" style = "border: 1px solid #ddd; padding:5px; align:center;cursor:pointer;" >click to add photos</canvas>
         </div>
       </div>
       
       
     </div>
  </div>
  </div>
   <div class="modal-footer" >
    <%= f.submit "Update", class: "btn btn-success btn-custom pull-right busy", id: "updAlb_com" %> 
    <%= f.submit "", :class => 'hide reset_form', :type => 'reset' %> 
   </div>
        </div>
  </div>
</div>
<% end %>

    <%= form_for  @share, :url => new_share_path, :method => :get, remote: true do  |f| %>
      <div id="modal_share" class="modal fade">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
              <a href="#" id="clsX" class="close">×</a>
              <span class="semibold font-15">Share album</span>
            </div>
            <div class="modal-body">
                      <div class="bs-example bs-email">
                          <input type="text" class="form-control tokenfields" id="tokenfield-m1" name="email" placeholder="Type email and hit tab/enter" data-validation="required" data-validation-error-msg="Please type email and hit tab/enter to add"  />
                </div>
                <%= hidden_field_tag 'type', 'album' %>  
                <%= hidden_field_tag "id", "#{@album.id}" %>
            </div>
            <div class="modal-footer pb10 pt10" >
              <%= f.submit "Share", id: "shareAlb", class: "btn btn-primary pull-right"  %> 
            </div>
            </div>
            </div>
        </div>
    <% end %>
<script type="text/javascript">

$("#gen_download").click(function(){
  $('.loading_page').show();
});



           $("#share").click(function(){
              $('#modal_share').modal('show');
            });

           $("#clsX").click(function(){
             $('#modal_share').modal('hide');
            });

           $("#delete_album").click(function(){
             //$('.loading_page').show();
            });



/* 
             $('.album_bc').on('click', function(){
                $(this).closest('.photos_tab').click();
            });

*/

    $(document).ready(function(){
      $.validate({
        form : '#new_share',
        onSuccess : function() {
          $('#modal_share').modal('hide');
        },
      });

  });




$("#edit_album").click(function(){
   /* $('#modal_com').modal({
    //  keyboard: true,
      backdrop: "static",
    });*/
  $('#modal_com').modal('show');
});

$("#closeX_com").click(function(){
  $('#modal_com').modal('hide');
  $('.reset_form').click();


  $('#pic_com').val('');
  var canvas = document.getElementById('imageCanvas_com');
  var ctx = canvas.getContext('2d');
  canvas.width = 300;
  canvas.height = 155;
      ctx.setTransform(1, 0, 0, 1, 0, 0);
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      ctx.font="15px Arial";
      ctx.fillText("Click here to add photos (Max: 50 files)",25,75);

});

$("#album_privacy").addClass('form-control mt5-xs col-sm-4  mr10 pull-left pl6');

$(document).ready(function(){
  $.validate({
    form : '#update_album',
    onSuccess : function() {
      $('#updAlb_com').attr('data-loading-text', 'Updating...');
      $('#updAlb_com').button('loading');
     // return false; // Will stop the submission of the form
    },
  });
});


var imageLoader = document.getElementById('pic_com');
imageLoader.addEventListener('change', handleImage, false);
$("#imageCanvas_com").click(function(){
  $("#pic_com").click();
});

var canvas = document.getElementById('imageCanvas_com');
var ctx = canvas.getContext('2d');
  ctx.font="15px Arial";
  ctx.fillText("Click here to add photos (Max: 50 files)",25,75);

function handleImage(e){
  var canvas = document.getElementById('imageCanvas_com');
  var ctx = canvas.getContext('2d');
  var iCnt=0;
  var files = e.target.files;
   if(files.length>50){
      alert("Maximum of 50 files can be selected");
      $('#pic_com').val('');
      ctx.setTransform(1, 0, 0, 1, 0, 0);
      canvas.width = 300;
      canvas.height = 155;
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      ctx.font="15px Arial";
      ctx.fillText("Click here to add photos (Max: 50 files)",25,75);
      return;
    }
   if(files.length<1){
    $('#pic_com').val('');
      ctx.setTransform(1, 0, 0, 1, 0, 0);
      canvas.width = 300;
      canvas.height = 155;
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      ctx.font="15px Arial";
      ctx.fillText("Click here to add photos (Max: 50 files)",25,75);
      return;
    }
  canvas.width = 453;
  canvas.height = 155*(Math.ceil(files.length/3));
  for( var i = 0, len = files.length; i < len; i++) 
  {
    if(files[i])
    {
      var reader = new FileReader();
      reader.onload = function(event){
        var img = new Image();

        img.onload = function(){
          var ratioPx = 150;
          var sWidth =ratioPx;
          var ratio = img.width/sWidth;
          var sHeight = img.height/ratio;   
          if(sHeight>ratioPx){
           sHeight =ratioPx;
           ratio = img.height/sHeight;
           sWidth = img.width/ratio;  
         }
         ctx.drawImage(img, 155*(iCnt%3),155*(Math.floor(iCnt/3)),sWidth,sHeight);
                          //ctx.drawImage(img,0,0,sWidth,sHeight);
                          iCnt++;
                        }
                        img.src = event.target.result;
                      }
                      reader.readAsDataURL(e.target.files[i]);     
                    }
                  }
                }

     $('.img-hover-btn').hover(function() {
       $(this).find('.btn_overlay_cu_cover_pic').show();
       }, function() {
         $(this).find('.btn_overlay_cu_cover_pic').hide();
    });

$(".photo_del").click(function(){
  $(this).closest('li').hide();
});

$(".del-alb").click(function(){
 // $('.loading_page').show();
});

/*         $('.tokenfields').on('beforeCreateToken', function (e) {
            var token = e.token.value.split('|')
            e.token.value = token[1] || token[0]
            e.token.label = token[1] ? token[0] + ' (' + token[1] + ')' : token[0]
          }).on('afterCreateToken', function (e) {
            // Über-simplistic e-mail validation
            var re = /\S+@\S+\.\S+/
            var valid = re.test(e.token.value)
            if (!valid) {
              $(e.relatedTarget).addClass('invalid')
            }
          }).on('beforeEditToken', function (e) {
            if (e.token.label !== e.token.value) {
              var label = e.token.label.split(' (')
              e.token.value = label[0] + '|' + e.token.value
            }
          }).on('removeToken', function (e) {
           // alert('Token removed! Token value was: ' + e.token.value)
          }).on('preventDuplicateToken', function (e) {
            alert('Duplicate detected! Token value is: ' + e.token.value)
          }).tokenfield();*/
          
      </script>
      </div>