     <div style="">
      <div   >
      <div id="floater" class="actions span12 pull-left" ><h4 ><a href="#" style="float:left;">Camera Roll</a>

        </h4>    
        <div style="margin-right:120px;"  >
            <span style="clear:both;" ></span> <%= link_to "Add to album", '#', id: "addTo",  class: "btn primary pull-right " %>
        <%= link_to "cancel ", '#', id: "cancelAlb",  class: "btn secondary pull-right" , style:"display:none;margin-left:5px;"%>
         <%= link_to "Share", '#', id: "share",  class: "btn primary pull-right", style:"display:none;margin-left:5px;" %>
         <%= link_to "Existing", '#', id: "existingAlb",  class: "btn primary pull-right", style:"display:none;margin-left:5px;" %>
        <%= link_to "New ", '#', id: "newAlb",  class: "btn primary pull-right", style:"display:none;" %></div>
      </div>
      </div>
        <br><br><br> <span style="clear:both;" ></span>
             <div id="newAlbum" style="display:none;">
          <h2  class="span10 ">Create album</h2><br><br><br>
          <div class="span9" >
             <%= form_for(@album, remote: true) do  |f| %> 
             <%= render 'shared/error_messages', object: f.object %>
              <%= f.label "title: " %>
              <%= f.text_field :title %>
              <br>
              <%= f.label "description:" %>
              <%= f.text_area :description, placeholder: "Album description...", :rows=>2, :cols=>40 %>
              <span class=" overrideClass"><br><br>
              <%= f.label "privacy:" %>
              <%= f.select :privacy, ["Public", "Follower", "Private"] %>
              
              </span>
            <br><br>

            <%= submit_tag "Create album", class: "btn primary ",style:" margin-left:140px;"  %>   
          </div>
          <br><br>
          <div class="span12" id="gallery2" >
         <ul id="grid">
          <% @camera_roll.each do |photo| %>
            <li>
            <div  class="img_zoom" id="div-img_<%= photo.id %>">
          <a  id="a-img_<%= photo.id %>" style="cursor:pointer;">

            <img src="/assets/check.png" id="a-img_chk_<%= photo.id %>" style="z-index: 1;position:absolute;margin-left:50px;display:none;" class"changeDelBtn"/>
          <%= cl_image_tag(photo.pic_url(:thumb), class:"image_al_c1 thumbnail", id:"#{photo.id}")   %></a> 
          </div>
          </li>
           <div style="display:none" >
              <%= check_box_tag "photo[#{photo.id}]", photo.id %>
             
          </div>
          <% end %>
         </ul>
        </div>
        <% end %>
       </div>
      <div id="gallery1" class="span12 ">
         <ul id="grid">
         <% @camera_roll.each do |photo| %>
          <li>
          <div  class="img_zoom" >
            <a href="<%= photo.pic_url %>"  class="lightview1" rel="group1"
           >
            <%= cl_image_tag(photo.pic_url(:thumb), class:"image_al_c thumbnail")  %></a> 
        </div>
        </li>
      
      <% end %>
      </ul>
      </div>
    </div>

   <script type="text/javascript">
        $(document).ready(function(){
           $(window).scroll( function() {
                if ($(window).scrollTop() > ($('#floater-wrapper').offset().top)-40)
                    $('#floater').addClass('floating');
                 // console.log("addClass");
                else
                    $('#floater').removeClass('floating');
                 // console.log("removeClass");
            } );

           $('#addTo').click(function(){
                  $("#newAlb").show();
                  $("#existingAlb").show();
                   $("#share").show();
                   $("#cancelAlb").show();
                   $("#addTo").hide();

            });

          $('#cancelAlb').click(function(){
                  $("#newAlb").hide();
                  $("#existingAlb").hide();
                   $("#share").hide();
                   $("#cancelAlb").hide();
                   $("#addTo").show();
                   $("#newAlbum").hide();
                   $("#floater").show();
                   $("#gallery1").show();
            });   

          $("#newAlb").click(function(){
            $("#newAlbum").show();
            $("#floater").hide();
            $("#gallery1").hide();
          }); 

          $("a.lightview1").fancybox({
            'transitionIn'  : 'elastic',
            'transitionOut' : 'elastic',
            'speedIn'   : 600, 
            'speedOut'    : 200, 
            'overlayShow' : false
          });

              $('.image_al_c1').click(function(){
               var id = this.id;
               if($("#photo_"+id).is(':checked')){
                  $("#photo_"+id).attr('checked', false);
                 // $("#a-img_"+id).removeClass("img-selected");
                  $("#a-img_chk_"+id).hide();
              }else{
                 $("#photo_"+id).attr('checked', true);
                //  $("#a-img_"+id).addClass("img-selected");
                  $("#a-img_chk_"+id).show();
                }
            });
        });
    </script>
