     <script type="text/javascript">var photoCount2 = 0;var photoCount3 = 0;</script>
     <div id="camera_roll">
      
      <div  id="floater-wrapper1"  >
      <div id="floater1" class=" span16 pull-left" style="border:20px solid #fff;background-color:#fff; " ><h4 ><a href="#" style="float:left;"> &nbsp;Camera Roll</a>

        </h4>    
        <div style="margin-right:35px;"  >
            <span style="clear:both;" ></span>
            <%= link_to "Mark to delete", '#', id: "markToDelete",  class: "pull-right uibutton icon edit",style:"margin-left:0px;" %>
            
             <%= link_to "Add to album", '#', id: "addTo",  class: " pull-right uibutton icon add" %>
            
        <%= link_to "cancel ", albums_path, remote: true,  id: "cancelAlb",  class: " pull-right uibutton" , style:"display:none;margin-left:5px;"%>

        <%= link_to "Delete marked photos", '#', id: "deletePhotos",  class: "btn danger pull-right ", style:"display:none;margin-left:5px;" %>
         <%= link_to "Share", '#', id: "share",  class: "btn primary pull-right", style:"display:none;margin-left:5px;" %>
         <input type="button" id="existingAlb"  class="btn primary pull-right" style="display:none;margin-left:5px;" value="Existing" />
          <%= form_for(@album, remote: true) do  |f| %> 
        <%= link_to "New ", '#', id: "newAlb",  class: "btn primary pull-right", style:"display:none;" %>
      <%= submit_tag "Create album", id: "createAlb", class: "btn primary ",style:"display:none;float:right;"  %> 
      <input type="button" value="Update album" id="updateAlbBtn"  class="btn primary " style="display:none;float:right;"  >   
        </div>
      </div>
      </div>
        <br><br><br> <span style="clear:both;" ></span>
             <div id="newAlbum" style="display:none;">
          <h2  class="span14 ">Create album </h2><br><br><br>
          <div class="span9" style="margin-left:100px;" >
            
             <%= render 'shared/error_messages', object: f.object %>
             <br>
              <%= f.label "title: " %>
              <%= f.text_field :title %>
              <br>
              <%= f.label "description:" %>
              <%= f.text_area :description, placeholder: "Album description...", :rows=>2, :cols=>40 %>
              <span class=" overrideClass"><br><br>
              <%= f.label "privacy:" %>
              <%= f.select :privacy, ["Public", "Follower", "Private"] %>
              
              </span>
            <br><br>

            </div>
          <br><br><br>
          <div class="span16" id="gallery2" >
         <ul id="grid">
          <% @camera_roll.each do |photo| %>
            <li>
            <div  class="img_zoom" id="div-img_<%= photo.id %>">
          <a  id="a-img_<%= photo.id %>" style="cursor:pointer;">

            <img src="/assets/check.png" id="a-img_chk_<%= photo.id %>" style="z-index: 1;position:absolute;margin-left:50px;display:none;" class"changeDelBtn"/>
          <%= cl_image_tag(photo.pic_url(:smaller), class:"image_al_c1 thumbnail", id:"#{photo.id}")   %></a> 
          </div>
          </li>
           <div style="display:none" >
              <%= check_box_tag "photo[#{photo.id}]", photo.id %>
             
          </div>
          <% end %>
         </ul>
        </div>
        <% end %>
       </div>
      <div id="gallery1" class="span16 ">
         <ul id="grid" class="pull-left">
          <li>
          <div id="upload1"  style = "border:2px dashed #ddd; width:85px; height:85px; padding:10px;  left:40px; text-align:middle; z-index: 1;  cursor:pointer;  float:left;
          " class="bgClrChg">  <h5 > Upload photos</h5>
          </div>
          </li>
         <% @camera_roll.each do |photo| %>
          <li>
          <div  class="img_zoom" >
            <a href="<%= photo.pic_url %>"  class="lightview1" rel="group1"
           >
            <%= cl_image_tag(photo.pic_url(:smaller), class:"image_al_c thumbnail")  %></a> 
        </div>
        </li>
      
      <% end %>
      </ul>
      </div>
    </div>
    <%= form_for  @album, :url => { :action => "updates" },  :method => :get, remote: true do  |f| %>
    <div id="exstAlbUpdate">
      <div id="selectedAlb" style="display:none;">
                 <%= submit_tag "Update album", id: "updateAlb", class: "btn primary ",style:"display:none;float:right;"  %>   
            <% unless @albums.nil? %>
                <div id="gallery1" class="span9 pull-left warning alert-message">
                   <ul id="grid">
                   <% @albums.each do |album| %>
                    <% unless album.photos[0].nil? %>
                    <li>
                    <div  class="img_zoom" id="alb-<%= album.id %>" style="display:none;"><h3 style="float:left;">Selected album : &nbsp;</h3>
                    

                     <%= cl_image_tag(album.photos[0].pic_url(:smaller), class:"image_al_c3 thumbnail") %>

                       <h3 style="float:right;"><%= album.title %></h3>
                  </div>
                  </li>
                  <div style="display:none" >
                      <%= check_box_tag "album[#{album.id}]", album.id %>
                  </div>
                  <% end %>
                <% end %>
                </ul>
              </div>
            <% end %>
          
       <div class="span16" id="gallery3" >
         <ul id="grid">
          <% @camera_roll.each do |photo| %>
            <li>
            <div  class="img_zoom" id="div-img_<%= photo.id %>">
          <a  id="a-img_<%= photo.id %>" style="cursor:pointer;">

            <img src="/assets/check.png" id="a-img_chk1_<%= photo.id %>" style="z-index: 1;position:absolute;margin-left:50px;display:none;" class"changeDelBtn"/>
          <%= cl_image_tag(photo.pic_url(:smaller), class:"image_al_c2 thumbnail", id:"#{photo.id}")   %></a> 
          </div>
          </li>
           <div style="display:none" >
              <%= check_box_tag "photo1[#{photo.id}]", photo.id %>
             
          </div>
          <% end %>
         </ul>
        </div>
        </div>
      </div>
        <% end %>

    </div>

        <div id="modal" style="display:none" >
          <div id="modal-from-dom" class="modal hide fade in" style="display: block;">
            <div class="modal-header">
              <a href="#" id="closeX" class="close">×</a>
              <h3>Select an album</h3>
            </div>
            <div class="modal-body">
              <% unless @albums.nil? %>
                <div id="gallery1" class="span9 pull-left">
                   <ul id="grid">
                   <% @albums.each do |album| %>
                    <% unless album.photos[0].nil? %>
                    <li>
                    <div  class="img_zoom" >
                     <%= link_to cl_image_tag(album.photos[0].pic_url(:smaller), class:"image_al_c3 thumbnail", id:"#{album.id}") , "#", id: "alb-#{album.id}", class:"albumLink" %>
                       <h3 style="float:right;"><%= album.title %></h3>
                  </div>
                  </li>
                   <% end %>
                  <% end %> 
                </ul>
                </div>
                 
              <% end %> 
            </div>
            <div class="modal-footer" >
              <a href="#" style="display:none;" class="btn primary">Primary</a>
            </div>
          </div>
          
        </div>
        <%= form_for  @album, :url => { :action => "delete_photos" },  :method => :get, remote: true do  |f| %>
      <div class="span16" id="gallery4" style="display:none;" >
         <ul id="grid">
          <%= submit_tag "Update camera_roll", id: "updateCR", class: "btn primary ",style:"display:none;float:right;"  %>   

          <% @camera_roll.each do |photo| %>
            <li>
            <div  class="img_zoom" id="div-img_<%= photo.id %>">
          <a  id="a-img_<%= photo.id %>" style="cursor:pointer;">

            <img src="/assets/delete.png" id="a-img_chk2_<%= photo.id %>" style="z-index: 1;position:absolute;margin-left:50px;display:none;" class"changeDelBtn"/>
          <%= cl_image_tag(photo.pic_url(:thumb), class:"image_al_c4 thumbnail", id:"#{photo.id}")   %></a> 
          </div>
          </li>
           <div style="display:none;" >
              <%= check_box_tag "photo2[#{photo.id}]", photo.id %>
             
          </div>
          <% end %>
         </ul>
        </div>
        <% end %>
   <script type="text/javascript">
        $(document).ready(function(){
           $(window).scroll( function() {
                if ($(window).scrollTop() > ($('#floater-wrapper1').offset().top)-40)
                    $('#floater1').addClass('floating');
                 // console.log("addClass");
                else
                    $('#floater1').removeClass('floating');
                 // console.log("removeClass");
            } );

           $('#addTo').click(function(){
                  $("#newAlb").show();
                  $("#existingAlb").show();
                   $("#share").show();
                   $("#cancelAlb").show();
                   $("#addTo").hide();
                   $("#markToEdit").hide();
                   $("#markToDelete").hide();

            });
           $('#markToDelete').click(function(){
                   $("#gallery4").show();
                   $("#addTo").hide();
                   $("#markToDelete").hide();
                   $("#floater").hide();
                    $("#gallery1").hide();
                    $("#newAlb").hide();
                    $("#existingAlb").hide();
                    $("#share").hide();
                    $("#cancelAlb").show();

            });

          $('#cancelAlb').click(function(){
                  $("#newAlb").hide();
                  $("#existingAlb").hide();
                   $("#share").hide();
                   $("#cancelAlb").hide();
                   $("#addTo").show();
                   $("#markToEdit").show();
                   $("#newAlbum").hide();
                   $("#floater").show();
                   $("#gallery1").show();
                   $("#createAlb").hide();
                   $("#updateAlbBtn").hide();
                   $("#deletePhotos").hide();
                   $("#gallery4").hide();

            });   

          $("#newAlb").click(function(){
            $("#newAlbum").show();
            $("#floater").hide();
            $("#gallery1").hide();
            $("#newAlb").hide();
            $("#existingAlb").hide();
            $("#share").hide();
            $("#createAlb").show();
            
          }); 
          $("#existingAlb").click(function(){
            $('#modal').modal('show');
             $("#floater").hide();
            $("#gallery1").hide();
            $("#newAlb").hide();
            $("#existingAlb").hide();
            $("#share").hide();
            
          });
          $("a.lightview1").fancybox({
            'transitionIn'  : 'elastic',
            'transitionOut' : 'elastic',
            'speedIn'   : 600, 
            'speedOut'    : 200, 
            'overlayShow' : false
          });

              $('.image_al_c1').click(function(){
               var id = this.id;
               if($("#photo_"+id).is(':checked')){
                  $("#photo_"+id).attr('checked', false);
                 // $("#a-img_"+id).removeClass("img-selected");
                  $("#a-img_chk_"+id).hide();
              }else{
                 $("#photo_"+id).attr('checked', true);
                //  $("#a-img_"+id).addClass("img-selected");
                  $("#a-img_chk_"+id).show();
                }
            });
                $('.image_al_c2').click(function(){
               var id = this.id;
               
               if($("#photo1_"+id).is(':checked')){
                  $("#photo1_"+id).attr('checked', false);
                  photoCount2--;
                  $("#a-img_chk1_"+id).hide();
              }else{
                 $("#photo1_"+id).attr('checked', true);
                  photoCount2++;
                  $("#a-img_chk1_"+id).show();
                }
                if(photoCount2>0){
               $("#updateAlbBtn").show();
               }else{
                $("#updateAlbBtn").hide();
               }
            });

                $("#closeX").click(function(){
                    $('#modal').modal('hide');
                });

               $('.image_al_c3').click(function(){
               var id = this.id;
               $('#modal').modal('hide');
               $("#exstAlbUpdate").show();
               $("#selectedAlb").show();
                 $("#album_"+id).attr('checked', true);
                $("#alb-"+id).show();
               
               });


               $('.image_al_c4').click(function(){
               var id = this.id;
               if($("#photo2_"+id).is(':checked')){
                  $("#photo2_"+id).attr('checked', false);
                  photoCount3--;
                  $("#a-img_chk2_"+id).hide();
              }else{
                 $("#photo2_"+id).attr('checked', true);
                  photoCount3++;
                  $("#a-img_chk2_"+id).show();
                }
                if(photoCount3>0){
               $("#deletePhotos").show();
               }else{
                $("#deletePhotos").hide();
               }               
               });

               $('#deletePhotos').click(function(){
                 var r=confirm("Are you sure ?")
                  if (r==true)
                    {
                      $("#updateCR").click();
                      $("#gallery4").hide();
                    }
                  else
                    {
                    
                    }             
                });

               $('#updateAlbBtn').click(function(){
                  $("#updateAlb").click();
               });

               $("#upload1").click(function(){
                  $("#pic").click();
                });
        });
    </script>
