   <script src="https://rawgithub.com/kayahr/jquery-fullscreen-plugin/master/jquery.fullscreen.js"></script>
   <div id="camera_rolls" style="margin-left:250px;margin-bottom:0px;">
     <!--<ul class="breadcrumb" style="width:670px">
      <li><a href="#" class="marginLeft10">View by month</a> </li>
     <li><a href="#" class="marginLeft25">Tagged</a> </li>
      <li><a href="#" class="marginLeft25">Mobile uploads</a> </li>
      <li><a href="#" class="marginLeft25" >Photos of posts</a> </li>
      <span class="marginLeft160 "><li><%= link_to "Mark", '#', id: "mark",  class: "uibutton icon edit " %></li></span>
      <span class="marginLeft50 active_hide"><li><%= link_to "Create Album", '#', id: "create_album_roll",  class: "uibutton icon add " %></li></span>
      <span class="marginLeft25 active_hide"><li><%= link_to "Delete", '#', id: "delete_photos",  class: "uibutton " %></li></span>
      <span class="marginLeft25 active_hide"><li><%= link_to "Cancel", '#', id: "cancel",  class: "uibutton " %></li></span>
      <span class="marginLeft25 pull-right" ><li><%= link_to "Upload", '#', id: "upload_photos",  class: "uibutton icon add " %></li></span>
    </ul>-->
  </div>
  <div  style="margin-left:250px;" >
     <div id="camera_roll" class="span16">
          <% @camera_roll.each do |month, rolls| %>  
          <h3><%= month.strftime("%B %Y") %></h3>  
          <div style="padding:17px;border:0px;">
            <% rolls.each do |photo| %>
              <ul id="grid" class="pull-left" style="margin:2px;" >
                <li style="margin:2px;">
                  <a href="<%= photo.pic_url %>"  class="lightview1" rel="group1">
                  <%= cl_image_tag(photo.pic_url(:small), class:"thumbnail", style: "margin:0px!important;", alt: "http://res.cloudinary.com/rashi/image/upload/v1377921346/RYW-Logo-smaller_rbkszn.png")  %></a> 
              </li>
            </ul>
            <% end %>
         </div>
          <% end %>
    </div>
  </div>
  
   <script type="text/javascript">
     $(function() {
      $( "#camera_roll" ).accordion({
      heightStyle: "content",
      collapsible: true
      });
    });
     $("#mark").click(function(){
        $("#mark").parent().parent().hide();
        $("#upload_photos").parent().parent().hide();
        $("#cancel").parent().parent().show();
        $("#delete_photos").parent().parent().show();
        $("#create_album_roll").parent().parent().show();
     });

     $("#cancel").click(function(){
        $("#cancel").parent().parent().hide();
        $("#mark").parent().parent().show();
        $("#upload_photos").parent().parent().show();
        $("#delete_photos").parent().parent().hide();
        $("#create_album_roll").parent().parent().hide();
     });

          $("a.lightview1").fancybox({
            padding    : 0,
            afterShow: function() { 
                $('<div class="expander"></div>').appendTo(this.inner).click(function() {
                    $(document).toggleFullScreen();
                });
            },
            afterClose: function() {
              $(document).toggleFullScreen();
                $(document).fullScreen(false);
            },
            'transitionIn'  : 'elastic',
            'transitionOut' : 'elastic',
            'speedIn'   : 600, 
            'speedOut'    : 200, 
            'overlayShow' : false
/*           ,
        autoCenter : false,
        afterLoad  : function () {
            $.extend(this, {
                aspectRatio : false,
                type    : 'html',
                height  : '100%',
                content : '<div class="fancybox-image" style="background-image:url(' + this.href + '); background-size: cover; background-position:50% 50%;background-repeat:no-repeat;height:100%;width:100%;" /></div>'
            });
        }*/
          });

          $(document).bind("fullscreenerror", function() {
              alert("Browser rejected fullscreen change");
          });
    </script>
