<div id="album_show"  style="width:800px;margin-top:50px;">

	<div class=" span2 center" style="display:none; height:110px;width:110px;background-color:#f2f2f2;">
		<input type="button" id="fullscn" class="center pull-right uibutton" value="Fullscreen" style="margin-left:auto;margin-right:20px;margin-top:40px;"> 
	</div>
  <% if current_user.nil? %>
     <br><br>
  <% end %>
              <ul class="breadcrumb buttonset" style="width:667px;height:22px;">
                    <li><a href="#" class="marginLeft10 marginRight10" style="line-height:2;">Albums</a><span class="divider">/</span> </li>
                    <li><a href="/albums/<%= @album.id %>" class="marginLeft10" ><%= @album.title %></a></li>
                    <span style="margin-right:5px;float:right;">
                      <li style="display:none"><label for="option-fullscreen" >Fullscreen : &nbsp;
                  <input type="checkbox" id="option-fullscreen" >  &nbsp;</label></li>
                  <li><label for="option-slideshow" style="display:none ">Slideshow
                  <input type="checkbox" id="option-slideshow" style="" checked></label></li>
                      <% unless @album.downloadlink.blank? %>
                        <li class="marginLeft25"><%= link_to "Download", @album.downloadlink , id: "download",  class: "uibutton" %></li>
                      <% end %>
                    </span>
                  </ul>   

	<ul id="grid" >
      <div class="galleries">
        <% @album.photos.each do |photo| %>
          <li>
            <div  class="img_zoom" id="div-img_<%= photo.id %>" >
                <a href="<%= photo.pic_url %>"  class="lightview1 editPhotos fancybox-album"   rel="group1" data-gallery="gallery"
                , title="<%= @album.title %>">
                <%= cl_image_tag(photo.pic_url(:smaller), class:"thumbnail")  %></a> 
            </div>
          </li>
        <% end %>
      </div>
	</ul>
</div>

<script type="text/javascript">



$(document).ready(function(){
				
	$("#fullscn").click(function(){
		//$('#option-fullscreen').click();
		$('#option-fullscreen').click();

	});


  
});


</script>