<% provide(:title, 'Camera Roll') %>

  <div class="row">
    <aside class="span6">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <br>
      <br>
      <br>
      <br>
      <br>
        <%= form_for(@photo, :html => {:multipart => true}) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <br>
         
          <div id="upload1" style = "border:2px dashed #ddd; width:200px; height:50px; padding:10px;  left:40px; text-align:right; z-index: 1;  background: url(assets/addMedia.png) no-repeat 10%; 
          ">   Click here to upload photos
          </div>
          <!-- <%= link_to "Add image", "#",  class: "btn primary", id: "image_upload"%>-->
               <%= f.fields_for :photos, Photo.new, :child_index => 'NEW_RECORD' do |photo_form| %>
                 <!--   <% render(:partial => 'photos/photo', :locals => { :f => photo_form }) %>-->
                   <%= photo_form.file_field :pic, id: "pic", :multiple => true,style: "width:1px; height:1px; padding:0px;  left:0px;" %>                <% end %>

          <br>
          <%= hidden_field_tag :type, "user" %>  
          <%= f.submit "Post", class: "btn primary" %>
         <% end %>
     
      
    </aside>
     <div class="span8">
     
       <div id="image" style="display:none">
          <!-- style="display:none"> -->
           <h3><a href="#">Photos ready to be uploaded... </a></h3>
          <canvas id="imageCanvas" style = "border: 1px solid #ddd; padding:10px; align:center" ></canvas>
       </div>
          
        <h3><a href="#">Camera Roll </a></h3>

       <div id="gallery" style="width:600px;">
     <ul id="grid" class="media-grid1">
    <% @photos.each do |photo| %>
      <li>
      <div  class="img_zoom" >
    <a href="<%= photo.pic_url %>"  class="lightview" 
   data-lightview-group="thumbnail-" 
   data-lightview-group-options="controls: 'thumbnails'">
    <%= cl_image_tag(photo.pic_url(:thumb), class:"image_al_c thumbnail")  %></a> 
    </div>
    </li>
  
  <% end %>
  </ul>
  </div>
    </div>
  </div>  
<script type="text/javascript">
$("#image_upload").click(function(){
      
   $("#image_upload").after($("div#image").html().replace('NEW_RECORD', new Date().getTime()) ); 
   
  });

$("#remove_image").click(function(){
  $("#pic").val("");
  $("#image").hide();
  $("#image_upload").show();

});

/*
$('img.image_al_c').load(function() {
    $(this).data('height', this.height);
}).bind('mouseenter mouseleave', function(e) {
    $(this).stop().animate({
        height: $(this).data('height') * (e.type === 'mouseenter' ? 1.5 : 1)
    });
});*/

$("#upload1").click(function(){
    $("#image").show();
      $("#pic").click();
     
    });
$(document).ready(function() {
     var imageLoader = document.getElementById('pic');
    imageLoader.addEventListener('change', handleImage, false);

  

function handleImage(e){
  var canvas = document.getElementById('imageCanvas');
  var ctx = canvas.getContext('2d');
  var iCnt=0;
  var files = e.target.files;
  canvas.width = 600;
  canvas.height = 155*(Math.ceil(files.length/4));
  for( var i = 0, len = files.length; i < len; i++) 
        {
        if(files[i])
          {
            var reader = new FileReader();
            reader.onload = function(event){
              var img = new Image();

              img.onload = function(){
                var ratioPx = 150;
                var sWidth =ratioPx;
                var ratio = img.width/sWidth;
                var sHeight = img.height/ratio;   
                  if(sHeight>ratioPx){
                     sHeight =ratioPx;
                     ratio = img.height/sHeight;
                     sWidth = img.width/ratio;  
                  }
                ctx.drawImage(img, 155*(iCnt%4),155*(Math.floor(iCnt/4)),sWidth,sHeight);
                //ctx.drawImage(img,0,0,sWidth,sHeight);
                iCnt++;
              }
              img.src = event.target.result;
            }
            reader.readAsDataURL(e.target.files[i]);     
          }
        }
}
});
/*
    var errors="";
    
    $('#upload').mfupload({
        
        type        : '',   //all types
        maxsize     : 2,
      
        ini_text    : "Drag your file to here or click (max: 2MB each)",
        over_text   : "Drop Here",
        over_col    : 'white',
        over_bkcol  : 'green',
        
        init        : function(){       
            $("#uploaded").empty();
        },
        
        start       : function(result){     
            $("#uploaded").append("<div id='FILE"+result.fileno+"' class='files'>"+result.filename+"<div id='PRO"+result.fileno+"' class='progress'></div></div>"); 
        },

        loaded      : function(result){
            $("#PRO"+result.fileno).remove();
            $("#FILE"+result.fileno).html("Uploaded: "+result.filename+" ("+result.size+")");           
        },

        progress    : function(result){
            $("#PRO"+result.fileno).css("width", result.perc+"%");
        },

        error       : function(error){
            errors += error.filename+": "+error.err_des+"\n";
        },

        completed   : function(){
            if (errors != "") {
                alert(errors);
                errors = "";
            }
        }
    });     
});
*/

</script>