<% provide(:title, 'Camera Roll') %>
  <aside class="span5 pull-left" style="margin:0px;">
      <section id="photo_sec" style="background-color:#e5e5e5;padding:10px;width:210px;" class="well">
        <span style="clear:both"></span>
        <div id="comUnity_div">    
          <li class="sidetabs sidetabs_selected" style="list-style-type: none;padding:5px; margin:5px;">
            <h6><%= link_to  "Camera Roll", "#" %></h6>
          </li>
          <%= link_to "", photos_path , id: "roll", remote: true %>
          <li class="sidetabs "id="public_li" style="list-style-type: none;padding:5px; margin:5px;">
            <h6><%= link_to  "Albums", "#" %></h6>
          </li>
          <%= link_to "", list_albums_path, id: "list_album", remote: true %>
        </div>
      </section>
  </aside>
       <div id="gallery" >
        <%= render 'albums/roll' %>
       </div>
<script type="text/javascript">
  $(".sidetabs").click(function(){
    $(".sidetabs").removeClass('sidetabs_selected');
    $(this).addClass('sidetabs_selected');
    $(this).next('a').click();
  });

</script>