  <div id="image" style="display:block;">
    <div id="textarea_div" style="resize: both;border: 1px solid #d4dae8;overflow: hidden;background-color:#f2f2f2;">
<%= form_for(@post, remote: true,  :html => {:multipart => true}) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
                <%= fields_for :photo, Photo.new, :child_index => 'NEW_RECORD' do |photo_form| %>
                 
                <%= photo_form.file_field :pic, id: "pic-grp",style: "width:1px; height:1px; padding:0px;  left:0px;display:none;" %>  

                <% end %>
                 <div class=" pull-left">
                    <%= f.text_area :content, placeholder: "Compose new post...", :rows=>6, class: "span10", 'data-validation' => "required", 'data-validation-error-msg' => "Post can't be blank" %>
                 <canvas id="imageCanvas-grp" style = "border: 1px solid #ddd; padding:2px; align:center;cursor:pointer; background-color:#ffffff;" width="137px" height="88px">Add pictures</canvas>
                </div> 
 <%= f.submit "Post", class: "btn primary pull-right busy", id: "submit_grp_post" %>
  <%= hidden_field_tag :type, "group" %>  
  <%= hidden_field_tag :group_id, @group.id %>
<% end %>
      </div>
</div>


<script type="text/javascript">
$("#image_upload").click(function(){
      
   $("#image_upload").before($("div#image").html().replace('NEW_RECORD', new Date().getTime()) ); 
   
  });

$("#remove_image").click(function(){
  $("#pic-grp").val("");
  $("#image").hide();
  $("#image_upload").show();

});

$(document).ready(function(){
  $.validate({
    onSuccess : function() {
      $('.loading_page').show();
      $('#submit_grp_post').attr('data-loading-text', 'Posting...');
      $('#submit_grp_post').button('loading');
    },
  });
  });


 var imageLoader = document.getElementById('pic-grp');
    imageLoader.addEventListener('change', handleImage, false);
    $("#imageCanvas-grp").click(function(){
        $("#pic-grp").click();
    });
        var canvas = document.getElementById('imageCanvas-grp');
    var ctx = canvas.getContext('2d');
    ctx.font="8pt tahoma ";
    ctx.fillStyle = 'grey';
    ctx.fillText("Add picture",35,46);

  function handleImage(e){
    var canvas = document.getElementById('imageCanvas-grp');
    var ctx = canvas.getContext('2d');
    var iCnt=0;
    var files = e.target.files;
    canvas.width = 137;
    canvas.height = 88*(Math.ceil(files.length/1));
    for( var i = 0, len = files.length; i < len; i++) 
          {
          if(files[i])
            {
              var reader = new FileReader();
              reader.onload = function(event){
                var img = new Image();

                img.onload = function(){
                  var ratioPx = 150;
                  var sWidth =ratioPx;
                  var ratio = img.width/sWidth;
                  var sHeight = img.height/ratio;   
                    if(sHeight>ratioPx){
                       sHeight =ratioPx;
                       ratio = img.height/sHeight;
                       sWidth = img.width/ratio;  
                    }
                  ctx.drawImage(img, 155*(iCnt%4),155*(Math.floor(iCnt/4)),sWidth,sHeight);
                  //ctx.drawImage(img,0,0,sWidth,sHeight);
                  iCnt++;
                }
                img.src = event.target.result;
              }
              reader.readAsDataURL(e.target.files[i]);     
            }
          }
  }

</script>
