          <% @Ulikes = false %>
        <% unless post.userlikes.blank?  %> 
          <% post.userlikes.each do |likes| %>
            <% if likes.user_id == current_user.id %>
              <% @Ulikes = true %>
            <% end %>

          <% end %>
        <% end %>
        <span >
        <% if @Ulikes %>
            <%= link_to "Unlike", userUnlike_posts_path(post_id: post.id), remote:true, class: "semibold text-default" %><span class="timestamp hide" >&nbsp; - &nbsp;</span><a class="disabled hide" id="share_<%= post.id %>">Share</a><br> 
            <span class="ml15 text-default">You <% if post.userlikes.count>1 %> and <abbr id="<%= post.id %>_hover"  title="<% post.userlikes.each do |likes| %><%= likes.user.name %><% end %>"><a class="disabled"  id="show_like_<%= post.id %>" title="" title=""><%= post.userlikes.count-1 %> <%= "other".pluralize(post.userlikes.count) %></a></abbr> <% end %> like this</span>
             
        <% else %>
            <%= link_to "Like", userLike_posts_path(post_id: post.id), remote:true, class: "semibold text-default" %><span class="timestamp hide" >&nbsp; - &nbsp;</span><a class="disabled hide" id="share_<%= post.id %>">Share</a><br> 
            <% if post.userlikes.count>0 %>
              <% if post.userlikes.count==1 %>
                <span class="ml15 text-default"><%= post.userlikes[0].user.name  %> likes this</span>
              <% else %>
                <span class="ml15 text-default"><abbr id="<%= post.id %>_hover" title="<% post.userlikes.each do |likes| %><%= likes.user.name %><% end %>"><a class="disabled"  id="show_like_<%= post.id %>" title="" title=""><%= post.userlikes.count %> <%= "other".pluralize(post.userlikes.count) %></a></abbr> like this</span>
              <% end %>
            <% end %>
        <% end %>
        </span>

      <div id="modal_like_<%= post.id %>" class="modal modal_like fade">
          <div id="modal-from-dom" class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">×</button>
                <span class="semibold modal-title text-primary font-14">People who like this</span>
              </div>
            <div class="modal-body ptb0 plr10">
              <div class="row">
              <div class="ui-front">
                <ul class="media-list mb0" >
                  <% post.userlikes.each do |likes| %>
                      <li class="media ">
                        <a href="<%= user_path(likes.user) %>" data-remote="true" class="pull-left">
                            <%= gravatar_for likes.user, size: 30 %>
                        </a>
                        <span class="pull-left">
                          <%= link_to likes.user.name, likes.user, remote: true %>
                        </span>
                        <%= likes.user.user_info.current_city  unless likes.user.user_info.nil? %>
                      </li>
                  <% end %> 
                </ul>              
              </div>    
             </div>
           </div>
           <div class="modal-footer">
              <a class="btn btn-success btn-custom btn-sm" data-dismiss="modal">Close</a>
          </div>
          </div>          
        </div>
      </div>




        <script type="text/javascript">
            $(document).ready(function() {
             //  $("#<%= post.id %>_hover" ).hover(function(){console.log("123")  },function(){console.log("456") });
             /* $("#<%= post.id %>_hover" ).tooltip({
                 content: "<% post.userlikes.each do |likes| %><br><%= likes.user.name %><% end %>"
              });*/

            });

        $("#show_like_<%= post.id %>").click(function(){
          $('#modal_like_<%= post.id %>').modal('show');
        });
        $(".close").click(function(){
              $('.modal_like').modal('hide');
            });

    $("#share_<%= post.id %>").click(function(){
      $('#modal_share_<%= post.id %>').modal('show');
    });
    $(".close").click(function(){
          $('.modal_share').modal('hide');
        });

    $(".share_post").click(function(){
          $(this).button('loading');
        }); 

        </script>