     <table id="table_<%= post.id %>">
      <tr>
        <td style="padding:2px;">
      <div class="paginate_do">
        <section class="users">
          <div class="pull-right" style="padding:5px 0 0 5px;margin:1px 0 0 0;">
            <% if current_user?(post.user) %>
             <strong style="font-size:15px;margin-right:3px;"> <%= link_to "×", post, method: :delete, remote: true, style: "color:#99A7C3 !important;",
                                               data: { confirm: "You sure?" },
                                               title: "delete the post" %></strong>
            <% end %><br>
          </div>
          <li style="border-bottom:0px;padding: 5px 5px 0 5px;">
            <a href="/users/<%=post.user.id %>/" data-remote="true" style="cursor:pointer;border:0px;padding:0px;" class="pop_up" rel="popover" data-content='<%= gravatar_for post.user, size: 100 %>' data-original-title="<%= post.user.name %>" >
                    <%= gravatar_for post.user, size: 50 %>
            </a>
                    <address style="margin-top:5px;">
                      <strong style="font-size:15px;letter-spacing:0.02em;"> <%= link_to post.user.name, post.user, remote: true %></strong>
                      <% unless (post.postable_type != Objecttypeenum::EVENT && post.postable_type != Objecttypeenum::ACTIVITY && post.postable_type != Objecttypeenum::ALBUM && post.postable_type != Objecttypeenum::BUYSELL)%>
                       <%= post.content.gsub(/\n/, '<br>').html_safe %>
                      <% end %>
                       <br>
                      <span class="timestamp" >
                        <%= time_ago_in_words(post.created_at) %> ago.
                      </span>
                    </address>
          </li>
            <% if (post.postable_type != Objecttypeenum::EVENT && post.postable_type != Objecttypeenum::ACTIVITY && post.postable_type != Objecttypeenum::ALBUM && post.postable_type != Objecttypeenum::BUYSELL)%>
          <li style="margin-top:0;padding-top:0;">
                  <span class="content" style="font-size:15px;border:0px;padding: 5px 5px 0 5px;"><%= post.content.gsub(/\n/, '<br>').html_safe %></span>
          </li>
            <% end %>
        </section>
      </div>
      </td>
    </tr>
    <tr>
      <td style="padding:0px;border:0px;" class="post_grid">
        <div class="container_pics" >
            <li style="border-top: 0px;">
            <div  class="img_zoom center  " style="margin-left:7px;margin-right:7px;display :block;width:550px;height:355">
              <% i = 0 %>
         <% post.photos.each do |photo| %>
            <div  >
              <% i += 1 %>

              <% if (post.postable_type != Objecttypeenum::EVENT && post.postable_type != Objecttypeenum::ACTIVITY && post.postable_type != Objecttypeenum::ALBUM && post.postable_type != Objecttypeenum::BUYSELL)%>
                        <!-- <a href="<%= photo.pic_url %>" rel="rettyPhoto[<%= post.id %>]" class="lightview" data-lightview-group="thumbnail-<%= post.id %>" data-lightview-group-options="controls: 'thumbnails'"> -->
                 <a href="<%= photo.pic_url %>" rel="group[<%= post.id %>]" class="fancybox-album center">
                <%= cl_image_tag(photo.pic_url(:large_mid), class:"image_al_c")  %></a> 
                <% break %>
              <% end %>

            <% if post.postable_type == Objecttypeenum::EVENT  ||  post.postable_type == Objecttypeenum::ACTIVITY ||  post.postable_type == Objecttypeenum::BUYSELL || post.postable_type == Objecttypeenum::ALBUM %>

                <% if post.photos.count == 1 %>
                  <%= link_to cl_image_tag(photo.pic_url(:photogrid_one), class:"albumLink padding1", id:"#{photo.id}") ,  photo.pic_url, class: "fancybox-album",rel: "#{post.id}" %>
                <% end %>

                <% if post.photos.count == 2 %>
                  <%= link_to cl_image_tag(photo.pic_url(:photogrid_two), class:"albumLink pull-left padding1",rel: "#{post.id}", id:"#{photo.id}") , photo.pic_url, class: "fancybox-album",rel: "#{post.id}" , title: "#{post.postable.title}"  %>
                <% end %>

                  <% if post.photos.count == 3 %>
                    <% if i == 1 %>
                      <%= link_to cl_image_tag(photo.pic_url(:photogrid_three_one), class:" albumLink pull-left padding1", style: "display:block;", id:"#{photo.id}") , photo.pic_url, class: "fancybox-album", rel: "#{post.id}", title: "#{post.postable.title}" %>
                    <% else %>
                      <%= link_to cl_image_tag(photo.pic_url(:photogrid_three_two), class:" albumLink pull-left padding1", style: "display:block;", id:"#{photo.id}") ,  photo.pic_url, class: "fancybox-album", rel: "#{post.id}", title: "#{post.postable.title}" %>
                    <% end %>
                  <% end %>

                  <% if post.photos.count > 3 %>
                      <%= link_to cl_image_tag(photo.pic_url(:photogrid_two), class:" albumLink pull-left padding1", style: "display:block;", id:"#{photo.id}") ,  photo.pic_url, class: "fancybox-album",rel: "#{post.id}", title: "#{post.postable.title}" %>
                    <% if i > 3 %>
                      <% break %>
                    <% end %>
                  <% end %>

            <% end %>
          </div>
        <% end %>
          </div>
          </li>

        </div>
        
        <div style="background-color:#f0f0f0;padding:5px;margin:5px 0px 4px 0px;" class="clear-float">
          <span class="timestamp hfive" style="margin-left:5px;">Posted to <%="community".pluralize(post.communities.count) %>
                  </span>
        <ul class="users">
        <% unless post.communities.count == 1 && post.communities[0].id == active_community.id %>
        <% end %>
          <% unless post.communities[0].nil? %>
                  <% j=0 %>
                 <!--  <strong style="font-size:14px;" > -->
                    <span  class="center_block">
                  <% post.communities.each do |cu| %>
                  <!--
                  <% j+=1 %>
                  &nbsp;<%= link_to cu.name, cu, remote:true %><%= "," if post.communities.count != j %> 
                  -->
                  <li style="margin-left:5px;position:relative;width:180px;" class="pull-left">
                    <%= link_to cl_image_tag(cu.photo.pic_url(:smallest), class:"image_al_c1 thumbnail pull-left ", id:"#{cu.photo.id}"), "#" %>
                    <div style="margin-left:65px;margin-top:5px;">
                       <address>
                         <strong><%= link_to cu.name.capitalize, "#", style: "font-size:13px;word-wrap:break-word;" %></strong><br>
                          <span style="word-wrap:break-word;"><%= cu.description.length > 17 ? cu.description.slice(0..17) + "..." : cu.description %></span><br>
                       </address>  
                    </div>
                   </li>  
                  <% end %>
                  </span>
                 <!--  </strong> -->
          <% end %>
        </ul>
        <% unless post.activities[0].nil? %>
          <% unless post.activities[0].is_admin %>
            <span class="content">Activity: <%= post.activities[0].title %></span>
          <% end %>
        <% end %>
        <ul class="users">
        <% unless post.groups[0].nil? %>
                <% i=0 %>
                <span  class="center_block">
                  <li class="timestamp hfive" style="margin:0 0 0 5px;position:relative;width:550px;padding:0px;"> Posted to <%="Group".pluralize(post.groups.count) %>
                </li>
                <% post.groups.each do |group| %>
                <% i+=1 %>
                    <li style="margin-left:5px;position:relative;width:180px;" class="pull-left">
                    <%= link_to cl_image_tag(group.photo.pic_url(:smallest), class:"image_al_c1 thumbnail pull-left ", id:"#{group.photo.id}"), "#" %>
                    <div style="margin-left:65px;margin-top:5px;">
                       <address>
                         <strong><%= link_to group.name.capitalize, "#", style: "font-size:13px;word-wrap:break-word;" %></strong><br>
                          <span style="word-wrap:break-word;"><%= group.description.length > 17 ? group.description.slice(0..17) + "..." : group.description %></span><br>
                       </address>  
                    </div>
                   </li>  
<!-- 
                &nbsp;<%= link_to group.name, group, remote:true %><%= "," if post.groups.count != i %> -->
                <% end %>
              </span>
        <br>
        <% end %>
        </ul>
        <div id="<%= post.id %>_userlike" style="border-top:1px solid #ddd;padding:5px 0 0 5px;margin:5px 0 0 0;">
              <%= render :partial => "posts/likes", :locals => { :post => post} %>
        </div>

        </div>
          <div id="postId_<%= post.id %>" class="comments">
              <%= render :partial => "comments/comment", :locals => { :comment => @comment, :post => post} %>
          </div>

      </td>
      </tr>
      </table>

<%= form_for( post, url: share_posts_path , remote: true, method: :post,  :html => {:multipart => true}) do |f| %>
  <div id="modal_share_<%= post.id %>" style="display:none" class="modal_share">
          <div id="modal-from-dom" class="modal hide fade in" style="display: block;width:550px;">
            <div class="modal-header">
              <a href="#"  class="close">×</a>
              <h3>Share</h3>
            </div>
            <div class="modal-body" style="max-height:430px;">
              <div class="row">
              <div class="span6 ui-front">
                   <%= render 'shared/error_messages', object: f.object %>
                    <%= f.hidden_field :id %>
                    <div class="center_block clearfix">
                      <%= f.text_area :content, :placeholder=>"Description", class: ' inherit_width', :title => "Content", rows: 2, cols: 100  %> 
                    </div>


                  <div class="container_pics" >
                   <% post.photos.each do |photo| %>
                      <div  class="img_zoom" >
                        <%= cl_image_tag(photo.pic_url(:medium_large), class:"image_al_c")  %> 
                    </div>
                    <% break %>
                  <% end %>
                  </div>

                  <% unless @joined_communities.nil? %>
                  <aside class="" >
                    <section>
                    <ul class="inputs-list">
                       
                        <div id="comm_list">
                          <li>
                            <span  class="center_block"><h5 class="timestamp">Select <%= "Community".pluralize(@joined_communities.count+1) %>:</h5>
                            <label>
                          <%= check_box_tag( "community_id[]", active_community.id, @selected_comm.include?(active_community)) %>
                              <span><%= active_community.name %></span>
                            </label>
                          </li>
                          <% @joined_communities.each do |cu| %>
                            <li>
                              <label>
                                <%= check_box_tag("community_id[]", cu.id, @selected_comm.include?(cu)) %>
                                <span><%= cu.name %></span>
                              </label>
                            </li>
                          <% end %>
                        </div>
                  </ul>
                    </section>
                  </aside>
                <% end %>
                   
              </div>    
             </div>
           </div>
            <div class="modal-footer" >
              <%= f.submit "Share", class: "btn primary pull-right share_post" %>  
            </div>
          </div>          
        </div>
<% end %>

    <script type="text/javascript">

    </script>