     <table id="table_<%= post.id %>">
      <tr>
        <td width="70px" style="padding:2px;">
      <div class="pull-left paginate_do">
        <section class="grid">
          <li>
            <a href="/users/<%=post.user.id %>/" data-remote="true" style="cursor:pointer;border:0px;padding:0px;" class="pop_up" rel="popover" data-content='<%= gravatar_for post.user, size: 100 %>' data-original-title="<%= post.user.name %>" >
                    <%= gravatar_for post.user, size: 50 %>
            </a>
          </li>
        </section>
      </div>
      </td>
      <td style="padding:0px;" class="post_grid">
        <div class="container_pics" >
         <% post.photos.each do |photo| %>
            <li style="border-top: 0px;">
            <div  class="img_zoom" >
          <% if (post.postable_type != Objecttypeenum::EVENT && post.postable_type != Objecttypeenum::ACTIVITY && post.postable_type != Objecttypeenum::ALBUM && post.postable_type != Objecttypeenum::BUYSELL)%>
            <a href="<%= photo.pic_url %>" rel="rettyPhoto[<%= post.id %>]" class="lightview" data-lightview-group="thumbnail-<%= post.id %>" data-lightview-group-options="controls: 'thumbnails'">
            <%= cl_image_tag(photo.pic_url(:medium_large), class:"image_al_c")  %></a> 
          <% end %>
          <% if post.postable_type == Objecttypeenum::EVENT %>
            <%= link_to cl_image_tag(photo.pic_url(:medium_large), class:" albumLink", id:"#{photo.id}") , post.postable, remote: true %>
          <% end %>
          <% if post.postable_type == Objecttypeenum::ACTIVITY %>
            <%= link_to cl_image_tag(photo.pic_url(:medium_large), class:" albumLink", id:"#{photo.id}") , post.postable, remote: true %>
          <% end %>
          <% if post.postable_type == Objecttypeenum::ALBUM %>
            <%= link_to cl_image_tag(photo.pic_url(:medium_large), class:" albumLink", id:"#{photo.id}") , post.postable, remote: true %>
          <% end %>
          <% if post.postable_type == Objecttypeenum::BUYSELL %>
            <%= link_to cl_image_tag(photo.pic_url(:medium_large), class:" albumLink", id:"#{photo.id}") , post.postable, remote: true %>
          <% end %>
          </div>
          </li>
          <% break %>
        <% end %>
        </div>
          <div class="pull-right" style="padding:5px 0 0 5px;margin:1px 0 0 0;">
          <span class="timestamp" >
            Posted <%= time_ago_in_words(post.created_at) %> ago.
          </span>
        <% if current_user?(post.user) %>
          <%= link_to "delete", post, method: :delete, remote: true,
                                           data: { confirm: "You sure?" },
                                           title: post.content %>
        <% end %><br>
          </div>
        
        <div style="background-color:#f0f0f0;padding:5px;margin:4px 0px;">
        <span class="content" style="font-size:15px"><%= post.content.gsub(/\n/, '<br>').html_safe %></span>
        <% unless post.activities[0].nil? %>
          <% unless post.activities[0].is_admin %>
            <span class="content">Activity: <%= post.activities[0].title %></span>
          <% end %>
        <% end %>
          <% unless post.groups[0].nil? %>
                <% i=0 %>
                <span  class="center_block"><span class="timestamp hfive"><%="Group".pluralize(post.groups.count) %>:
                </span>
                <% post.groups.each do |group| %>
                <% i+=1 %>
                &nbsp;<%= link_to group.name, group, remote:true %><%= "," if post.groups.count != i %>
                <% end %>
              </span>
        <br>
        <% end %>
        
        <% unless post.communities.count == 1 && post.communities[0].id == active_community.id %>
          <% unless post.communities[0].nil? %>
                  <% j=0 %>
                  <span  class="center_block"><span class="timestamp hfive"><%="Community".pluralize(post.communities.count) %>:
                  </span>
                  <% post.communities.each do |cu| %>
                  <% j+=1 %>
                  &nbsp;<%= link_to cu.name, cu, remote:true %><%= "," if post.communities.count != j %>
                  <% end %>
                  </span>
                  <ul class="groupsList">
                  <ol>
                  </ol>
                  </ul>
          <% end %>
        <% end %>
        <div id="<%= post.id %>_userlike" style="border-top:1px solid #ddd;padding:5px 0 0 5px;margin:5px 0 0 0;">
              <%= render :partial => "posts/likes", :locals => { :post => post} %>
        </div>

        </div>
          <div id="postId_<%= post.id %>" class="comments">
              <%= render :partial => "comments/comment", :locals => { :comment => @comment, :post => post} %>
          </div>

      </td>
      </tr>
      </table>

<%= form_for( post, url: share_posts_path , remote: true, method: :post,  :html => {:multipart => true}) do |f| %>
  <div id="modal_share_<%= post.id %>" style="display:none" class="modal_share">
          <div id="modal-from-dom" class="modal hide fade in" style="display: block;width:550px;">
            <div class="modal-header">
              <a href="#"  class="close">×</a>
              <h3>Share</h3>
            </div>
            <div class="modal-body" style="max-height:430px;">
              <div class="row">
              <div class="span6 ui-front">
                   <%= render 'shared/error_messages', object: f.object %>
                    <%= f.hidden_field :id %>
                    <div class="center_block clearfix">
                      <%= f.text_area :content, :placeholder=>"Description", class: ' inherit_width', :title => "Content", rows: 2, cols: 100  %> 
                    </div>


                  <div class="container_pics" >
                   <% post.photos.each do |photo| %>
                      <div  class="img_zoom" >
                        <%= cl_image_tag(photo.pic_url(:small), class:"image_al_c")  %></a> 
                    </div>
                    <% break %>
                  <% end %>
                  </div>

                  <% unless @joined_communities.nil? %>
                  <aside class="" >
                    <section>
                    <ul class="inputs-list">
                       
                        <div id="comm_list">
                          <li>
                            <span  class="center_block"><h5 class="timestamp">Select <%= "Community".pluralize(@joined_communities.count+1) %>:</h5>
                            <label>
                          <%= check_box_tag( "community_id[]", active_community.id, @selected_comm.include?(active_community)) %>
                              <span><%= active_community.name %></span>
                            </label>
                          </li>
                          <% @joined_communities.each do |cu| %>
                            <li>
                              <label>
                                <%= check_box_tag("community_id[]", cu.id, @selected_comm.include?(cu)) %>
                                <span><%= cu.name %></span>
                              </label>
                            </li>
                          <% end %>
                        </div>
                  </ul>
                    </section>
                  </aside>
                <% end %>
                   
              </div>    
             </div>
           </div>
            <div class="modal-footer" >
              <%= f.submit "Share", class: "btn primary pull-right share_post" %>  
            </div>
          </div>          
        </div>
<% end %>

 