<table>
<tr>
  <td>
<div class="pull-left">
  <section class="grid">
    <li>
    <%= link_to gravatar_for(post.user), post.user %>
    </li>
  </section>
    <span class="user">
      <%= link_to post.user.name, post.user %>
    </span>

</div>
</td>

<td>
<li style="border-top: 0px;" id="<%= post.id %>" class="pull-left">
  <div id="gallery">
  <ul id="grid">
    <% post.photos.each do |photo| %>
      <li>
      <div  class="img_zoom" >
    <a href="<%= photo.pic_url %>" rel="rettyPhoto[<%= post.id %>]" class="lightview" 
   data-lightview-group="thumbnail-<%= post.id %>" 
   data-lightview-group-options="controls: 'thumbnails'">
    <%= cl_image_tag(photo.pic_url(:medium), class:"image_al_c")  %></a> 
    </div>
    </li>
  
  <% end %>
  </ul>
  <span class="content"><%= post.content %></span>
  </div>

    <span class="timestamp">
      Posted <%= time_ago_in_words(post.created_at) %> ago.
    </span>
  <% if current_user?(post.user) %>
    <%= link_to "delete", post, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: post.content %>
  <% end %>
 

</li>
</td>
</tr>
</table>
<script type="text/javascript">
$(document).ready(function(){
  $(".gravatar").addClass(" thumbnail");
  });

$('.img_zoom1 img').load(function() {
    $(this).data('height', this.height);
}).bind('mouseenter mouseleave', function(e) {
    $(this).stop().animate({
        height: $(this).data('height') * (e.type === 'mouseenter' ? 1.08 : 1)
    });
});
</script>