<% posts.each do |post| %>
      <table id="table_<%= post.id %>">
      <tr>
        <td width="70px">
      <div class="pull-left">
        <section class="grid">
          <li>
          <%= link_to gravatar_for(post.user), post.user, title: post.user.name %>
          </li>
        </section>
      </div>
      </td>

      <td>
      <li style="border-top: 0px;" id="<%= post.id %>" class="pull-left">
        <div id="gallery2">
        <ul id="grid">
          <% post.photos.each do |photo| %>
            <li>
            <div  class="img_zoom" >
          <a href="<%= photo.pic_url %>" rel="rettyPhoto[<%= post.id %>]" class="lightview" 
         data-lightview-group="thumbnail-<%= post.id %>" 
         data-lightview-group-options="controls: 'thumbnails'">
          <%= cl_image_tag(photo.pic_url(:medium_large), class:"image_al_c")  %></a> 
          </div>
          </li>
        
        <% end %>
        </ul>
        <span class="content"><%= post.content %></span>
        </div>
        <% unless post.activities[0].nil? %>
          <% unless post.activities[0].is_admin %>
            <span class="content">Activity: <%= post.activities[0].title %></span>
          <% end %>
        <% end %>
          <span class="timestamp">
            Posted <%= time_ago_in_words(post.created_at) %> ago.
          </span>
        <% if current_user?(post.user) %>
          <%= link_to "delete", post, method: :delete, remote: true,
                                           data: { confirm: "You sure?" },
                                           title: post.content %>
        <% end %>
       
          <div id="postId_<%= post.id %>" class="comments">
              <%= render :partial => "comments/comment", :locals => { :comment => @comment, :post => post} %>
          </div>
      </li>
      </td>
      </tr>
      </table>
 <% end %>
<script type="text/javascript">
$(document).ready(function(){
  $(".gravatar").addClass(" thumbnail");
  });

$('.img_zoom1 img').load(function() {
    $(this).data('height', this.height);
}).bind('mouseenter mouseleave', function(e) {
    $(this).stop().animate({
        height: $(this).data('height') * (e.type === 'mouseenter' ? 1.08 : 1)
    });
});
</script>