<% posts.each do |post| %>
      <table id="table_<%= post.id %>">
      <tr>
        <td width="70px" style="padding:2px;">
      <div class="pull-left">
        <section class="grid">
          <li>
            <a href="/users/<%=post.user.id %>/" data-remote="true" style="cursor:pointer;border:0px;padding:0px;" class="pop_up" rel="popover" data-content='<%= gravatar_for post.user, size: 100 %>' data-original-title="<%= post.user.name %>" >
                    <%= gravatar_for post.user, size: 50 %>
            </a>
          </li>
        </section>
      </div>
      </td>
      <td style="padding:0px;">
         <% post.photos.each do |photo| %>
            <li style="border-top: 0px;">
            <div  class="img_zoom" >
          <a href="<%= photo.pic_url %>" rel="rettyPhoto[<%= post.id %>]" class="lightview" 
         data-lightview-group="thumbnail-<%= post.id %>" 
         data-lightview-group-options="controls: 'thumbnails'">
          <%= cl_image_tag(photo.pic_url(:medium_large), class:"image_al_c")  %></a> 
          </div>
          </li>
        
        <% end %>
        
        <div style="background-color:#f0f0f0;padding:5px;margin:4px 0px;">
        <span class="content" style="font-size:15px"><%= post.content %></span>
        <% unless post.activities[0].nil? %>
          <% unless post.activities[0].is_admin %>
            <span class="content">Activity: <%= post.activities[0].title %></span>
          <% end %>
        <% end %>
          <span class="timestamp">
            Posted <%= time_ago_in_words(post.created_at) %> ago.
          </span>
        <% if current_user?(post.user) %>
          <%= link_to "delete", post, method: :delete, remote: true,
                                           data: { confirm: "You sure?" },
                                           title: post.content %>
        <% end %>
        </div>
       
          <div id="postId_<%= post.id %>" class="comments">
              <%= render :partial => "comments/comment", :locals => { :comment => @comment, :post => post} %>
          </div>

      </td>
      </tr>
      </table>
 <% end %>
<script type="text/javascript">
$(document).ready(function(){
  $(".gravatar").addClass(" thumbnail");
  });

$('.img_zoom1 img').load(function() {
    $(this).data('height', this.height);
}).bind('mouseenter mouseleave', function(e) {
    $(this).stop().animate({
        height: $(this).data('height') * (e.type === 'mouseenter' ? 1.08 : 1)
    });
});


$('.pop_up').popover({
    html: true,
    trigger: 'manual',
    placement: 'left',
    delay: { hide: 500},
    template: ' <div class="popover"><div class="pop_div"><div class="arrow1" stlye="margin-right:10px;"></div><div class="popover-inner"  ><h3 class="popover-title" ></h3><div class="popover-content" ><p></p><br></div></div></div></div>'
});

  $(".pop_up").hover(function(){
      $(this).popover('show');        
  },function(){
      $(this).popover('hide');        
  });

</script>