<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      
      <h1><%= @activity.title %></h1>
      <span><%= link_to "view my activities", @activity %></span>
      <span><b>Posts:</b> <%= @activity.posts.count %></span>
    </section>
    <section>
    <% if !@inv_users.nil? %>
      <% if @inv_users.any? %>
           <h3>Invited users</h3>
        <div class="user_avatars">
          <% @inv_users.each do |user| %>
            <%= link_to gravatar_for(user, size: 40), user %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    </section>
    <section>

    <% if !@ed_users.nil? %>
      <% if @ed_users.any? %>
      <h3>Editors</h3>
        <div class="user_avatars">
          <% @ed_users.each do |user| %>
            <%= link_to gravatar_for(user, size: 40), user %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    </section>
  </aside>
  <div class="span8">
        <%= render :partial => 'posts/activity_post', :locals => {:post => @post}, :activity => @activity %>

  </div>
    <div class="span8">

         <span><h2><b>Posts:</b> <%= @activity.posts.count %></h2></span>
    <ol class="microposts">
             <% @activity.posts.each do |post| %>
             <%= render :partial => 'posts/post', :locals => {:post => post} %>
             <% end %>
    </ol>
  </div>
</div>