    <ul class="tabs">
        <%= render 'communities/links', locals: { community: @selected_community} %>
  </ul>
  <div id="image" style="display:block;width:565px;" >
    <% if @selected_community.is_active?(current_user, @selected_community) %>
    <% unless (@selected_community.privacy == Privacyenum::PROTECTED && !current_user.is_cu_admin?(@selected_community)) %>
      <div id="div_new_post">
          <%= render 'communities/post_new', locals: { community: @selected_community} %>
      </div>
    <% end %>
    <% end %>
              <div id="div_post_<%= @selected_community.id.to_s %>" class="resources">
                  <%= render 'posts/post' %>
               
              </div>
               <div id="loading_page" class="center active_hide loading_page" ><img src="/assets/loading-sub.gif"></div>
            </div>

</div>

<script type="text/javascript">
<% if @selected_community.is_active?(current_user, @selected_community) %>
<% unless (@selected_community.privacy == Privacyenum::PROTECTED && !current_user.is_cu_admin?(@selected_community)) %>

 var imageLoader = document.getElementById('pic1');
    imageLoader.addEventListener('change', handleImage, false);
    $("#imageCanvas1").click(function(){
        $("#pic1").click();
    });
    var canvas = document.getElementById('imageCanvas1');
    var ctx = canvas.getContext('2d');
    ctx.font="8pt tahoma ";
    ctx.fillStyle = 'grey';
    ctx.fillText("Add picture",35,46);

  function handleImage(e){
    var canvas = document.getElementById('imageCanvas1');
    var ctx = canvas.getContext('2d');
    var iCnt=0;
    var files = e.target.files;
    if(files.length<1){
      $('#pic1').val('');
      ctx.setTransform(1, 0, 0, 1, 0, 0);
      ctx.clearRect(0, 0, 132, 88);
      ctx.font="8pt tahoma ";
      ctx.fillStyle = 'grey';
      ctx.fillText("Add picture",35,46);
      return;
    }
    canvas.width = 132;
    canvas.height = 88*(Math.ceil(files.length/1));
    for( var i = 0, len = files.length; i < len; i++) 
          {
          if(files[i])
            {
              var reader = new FileReader();
              reader.onload = function(event){
                var img = new Image();

                img.onload = function(){
                  var ratioPx = 150;
                  var sWidth =ratioPx;
                  var ratio = img.width/sWidth;
                  var sHeight = img.height/ratio;   
                    if(sHeight>ratioPx){
                       sHeight =ratioPx;
                       ratio = img.height/sHeight;
                       sWidth = img.width/ratio;  
                    }
                  ctx.drawImage(img, 155*(iCnt%4),155*(Math.floor(iCnt/4)),sWidth,sHeight);
                  //ctx.drawImage(img,0,0,sWidth,sHeight);
                  iCnt++;
                }
                img.src = event.target.result;
              }
              reader.readAsDataURL(e.target.files[i]);     
            }
          }
  }


<% end %>
<% end %>


var currentPage<%= @selected_community.id.to_s %> = 1;
var intervalID = -1000;
var insideLoop ="false"; 

function checkScroll_comm_post() {
  if (nearBottomOfPage() && insideLoop!="true" ) {
    insideLoop ="true";
    currentPage<%= @selected_community.id.to_s %>++;
  $('.loading_page').show();
      if($('#div_post_<%= @selected_community.id.to_s %>').length == 0){
      $('.loading_page').hide();
      clearInterval(intervalID);
      for (var i = 1; i < 99999; i++){
         window.clearInterval(i);
      }
      insideLoop = "false";
      return;
    }
    jQuery.ajax('/communities/community_post_paginate?page=' + currentPage<%= @selected_community.id.to_s %> + '&id=' + '<%= @selected_community.id.to_s %>' , {asynchronous:true, evalScripts:true, method:'get', success: function(data, textStatus, jqXHR) {
    $('#div_post_<%= @selected_community.id.to_s %>').append($(data));
    $('.loading_page').hide();
    if(typeof jQuery(data) == 'undefined' ||jQuery(data).html() == null || $(data).find('.paginate_do').html()==null){
      clearInterval(intervalID);
      for (var i = 1; i < 99999; i++){
         window.clearInterval(i);
      }
      restartInterval();
    }
    insideLoop = "false";
  },});
  }
}
 
function nearBottomOfPage() {
  return scrollDistanceFromBottom() < 150;
}
 
function scrollDistanceFromBottom(argument) {
  return pageHeight() - (window.pageYOffset + self.innerHeight);
}
 
function pageHeight() {
  return Math.max(document.body.scrollHeight, document.body.offsetHeight);
}
 
$('document').ready(function(){
  intervalID = setInterval(checkScroll_comm_post, 1000);
  $('#posts_community_li').addClass('active');
  $('#about_community_li').removeClass('active');
  $('#photos_community_li').removeClass('active');
  $('#members_community_li').removeClass('active');
  $('#groups_community_li').removeClass('active');
});

  $('.show_loading').click(function(){
    $('.loading_page').show();    
  });


$(document).ready(function(){
  $.validate({
    form : '#new_post',
    validateOnBlur : false,
    onSuccess : function() {
      $('.loading_page').show();
      $('#community_post_submit').attr('data-loading-text', 'Posting...');
      $('#community_post_submit').button('loading');
    },
  });
});




$('#posts_community_li').click(function(){
  currentPage<%= @selected_community.id.to_s %> = 1;
});


</script>
<% if @selected_community.is_joined?(current_user, @selected_community) %> 
<% else %>
  
<!-- 
<div class="center loading_page active_hide" ><img src="/assets/loading.gif"></div>
<div id="aboutDiv">
 <% if @selected_community.is_private?(current_user) %>
     <% unless @selected_community.is_requested?(current_user) %>
       <%= link_to "Send request", sendrequest_community_path(@selected_community), class: "uibutton icon secure pull-right show_loading", remote: true, id: "send_req_com" %>
     <% end %>
 <% elsif @selected_community.is_public?(current_user) %>
   <%= link_to "Join", join_cu_community_path(@selected_community), class: "uibutton icon prev pull-right show_loading", remote: true, id: "join_req_com" %>
 <% end %>
   <% if @community.is_requested?(current_user) %>
    <span class=" padding5 label warning pull-right" style="font-size:small;"><strong>Request pending to join the community</strong></span><br>
  <% end %>
<br>
<address>
    <strong> <%= link_to @community.name, "#", style: "font-size:14px;" %></strong> <br>
    <strong>Description : &nbsp;</strong> <%= @community.description %><br>
    <strong>Privacy : &nbsp;</strong><%= privacy_str(@community) %><br>
  <% unless (@community.req_pending_cnt.nil? || @community.req_pending_cnt == 0)%>
    <strong><%=  'Request'.pluralize(@community.req_pending_cnt) %> pending : &nbsp;</strong> <span class=" label important" style="right:0;padding-bottom:2px;"><%= if @community.req_pending_cnt > 0 then @community.req_pending_cnt end %></span><br>
  <% end %>
  <strong><%= "Member".pluralize(@community.users_count) %> : </strong><%= pluralize(@community.users_count, "person") %> <br> 
    <strong>Location : &nbsp;</strong><%= @community.address %><br><br>

 <%= render :partial => "events/maps", :locals => { :location => @community } %><br>
  </address> 
</div>
-->
<script type="text/javascript">

$(document).ready(function(){
//  $('.gravatar').addClass('thumbnail pop_up');  
  $('.gravatar').addClass(' pop_up');  

});

$("#send_req_com").click(function(){
  $(this).hide();
});
$("#join_req_com").click(function(){
  $(this).hide();
});

  $('.show_loading').click(function(){
    $('.loading_page').show();    
  });


</script>

<% end %>