<% if @selected_community.is_joined?(current_user, @selected_community) %> 
    <ul class="tabs">
        <%= render 'communities/links', locals: { community: @selected_community} %>
  </ul>
  <div id="image" style="display:block" class="span13">
    <% unless (@selected_community.privacy == Privacyenum::PROTECTED && !current_user.is_cu_admin?(@selected_community)) %>
      <div id="div_new_post">
          <%= render 'communities/post_new', locals: { community: @selected_community} %>
      </div>
    <% end %>
              <div id="div_post_<%= @selected_community.id.to_s %>" class="resources">
                  <%= render 'posts/post' %>
               
              </div>
               <div id="loading_page" class="center" ><img src="http://res.cloudinary.com/rashi/image/upload/v1377924529/loading7_gvb06y.gif"></div>
            </div>

</div>

<script type="text/javascript">

<% unless (@selected_community.privacy == Privacyenum::PROTECTED && !current_user.is_cu_admin?(@selected_community)) %>

 var imageLoader = document.getElementById('pic1');
    imageLoader.addEventListener('change', handleImage, false);
    $("#imageCanvas1").click(function(){
        $("#pic1").click();
    });
        var canvas = document.getElementById('imageCanvas1');
    var ctx = canvas.getContext('2d');
    ctx.font="8pt tahoma ";
    ctx.fillStyle = 'grey';
    ctx.fillText("Add picture",35,46);

  function handleImage(e){
    var canvas = document.getElementById('imageCanvas1');
    var ctx = canvas.getContext('2d');
    var iCnt=0;
    var files = e.target.files;
    canvas.width = 132;
    canvas.height = 88*(Math.ceil(files.length/1));
    for( var i = 0, len = files.length; i < len; i++) 
          {
          if(files[i])
            {
              var reader = new FileReader();
              reader.onload = function(event){
                var img = new Image();

                img.onload = function(){
                  var ratioPx = 150;
                  var sWidth =ratioPx;
                  var ratio = img.width/sWidth;
                  var sHeight = img.height/ratio;   
                    if(sHeight>ratioPx){
                       sHeight =ratioPx;
                       ratio = img.height/sHeight;
                       sWidth = img.width/ratio;  
                    }
                  ctx.drawImage(img, 155*(iCnt%4),155*(Math.floor(iCnt/4)),sWidth,sHeight);
                  //ctx.drawImage(img,0,0,sWidth,sHeight);
                  iCnt++;
                }
                img.src = event.target.result;
              }
              reader.readAsDataURL(e.target.files[i]);     
            }
          }
  }


<% end %>


var currentPage<%= @selected_community.id.to_s %> = 1;
var intervalID = -1000;
var insideLoop ="false"; 

function checkScroll_comm_post() {
  if (nearBottomOfPage() && insideLoop!="true" ) {
    insideLoop ="true";
    currentPage<%= @selected_community.id.to_s %>++;
  $('#loading_page').show();
    jQuery.ajax('/communities/community_post_paginate?page=' + currentPage<%= @selected_community.id.to_s %> + '&id=' + '<%= @selected_community.id.to_s %>' , {asynchronous:true, evalScripts:true, method:'get', success: function(data, textStatus, jqXHR) {
    $('#div_post_<%= @selected_community.id.to_s %>').append($(data));
    $('#loading_page').hide();
    if(typeof jQuery(data) == 'undefined' ||jQuery(data).html() == null || $(data).find('.paginate_do').html()==null){
      clearInterval(intervalID);
      for (var i = 1; i < 99999; i++){
         window.clearInterval(i);
      }
      restartInterval();
    }
    insideLoop = "false";
  },});
  }
}
 
function nearBottomOfPage() {
  return scrollDistanceFromBottom() < 150;
}
 
function scrollDistanceFromBottom(argument) {
  return pageHeight() - (window.pageYOffset + self.innerHeight);
}
 
function pageHeight() {
  return Math.max(document.body.scrollHeight, document.body.offsetHeight);
}
 
$('document').ready(function(){
  intervalID = setInterval(checkScroll_comm_post, 1000);
  $('#posts_community_li').addClass('active');
  $('#about_community_li').removeClass('active');
  $('#photos_community_li').removeClass('active');
  $('#members_community_li').removeClass('active');
  $('#groups_community_li').removeClass('active');
});




$('#posts_community_li').click(function(){
  $('#posts_community_li').addClass('active');
  $('#about_community_li').removeClass('active');
  $('#groups_community_li').removeClass('active');
  $('#photos_community_li').removeClass('active');
  $('#members_community_li').removeClass('active');
  $('#groups_community_li').removeClass('active');
  $(this).next('a').click();
  currentPage<%= @selected_community.id.to_s %> = 1;

});
$('#about_community_li').click(function(){
  $('#posts_community_li').removeClass('active');
  $('#about_community_li').addClass('active');
  $('#photos_community_li').removeClass('active');
  $('#members_community_li').removeClass('active');
  $('#groups_community_li').removeClass('active');
  $(this).next('a').click();

});
$('#photos_community_li').click(function(){
  $('#posts_community_li').removeClass('active');
  $('#about_community_li').removeClass('active');
  $('#photos_community_li').addClass('active');
  $('#members_community_li').removeClass('active');
  $('#groups_community_li').removeClass('active');
  $(this).next('a').click();
});

$('#members_community_li').click(function(){
  $('#posts_community_li').removeClass('active');
  $('#about_community_li').removeClass('active');
  $('#photos_community_li').removeClass('active');
  $('#members_community_li').addClass('active');
  $('#groups_community_li').removeClass('active');
  $(this).next('a').click();
});

$('#groups_community_li').click(function(){
  $('#posts_community_li').removeClass('active');
  $('#about_community_li').removeClass('active');
  $('#photos_community_li').removeClass('active');
  $('#members_community_li').removeClass('active');
  $('#groups_community_li').addClass('active');
  $(this).next('a').click();
});


</script>
<% else %>
  

<div id="aboutDiv">
 <% if @selected_community.is_private?(current_user) %>
     <% unless @selected_community.is_requested?(current_user) %>
       <%= link_to "Send request", sendrequest_community_path(@selected_community), class: "uibutton icon secure pull-right", remote: true %>
     <% end %>
 <% elsif @selected_community.is_public?(current_user) %>
   <%= link_to "Join", join_cu_community_path(@selected_community), class: "uibutton icon prev pull-right", remote: true %>
 <% end %>

 <p><h4><strong>Description : </strong><small><%= @selected_community.description %></small></h4></p>

 <p><h4><strong>Location : </strong><%= @selected_community.address %></h4></p>

 <%= render :partial => "events/maps", :locals => { :location => @selected_community } %><br>
<p><h4><strong>Privacy : </strong><%= privacy_str(@selected_community) %></h4></p>
 <p ><h4 ><strong>Host : </strong><span style="margin:5px;">
  <%= link_to @selected_community.user.name, @selected_community.user %>
</span></h4></p>
<div  class="img_zoom" style="float:left;" >
  <%= gravatar_for @selected_community.user, size: 100 %>
</div>


</div>
<script type="text/javascript">

$(document).ready(function(){
  $('.gravatar').addClass('thumbnail pop_up');  

});
</script>

<% end %>