        <header class="thumbnail">
            <div class="media wallpaper-container">
            <div class="image_overlay wallpaper">
            <div class="huge-title">
                <%= link_to cl_image_tag(@selected_community.photo.pic_url(:largest),rel: "#{@selected_community.id}", id:"#{@selected_community.photo.id}", width: "100%" ) , @selected_community.photo.pic_url, class: "fancybox-album albumLink roundCorner wallpaper-media wallpaper-image native" , title: "#{@selected_community.name}", remote: true  %>
               <h3 class="  meta bottom bottom-gardient ht55 mb0 animated color-white" data-wow-offset="80" data-wow-duration="3s" style="visibility: visible;-webkit-animation-duration: 3s; -moz-animation-duration: 3s; animation-duration: 3s;  text-shadow: 2px 2px #6A6A6A;"></h3>
               <h3 class="  meta bottom mb0 wow bounceInDown animated color-white" data-wow-offset="80" data-wow-duration="3s" style="visibility: visible;-webkit-animation-duration: 3s; -moz-animation-duration: 3s; animation-duration: 3s;  text-shadow: 2px 2px #6A6A6A;"><%= @selected_community.name %></h3>
            </div>
            </div>
            </div>
            </header>
            <section class="panel-body pt5 pb0">
                <aside class="">
                                <div class="btn_overlay_cu_cover_pic mt5">
                  <% if   @community.is_requested?(current_user) %>
                    <!--<span class=" padding5 label warning text-muted pull-right" style="font-size:small;"><strong>Request pending to join the community</strong></span><br>-->
                  <% end %>         
                 <% if  @selected_community.is_private?(current_user) %>
                     <% if  @selected_community.is_requested?(current_user) == false && @selected_community.is_invited?(current_user,  @selected_community) == false  %>
                       <%= link_to "Send request", sendrequest_community_path(@selected_community), class: " icon btn btn-success btn-xs secure pull-right show_loading", style:"margin-right:5px;", remote: true, id: "send_req" %>
                    <% end %>     
                     <% if @selected_community.is_invited?(current_user,  @selected_community) %>
                        <a href="<%= declinerequest_community_path(@selected_community) << '?user_id='%><%= current_user.id %>"class=" pull-right btn btn-xs btn-danger mb1  decline_user" data-remote="true" id="decline" style="margin-right:5px;"> Decline </a>
                        <a href="<%= acceptrequest_community_path(@selected_community) << '?user_id='%><%= current_user.id %>"class=" pull-right btn btn-xs btn-success mb1  accept_user" data-remote="true" id="accept" style="margin-right:5px;"> Accept <i class="icon-remove"></i></a>
                    <% end %>     
                 <% elsif @selected_community.is_public?(current_user) %>
                   <%= link_to "Join", join_cu_community_path(@selected_community), class: " icon prev pull-right show_loading btn btn-custom btn-success", remote: true, id: "join_com", style:"margin-right:5px;" %>
                 <% end %>
                  <% if @selected_community.is_joined?(current_user, @selected_community) && @selected_community.can_admin_unjoin?(current_user) %>
                   <%= link_to "Unjoin", unjoin_cu_community_path(@selected_community), class: " btn btn-danger btn-custom icon prev pull-right marginLeft10 show_loading", remote: true, id: "unjoin_com", style:"margin-right:5px;" %>
                 <% end %>

                 <% if  current_user.is_cu_admin?(@selected_community) %>
                    <%= link_to "edit", '#', id: "edit_comUnity",  class: " pull-right btn-custom btn btn-warning icon edit",:title => "Edit", style:"margin-right:5px;" %>
                 <% end %>

                 <% if current_user.is_cu_admin?(@selected_community) %>
                    <%= link_to "delete", @selected_community, method: :delete, remote: true, data: { confirm: "Do you really want to delete this community?" }, class: "pull-right btn-custom btn btn-danger", title: @selected_community.name, style:"margin-right:5px;" %>
                 <% end %>
            </div>
                <aside class="">
                    <section id="about_sec">
                     <%= render partial: 'communities/about_main', locals: { community: @selected_community} %>
                    </section>
                </aside>
                </aside>
          </section>