<li style="padding-left:15px;cursor:pointer" class="tr-hover community" >
  <% unless community.photo.nil? %>
  <%= link_to cl_image_tag(community.photo.pic_url(:cover_pic_smaller), class:"image_al_c1 thumbnail pull-left ", id:"#{community.photo.id}")%>

  <% end %>
  <div style="padding:7px;">
  <span class="marginLeft5" style="font-size:large;"><%= link_to community.name.capitalize %>
  </span><br>
  <span class="marginLeft5" style="font-size:small;"><%= community.description %></span><br>
  <span class="marginLeft5" style="font-size:small;">Privacy: <%= privacy_str(community) %></span>
  </div>
</li>
<%= link_to "", "/communities/#{community.id}", remote: true %>
