<li >
<div  class="well"  style="float:left;padding:8px;margin-bottom:0px;">
<% unless community.photo.nil? %>
  <div  class="img_zoom" id="div-img_<%= community.photo.id %>">
         <%= link_to cl_image_tag(community.photo.pic_url(:small), class:"image_al_c1 thumbnail", id:"#{community.photo.id}"), "/communities/#{community.id}", remote: true,   style:"cursor:pointer;"%>
          </div>
<% end %>

  <span >
    <h5><%= link_to community.name, community %></h5>
  </span>
<span class="timestamp">
  <% unless community.description.nil? %>
   <% if community.description.length > 27 %>
    <%= community.description.slice! 0..27 %>...<br>
    <% else %>
    <%= community.description %>&nbsp;
   <% end %>
  <% else %>
  <%= " " %>
  <% end %>
  
  <span class="pull-right" title="Privacy: <%= community.privacy %>"><%= community.privacy %></span>
  </span>
  </div>
  </li>