<!--<% if event.starts_at.to_date == Time.zone.now.to_date %>
<strong>Today</strong>
<% elsif event.starts_at.to_date == Time.zone.now.to_date - 1.day %>
<strong class="timestamp" >Yesterday</strong>
<% else %>
<% end %>-->
<li class="tr-hover event" >

  <div class="col-md-6 pl0 pr5">
    <div class="panel panel-default mb5 ">
        <div class="media">
            <% unless event.photo.nil? %>
              <%= link_to cl_image_tag(event.photo.pic_url(:thumb_full_wide), class:"image_al_c1 wdp-100 event_page_loading_center", id:"#{event.photo.id}"), event , remote: true %>
            <% end %>
      </div>
    <section class="panel-body pt10 pb5">
      <% if event.invited?(current_user) %>
        <span class="badge badge-default pull-right">Invitation pending</span>
      <% end %>  
        <span class="semibold mt10 ellipsis"><%= link_to event.title, event, class:"albumLink font-15", remote: true, title: "#{event.title}" %></span>
          <p class="timestamp mb0 text-muted" ><span class="ico-time"></span><%= event.starts_at.strftime("%A, %B %d, %Y") %></p>
          <p class="mb5 ellipsis font-11 text-muted"><span class="ico-location"></span><%= event.address %></p>
    </section>
    </div>
</div>
<img src="/assets/fancybox_loading.gif" class="hide" />  
<img src="/assets/fancybox_overlay.png" class="hide" />
<img src="/assets/fancybox_sprite.png" class="hide" />
            
</li>
<%= link_to "", "/communities/#{community.id}/show_event?event_id=#{event.id}", remote: true %>
<script type="text/javascript">
$(document).ready(function(){
  $("li.event").click(function(){
    $(this).next('a').click();
    $('.loading_page').show();
  });
});
</script>