<% unless community.nil? %>
  <!--<ul class="tabs">
    <%= render 'communities/links' %>
  </ul>-->
  
  <div class="row">
 <% unless (community.privacy == Privacyenum::PROTECTED && !current_user.is_cu_admin?(community)) %>
              <% if community.is_active?(current_user, community) %>
                <a class="btn btn-success pull-right btn-custom mr3" id="create_event" data-toggle="modal" data-target="#modal_create_event" >Create event</a>
              <% end %>
          <% end %>
</div>
  
  <div class="row pl15">
  <% if @invited_events.count > 0 %>
      <!--<span class="semibold font-15 ml15">Invitations</span>-->
  <% end %>

   <ul class="list-unstyled mt5">
      <% @invited_events.each do |event| %>
              <div class="col-xs-6 pl0 pr5">
                  <li class="tr-hover event" >
                        <div class="panel  panel-default mb5">
                            <div class="media">
                                <% unless event.photo.nil? %>
                                  <%= link_to cl_image_tag(event.photo.pic_url(:thumb_full_wide), class:"image_al_c1 wdp-100", id:"#{event.photo.id}"), event, remote: true  %>
                                <% end %>
                          </div>
                        <section class="panel-body pt10 pb5">
                            <span class="badge badge-default pull-right">Invitation pending</span>
                            <span class="semibold mt10 ellipsis"><%= link_to event.title , event, class:"albumLink font-15", remote: true, title: "#{event.title}" %></span>
                              <p class="ellipsis timestamp mb0 text-muted" ><span class="ico-time"></span><%= event.starts_at.strftime("%A, %B %d, %Y") %></p>
                              <p class="ellipsis mb5 ellipsis font-11 text-muted"><span class="ico-location"></span><%= event.address %></p>
                        </section>
                        </div>
                  </li>
            </div>
          <%= link_to "", "/communities/#{community.id}/show_event?event_id=#{event.id}", remote: true %>  
        <% end %>
 </ul>
</div>

<!--    <div class="row">
      <ul class="nav nav-pills mt5 mb10 ml5" id="group_link">
        <li class="active" id="up_events_li"><a class="p7" href="#" data-toggle="tab">Upcoming events</a></li><%= link_to "", up_events_community_path(@community) , remote: true %>
        <li id="prev_events_li"><a class="p7" href="#" data-toggle="tab">Past events</a></li><%= link_to "", prev_events_community_path(@community) , remote: true %>
      </ul>
</div>-->
  <div class="row pl15" id="comm_groups_list">
        <ul id="events_list" class="home_page_post list-unstyled mt5">
          <%= render :partial => 'communities/events', :locals => {:events => events, community: community} %>                  
        </ul>
  </div>
  <div  class="center loading_page_post loading_sub mt10 mb10"></div>
  


<%= form_for( @event, url: create_event_communities_path, remote: true, :html => {:multipart => true, id: 'create_event_form'}) do |f| %>
<div id="modal_create_event" class="modal fade">
  <div class="modal-dialog">
  <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">×</button>
              <span class="semibold font-15">Create Event</span>
            </div>
            <div class="modal-body">
              <div class="row">
            <div class="col-sm-offset-1">
               <%= render 'shared/error_messages', object: f.object %>
               
               <div class="center_block clearfix">
                  <%= f.label :title, class: "control-label pl15 mt15" %>
                    <div>
                  <div class="col-sm-9">
                    <%= f.text_field :title, class: "form-control" ,:placeholder=>"Title", 'data-validation' => "length",
                     'data-validation-length' =>"3-25", 'data-validation-error-msg' => "The event name has to be a value between 3-25 characters" %>
                   </div>
                    </div>
                </div>

                <div class="center_block clearfix">
                  <div class="control-label pl15 mt15">
                  <%= label_tag :starts_at %>
                  </div>
                <div>
                  <a id="end_date_add_link" href="#" class="btn-success mt3 btn-sm icon add pull-right mr60-sm mr12-xs icon prev icon add">End Date</a>
                  <div class="col-sm-9 col-xs-9">
                  <%= f.text_field :starts_at, :placeholder => "Time" %>
                    </div>
                </div>
                </div>
                
                <div class="center_block clearfix" id="end_date">
                  <div class="control-label pl15">
                  <%= label_tag :ends_at %>
                    </div>
                    <div>
                   <a id="end_date_remove_link" href="#" class="btn-danger mt3 btn-sm add pull-right mr60-sm mr12-xs icon prev">Remove</a>
                  <div class="col-sm-9 col-xs-9">
                    <%= f.text_field :ends_at %>
                    </div>
                  </div>
                </div> 

                <div class="center_block clearfix">
                  <%= f.label :location, class: "control-label pl15 mt15" %>
                    <div>
                  <%= link_to "View map", '#', id: "view_map_link",  class: "btn-info mt3 btn-sm icon add pull-right mr60-sm mr12-xs icon prev" %>
                  <%= link_to "Hide map", '#', id: "hide_map_link",  class: "btn-danger mt3 btn-sm icon add pull-right mr60-sm mr12-xs icon prev" %>
                  <div class="col-sm-9 col-xs-9">    
                  <%= f.text_field :address, :placeholder => :location, :size => 43, class: 'events_with_autocomplete inherit_width', 'data-autocompleteUrl' => search_address_events_path , 'data-validation' => "length",
                  'data-validation-length' =>"3-250", 'data-validation-error-msg' => "The event address has to be a value between 3-250 characters" %>&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
                </div>
                
                <div class="input" id="view_map">
                </div>
                
                <div class="center_block clearfix">
                  <%= f.label :description,class: "control-label pl15 mt15" %>
                    <div>
                  <div class="col-sm-9">
                      
                  <%= f.text_area :description, :placeholder=>"Description", class: ' inherit_width form-control', :title=>"Description", rows: 3, cols: 75, 'data-validation' => "length",
                   'data-validation-length' =>"3-250", 'data-validation-error-msg' => "The event description has to be a value between 3-250 characters"  %> 
                </div>
              </div>
            </div>
            
                <div class="center_block clearfix">
                    <div class="control-label pl15 mt15">
                      <%= label_tag :privacy %>
                    </div>
                    <div>
                  <div class="col-sm-9">
                    <%= f.select :privacy, options_for_select([["Public", Privacyenum::PUBLIC], ["Private", Privacyenum::PRIVATE]]) %>
                    </div>
                  </div>
                </div>
                
                <div class="center_block clearfix ">
                    <div>
                  <div class="col-sm-9 mt15">
                    <label class="control-label pl15 mt5">Guests can invite</label>
                    <div class="checkboxFive pull-right" >
                  <%= f.check_box 'GuestsCanInvite', id: "Guests_can_invite_other_guests",class: "control-label pl15 mt15" %>
                    <label class="mt2" for="Guests_can_invite_other_guests" </label>
                  </div>
                  </div>
                  </div>
                </div>
                
                  <div class="center_block clearfix ">
                    <div>
                  <div class="col-sm-9 mt15">
                    <label class="control-label pl15 mt5 ">Invite everyone from this community</label>
                    <div class="checkboxFive pull-right">
                  <%= check_box_tag 'invite_everyone', 1, id: "invite_everyone",class: "control-label pl15 mt15" %>
                    <label for="invite_everyone" </label>
                    </div>
                  </div>
                  </div>
                </div>
                
                <div class="center_block clearfix">
                <div class="control-label pl15  mt15">
                  <%= label_tag "Add picture:" %>
                </div>
                <div class="col-sm-9">    
                <canvas id="imageCanvas" style = "border: 1px solid #ddd; padding:5px; align:center;cursor:pointer" >select new image</canvas>
                </div>
                <%= f.fields_for :photo, Photo.new, :child_index => 'NEW_RECORD' do |photo_form| %>
                  <%= photo_form.file_field :pic, id: "pic",style: "width:0px; height:0px;  padding:0px;  left:0px;" %>  
                <% end %>
              </div>
     
    
      </div>
      </div>
      </div>
            <div class="modal-footer" >
              <%= f.submit "Create", class: "btn btn-success pull-right btn-custom", id: "create_event_submit" %>  
            </div>
          </div> 
          </div> 
          </div> 
  <% end %>


<script type="text/javascript">

$(document).ready(function(){
  $("li.event").click(function(){
    $(this).next('a').click();
    $('.loading_page').show();
  });
});

$(function(){
  $('.button_toggle').hide();

   $('.tr-hover').hover(function() {
       $(this).find('.button_toggle').show();
       }, function() {
         $(this).find('.button_toggle').hide();
    });

});

$('#event_starts_at').addClass('form-control');
$('#event_ends_at').addClass('form-control');
$('#event_address').addClass('form-control');
$('#event_privacy').addClass('form-control');

$('.event_inv').click(function(){
  $(this).closest('li').hide();
});

$(document).ready(function(){
  $.validate({
    onSuccess : function() {
      $('#create_event_submit').attr('data-loading-text', 'Creating...');
      $('#create_event_submit').button('loading');
    },
  });
  $('.loading_sub').hide();
});



$(document).ready(function(){

  $('#posts_community_li').removeClass('active');
  $('#about_community_li').removeClass('active');
  $('#photos_community_li').removeClass('active');
  $('#members_community_li').removeClass('active');
  $('#groups_community_li').removeClass('active');
  $('#events_community_li').addClass('active');


});

    $(function() {
      /*return $('.events_with_autocomplete').autocomplete({
        minLength: 2,
        source: function(request, response) {
          return $.ajax({
            url: $('.events_with_autocomplete').data('autocompleteurl'),
            dataType: "json",
            data: {starts_at: "", ends_at: "",
              address: request.term, event: "<%= @event.to_json %>"
            },
            success: function(data) {
              return response(data);
            }
          });
        }
      });*/
    });


$('#up_events_li').click(function(){
  $('#prev_events_li').removeClass('active');
  $('#up_events_li').addClass('active');
  $(this).next('a').click();
});

$('#prev_events_li').click(function(){
  $('#up_events_li').removeClass('active');
  $('#prev_events_li').addClass('active');
  $(this).next('a').click();
});

  $(document).ready(function(){
//  $('.gravatar').addClass('thumbnail');  
  });
/*    $("#create_event").click(function(){
      $('#modal_create_event').modal({
      //keyboard: true,
      backdrop: "static",
    });
    });*/
    $("#closeX").click(function(){
          $('#modal_create_event').modal('hide');
        });

    $('#end_date').hide();


var imageLoader = document.getElementById('pic');
imageLoader.addEventListener('change', handleImage, false);
$("#imageCanvas").click(function(){
  $("#pic").click();
});
var canvas = document.getElementById('imageCanvas');
var ctx = canvas.getContext('2d');
  ctx.font="15px Arial";
  ctx.fillText("Click here to add a picture",25,75);

function handleImage(e){
  var canvas = document.getElementById('imageCanvas');
  var ctx = canvas.getContext('2d');
  var iCnt=0;
  var files = e.target.files;
   if(files.length<1){
      $('#pic').val('');
      ctx.setTransform(1, 0, 0, 1, 0, 0);
      canvas.width = 300;
      canvas.height = 155;
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      ctx.font="15px Arial";
      ctx.fillText("Click here to add a picture",25,75);
      return;
    }
  canvas.width = 200;
  canvas.height = 155*(Math.ceil(files.length/4));
  for( var i = 0, len = files.length; i < len; i++) 
  {
    if(files[i])
    {
      var reader = new FileReader();
      reader.onload = function(event){
        var img = new Image();

        img.onload = function(){
          var ratioPx = 195;
          var sWidth =ratioPx;
          var ratio = img.width/sWidth;
          var sHeight = img.height/ratio;   
          if(sHeight>ratioPx){
           sHeight =ratioPx;
           ratio = img.height/sHeight;
           sWidth = img.width/ratio;  
         }
         ctx.drawImage(img, 155*(iCnt%4),155*(Math.floor(iCnt/4)),sWidth,sHeight);
                  //ctx.drawImage(img,0,0,sWidth,sHeight);
                  iCnt++;
                }
                img.src = event.target.result;
              }
              reader.readAsDataURL(e.target.files[i]);     
            }
          }
        }

$('#event_address').keydown(function(){
    $('#view_map_link').hide();
    $('#view_map').hide();
});


 $('#hide_map_link').hide();
$('#view_map_link').click(function(){
    var address = "/events/get_geo_coordinates?address="+$('#event_address').val();
     $.ajax({
      type: "GET",
      url: address,
      dataType: "script"
    });
   
});

    $('#hide_map_link').click(function(){
      $('#view_map').hide();
      $('#hide_map_link').hide();
      $('#view_map_link').show();
    });






$('a.ui-corner-all').on("click", function(){
  if($('#event_address').val()!=""){
    $('#view_map_link').show();
  }else{
    $('#view_map_link').hide();
  }
});

$('#end_date_add_link').click(function(){
  $('#end_date').show();
  $('#end_date_add_link').hide();
});
$('#end_date_remove_link').click(function(){
  $('#end_date').hide();
  $('#end_date_add_link').show();
});


$(document).ready(function() {

  for (var i = 1; i < 99999; i++){
     window.clearInterval(i);
  }
  restartInterval();

  $('#view_map_link').hide();

      var startDateTextBox = $("#event_starts_at");
      var endDateTextBox = $("#event_ends_at");

      startDateTextBox.datetimepicker({ 
        onClose: function(dateText, inst) {
          if (endDateTextBox.val() != '') {
            var testStartDate = startDateTextBox.datetimepicker('getDate');
            var testEndDate = endDateTextBox.datetimepicker('getDate');
            if (testStartDate > testEndDate)
              endDateTextBox.datetimepicker('setDate', testStartDate);
          }
          else {
            endDateTextBox.val(dateText);
          }
        },
        onSelect: function (selectedDateTime){
          endDateTextBox.datetimepicker('option', 'minDate', startDateTextBox.datetimepicker('getDate') );
        },
        dateFormat: "dd/mm/yy"
      });
      endDateTextBox.datetimepicker({ 
        onClose: function(dateText, inst) {
          if (startDateTextBox.val() != '') {
            var testStartDate = startDateTextBox.datetimepicker('getDate');
            var testEndDate = endDateTextBox.datetimepicker('getDate');
            if (testStartDate > testEndDate)
              startDateTextBox.datetimepicker('setDate', testEndDate);
          }
          else {
            startDateTextBox.val(dateText);
          }
        },
        onSelect: function (selectedDateTime){
          startDateTextBox.datetimepicker('option', 'maxDate', endDateTextBox.datetimepicker('getDate') );
        },
        dateFormat: "dd/mm/yy"
      });

    });
</script>


<script type="text/javascript">
                    
                        var currentPage = 1;
                        var intervalID = -1000;
                        var insideLoop_up ="false"; 
                        var insideLoop_prev ="false"; 

                        function checkScroll_up_evts() {
                          if (nearBottomOfPage() && insideLoop_up!="true") {
                              insideLoop_up="true";
                              currentPage++;
                              $('.loading_sub').show();
                          if($('.home_page_post').length == 0){
                            clearInterval(intervalID);
                            for (var i = 1; i < 99999; i++){
                             window.clearInterval(i);
                           }
                           insideLoop_up = "false";
                           return;
                         }
                         jQuery.ajax('/communities/<%= community.id %>/events_page?page=' + currentPage, {asynchronous:true, evalScripts:true, method:'get', success: function(data, textStatus, jqXHR) {
                          $('.home_page_post').append($(data));
                          $('.loading_sub').hide();
                          if(typeof jQuery(data) == 'undefined' ||jQuery(data).html() == null || $(data).find('.events_paginate').html()==null){
                            clearInterval(intervalID);
                            for (var i = 1; i < 99999; i++){
                             window.clearInterval(i);
                           }
                           restartInterval();
                         }
                         insideLoop_up ="false"; 
                       },});
                       }
                      }

                      function checkScroll_prev_evts() {
                          if (nearBottomOfPage() && insideLoop_prev!="true") {
                              insideLoop_prev="true";
                              currentPage++;
                              $('.loading_sub').show();
                          if($('.home_page_post').length == 0){
                            clearInterval(intervalID);
                            for (var i = 1; i < 99999; i++){
                             window.clearInterval(i);
                           }
                           insideLoop_prev = "false";
                           return;
                         }
                      //   jQuery.ajax('/communities/<%= community.id %>/prev_events_page?page=' + currentPage, {asynchronous:true, evalScripts:true, method:'get', success: function(data, textStatus, jqXHR) {
                         jQuery.ajax('/communities/<%= community.id %>/events_page?page=' + currentPage, {asynchronous:true, evalScripts:true, method:'get', success: function(data, textStatus, jqXHR) {
                          $('.home_page_post').append($(data));
                          $('.loading_sub').hide();
                          if(typeof jQuery(data) == 'undefined' ||jQuery(data).html() == null || $(data).find('.events_paginate').html()==null){
                            clearInterval(intervalID);
                            for (var i = 1; i < 99999; i++){
                             window.clearInterval(i);
                           }
                           restartInterval();
                         }
                         insideLoop_prev ="false"; 
                       },});
                       }
                      }

                      function nearBottomOfPage() {
                        return scrollDistanceFromBottom() < 150;
                      }

                      function scrollDistanceFromBottom(argument) {
                        return pageHeight() - (window.pageYOffset + self.innerHeight);
                      }

                      function pageHeight() {
                        return Math.max(document.body.scrollHeight, document.body.offsetHeight);
                      }

                        intervalID = setInterval(checkScroll_up_evts, 500);
                      

                      $("#up_events_li").click(function(){
                         currentPage = 1;
                         intervalID = -1000;
                         insideLoop_up ="false"; 
                        var j=0;

                          for (var i = 1; i < 99999; i++){
                             window.clearInterval(i);
                             j=i;
                          }

                             if(j == 99998){
                                intervalID = setInterval(checkScroll_up_evts, 500);
                             }

                      });

                      $("#prev_events_li").click(function(){
                         currentPage = 1;
                         intervalID = -1000;
                         insideLoop_prev ="false"; 
                        var k=0;

                          for (var i = 1; i < 99999; i++){
                             window.clearInterval(i);
                             k=i;
                          }

                        if(k == 99998){
                            intervalID = setInterval(checkScroll_prev_evts, 500);
                          }
                      });



                  </script>

<% end %>