<% unless community.nil? %>
  <!--<ul class="tabs">
    <%= render 'communities/links' %>
  </ul>-->
    <% unless (community.privacy == Privacyenum::PROTECTED && !current_user.is_cu_admin?(community)) %>
      <% if community.is_active?(current_user, community) %>
        <div class="row">
          <a class=" btn-sm btn-success pull-right mr20 " href="#" id="create_group" data-toggle="modal" data-target="#modal_create_group" > Create group </a>
        </div>
      <% end %>
  <% end %>

              <div>
                        <ul class="nav nav-pills mb5 ml5">
                            <li class="active"><a class="p7" href="#my_groups_li" data-toggle="tab" aria-expanded="true">My Groups</a><li>
                            <li><a class="p7" href="#other_groups_li" data-toggle="tab" aria-expanded="true">Other groups</a><li>
                        </ul>
              </div>


        <div class="tab-content">
              <div  class="tab-pane np active " id="my_groups_li">
                <% if @groups.count > 0 %>
                       <ul class='list-unstyled mb0'>
                      <% @groups.each do |group| %>
                          <%= render :partial => '/communities/group', :locals =>{:group => group, community: community} %>
                      <% end %>
                      </ul>
                 <% else %>
                    <p class="ml15 semibold font-15">No groups to display</p>
                <% end %>
              </div>
            <div  class="tab-pane np " id="other_groups_li" style="">
                <% if @other_groups.count > 0 %>
                     <ul class='list-unstyled mb0'>
                    <% @other_groups.each do |group| %>
                      <%= render :partial => '/communities/group', :locals =>{:group => group, community: community} %>
                    <% end %>
                    </ul>
                <% else %>
                    <p class="ml15 semibold font-15">No groups to display</p>
                <% end %>
            </div>
        </div>


<%= form_for( Group.new, remote: true, :html => {:multipart => true, id: 'create_grp_form'}) do |f| %>
<div id="modal_create_group" class="modal fade" >
    <div class="modal-dialog">
    <div class="modal-content">
      <div>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <span class="semibold font-15">Create Group</h3>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-offset-1">
         <%= render 'shared/error_messages', object: f.object %>
         <div class="center_block clearfix">
          <%= f.label :name, class: " control-label pl15 " %>
          <div>
          <div class="col-sm-9">
            <%= f.text_field :name, :placeholder=>"Name", 'data-validation' => "length", class: ' form-control',
           'data-validation-length' =>"3-25", 'data-validation-error-msg' => "The group name has to be a value between 3-25 characters" %>
           </div>
          </div>
          </div>

          <div class="center_block clearfix">
            <%= f.label :description, class: " control-label pl15 mt15 " %>
            <div>
            <div class="col-sm-9">
                        <%= f.text_area :description, :placeholder=>"Description", class: ' inherit_width form-control', :title=>"Description", rows: 3, cols: 75, 'data-validation' => "length ",
               'data-validation-length' =>"3-250", 'data-validation-error-msg' => "The group description has to be a value between 3-250 characters"  %> 
            </div>
            </div>
          </div>

          <div class="center_block clearfix">
            <div class="control-label pl15 mt15">
            <%= label_tag "Private group:" %>
            </div>
            <div>
                  <div class="col-sm-9">
                    <%= f.select :privacy, options_for_select([["Public", Privacyenum::PUBLIC], ["Members", Privacyenum::MEMBERS], ["Private", Privacyenum::PRIVATE]], f.object.privacy) %>
                  </div>
          </div>
          </div>
          
          
          <div class="center_block clearfix"><br>
            <%= f.label "Invite members:", class: " control-label pl15 " %>
            <div>
            <div class="col-sm-9">
              <%= f.text_field :user_tokens, id: "search_users", class: ' form-control', 'data-validation' => "required", 'data-validation-error-msg' => "Please add members to the group" %>
            </div>
            </div>
          </div>
          
          <%= hidden_field_tag :community_id, @community.id %>
          <div class="center_block clearfix">
            <div class="control-label pl15 mt15">
            <%= label_tag "Add picture:" %>
            </div>
            <div class="col-sm-9"> 
            <%= f.fields_for :photo, Photo.new, :child_index => 'NEW_RECORD' do |photo_form| %>

            <%= photo_form.file_field :pic, id: "pic",style: "width:0px; height:0px; padding:0px;  left:0px;" %>  

            <% end %>
            <%= hidden_field_tag 'comm_id', community.id %>

            <div class="input">
              <canvas id="imageCanvas" style = "border: 1px solid #ddd; padding:5px; align:center;cursor:pointer" >select new image</canvas>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer" >
      <%= f.submit "Create", class: "btn btn-success btn-custom pull-right busy", id: "submit_group" %>  
    </div>
  </div>
  </div>
  </div>
</div>
<% end %>




<script type="text/javascript">

$(document).ready(function(){
});
  $.validate({
    onSuccess : function() {
      $('#submit_group').attr('data-loading-text', 'Creating...');
      $('#submit_group').button('loading');
    },
  });
  $('.loading_page').hide();



/*$(document).ready(function(){

  $("li.group").click(function(){
    $(this).next('a').click();
    $('.loading_page').show();
  });

  /*$("#other_groups").hide();*/

/*
  $('#posts_community_li').removeClass('active');
  $('#about_community_li').removeClass('active');
  $('#photos_community_li').removeClass('active');
  $('#members_community_li').removeClass('active');
  $('#groups_community_li').addClass('active');
});*/


/*$('#my_groups_li').click(function(){
  $('#my_groups_li').addClass('active');
  $('#other_groups_li').removeClass('active');
  $("#my_groups").show();
  $("#other_groups").hide();
});

$('#other_groups_li').click(function(){
  $('#other_groups_li').addClass('active');
  $('#my_groups_li').removeClass('active');
  $("#my_groups").hide();
  $("#other_groups").show();
});
*/

$(document).ready(function(){
//  $('.gravatar').addClass('thumbnail');  

  });

  $(document).ready(function(){
/*    $("#create_group").click(function(){
      $('#modal_create_group').modal({
      //keyboard: true,
      backdrop: "static",
    });
    });*/

  });

    $("#closeX").click(function(){
          $('#modal_create_group').modal('hide');
        });

var imageLoader = document.getElementById('pic');
imageLoader.addEventListener('change', handleImage, false);
$("#imageCanvas").click(function(){
  $("#pic").click();
});
var canvas = document.getElementById('imageCanvas');
var ctx = canvas.getContext('2d');
  ctx.font="15px Arial";
  ctx.fillText("Click here to add a picture",25,75);

function handleImage(e){
  var canvas = document.getElementById('imageCanvas');
  var ctx = canvas.getContext('2d');
  var iCnt=0;
  var files = e.target.files;
   if(files.length<1){
      $('#pic').val('');
      ctx.setTransform(1, 0, 0, 1, 0, 0);
      canvas.width = 300;
      canvas.height = 155;
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      ctx.font="15px Arial";
      ctx.fillText("Click here to add a picture",25,75);
      return;
    }
  canvas.width = 200;
  canvas.height = 155*(Math.ceil(files.length/4));
  for( var i = 0, len = files.length; i < len; i++) 
  {
    if(files[i])
    {
      var reader = new FileReader();
      reader.onload = function(event){
        var img = new Image();

        img.onload = function(){
          var ratioPx = 195;
          var sWidth =ratioPx;
          var ratio = img.width/sWidth;
          var sHeight = img.height/ratio;   
          if(sHeight>ratioPx){
           sHeight =ratioPx;
           ratio = img.height/sHeight;
           sWidth = img.width/ratio;  
         }
         ctx.drawImage(img, 155*(iCnt%4),155*(Math.floor(iCnt/4)),sWidth,sHeight);
                  //ctx.drawImage(img,0,0,sWidth,sHeight);
                  iCnt++;
                }
                img.src = event.target.result;
              }
              reader.readAsDataURL(e.target.files[i]);     
            }
          }
        }


        $(function() {
        });
          $("#search_users").tokenInput("/groups/search_app_user?comm_id=<%= community.id %>", {
            crossDomain: false,
            theme: "facebook",
            resultsFormatter: function(item){ return "<li>" + "<img src='" + item.profile_pic + "' title='" + item.name + "' height='30px' width='30px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name + " " + ""+ "</div></div></li>" },
            tokenFormatter: function(item) { return  "<li>" + "<img src='" + item.profile_pic + "' title='" + item.name + "' height='30px' width='30px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name +"</div></div></li>" },
            preventDuplicates: true ,
            zindex: 11001,
            hintText: "Type in a user name",
          });

$("#group_privacy").addClass('form-control mt5-xs col-sm-4  mr10 pull-left pl6');
$(".token-input-list-facebook").addClass('form-control');


</script>

<% end %>