<% unless community.nil? %>
  <ul class="tabs">
    <%= render 'communities/links' %>
  </ul>
  <% if community.is_active?(current_user, community) %>
    <a class="uibutton pull-right " id="create_group" > Create group </a>
  <% end %>
<ul class="tabs span13" id="group_link">
  <li class="active" id="my_groups_li"><a href="#">My groups</a></li>
  <li id="other_groups_li"><a href="#">other groups</a></li>
</ul>
      <div class="row" >
        <div class="span13 ui-front" id="comm_groups_list">
              <section id="my_groups" style="">
                <% if @groups.count > 0 %>
                       <ul class='users' id='group_list' style='margin-left:0px;'>
                      <% @groups.each do |group| %>
                          <%= render :partial => '/communities/group', :locals =>{:group => group, community: community} %>
                      <% end %>
                      </ul>
                 <% else %>
                    <p class="marginLeft15">No groups to display</p>
                <% end %>
              </section>
            <section id="other_groups" style="">
                <% if @other_groups.count > 0 %>
                     <ul class='users' id='group_list' style='margin-left:0px;'>
                    <% @other_groups.each do |group| %>
                      <%= render :partial => '/communities/group', :locals =>{:group => group, community: community} %>
                    <% end %>
                    </ul>
                <% else %>
                    <p class="marginLeft15">No groups to display</p>
                <% end %>
            </section>
        </div>
      </div>


<%= form_for( Group.new, remote: true, :html => {:multipart => true, id: 'create_grp_form'}) do |f| %>
<div id="modal_create_group" style="display:none;" >
  <div id="modal-from-dom2" class="modal hide fade in" style="display: block;width:700px;">
    <div class="modal-header">
      <a href="#" id="closeX" class="close">×</a>
      <span style="font-size:20px;line-height: 2;">Create Group</span>
    </div>
    <div class="modal-body" style="max-height:550px;">
      <div class="row">
        <div class="span14 ui-front">

         <%= render 'shared/error_messages', object: f.object %>

         <div class="center_block clearfix">
          <%= f.label :name %>
          <div class="input">
            <%= f.text_field :name, :placeholder=>"Name", 'data-validation' => "length",
     'data-validation-length' =>"3-25", 'data-validation-error-msg' => "The group name has to be a value between 3-25 characters" %></div>
          </div>

          <div class="center_block clearfix">
            <%= f.label :description %>
            <div class="input">
              <%= f.text_area :description, :placeholder=>"Description", class: ' inherit_width', :title=>"Description", rows: 3, cols: 75, 'data-validation' => "length ",
     'data-validation-length' =>"3-500", 'data-validation-error-msg' => "The group description has to be a value between 3-500 characters"  %> 
            </div>
          </div>

          <div class="center_block clearfix">
            <%= label_tag "Private group:" %>
                  <div class="input">
                    <%= f.select :privacy, options_for_select([["Public", Privacyenum::PUBLIC], ["Members", Privacyenum::MEMBERS], ["Private", Privacyenum::PRIVATE]], f.object.privacy) %>
                  </div>
          </div>
          <div class="center_block clearfix"><br>
            <%= f.label "Invite members:" %>
            <div class="input ui-front ">
              <%= f.text_field :user_tokens, id: "search_users", 'data-validation' => "required", 'data-validation-error-msg' => "Please add members to the group" %>
            </div>
          </div>
          <%= hidden_field_tag :community_id, @community.id %>
          <div class="center_block clearfix">
            <%= label_tag "Add picture:" %>
            <%= f.fields_for :photo, Photo.new, :child_index => 'NEW_RECORD' do |photo_form| %>

            <%= photo_form.file_field :pic, id: "pic",style: "width:1px; height:1px; padding:0px;  left:0px;" %>  

            <% end %>
            <%= hidden_field_tag 'comm_id', community.id %>

            <div class="input">
              <canvas id="imageCanvas" style = "border: 1px solid #ddd; padding:5px; align:center; width:200px;cursor:pointer" >select new image</canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer" >
      <%= f.submit "Create", class: "btn primary pull-right busy", id: "submit_group" %>  
    </div>
  </div>
</div>
<% end %>




<script type="text/javascript">

$(document).ready(function(){
  $.validate({
    onSuccess : function() {
      $('#submit_group').attr('data-loading-text', 'Creating...');
      $('#submit_group').button('loading');
    },
  });
  $('.loading_page').hide();
});



$(document).ready(function(){

  $("li.group").click(function(){
    $(this).next('a').click();
    $('.loading_page').show();
  });

  $("#other_groups").hide();


  $('#posts_community_li').removeClass('active');
  $('#about_community_li').removeClass('active');
  $('#photos_community_li').removeClass('active');
  $('#members_community_li').removeClass('active');
  $('#groups_community_li').addClass('active');
});


$('#my_groups_li').click(function(){
  $('#my_groups_li').addClass('active');
  $('#other_groups_li').removeClass('active');
  $("#my_groups").show();
  $("#other_groups").hide();
});

$('#other_groups_li').click(function(){
  $('#other_groups_li').addClass('active');
  $('#my_groups_li').removeClass('active');
  $("#my_groups").hide();
  $("#other_groups").show();
});


$(document).ready(function(){
  $('.gravatar').addClass('thumbnail');  

  });

  $(document).ready(function(){
    $("#create_group").click(function(){
      $('#modal_create_group').modal('show');
    });
    $("#closeX").click(function(){
          $('#modal_create_group').modal('hide');
        });

  });


var imageLoader = document.getElementById('pic');
imageLoader.addEventListener('change', handleImage, false);
$("#imageCanvas").click(function(){
  $("#pic").click();
});
var canvas = document.getElementById('imageCanvas');
var ctx = canvas.getContext('2d');
ctx.font="30px Arial";
ctx.fillText("Add picture",10,50);

function handleImage(e){
  var canvas = document.getElementById('imageCanvas');
  var ctx = canvas.getContext('2d');
  var iCnt=0;
  var files = e.target.files;
  canvas.width = 180;
  canvas.height = 155*(Math.ceil(files.length/4));
  for( var i = 0, len = files.length; i < len; i++) 
  {
    if(files[i])
    {
      var reader = new FileReader();
      reader.onload = function(group){
        var img = new Image();

        img.onload = function(){
          var ratioPx = 150;
          var sWidth =ratioPx;
          var ratio = img.width/sWidth;
          var sHeight = img.height/ratio;   
          if(sHeight>ratioPx){
           sHeight =ratioPx;
           ratio = img.height/sHeight;
           sWidth = img.width/ratio;  
         }
         ctx.drawImage(img, 155*(iCnt%4),155*(Math.floor(iCnt/4)),sWidth,sHeight);
                  //ctx.drawImage(img,0,0,sWidth,sHeight);
                  iCnt++;
                }
                img.src = group.target.result;
              }
              reader.readAsDataURL(e.target.files[i]);     
            }
          }
        }

        $(function() {
          $("#search_users").tokenInput("/groups/search_app_user?comm_id=<%= community.id %>", {
            crossDomain: false,
            theme: "facebook",
            resultsFormatter: function(item){ return "<li>" + "<img src='" + item.profile_pic + "' title='" + item.name + "' height='30px' width='30px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name + " " + ""+ "</div></div></li>" },
            tokenFormatter: function(item) { return  "<li>" + "<img src='" + item.profile_pic + "' title='" + item.name + "' height='30px' width='30px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name +"</div></div></li>" },
            preventDuplicates: true ,
            zindex: 11001,
            hintText: "Type in a user name",
          });
        });



</script>

<% end %>