  <li style="padding-left:15px;cursor:pointer;position:relative;" class="tr-hover group" >
  <% unless group.photo.nil? %>
  <%= link_to cl_image_tag(group.photo.pic_url(:cover_pic_smallest), class:"image_al_c1 thumbnail pull-left ", id:"#{group.photo.id}"), "#" %>

  <% end %>
            <div style="margin-left:95px;margin-top:5px;">
              <address>
                <strong> <%= link_to group.name.capitalize, "#", style: "font-size:13px;" %></strong> <br>
                <strong>Description : &nbsp;</strong> <%= group.description %><br>
                <strong>Privacy : &nbsp;</strong><%= privacy_str(group) %><br>
                 <strong><%= "Member".pluralize(group.users.count) %> : </strong><%= pluralize(group.users.count, "person") %> <br> 
              </address>  
            </div>
</li>



<%= link_to "", "/communities/#{community.id}/show_group?grp_id=#{group.id}", remote: true %>