<div id="posts_groups">  
	<ul class="users" id="posts_groups_ul" >
		<div id="posts" style="overflow:auto;">
      <% if community.is_active?(current_user, community) %>
        <% if @group.is_joined?(current_user, @group) %>
			   <%= render :partial => 'posts/group_post', :locals => {:post => @post, :group => @group} %>
        <% end %>
      <% end %>
			<br>
			<div id="div_post_<%= @group.id.to_s %>" class="resources">
				<%= render partial: 'posts/post', locals: {posts: @posts, group: @group}  %>
			</div>
			<p id="group_id" class='active_hide'><%= @group.id %></p>
    </div>
			<div id="loading_page" class="center " ><img src="/assets/loading-sub.gif"></div>

	</ul>
	<br>
</div>
<script type="text/javascript">

var currentPage<%= @group.id.to_s %> = 1;
var intervalID = -1000;
var insideLoop ="false"; 

function checkScroll_grp_post() {
  if (nearBottomOfPage() && insideLoop!="true" ) {
    insideLoop ="true";
    currentPage<%= @group.id.to_s %>++;
  $('#loading_page').show();
    if($('#div_post_<%= @group.id.to_s %>').length == 0){
      console.log(currentPage<%= @group.id.to_s %>);
      clearInterval(intervalID);
      for (var i = 1; i < 99999; i++){
         window.clearInterval(i);
      }
      insideLoop = "false";
      return;
    }
    jQuery.ajax('/groups/post_paginate?id=<%= @group.id.to_s %>&page=' + currentPage<%= @group.id.to_s %>  , {asynchronous:true, evalScripts:true, method:'get', success: function(data, textStatus, jqXHR) {
    $('#div_post_<%= @group.id.to_s %>').append($(data));
    $('#loading_page').hide();
    if(typeof jQuery(data) == 'undefined' ||jQuery(data).html() == null || $(data).find('.paginate_do').html()==null){
      clearInterval(intervalID);
      for (var i = 1; i < 99999; i++){
         window.clearInterval(i);
      }
      restartInterval();
    }
    insideLoop = "false";
  },});
  }
}


function nearBottomOfPage() {
  return scrollDistanceFromBottom() < 150;
}
 
function scrollDistanceFromBottom(argument) {
  return pageHeight() - (window.pageYOffset + self.innerHeight);
}
 
function pageHeight() {
  return Math.max(document.body.scrollHeight, document.body.offsetHeight);
}

$('document').ready(function(){
  intervalID = setInterval(checkScroll_grp_post, 500);
});
</script>