          <% unless @inv_req_cu.blank?  %>
            <% if @inv_req_cu.count > 0 %>
                <div >
                  <ul class="users">
                    <% @inv_req_cu.each do |community| %>
                    <li style="padding-left:15px;cursor:pointer;position:relative;" class="tr-hover community" >
                          <% unless community.photo.nil? %>
                          <%= link_to cl_image_tag(community.photo.pic_url(:cover_pic_smaller), class:"image_al_c1 thumbnail pull-left ", id:"#{community.photo.id}"), "#" %>

                          <% end %>
                          <div style="padding:7px;">
                          <span class="marginLeft5" style="font-size:large;padding:5px !important;"><%= link_to community.name, "#" %>
                          </span><br><br>
                          <span class="marginLeft5" style="font-size:small;padding:5px !important;"><%= community.description %></span><br>
                          <span class="marginLeft5" style="font-size:small;padding:5px !important;">Privacy: <%= privacy_str(community) %></span><br>
                          <span class="margin15 padding5 pull-right" style="font-size:small;position:absolute;bottom: 0;right: 0;">
                            <a href="<%= declinerequest_community_path(community) << '?user_id='%><%= current_user.id %>"class="uibutton pull-right" data-remote="true" id="decline" style="margin-right:5px;"> Decline <i class="icon-remove"></i></a>
                            <a href="<%= acceptrequest_community_path(community) << '?user_id='%><%= current_user.id %>"class="uibutton pull-right" data-remote="true" id="accept" style="margin-right:3px;"><i class="icon-ok"></i> Accept </a>
                          </span>
                    </li>
                    <% end %>
                  </ul>
                </div>
                <br>
            <% else %> 
            <h4> No invitation from any communities</h4>
            <% end %> 
          <% else %> 
            <h4 class="center"> No invitation from any communities</h4>
          <% end %>