<% unless community.nil? %>
  <!--<ul class="tabs">
    <%= render 'communities/links' %>
  </ul>-->
  
  <% unless (community.privacy == Privacyenum::PROTECTED && !current_user.is_cu_admin?(community)) %>
  
     <% if community.is_active?(current_user, community) %>
        <%= render 'communities/invite_members', :locals => { :community => community }  %>
    <% end %>
  
    <% unless requested_users.nil?  %>
    <% if requested_users.count > 0 %>
  <div class="row pl15">
      <ul class="list-unstyled mb0">
        <% requested_users.each do |user| %>
        
        <li>
        <div class="col-sm-6 pl0 pr5 mb5">
                  <div class="panel widget nm">
                      <div class="table-layout nm">
                        <img src="<%= gravatar_for_url user, size: 82 %>" class="pull-left gravatar" ></img>
                          <span class="badge badge-default pull-right mr10 mt5">Request Pending</span>
                          <div class=" valign-middle">
                            <div class="panel-body mt5 pt10 pl95 pb0 pr0">
                                  <p class="semibold ellipsis mt10 mb0"><%= link_to user.name, user ,remote: true %></p>
                                  <p class=" ellipsis mb0"><a class="ellipsis text-muted" mailto="<%= user.email %>"><%= user.email %></a></p>
                                  <p>
                                        <a href="<%= declinerequest_community_path(community) << '?user_id='%><%= user.id %>"class=" pull-right btn btn-xs btn-danger mb1  decline_user" data-remote="true" id="decline" style="margin-right:5px;"> Decline </a>
                                        <a href="<%= acceptrequest_community_path(community) << '?user_id='%><%= user.id %>"class=" pull-right btn btn-xs btn-success mb1  accept_user" data-remote="true" id="accept" style="margin-right:5px;"> Accept <i class="icon-remove"></i></a>
                                     <% if current_user.is_cu_admin?(community) %>
                                    <% end %>
                                  </p>    
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
        </li>
        
        <% end %>
      </ul>
  </div>
    <% end %>
    <% end %> 
  
  <% end %>
             

  <% unless inv_pending_users.nil?  %>
  <% if inv_pending_users.count > 0 %>
  <div id="show_com_invites" class="row pl15">
    <ul class="list-unstyled mb0">
      <% inv_pending_users.each do |user| %>
      <li>
        <div class="col-sm-6 pl0 pr5 mb5">
                <div class="panel widget nm">
                    <div class="table-layout nm">
                      <img src="<%= gravatar_for_url user, size: 82 %>" class="pull-left gravatar" ></img>
                        <span class="badge badge-default pull-right mr10 mt5">invited</span>
                        <div class=" valign-middle">
                                <p class="semibold ellipsis mt0 mb0"><%= link_to user.name, user ,remote: true %></p>
                                <p class=" ellipsis mb0"><a class="ellipsis text-muted" mailto="<%= user.email %>"><%= user.email %></a></p>
                                <p>
                                   <% if current_user.is_cu_admin?(community) %>
                                      <a href="<%= declinerequest_community_path(community) << '?user_id='%><%= user.id %>"class="uibutton pull-right button-toggle decline_user" data-remote="true" id="decline" style="margin-right:5px;"> Uninvite <i class="icon-remove"></i></a>
                                  <% end %>
                                </p>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </li>
  <% end %>
</ul>

</div>
<% end %>
<% end %> 
                   
          <%= render partial: 'communities/com_members', locals: {ad_users: @ad_users, inv_users: @inv_users, community: @community} %>

 

<!-- 

<%= form_for( community, url: invite_app_user_community_path(community), method: :get, remote: true) do |f| %>
<div id="modal_invite" style="display:none;" >
  <div id="modal-from-dom2" class="modal fade in" style="display: block;width:700px;">
    <div class="modal-header">
      <a href="#" id="close_invite" class="close">×</a>
      <span style="font-size:20px;line-height: 2;">Invite</span>
    </div>
    <div class="modal-body" style="max-height:550px;">
      <div class="row">
        <div class="span14 ui-front">
          <div class="center_block clearfix"><br>
            <%= f.label "Invite by User name:" %>
            <div class="input ui-front">
              <%= f.text_field :user_tokens, id: "search_user" %>
            </div>
          </div>
        </div>
      </div>   
    </div>
    <div class="modal-footer" >
      <%= f.submit "Invite", class: "btn primary pull-right", id: "invite_submit" %>  
    </div>
  </div>

</div>
<% end %>




<%= form_for( community, url: invite_by_email_community_path(community), method: :get, remote: true) do |f| %>
<div id="modal_invite_email" style="display:none;" >
  <div id="modal-from-dom2" class="modal fade in" style="display: block;width:700px;">
    <div class="modal-header">
      <a href="#" id="close_invite_email" class="close">×</a>
      <span style="font-size:20px;line-height: 2;">Invite</span>
    </div>
    <div class="modal-body" style="max-height:550px;">
      <div class="row">
        <div class="span14 ui-front">
          <div class="center_block clearfix"><br>
            <%= f.label "Invite by e-mail:" %>
            <div class="input ui-front">
              <%= f.text_field :user_tokens, id: "search_email" %>
            </div>
          </div>
        </div>
      </div>   
    </div>
    <div class="modal-footer" >
      <%= f.submit "Invite", class: "btn primary pull-right", id: "invite_email_submit" %>  
    </div>
  </div>

</div>
<% end %>
 -->

<%= form_for( community, url: add_moderators_community_path(community), method: :get, remote: true) do |f| %>
<div id="modal_add_mod" style="display:none;" >
  <div id="modal-from-dom__add_mod" class="modal fade in" style="display: block;">
    <div class="modal-header">
      <a href="#" id="close_add_mod" class="close">×</a>
      <span style="font-size:15px;line-height: 2;"><strong>Set moderators</strong></span>
    </div>
      <span style="font-size:11px;line-height: 3;margin-right:10px;" class="pull-right">(Check to set member as a Moderator)</span>
    <div class="modal-body" style="max-height:350px;width:530px;">
      <div class="row">
        <div class=" ui-front">         
         <%= render 'shared/error_messages', object: f.object %>
         <aside class="">
          <section>
            <!-- <h2 style="margin-left:65px;padding:3px;">Moderators</h2> -->
            <ul class="users" style="overflow:auto;">
              <% @ucs.each do |uc| %>
              <% user = User.find(uc.user_id) %>
                  <li style="margin-left:15px;" class="tr-hover">
                    <div class="checkboxFive pull-right marginRight15" style="margin-top:5px;">
                        <%= check_box_tag 'user_ids[]', user.id, uc.is_admin?, id: "checkboxFiveInput#{uc.id}" %>
                      <label for="checkboxFiveInput<%= uc.id %>"></label>
                    </div>
                    <div  class="img_zoom" style="float:left;margin-left:15px;" >
                      <%= gravatar_for user, size: 52 %>
                    </div>
                      <%= link_to user.name, user %>
                      <p><%= user.email %></p>
                  <div style="margin-right:10px;" class="pull-right">
                    <%= hidden_field_tag 'user_all_ids[]', user.id %>
                  </div>
                  </li>
              <% end %>
            </ul>     
          </section>
        </aside>
      </div>
    </div>   
  </div>
  <div class="modal-footer" >
    <%= f.submit "Update", class: "btn primary pull-right busy", id: "submit_add_mod" %>  
  </div>
</div>
</div>
<% end %>



<% unless @community.nil? %>

<%= form_for( @community, url: invite_app_user_community_path(@community), method: :get, remote: true) do |f| %>
<div id="modal_invite" class="modal fade" >
  <div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header clearfix">
      <a href="#" id="close_invite" class="close">×</a>
      <span class="">Invite Smarthood users</span>
    </div>
    <div class="modal-body center">
      <div class="center">
          <div class="center_block clearfix ">
              <%= f.text_field :user_tokens, id: "search_user", 'data-validation' => "required", 'data-validation-error-msg' => "Please add users to invite" %>
          </div>
      </div>   
    </div>
    <div class="modal-footer" >
      <%= f.submit "Invite", class: "btn btn-success btn-custom pull-right busy", id: "invite_submit" %>  
    </div>
  </div>
  </div>
  </div>
<% end %>




<%= form_for( @community, url: invite_by_email_community_path(@community), method: :get, remote: true) do |f| %>
<div id="modal_invite_email" class="modal fade" >
  <div id="modal-from-dom2" class="">
    <div class="modal-dialog modal-sm">
    <div class="modal-content">
    <div class="modal-header">
      <a href="#" id="close_invite_email" class="close">×</a>
      <span style="">Send invitation to email</span>
    </div>
    <div class="modal-body pt0">
      <div class="">
        <div class="">
          <div class="center_block clearfix"><br>
              <div class="bs-example bs-email">
                        <div class="">
                          <input type="text" class="form-control tokenfields" id="tokenfield-m1" name="community[user_tokens]" placeholder="Type email and hit tab/enter" data-validation="required" data-validation-error-msg="Please type email and hit tab/enter to add" />
                        </div>
                </div>
          </div>
        </div>
      </div>   
    </div>
    <div class="modal-footer" >
      <%= f.submit "Invite", class: "btn btn-success btn-custom pull-right busy", id: "invite_email_submit" %>  
    </div>
  </div>

</div>
</div>
</div>
<% end %>

<% end %>
<script type="text/javascript">
$(document).ready(function(){
  $.validate({
    onSuccess : function() {
      $('.loading_page').show();
      $("#invite_email_submit").attr('data-loading-text', 'Inviting...');
      $("#invite_email_submit").button('loading');
      $("#invite_submit").attr('data-loading-text', 'Inviting...');
      $("#invite_submit").button('loading');

    },
  });
  });
</script>



<script type="text/javascript">





$(function(){
  $('.button-toggle').hide();
  $(".modal-backdrop").remove();

$('.tr-hover').hover(function() {
    $(this).find('.button-toggle').show();
}, function() {
    $(this).find('.button-toggle').hide();
});

  $('.accept_user').click(function(){
    $(this).closest('li').hide();
  });
  $('.decline_user').click(function(){
    $(this).closest('li').hide();
  });
});


$(document).ready(function(){
  $('#posts_community_li').removeClass('active');
  $('#about_community_li').removeClass('active');
  $('#photos_community_li').removeClass('active');
  $('#members_community_li').addClass('active');
  $('#groups_community_li').removeClass('active');
});


 /* $("#show_com_members, #show_com_invites, #show_com_moderators").find('.gravatar').removeClass('img-circle');*/



$("#invite_fb").on( "click", function() {
  FB.ui({method: 'apprequests',
    message: 'Join Community: <%=community.name%>, form Smarthood to make your neighbourhood smart'
  }, requestCallback);    
});


function requestCallback(response)
{
  if(response!=null){
 // console.log("resp: "+response.to);
  for (var i in response.to) {
        FB.ui({
          method: 'send',
          to: response.to[i],
          link: 'https://www.smarthood.in/',
        });
  }

  $.get( '<%= invite_fb_friends_community_path(community) %>', { ids: response.to } );
  }
}

$("#invite_cu").on( "click", function() {
 $('#modal_invite').modal({
      //keyboard: true,
      backdrop: "static",
    });
});

$("#close_invite").click(function(){
  $('#modal_invite').modal('hide');
});

$("#invite_submit").click(function(){
 //     $(this).attr('data-loading-text', 'Inviting...');
 //     $(this).button('loading');
});

$("#invite_email").on( "click", function() {
 $('#modal_invite_email').modal({
      //keyboard: true,
      backdrop: "static",
    });
});

$("#close_invite_email").click(function(){
  $('#modal_invite_email').modal('hide');
});

$("#invite_email_submit").click(function(){
//  $(this).attr('data-loading-text', 'Inviting...');
//  $(this).button('loading');
});

$("#moderator").on( "click", function() {
 $('#modal_add_mod').modal({
      //keyboard: true,
      backdrop: "static",
    });
});

$("#close_add_mod").click(function(){
  $('#modal_add_mod').modal('hide');
});

$("#submit_add_mod").click(function(){
  $(this).attr('data-loading-text', 'Updating...');
  $(this).button('loading');
});


  $("#search_user").tokenInput("/communities/<%= community.id %>/search_app_user", {
    crossDomain: false,
    theme: "facebook",
    resultsFormatter: function(item){ return "<li>" + "<img src='" + item.profile_pic + "' title='" + item.name + "' height='30px' width='30px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.name + " " + ""+ "</div><div class='full_name'>" + item.email + " " + ""+ "</div></div></li>" },
    tokenFormatter: function(item) { return  "<li>" +  item.name +  "</li>" },
    preventDuplicates: true ,
    zindex: 11001,
    searchDelay: 1000,
    minChars: 2,
    hintText: "Type in a user name",
  });

$(".token-input-list-facebook").addClass("form-control wd100 font-15 autocomplete-border");

         $('.tokenfields').on('beforeCreateToken', function (e) {
            var token = e.token.value.split('|')
            e.token.value = token[1] || token[0]
            e.token.label = token[1] ? token[0] + ' (' + token[1] + ')' : token[0]
          }).on('afterCreateToken', function (e) {
            // Über-simplistic e-mail validation
            var re = /\S+@\S+\.\S+/
            var valid = re.test(e.token.value)
            if (!valid) {
              $(e.relatedTarget).addClass('invalid')
            }
          }).on('beforeEditToken', function (e) {
            if (e.token.label !== e.token.value) {
              var label = e.token.label.split(' (')
              e.token.value = label[0] + '|' + e.token.value
            }
          }).on('removeToken', function (e) {
           // alert('Token removed! Token value was: ' + e.token.value)
          }).on('preventDuplicateToken', function (e) {
            alert('Duplicate detected! Token value is: ' + e.token.value)
          }).tokenfield();

</script>
<% end %>