        <%= form_for(Post.new, remote: true,  :html => {:multipart => true}) do |f| %>
            <div id="textarea_div" style="border: 1px solid #d4dae8;overflow: hidden;background-color:#f2f2f2;">
            <%= render 'shared/error_messages', object: f.object %>
                        <%= fields_for :photo, Photo.new, :child_index => 'NEW_RECORD' do |photo_form| %>
                         
                        <%= photo_form.file_field :pic, id: "pic1",style: "width:1px; height:1px; padding:0px;  left:0px;display:none;" %>  

                        <% end %>
                         <div class=" pull-left">
                            <%= f.text_area :content, placeholder: "Compose new post...", :rows=>6, class: "span10", 'data-validation' => "required", 'data-validation-error-msg' => "Post can't be blank" %>
                         <canvas id="imageCanvas1" style = "border: 1px solid #ddd; padding:2px; align:center;cursor:pointer; background-color:#ffffff;" width="132px" height="88px">Add pictures</canvas>
                        </div> 

                      <% unless @groups.blank? %>
                        <%= link_to  "Select groups","#", id: "group_post_select", class: "uibutton pull-left" %>
                      <% end %>
                     <%= f.submit "Post", id: "community_post_submit", class: "btn primary pull-right" %>
                     <%= hidden_field_tag :type, "community" %> 
                     <%= hidden_field_tag :id, @community.id %> 
                     <div id="sel_grp_label"></div>
                     <ul class="users"style="display: block;margin-top:120px;" >
                                   <li style="margin-left:5px;font-size:14px;line-height:1.5;padding: 2px 0 2px 0;" class="sel_grp_head timestamp hfive">Post to group</li>
                     <% unless @groups.blank? %>
                      <% @groups.each do |grp| %>
                       <li id="grp_label_<%= grp.id %>" style="margin-left:5px;position:relative;width:180px;" class=" active_hide group pull-left" >
                        <%= link_to cl_image_tag(grp.photo.pic_url(:smallest), class:"image_al_c1 thumbnail pull-left ", id:"#{grp.photo.id}"), "#" %>
                                   <div style="margin-left:65px;margin-top:5px;">
                                    <address>
                                       <strong><%= link_to grp.name.capitalize, "#", style: "font-size:13px;word-wrap:break-word;" %></strong><br>
                                       <span style="word-wrap:break-word;"><%= grp.description.length > 17 ? grp.description.slice(0..17) + "..." : grp.description %></span><br> 
                                    </address>  
                                  </div>
                      </li>
                          <div style="display:none;">
                            <%= check_box_tag 'grp_ids[]', grp.id, nil, id:"grp_check_#{grp.id}" %>
                         </div>
                      <% end %>
                    <% end %>
                    </ul>
              </div>
        <% end %>

<div id="modal_sel_grp" style="display:none;" >
  <div id="modal-from-dom2" class="modal hide fade in" style="display: block;width:565px;">
    <div class="modal-header">
      <a href="#" id="closeX_sel_grp" class="close">×</a>
      <h3>Select groups</h3>
    </div>
    <span style="font-size:11px;line-height: 3;margin-right:10px;" class="pull-right">(Check to select groups for the post)</span>
    <div class="modal-body" style="max-height:400px;width:535px;padding-top:0;">
      <div class="row">
        <div class=" ui-front">
        <section id="groups_sec" style="">
            <div style="padding:5px;">
              <% unless @groups.blank? %>
                  <ul class="users">
              <% @groups.each do |group| %>

                   <li style="margin-left:15px;" class="tr-hover select_unselect_group c-pointer">
                    <p style="display:none;"><%= group.id %></p>
                    <div class="checkboxFive pull-right marginRight15" style="margin-top:12px;">
                        <%= check_box_tag 'grp_ids[]', group.id ,nil, id: "checkboxFiveInput#{group.id}" %>
                      <label for="checkboxFiveInput<%= group.id %>"></label>
                    </div>
                    <div  class="img_zoom" style="float:left;margin-left:15px;" >
                      <%= link_to cl_image_tag(group.photo.pic_url(:smallest), class:"image_al_c1 thumbnail pull-left ", id:"#{group.photo.id}"), "#" %>
                    </div>
                                    <address style="margin-left:82px;margin-top:5px;">
                                      <strong> <%= link_to group.name.capitalize, "#", style: "font-size:13px;" %></strong> <br>
                                       <%= group.description %><br>
                                    </address> 
                  </li>
<!--               <div class="bgClrChg2 span14 pull-left" style="cursor:pointer;margin-right:20px;">
                  <div style="display:none;" class="pull-left">
                    <%= check_box_tag 'grp_ids[]', group.id %>
                  </div>
                     <li style="padding-left:15px;cursor:pointer;position:relative;" class=" group" >
                        <%= link_to cl_image_tag(group.photo.pic_url(:cover_pic_smallest), class:"image_al_c1 thumbnail pull-left ", id:"#{group.photo.id}"), "#" %>
                                 <a class="uibutton pull-right select_unselect" style="margin-right:3px;">Select </a>
                                  <div style="margin-left:95px;margin-top:5px;">
                                    <address>
                                      <strong> <%= link_to group.name.capitalize, "#", style: "font-size:13px;" %></strong> <br>
                                      <strong>Description : &nbsp;</strong> <%= group.description %><br>
                                      <strong>Privacy : &nbsp;</strong><%= privacy_str(group) %><br>
                                       <strong><%= "Member".pluralize(group.users.count) %> : </strong><%= pluralize(group.users.count, "person") %> <br> 
                                    </address>  
                                  </div>
                      </li>
              </div> -->
              <% end %>
                  </ul>
              <% end %>
           </div>
        </section>
        </div>
      </div>
    </div>
    <div class="modal-footer" >
      <%= link_to "Done","#", class: "btn primary pull-right", id: "selGroup" %>  
    </div>
  </div>
</div>


<script type="text/javascript">

$(document).ready(function(){
  $.validate({
//    validateOnBlur : false,
    form : '#new_post',
    onSuccess : function() {
      $('.loading_page').show();
      $('#community_post_submit').attr('data-loading-text', 'Posting...');
      $('#community_post_submit').button('loading');
    },
  });

$("#group_post_select").click(function(){
  $('#modal_sel_grp').modal({
      backdrop: "static",
    });
});
$("#closeX_sel_grp").click(function(){
  $('#modal_sel_grp').modal('hide');
});

$("#selGroup").click(function(){
  $('#modal_sel_grp').modal('hide');
});


var i=0;
$(".select_unselect_group").click( function() {
  var id = $(this).find('p').html();
  if($(this).find(':checkbox').is(':checked')){
    $(this).find(':checkbox').prop("checked",false);
    $("#grp_check_"+id).prop("checked",false);
    $("#grp_label_"+id).hide();
    i--;
  }else{
    $(this).find(':checkbox').prop("checked",true);
       $("#grp_check_"+id).prop("checked",true);
       $("#grp_label_"+id).show();
       i++;
  }
  if(i>0){
    $(".sel_grp_head").show();
  }else{
    $(".sel_grp_head").hide();
  }
});
    $(".sel_grp_head").hide();

});
</script>