        <%= form_for(Post.new, remote: true,  :html => {:multipart => true, class: "panel mb5"}) do |f| %>
            <div id="textarea_div">
            <%= render 'shared/error_messages', object: f.object %>
                        <%= fields_for :photo, Photo.new, :child_index => 'NEW_RECORD' do |photo_form| %>
                         
                        <%= photo_form.file_field :pic, id: "pic1",style: "width:1px; height:1px; padding:0px;  left:0px;display:none;" %>  

                        <% end %>
                        
                         <div class="">
                          <%= f.text_area :content, placeholder: "Compose new post...", 'data-validation' => "required", 'data-validation-error-msg' => "Post can't be blank", 'rows' => "2", class: "form-control form-control-minimal", :id => 'comm_post_text' %>
                        </div>
                        <div class="thumbnail thumbnail-album">
                        <!-- media -->
                          <div class="media">
                              <canvas id="imageCanvas1" width="100%" class="pull-left ml2 mb3 mr0" >Add pictures</canvas>
                              <a href="#" id="img_close" class="close pull-left">×</a>
                          </div>
                      </div>
                      
                    <!--<div class="panel-footer">
                      <div class="panel-toolbar-wrapper">
                          <div class="panel-toolbar hide">
                                  <ul class="media-list media-list-contact nm">
                                     <%= hidden_field_tag :type, "community" %> 
                                     <%= hidden_field_tag :id, @community.id %> 
                                     <div id="sel_grp_label"></div>
                                     <ul class="users" >
                                                   <li class="sel_grp_head timestamp hfive">Post to group</li>
                                     <% unless @groups.blank? %>
                                      <% @groups.each do |grp| %>
                                       <li id="grp_label_<%= grp.id %>"  class=" hide group pull-left" >
                                        <%= link_to cl_image_tag(grp.photo.pic_url(:smallest), class:"image_al_c1 thumbnail pull-left ", id:"#{grp.photo.id}"), "#" %>
                                                   <div>
                                                    <address>
                                                       <strong><%= link_to grp.name, "#" %></strong><br>
                                                       <span><%= grp.description.length > 17 ? grp.description.slice(0..17) + "..." : grp.description %></span><br> 
                                                    </address>  
                                                  </div>
                                      </li>
                                          <div style="display:none;">
                                            <%= check_box_tag 'grp_ids[]', grp.id, nil, id:"grp_check_#{grp.id}" %>
                                         </div>
                                      <% end %>
                                    <% end %>
                                    </ul>
                                  </ul>
                          </div>
                          </div>
                          <div class="panel-toolbar-wrapper">
                          <div class="panel-toolbar">
                              <div class="btn-group">
                                <button type="button" class="btn btn-default" id="cam"><span class="glyphicon glyphicon-camera"></span></button>
                                <button type="button" class="btn btn-default" id="modal_sel_grp_btn"  data-toggle="modal" data-target="#modal_sel_grp"><span class="glyphicon glyphicon-home"></span></button>
                              </div>
                            </div>
                          <div class="panel-toolbar text-right">
                             <%= f.submit "Post", id: "community_post_submit", class: "btn btn-primary btn-custom disabled" %>
                          </div>
                        </div>
                    </div>-->
                    
                    
                    
                    
                    
                    
                    
                    
    <div class="panel-footer">
        <div class="panel-toolbar-wrapper">
            <div class="panel-toolbar sel_grp_head">
                <ul class="media-list media-list-contact nm">
                    <%= hidden_field_tag :type, "community" %> 
                    <%= hidden_field_tag :id, @community.id %>
                    <li class=" text-muted semibold">Post to Groups</li>
                    <% @groups.each do |grp| %>
                       <li id="grp_label_<%= grp.id %>"  class="group" >
                         <div class="ml10"><strong><%= link_to grp.name, "#" %></strong></div>
                       </li>      
                       <div style="display:none;">
                         <%= check_box_tag 'grp_ids[]', grp.id, nil, id:"grp_check_#{grp.id}" %>
                       </div>
                    <% end %>
                </ul>
            </div>
        </div>
        <div class="panel-toolbar-wrapper">
          <div class="panel-toolbar">
              <div class="btn-group">
                <button type="button" class="btn btn-default" id="cam"><span class="glyphicon glyphicon-camera"></span></button>
                <!--<button type="button" class="btn btn-default" id="modal_sel_grp_btn"  data-toggle="modal" data-target="#modal_sel_grp"><span class="glyphicon glyphicon-home"></span></button>-->
              </div>
            </div>
          <div class="panel-toolbar text-right">
             <%= f.submit "Post", id: "community_post_submit", class: "btn btn-primary btn-custom disabled" %>
          </div>
        </div>
    </div>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
        
              </div>
        <% end %>

<div id="modal_sel_grp" class="modal fade" >
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header center">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3 class="semibold modal-title text-primary">Select groups</h3>
      <p class="text-muted mr10 mb0">Check to select groups for the post</p>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class=" ui-front">
        <section id="groups_sec" style="">
            <div style="padding:5px;">
              <% unless @groups.blank? %>
                  <ul class="pl0">
              <% @groups.each do |group| %>

                   <li class="tr-hover pa10 li-none select_unselect_group c-pointer">
                    <p style="display:none;"><%= group.id %></p>
                    <div class="checkboxFive pull-right marginRight15" style="margin-top:12px;">
                        <%= check_box_tag 'grp_ids[]', group.id ,nil, id: "checkboxFiveInput#{group.id}" %>
                      <label for="checkboxFiveInput<%= group.id %>"></label>
                    </div>
                    <div  class="img_zoom" style="float:left;margin-left:15px;" >
                      <%= link_to cl_image_tag(group.photo.pic_url(:smallest), class:"image_al_c1 thumbnail pull-left ", id:"#{group.photo.id}"), "#" %>
                    </div>
                                    <address style="margin-left:82px;margin-top:5px;">
                                      <strong> <%= link_to group.name, "#", style: "font-size:13px;" %></strong> <br>
                                       <%= group.description %><br>
                                    </address> 
                  </li>
<!--               <div class="bgClrChg2 span14 pull-left" style="cursor:pointer;margin-right:20px;">
                  <div style="display:none;" class="pull-left">
                    <%= check_box_tag 'grp_ids[]', group.id %>
                  </div>
                     <li style="padding-left:15px;cursor:pointer;position:relative;" class=" group" >
                        <%= link_to cl_image_tag(group.photo.pic_url(:cover_pic_smallest), class:"image_al_c1 thumbnail pull-left ", id:"#{group.photo.id}"), "#" %>
                                 <a class="uibutton pull-right select_unselect" style="margin-right:3px;">Select </a>
                                  <div style="margin-left:95px;margin-top:5px;">
                                    <address>
                                      <strong> <%= link_to group.name, "#", style: "font-size:13px;" %></strong> <br>
                                      <strong>Description : &nbsp;</strong> <%= group.description %><br>
                                      <strong>Privacy : &nbsp;</strong><%= privacy_str(group) %><br>
                                       <strong><%= "Member".pluralize(group.users.count) %> : </strong><%= pluralize(group.users.count, "person") %> <br> 
                                    </address>  
                                  </div>
                      </li>
              </div> -->
              <% end %>
                  </ul>
              <% else %>
                  <p class="semibold center"> No groups available</p>
              <% end %>
           </div>
        </section>
        </div>
      </div>
    </div>
    
    <div class="modal-footer" >
      <%= link_to "Done","#", class: "btn btn-sm btn-success pull-right", id: "selGroup" %>  
    </div>
  </div>
</div>
</div>


<script type="text/javascript">


  $('#comm_post_text').keyup(function(){
    if($('#comm_post_text').val().length <1){
      $('#community_post_submit').addClass('disabled');
    }else{
      $('#community_post_submit').removeClass('disabled');
    }
  });
  
  

$("#remove_image").click(function(){
    $("#pic1").val("");
    $("#image").hide();
    $("#image_upload1").show();

  });
  $("#img_close").hide();
  $("#img_close").click(function(){
    $("#img_close").hide();
    $("#pic1").val("");
    $("#imageCanvas1").hide();
  });

   $(".group").hide();

  var imageLoader = document.getElementById('pic1');
  imageLoader.addEventListener('change', handleImage, false);
  $("#cam").click(function(){
    $("#pic1").click();
  });
  var canvas = document.getElementById('imageCanvas1');
  var ctx = canvas.getContext('2d');
  ctx.font="8pt tahoma ";
  ctx.fillStyle = 'grey';
  ctx.fillText("Add picture",35,46);
  $("#imageCanvas1").hide();
  function handleImage(e){
    var canvas = document.getElementById('imageCanvas1');
    var ctx = canvas.getContext('2d');
    var iCnt=0;
    var files = e.target.files;
    if(files.length<1){
     /* 
     $('#pic1').val('');
      ctx.setTransform(1, 0, 0, 1, 0, 0);
      ctx.clearRect(0, 0, 132, 88);
      ctx.font="8pt tahoma ";
      ctx.fillStyle = 'grey';
      ctx.fillText("Add picture",35,46);
      */
      return;
    }
    $("#imageCanvas1").show();
    $("#img_close").show();
    canvas.width = 132;
    canvas.height = 88*(Math.ceil(files.length/1));
    for( var i = 0, len = files.length; i < len; i++) 
    {
      if(files[i])
      {
        var reader = new FileReader();
        reader.onload = function(event){
          var img = new Image();

          img.onload = function(){
            var ratioPx = 150;
            var sWidth =ratioPx;
            var ratio = img.width/sWidth;
            var sHeight = img.height/ratio;   
            if(sHeight>ratioPx){
             sHeight =ratioPx;
             ratio = img.height/sHeight;
             sWidth = img.width/ratio;  
           }
           ctx.drawImage(img, 155*(iCnt%4),155*(Math.floor(iCnt/4)),sWidth,sHeight);
                  //ctx.drawImage(img,0,0,sWidth,sHeight);
                  iCnt++;
                }
                img.src = event.target.result;
              }
              reader.readAsDataURL(e.target.files[i]);     
            }
          }
        }




$(document).ready(function(){
  $.validate({
    validateOnBlur : false,
    form : '#new_post',
    onSuccess : function() {
      $('.loading_page').show();
      $('#community_post_submit').attr('data-loading-text', 'Posting...');
      $('#community_post_submit').button('loading');
    },
  });
  
  
 /* var txt = $('#comm_post_text');
  if(txt.val().length < 1){
    $('#community_post_submit').addClass('disabled');
  }*/
  
  
  
  
  
  
  
$("#group_post_select").click(function(){
  $('#modal_sel_grp').modal({
      backdrop: "static",
    });
});
$("#closeX_sel_grp").click(function(){
  $('#modal_sel_grp').modal('hide');
});

$("#selGroup").click(function(){
  $('#modal_sel_grp').modal('hide');
});

var i=1;
$(".select_unselect_group").click( function() {
  var id = $(this).find('p').html();
  if($(this).find(':checkbox').is(':checked')){
    $(this).find(':checkbox').prop("checked",false);
    $("#grp_check_"+id).prop("checked",false);
    $("#grp_label_"+id).hide();
    i--;
  }else{
    $(this).find(':checkbox').prop("checked",true);
       $("#grp_check_"+id).prop("checked",true);
       $("#grp_label_"+id).show();
       i++;
  }
  if(i>1){
    $(".sel_grp_head").show();
  }else{
    $(".sel_grp_head").hide();
  }
});
    $(".sel_grp_head").hide();

});







/*var j=1;
$(".select_unselect_group").click( function() {
  var id = $(this).find('p').html();
  if($(this).find(':checkbox').is(':checked')){
    $(this).find(':checkbox').prop("checked",false);
    $("#grp_check_"+id).prop("checked",false);
    $("#grp_check_"+id).hide();
    j--;
  }else{
    $(this).find(':checkbox').prop("checked",true);
    $("#grp_check_"+id).prop("checked",true);
    $("#grp_check_"+id).show();
    j++;
  }
  if(j>1){
    $(".sel_grp_head").show();
  }else{
    $(".sel_grp_head").hide();
  }
});
    $(".sel_grp_head").hide();
*/





</script>