<% provide(:title, @selected_community.name) %>
  <div class="">
     <div  class="image_overlay tr-hover-btn" >
      <div id="CU-pic">
    <%= link_to cl_image_tag(@selected_community.photo.pic_url(:largest), class:"padding1",rel: "#{@selected_community.id}", id:"#{@selected_community.photo.id}") , @selected_community.photo.pic_url, class: "fancybox-album", rel: "#{@selected_community.id}" , title: "#{@selected_community.name}"    %>
      </div>

            <div class="btn_overlay_cu_cover_pic">
              <div>
                  <% if @community.is_requested?(current_user) %>
                    <span class=" padding5 label warning pull-right" style="font-size:small;"><strong>Request pending to join the community</strong></span><br>
                  <% end %>         
                 <% if @selected_community.is_private?(current_user) %>
                     <% unless @selected_community.is_requested?(current_user) %>
                       <%= link_to "Send request", sendrequest_community_path(@selected_community), class: "uibutton icon secure pull-right show_loading", style:"margin-right:5px;", remote: true, id: "send_req" %>
                     <% end %>
                 <% elsif @selected_community.is_public?(current_user) %>
                   <%= link_to "Join", join_cu_community_path(@selected_community), class: "uibutton icon prev pull-right show_loading", remote: true, id: "join_com", style:"margin-right:5px;" %>
                 <% end %>
                  <% if @selected_community.is_joined?(current_user, @selected_community) && @selected_community.can_admin_unjoin?(current_user) %>
                   <%= link_to "Unjoin", unjoin_cu_community_path(@selected_community), class: "uibutton icon prev pull-right marginLeft10 show_loading", remote: true, id: "unjoin_com", style:"margin-right:5px;" %>
                 <% end %>

                 <% if current_user.is_cu_admin?(@selected_community) %>
                    <%= link_to "edit", '#', id: "edit_comUnity",  class: "marginRight10 pull-right uibutton icon edit",:title => "Edit", style:"margin-right:5px;" %>
                 <% end %>

                 <% if current_user.is_cu_admin?(@selected_community) %>
                    <%= link_to "delete", @selected_community, method: :delete, remote: true, data: { confirm: "Do you really want to delete this community?" }, class: "pull-right uibutton ", title: @selected_community.name, style:"margin-right:5px;" %>
                 <% end %>

              </div>
            </div>
            <!-- <h2 class="text_overlay_cover_pic ">
              <%= render partial: "communities/text_overlay", locals: {obj: @selected_community} %>
            </h2> -->
        </div>
  </div><br>
<div class="row">
    <aside class="span7">
        <section id="about_sec">
         <%= render partial: 'communities/about_main', locals: { community: @selected_community} %>
        </section>
    </aside>

  <aside id="right" style="float: right;width:220px;margin-right:10px;">
    <div id="invited_ComUnity">
      
    </div>
  </aside>
  <div id="community_list" class="span13" style="margin-top:5px;">
    <div id="community_tabs" >  
      <%= render partial: 'communities/community_post', locals: {posts: @posts, community: @selected_community} %>
   </div>

 </div>

<script type="text/javascript">

  
  $('.show_loading').click(function(){
    $('.loading_page').show();    
  });
</script>