
<div class="row">
        <div class="marginLeft15 ui-front">
          <ul id="group_list" class="users">
          <li style="padding-left:15px;position:relative;border-bottom:0px;" class="tr-hover tr-hover-btn" >
              <% if @group.is_admin?(current_user) %>
                  <%= link_to "edit", '#', id: "edit_group",  class: " pull-right uibutton icon edit button_toggle ",:title => "Edit" %>
               <% end %>
               <span class="pull-right "> &nbsp;</span>
                  <% if @group.is_joined?(current_user, @group) %>
                    <% if @group.is_admin?(current_user) %>
                      <% if @group.can_admin_unjoin?(current_user) %>
                        <%= link_to "Unjoin", unjoin_grp_group_path(@group), class: "uibutton icon prev pull-right button_toggle", remote: true %>
                      <% end %>
                    <% else %>
                        <%= link_to "Unjoin", unjoin_grp_group_path(@group), class: "uibutton icon prev pull-right button_toggle", remote: true %>
                    <% end %>
                  <% else %>
                    <% unless (community.privacy == Privacyenum::PROTECTED && !current_user.is_cu_admin?(community)) %>
                    <% if @group.privacy == Privacyenum::PUBLIC %>
                        <%= link_to "Join", "/groups/#{@group.id}/join_grp?comm_id=#{community.id}", class: "uibutton icon prev pull-right button_toggle", remote: true %>
                    <% end %>
                    <% end %>
                  <% end %>
               <span class="pull-right "> &nbsp;</span>
               <% if @group.is_admin?(current_user) %>
                  <%= link_to "delete", @group, method: :delete, remote: true,
                                           data: { confirm: "You sure?" },
                                           class: "pull-right uibutton button_toggle",
                                           title: @group.name %>
               <% end %>
                <% unless group.photo.nil? %>
                <div class="pull-left">
                <%= link_to cl_image_tag(group.photo.pic_url(:cover_pic_smallest), class:"image_al_c1 thumbnail ", id:"#{group.photo.id}"), "#" %>

                </div>
                <% end %>

                <div style="margin-left:95px;margin-top:5px;">
                  <address>
                    <strong> <%= link_to group.name.capitalize, "#", style: "font-size:13px;" %></strong> <br>
                    <strong>Description : &nbsp;</strong> <%= group.description %><br>
                    <strong>Privacy : &nbsp;</strong><%= privacy_str(group) %><br>
                     <strong><%= "Member".pluralize(group.users.count) %> : </strong><%= pluralize(group.users.count, "person") %> <br> 
                  </address> 
                </div>
                
              </li>
          </ul>
           <div class="center loading_sub active_hide" ><img src="/assets/loading-sub.gif"></div>
          <br>
          <div>
              <ul class="tabs  ">
                <li class="active" id="members_grp_tab"><%= link_to "Members","/communities/#{community.id}/group_members?grp_id=#{@group.id}", remote: true %></li>
                <li id="post_grp_tab"><%= link_to "Posts","/communities/#{community.id}/group_posts?grp_id=#{@group.id}", remote: true %></li>
                <li id="photos_grp_tab"><%= link_to "Photos","/communities/#{community.id}/group_photos?grp_id=#{@group.id}", remote: true %></li>
              </ul>
          </div>
        <div id="show_group_div">
          <%= render partial: 'communities/group_members', locals: {ad_users: @ad_users, inv_users: @inv_users, community: @community} %>
        </div>
      </div>
</div>


<%= form_for( @group, remote: true, :html => {:multipart => true}) do |f| %>
<div id="modal_edit_grp" style="display:none;" >
  <div id="modal-from-dom2" class="modal hide fade in" style="display: block;width:700px;">
    <div class="modal-header">
      <a href="#" id="closeX_edit_grp" class="close">×</a>
      <h3> Edit group</h3>
    </div>
    <div class="modal-body" style="max-height:550px;">
      <div class="row">
        <div class="span14 ui-front">

         <%= render 'shared/error_messages', object: f.object %>
         <div class="center_block clearfix">
          <%= f.label :name %>
          <div class="input">
            <%= f.text_field :name, :placeholder=>"Title", 'data-validation' => "length",
     'data-validation-length' =>"3-25", 'data-validation-error-msg' => "The group name has to be a value between 3-25 characters" %></div>
          </div>

          <div class="center_block clearfix">
            <%= f.label :description %>
            <div class="input">
              <%= f.text_area :description, :placeholder=>"Description", class: ' inherit_width', :title=>"Description", rows: 3, cols: 75, 'data-validation' => "length ",
     'data-validation-length' =>"3-250", 'data-validation-error-msg' => "The group description has to be a value between 3-250 characters"  %> 
            </div>
          </div>

          <div class="center_block clearfix">
            <%= label_tag "Private group:" %>
                  <div class="input">
                    <%= f.select :privacy, options_for_select([["Public", Privacyenum::PUBLIC], ["Members", Privacyenum::MEMBERS], ["Private", Privacyenum::PRIVATE]], f.object.privacy) %>
                  </div>
          </div>
          <br>

          <div class="center_block clearfix">
            <%= label_tag "Change picture:" %>
            <%= f.fields_for :photo, Photo.new, :child_index => 'NEW_RECORD' do |photo_form| %>
              <%= photo_form.file_field :pic, id: "pic2",style: "width:0px; height:0px; padding:0px;  left:0px;" %>  
            <% end %>
            <div class="input"> 
              <% unless @group.photo.nil? %>
              <%= cl_image_tag(@group.photo.pic_url(:small), class:" thumbnail albumLink", id:"group_edit_pic", style: "cursor:pointer;") %>   
              <% end %>
              <canvas id="imageCanvas2" style = "border: 1px solid #ddd; padding:5px; align:center; width:200px;display:none;cursor:pointer" >select new image</canvas>
            </div>
          </div>  

        </div>
      </div>   
    </div>
    <div class="modal-footer" >
      <%= f.submit "Update", class: "btn primary pull-right busy", id: "updGroup" %>  
    </div>
  </div>
</div>
<% end %>



<%= form_for( group, url: add_moderators_group_path(group), method: :get, remote: true) do |f| %>
<div id="modal_add_mod" style="display:none;" >
  <div id="modal-from-dom__add_mod" class="modal hide fade in" style="display: block;">
    <div class="modal-header">
      <a href="#" id="close_add_mod" class="close">×</a>
      <span style="font-size:20px;line-height: 2;">Edit Moderators</span>
    </div>
    <div class="modal-body" style="max-height:350px;">
      <div class="row">
        <div class=" ui-front">         
         <%= render 'shared/error_messages', object: f.object %>
         <aside class="">
          <section>
            <!-- <h2 style="margin-left:65px;padding:3px;">Moderators</h2> -->
            <ul class="user" style="overflow:auto;">
              <% @ucs.each do |uc| %>
              <% user = User.find(uc.user_id) %>
              <ol>
                <div style="background-color:#f0f0f0;padding:5px;" class="span5">
                  <%= link_to user.name, "#" %>
                  <%= gravatar_for user, size: 25 %>
                  <div style="margin-right:10px;" class="pull-right">
                    <%= check_box_tag 'user_ids[]', user.id, uc.is_admin? %>
                    <%= hidden_field_tag 'user_all_ids[]', user.id %>
                    <%= hidden_field_tag 'comm_id', community.id %>
                  </div>
                </div>
              </ol>
              <% end %>
            </ul>     
          </section>
        </aside>
      </div>
    </div>   
  </div>
  <div class="modal-footer" >
    <%= f.submit "Update", class: "btn primary pull-right", id: "submit_add_mod" %>  
  </div>
</div>
</div>
<% end %>

<!-- 

<%= form_for( group, url: invite_app_user_group_path(group), method: :get, remote: true) do |f| %>
<div id="modal_invite" style="display:none;" >
  <div id="modal-from-dom2" class="modal hide fade in" style="display: block;width:700px;">
    <div class="modal-header">
      <a href="#" id="close_invite" class="close">×</a>
      <span style="font-size:20px;line-height: 2;">Invite</span>
    </div>
    <div class="modal-body" style="max-height:550px;">
      <div class="row">
        <div class="span14 ui-front">
          <div class="center_block clearfix"><br>
            <%= f.label "Invite by User name:" %>
            <div class="input ui-front">
              <%= f.text_field :user_tokens, id: "search_user" %>
            </div>
          </div>
            <%= hidden_field_tag 'comm_id', community.id %>
        </div>
      </div>   
    </div>
    <div class="modal-footer" >
      <%= f.submit "Invite", class: "btn primary pull-right", id: "invite_submit" %>  
    </div>
  </div>

</div>
<% end %> -->




<script type="text/javascript">
$(document).ready(function(){
  $('.gravatar').addClass('thumbnail');  
    $('.button_toggle').hide();
    $('#modal_edit_grp').modal('hide');
});


$("#grp_list").click(function(){
  $("#groups_community_li").click();
});



$(document).ready(function(){
  $.validate({
    onSuccess : function() {
      $('#updGroup').attr('data-loading-text', 'Updating...');
      $('#updGroup').button('loading');
    },
  });
  $('.loading_page').hide();
});



$("#edit_group").click(function(){
      $('#modal_edit_grp').modal({
        backdrop: "static"
      });
    });
    $("#closeX_edit_grp").click(function(){
          $('#modal_edit_grp').modal('hide');
        });

    $("#updGroup").click(function(){
      $('.loading_page').show();
        });

    $("#group_edit_pic").click(function(){
      $('#pic2').click();
    });

var imageLoader = document.getElementById('pic2');
imageLoader.addEventListener('change', handleImage, false);
$("#imageCanvas2").click(function(){
  $("#pic2").click();
});
var canvas = document.getElementById('imageCanvas2');
var ctx = canvas.getContext('2d');
ctx.font="30px Arial";
ctx.fillText("Change picture",10,50);

function handleImage(e){
  var canvas = document.getElementById('imageCanvas2');
  var ctx = canvas.getContext('2d');
  var iCnt=0;
  var files = e.target.files;
  canvas.width = 180;
  canvas.height = 155*(Math.ceil(files.length/4));
     if(files.length<1){
      $('#pic2').val('');
      $('#group_edit_pic').show();
      $('#imageCanvas2').hide();
      return;
    }
  for( var i = 0, len = files.length; i < len; i++) 
  {
          $('#group_edit_pic').hide();
          $('#imageCanvas2').show();
    if(files[i])
    {
      var reader = new FileReader();
      reader.onload = function(event){
        var img = new Image();

        img.onload = function(){
          var ratioPx = 150;
          var sWidth =ratioPx;
          var ratio = img.width/sWidth;
          var sHeight = img.height/ratio;   
          if(sHeight>ratioPx){
           sHeight =ratioPx;
           ratio = img.height/sHeight;
           sWidth = img.width/ratio;  
         }
         ctx.drawImage(img, 155*(iCnt%4),155*(Math.floor(iCnt/4)),sWidth,sHeight);
                  //ctx.drawImage(img,0,0,sWidth,sHeight);
                  iCnt++;
                }
                img.src = event.target.result;
              }
              reader.readAsDataURL(e.target.files[i]);     
            }
          }
        }



$('#members_grp_tab').click(function(){
  $('#members_grp_tab').addClass('active');
  $('#post_grp_tab').removeClass('active');
  $('#photos_grp_tab').removeClass('active');
  $('.loading_page').show();
});

$('#post_grp_tab').click(function(){
  $('#post_grp_tab').addClass('active');
  $('#members_grp_tab').removeClass('active');
  $('#photos_grp_tab').removeClass('active');
  currentPage<%= @group.id.to_s %> = 1;
  $('.loading_page').show();
});

$('#photos_grp_tab').click(function(){
  $('#photos_grp_tab').addClass('active');
  $('#members_grp_tab').removeClass('active');
  $('#post_grp_tab').removeClass('active');
  $('.loading_page').show();
});


</script>