  <ul class="tabs">
    <%= render 'communities/links' %>
  </ul>
<div class="row">
        <div class="marginLeft15 ui-front">

          <div style="display:block;height:250px;">
          <ul id="group_list" class="users">
          <li style="position:relative;border-bottom:0px;padding:0;overflow:visible" class="tr-hover1 tr-hover-btn" >
              <div class="center ">
                <% unless event.photo.nil? %>
                  <%= link_to cl_image_tag(event.photo.pic_url(:cu_large_mid), class:"padding1",rel: "#{event.id}", id:"#{event.photo.id}") , event.photo.pic_url, class: "fancybox-album", rel: "#{event.id}" , title: "#{event.title}"    %>
                <% end %>
              </div>
            <div class="btn_overlay_cu_cover_pic">
                <div id="edit_del_btn">
                <% if event.activities.count > 1 %>
                  <div id="drop_menu_div" class="marginLeft10 pull-left button_toggle_pic">
                      <%= render partial: "communities/event_drop_menu", locals: {event: event, community: community} %>
                  </div>
                <% end %>
                <% if event.responded?(current_user.id) %>
                  <% if @event.is_admin?(current_user) %>
                       <button class=" pull-right uibutton icon edit button_toggle_pic" id="edit_event">edit</button>
                   <% end %>

                   <span class="pull-right "> &nbsp;</span>
                   <% if @event.is_admin?(current_user) %>
                      <%= link_to "delete",  "/communities/#{community.id}/delete_event?event_id=#{@event.id}", method: :get, remote: true,
                                               data: { confirm: "You sure?" },
                                               class: "pull-right uibutton button_toggle_pic",
                                               title: "Delete this event" %>
                   <% end %>
                  <span class="pull-right "> &nbsp;</span>
                  <button class=" pull-right uibutton icon add button_toggle_pic add_activity " id="add_activity" >add sub-events</button>

                <% else %>

                <% end %>
                </div>
                <% unless event.photo.nil? %>
                <div class="clear-float">
<!--                   <%= link_to cl_image_tag(event.photo.pic_url(:cu_large_mid), class:"image_al_c1 thumbnail ", id:"#{event.photo.id}"), "#" %> -->
                </div>
              </div>
              <% unless event.responded?(current_user.id) %>
                <div class="text_overlay_cu_cover_pic button_toggle_pic" style="margin-left:4px; margin-bottom:160px;height:60px;padding:0;margin-top:0;">
                    <span class="pull-right "> &nbsp;</span>
                  <address style="width:535px !important;"><p  style="width:100% !important;"><strong style="line-height:1.8">Attend this event</strong>
                    <span class="pull-right "> &nbsp;</span>
                    <%= link_to "May be", "/communities/#{community.id}/event_invitation?event_id=#{event.id}&status=maybe", class: "uibutton pull-right button_toggle_pic event_inv", remote: true %>
                    <span class="pull-right "> &nbsp;</span>
                    <%= link_to "No", "/communities/#{community.id}/event_invitation?event_id=#{event.id}&status=no", class: "uibutton pull-right button_toggle_pic event_inv marginRight5", remote: true %>
                    <span class="pull-right "> &nbsp;</span>
                    <%= link_to "Yes", "/communities/#{community.id}/event_invitation?event_id=#{event.id}&status=yes", class: "uibutton pull-right button_toggle_pic event_inv ", remote: true %>
                  </p></address>
                </div>
                <% end %>
                <h2 class="text_overlay_cu_cover_pic button_toggle_pic" id="text_overlay_cu_cover_pic" style="margin-left:4px;">
                  <%= render partial: "communities/event_text_overlay", locals: {obj: event} %>
                </h2>
                <% end %>

<!--                 <div style="margin-left:95px;margin-top:5px;">
                  <address>
                    <strong> <%= link_to event.title, "#", style: "font-size:13px;" %></strong> <br>
                    <strong>Description : &nbsp;</strong> <%= event.description %><br>
                    <strong>Time : &nbsp;</strong><%= event.time_str(event) %><br>
                    <strong>Location : &nbsp;</strong><%= event.address %><br>
                    <strong>Privacy : &nbsp;</strong><%= privacy_str(event) %><br>
                  </address> 
                </div> -->
                
              </li>
          </ul>
          </div>
          <ul id="activity_show" class="users">

          </ul>
<!--           <div id="event_table">
              <%= render partial: "communities/event_table", locals: { event: event, community: community, activity: nil } %>
          </div> -->

          <br>
          <div id="event_links" style="display:block;">
            <%= render partial: "communities/event_links", locals: { event: event, community: community, activity: activity } %>
          </div>
        <div id="show_event_div">
            <%= render partial: "communities/event_members", locals: { event: event, community: community, activity: activity, ad_users: @ad_users, inv_users: @inv_users } %>
        </div>
      </div>
</div>

<%= form_for( @event, url: update_event_community_path(community), remote: true, :html => {:multipart => true, id: 'update_event_form'}) do |f| %>
<div id="modal_edit_event" style="display:none;" >
          <div id="modal-from-dom" class="modal hide fade in" style="display: block;width:700px;">
            <div class="modal-header">
              <a href="#" id="closeX_edit_event" class="close">×</a>
              <h3>Update Event</h3>
            </div>
            <div class="modal-body" style="max-height:450px;">
            <div class="row">
              <div class="span14 ui-front">
              <%= hidden_field_tag :event_id, event.id %>
               <%= render 'shared/error_messages', object: f.object %>
               <div class="center_block clearfix">
                  <%= f.label :title %>
                  <div class="input">
                    <%= f.text_field :title, :placeholder=>"Title", 'data-validation' => "length",
     'data-validation-length' =>"3-25", 'data-validation-error-msg' => "The Event name has to be a value between 3-25 characters" %></div>
                </div>

                <div class="center_block clearfix">
                  <%= label_tag :starts_at %>
                  <div class="input">
                  <%= f.text_field :starts_at, :placeholder => "Time" %>&nbsp;&nbsp;&nbsp;
                <a id="end_date_add_link_event" class="uibutton icon add">End Date</a>
                </div>
                </div>
                <div class="center_block clearfix" id="end_date_event">
                  <%= label_tag :ends_at %>
                  <div class="input">
                    <%= f.text_field :ends_at %>&nbsp;&nbsp;&nbsp;
                   <a id="end_date_remove_link_event" class="uibutton icon prev">Remove</a>
                  </div>
                </div> 

                <div class="center_block clearfix">
                  <%= f.label :location %>
                  <div class="input ">
                  <%= f.text_field :address, :placeholder => :location, :size => 43, class: 'events_with_autocomplete inherit_width', 'data-autocompleteUrl' => search_address_events_path , 'data-validation' => "length",
     'data-validation-length' =>"3-250", 'data-validation-error-msg' => "The event address has to be a value between 3-250 characters" %>&nbsp;&nbsp;&nbsp;
                
                  <%= link_to "View map", '#', id: "view_map_link_event",  class: "uibutton icon prev" %>
                </div>
                <div class="input" id="view_map">
                
                </div>
                </div>
                <div class="center_block clearfix">
                  <%= f.label :description %>
                  <div class="input">
                  <%= f.text_area :description, :placeholder=>"Description", class: ' inherit_width', :title=>"Description", rows: 3, cols: 75, 'data-validation' => "length",
     'data-validation-length' =>"3-250", 'data-validation-error-msg' => "The event description has to be a value between 3-250 characters"  %> 
                </div>
                </div>
                <div class="center_block clearfix">
                  <%= label_tag :privacy %>
                  <div class="input">
                    <%= f.select :privacy, options_for_select([["Public", Privacyenum::PUBLIC], ["Private", Privacyenum::PRIVATE]]) %>
                  </div>
                </div> <br>

          <div class="center_block clearfix">
            <%= label_tag "Change picture:" %>
            <%= f.fields_for :photo, Photo.new, :child_index => 'NEW_RECORD' do |photo_form| %>
              <%= photo_form.file_field :pic, id: "pic2",style: "width:0px; height:0px; padding:0px;  left:0px;" %>  
            <% end %>
            <div class="input"> 
              <% unless @event.photo.nil? %>
              <%= cl_image_tag(@event.photo.pic_url(:small), class:" thumbnail albumLink", id:"event_edit_pic", style: "cursor:pointer;") %>   
              <% end %>
              <canvas id="imageCanvas2" style = "border: 1px solid #ddd; padding:5px; align:center; width:200px;display:none;cursor:pointer" >select new image</canvas>
            </div>
          </div>  

        </div>   
      </div>
      </div>
            <div class="modal-footer" >
              <%= f.submit "Update", class: "btn primary pull-right", id: "update_event" %>  
            </div>
          </div> 
        </div>
  <% end %>

                <div id="create_activity_div">
                  <%= render partial: "communities/create_activity_cu", locals: {community: community, event: event} %>
                </div>

 


<script type="text/javascript">
$(document).ready(function(){
   // $('.button_toggle').hide();
    $('#modal_edit_event').modal('hide');

  $('#posts_community_li').removeClass('active');
  $('#about_community_li').removeClass('active');
  $('#photos_community_li').removeClass('active');
  $('#members_community_li').removeClass('active');
  $('#groups_community_li').removeClass('active');
  $('#events_community_li').addClass('active');

  $('#end_date_event').hide();

  $('#view_map_link_event').hide();

});

                 $('.event_inv').click(function(){
                    $('.loading_page').show();
                 });

                 $('.tr-select-main').click(function(){
                    $("#event_show_link").click();
                    $('.loading_page').show();
                 });
                 $('.tr-select').click(function(){
                    var id = $(this).find('p').html();
                    $("#act_"+id).click();
                    $('.loading_page').show();
                 });



                $(document).ready(function(){
                $.validate({
                  form : '#create_activity_form',
                  onSuccess : function() {
                    $('#create_activity_act').attr('data-loading-text', 'Creating...');
                    $('#create_activity_act').button('loading');
                  },
                });
                $('.loading_page').hide();
              });


                  $('#end_date_add_link_event').click(function(){
                    $('#end_date_event').show();
                    $('#end_date_add_link_event').hide();
                  });
                  $('#end_date_remove_link_event').click(function(){
                    $('#end_date_event').hide();
                    $('#end_date_add_link_event').show();
                  });


/* $('.tr-hover-btn').hover(function() {
       $(this).find('.button_toggle').show();
       }, function() {
         $(this).find('.button_toggle').hide();
    });
     $('.tr-hover-btn').hover(function() {
       $(this).find('.button_toggle_pic').show();
       }, function() {
         $(this).find('.button_toggle_pic').hide();
    });*/


$(document).ready(function(){
  $('#modal_create_activity').modal('hide');
   $('.modal-backdrop').remove();
  $.validate({
    form : "#update_event_form",
    onSuccess : function() {
      $('#update_event').attr('data-loading-text', 'Updating...');
      $('#update_event').button('loading');
    },
  });
  $('.loading_page').hide();

   $('#end_date_act').hide();

  $('#view_map_link_act').hide();
});





$("#edit_event").click(function(){
      $('#modal_edit_event').modal({
        backdrop: "static"
      });
    });
    $("#closeX_edit_event").click(function(){
          $('#modal_edit_event').modal('hide');
        });

    $("#update_event").click(function(){
      $('.loading_page').show();
        });

    $("#event_edit_pic").click(function(){
      $('#pic2').click();
    });

var imageLoader = document.getElementById('pic2');
imageLoader.addEventListener('change', handleImage, false);
$("#imageCanvas2").click(function(){
  $("#pic2").click();
});
var canvas = document.getElementById('imageCanvas2');
var ctx = canvas.getContext('2d');
ctx.font="30px Arial";
ctx.fillText("Change picture",10,50);

function handleImage(e){
  var canvas = document.getElementById('imageCanvas2');
  var ctx = canvas.getContext('2d');
  var iCnt=0;
  var files = e.target.files;
  canvas.width = 180;
  canvas.height = 155*(Math.ceil(files.length/4));
     if(files.length<1){
      $('#pic2').val('');
      $('#event_edit_pic').show();
      $('#imageCanvas2').hide();
      return;
    }
  for( var i = 0, len = files.length; i < len; i++) 
  {
          $('#event_edit_pic').hide();
          $('#imageCanvas2').show();
    if(files[i])
    {
      var reader = new FileReader();
      reader.onload = function(event){
        var img = new Image();

        img.onload = function(){
          var ratioPx = 150;
          var sWidth =ratioPx;
          var ratio = img.width/sWidth;
          var sHeight = img.height/ratio;   
          if(sHeight>ratioPx){
           sHeight =ratioPx;
           ratio = img.height/sHeight;
           sWidth = img.width/ratio;  
         }
         ctx.drawImage(img, 155*(iCnt%4),155*(Math.floor(iCnt/4)),sWidth,sHeight);
                  //ctx.drawImage(img,0,0,sWidth,sHeight);
                  iCnt++;
                }
                img.src = event.target.result;
              }
              reader.readAsDataURL(e.target.files[i]);     
            }
          }
        }






$(document).ready(function() {

  for (var i = 1; i < 99999; i++){
     window.clearInterval(i);
  }


      var startDateTextBox = $("#event_starts_at");
      var endDateTextBox = $("#event_ends_at");

      startDateTextBox.datetimepicker({ 
        onClose: function(dateText, inst) {
          if (endDateTextBox.val() != '') {
            var testStartDate = startDateTextBox.datetimepicker('getDate');
            var testEndDate = endDateTextBox.datetimepicker('getDate');
            if (testStartDate > testEndDate)
              endDateTextBox.datetimepicker('setDate', testStartDate);
          }
          else {
            endDateTextBox.val(dateText);
          }
        },
        onSelect: function (selectedDateTime){
          endDateTextBox.datetimepicker('option', 'minDate', startDateTextBox.datetimepicker('getDate') );
        },
        dateFormat: "dd/mm/yy"
      });
      endDateTextBox.datetimepicker({ 
        onClose: function(dateText, inst) {
          if (startDateTextBox.val() != '') {
            var testStartDate = startDateTextBox.datetimepicker('getDate');
            var testEndDate = endDateTextBox.datetimepicker('getDate');
            if (testStartDate > testEndDate)
              startDateTextBox.datetimepicker('setDate', testEndDate);
          }
          else {
            startDateTextBox.val(dateText);
          }
        },
        onSelect: function (selectedDateTime){
          startDateTextBox.datetimepicker('option', 'maxDate', endDateTextBox.datetimepicker('getDate') );
        },
        dateFormat: "dd/mm/yy"
      });

    });

    $(function() {
      return $('.events_with_autocomplete').autocomplete({
        minLength: 2,
        source: function(request, response) {
          return $.ajax({
            url: $('.events_with_autocomplete').data('autocompleteurl'),
            dataType: "json",
            data: {starts_at: "", ends_at: "",
              address: request.term, event: "<%= @event.to_json %>"
            },
            success: function(data) {
              return response(data);
            }
          });
        }
      });
    });


       $(document).ready(function(){
                $.validate({
                  form : '#create_activity_form',
                  onSuccess : function() {
                    $('#create_activity_act').attr('data-loading-text', 'Creating...');
                    $('#create_activity_act').button('loading');
                  },
                });
                $('.loading_page').hide();
              });


                  $(".add_activity").click(function(){
                    $('#modal_create_activity').modal({
                      //keyboard: true,
                      backdrop: "static",
                    });
                  });
                  $("#closeX_create_activity").click(function(){
                        $('#modal_create_activity').modal('hide');
                      });

</script>