                  <address class="mt15">
                    <p class="mtb0"><strong class=" semi-bold">Description : &nbsp;</strong><span class="font-12 color-light-black"><%= obj.description %></span></p>
                    <p class="mtb0"><strong class=" semi-bold">Type : &nbsp;</strong><span class="font-12 color-light-black"><%= obj.comm_type %></span></p>
                    <p class="mtb0"><strong class=" semi-bold">Privacy : &nbsp;</strong><span class="font-12 color-light-black"><%= privacy_str(obj) %></span></p>
                    <p class="mtb0"><strong class=" semi-bold"><%= "Member".pluralize(obj.users_count) %> : &nbsp;</strong><span class="font-12"><%= pluralize(obj.users_count, "person") %></span>
                    <p class="mtb0" data-toggle="modal" data-target="#modal_maps"><strong class=" semi-bold">Location : &nbsp;</strong>
                       <text id="map_address" class="font-12 link-color" style="cursor:pointer"><%= obj.address %></text>
                     </p> 
                  </address> 
          
          
           <div id="modal_maps" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <div class="mb15 mt15 font-36"></div>
                                  <h3 class="semibold modal-title text-primary">Maps</h3>
                            </div>
                            <div class="modal-body">
                                <%= image_tag "https://maps.google.com/maps/api/staticmap?size=650x400&sensor=false&zoom=15&markers=#{obj.latitude}%2C#{obj.longitude}", width: "100%" %>
                                     
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
<script type="text/javascript">
/*$("#map_address").click(function(){
  $("#modal_maps").modal('show');
});

$("#close_map").click(function(){
  $('#modal_maps').modal('hide');
});*/
</script>