                  <address>
                    <strong class="text_overlay_title"><%= obj.name %></strong> <br><br>
                    <p><strong>Description : &nbsp;</strong><span><%= obj.description %> </span></p><br>
                    <p><strong>Privacy : &nbsp;</strong><span> <%= privacy_str(obj) %></span></p><br>

                    <p><strong><%= "Member".pluralize(obj.users_count) %> : &nbsp;</strong><span><%= pluralize(obj.users_count, "person") %></span><br> 

                     <!-- <p><strong>Location : &nbsp;</strong><span>
                       <%= obj.address %>
                     </span>
                     </p> -->
                    <br>
                  </address> 