 <% provide(:title, 'Community') %>

<div id="main">


  <h3>Selected Community</h3>
  Community Name :   <%= @selected_community.name %>
  <br>
  Description :   <%= @selected_community.description %>
  <%= link_to "Create Community", '#', id: "ComUnity1",  class: " pull-right uibutton icon add" %>
  
  <br><br>


<ul class="grid backColor"> 
<% unless @selected_community.nil? %> 
           <%= render :partial => '/communities/community', :locals =>{:community => @selected_community} %>
           <% end %>
</ul>


<div id="Comm_list">

<ul class="tabs">
  <li class="active" id="my_comm_li"><a ><h4>My Communities</h4></a></li>
  <li id="suggested_comm_li"><a ><h4>Suggested communities</h4></a></li>
</ul>

<div id="my_comm">  
<ul class="grid backColor" id="my_comm_ul"> 
<% unless @my_communities.nil? %> 
               <% @my_communities.each do |comUnity1| %>
        <%= render :partial => '/communities/community', :locals =>{:community => comUnity1} %>
        <% end %>
<% end %>
</ul>
<br>
</div>


<div id="suggested_comm">
<ul class="grid backColor" id="suggested_comm_ul">
<% unless @public_communities.nil? %> 
    <% @public_communities.each do |comUnity2| %>
        <%= render :partial => '/communities/community', :locals =>{:community => comUnity2} %>
    <% end %>
<% end %>

</ul>
<br>
</div>

</div>

<div id="modal" style="display:none;" >
    <div id="modal-from-dom" class="modal hide fade in" style="display: block;width:700px;">
        <%= form_for( @communities, remote: true, :html => {:multipart => true}) do |f| %>
        <div class="modal-header">
            <a href="#" id="closeX" class="close">×</a>
            <span style="font-size:20px;line-height: 2;">Create Community</span>
        </div>
        
        <div class="modal-body" style="max-height:550px;">
            <div class="row">
                <div class="span14 ui-front">
                <%= render 'shared/error_messages', object: f.object %>
        
                <div id="pages">     
                    <div id="page-1">
                        <%= link_to "Next page", '#', id: "next-2",  class: "uibutton icon next pull-right" %>
                        <div class="center_block clearfix">
                            <%= f.label :name %>
                            <div class="input">
                                <%= f.text_field :name, :placeholder=>"Name" %>
                            </div>
                        </div>    

               

                        <div class="center_block clearfix">
                            <%= f.label :location %>
                            <div class="input ">
                                <%= link_to "View map", '#', id: "view_map_link",  class: "uibutton icon prev" %>
                            </div>
                            <div class="input" id="view_map">
                            </div>
                        </div>
                
                        <div class="center_block clearfix">
                            <%= f.label :description %>
                            <div class="input">
                                <%= f.text_area :description, :placeholder=>"Description", class: ' inherit_width', :title=>"Description", rows: 3, cols: 75  %> 
                            </div>
                        </div>
                        <div class="center_block clearfix">
                            <%= label_tag "Add picture:" %>
                            <%= f.fields_for :photo, Photo.new, :child_index => 'NEW_RECORD' do |photo_form| %>
                            <%= photo_form.file_field :pic, id: "pic",style: "width:1px; height:1px; padding:0px;  left:0px;" %>  
                            <% end %>
                            <div class="input">    
                                <canvas id="imageCanvas" style = "border: 1px solid #ddd; padding:5px; align:center; width:200px;" >select an image</canvas>
                            </div>
                        </div>
                    </div>
                           
                    <div id="page-2">
                        <%= link_to "Previous page", '#', id: "prev-1",  class: "uibutton icon prev pull-left" %>
                        <br>
                        <div class="center_block clearfix">
                            <%= label_tag :privacy %>
                            <div class="input">
                                <%= f.select :privacy, options_for_select([["Open", "open"], ["Closed", "closed"], ["Secret", "secret"]]) %>
                            </div>
                        </div> 
                       
                        <br>
                
                        
                    </div>
                </div>
            </div>
        </div>   
    </div>
    <div class="modal-footer" >
        <%= f.submit "Create Community", class: "btn primary pull-right", id: "crtComUnity" %>  
    </div>
    <% end %>
</div>
          



</div>

<script type="text/javascript">
    $(document).ready(function(){
    
    $('#page-2').hide();

  
    $("#ComUnity1").click(function(){
      $('#modal').modal('show');
    });
    $("#closeX").click(function(){
          $('#modal').modal('hide');
        });

    $("#crtComUnity").click(function(){
          $('#modal').modal('hide');
        });

 $('#suggested_comm_li').click(function(){
            $('#suggested_comm_li').addClass('active');
            $('#my_comm_li').removeClass('active');
            $('#suggested_comm').show();
            $('#my_comm').hide();
        });


        $('#my_comm_li').click(function(){
            $('#suggested_comm_li').removeClass('active');
            $('#my_comm_li').addClass('active');
            $('#suggested_comm').hide();
            $('#my_comm').show();
        });


$('#prev-1').click(function(){
    $( "#page-1" ).animate({ width: '600px' }, 1000, function() {
                $(this).show();
             });
    $( "#page-2" ).animate({ width: '0px' }, 1000, function() {
                $(this).hide();
             });

});
$('#next-2').click(function(){
    $( "#page-1" ).animate({ width: '0px' }, 1000, function() {
                $(this).hide();
             });
    $( "#page-2" ).animate({ width: '600px' }, 1000, function() {
                $(this).show();
             });
});

    var imageLoader = document.getElementById('pic');
    imageLoader.addEventListener('change', handleImage, false);
    $("#imageCanvas").click(function(){
        $("#pic").click();
    });
        var canvas = document.getElementById('imageCanvas');
    var ctx = canvas.getContext('2d');
    ctx.font="30px Arial";
    ctx.fillText("Select an image",10,50);

  function handleImage(e){
    var canvas = document.getElementById('imageCanvas');
    var ctx = canvas.getContext('2d');
    var iCnt=0;
    var files = e.target.files;
    canvas.width = 300;
    canvas.height = 155*(Math.ceil(files.length/4));
    for( var i = 0, len = files.length; i < len; i++) 
          {
          if(files[i])
            {
              var reader = new FileReader();
              reader.onload = function(event){
                var img = new Image();

                img.onload = function(){
                  var ratioPx = 150;
                  var sWidth =ratioPx;
                  var ratio = img.width/sWidth;
                  var sHeight = img.height/ratio;   
                    if(sHeight>ratioPx){
                       sHeight =ratioPx;
                       ratio = img.height/sHeight;
                       sWidth = img.width/ratio;  
                    }
                  ctx.drawImage(img, 155*(iCnt%4),155*(Math.floor(iCnt/4)),sWidth,sHeight);
                  //ctx.drawImage(img,0,0,sWidth,sHeight);
                  iCnt++;
                }
                img.src = event.target.result;
              }
              reader.readAsDataURL(e.target.files[i]);     
            }
          }
  }


  });
    
       
</script>
