                <%= form_tag "/auth/identity/callback" do %>
<header class="container-fluid">
  <div class="topbar">  
    
    <div class="topbar-inner navbar ">
      <div class="container-fluid canvas">

          <% if signed_in? %>
              <%= link_to "Smarthood", home_page, id: "logo1", class: "brand ", style:"margin-left:20px;margin-top:5px;vertical-align: middle;background-color:transparent; " %>
          <nav>
           <ul class="nav pull-left">            
            <li id="fat-menu">
            <div id="logo_community_name">
              <%= render partial: '/static_pages/community-name', locals: {community: active_community } %>
            </div>
         </li>
        </ul>
      </nav>
       <nav class="center">
           <ul class="nav center">            
            <li>
            <div class="center loading_header_page active hide" style="margin-top:4px;" ><img src="/assets/loading.gif"></div>
            </li>
         </ul>
       </nav>
        <nav>
          <ul class="nav pull-right">            
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= gravatar_for current_user, size: 20 %><small><%= current_user.user_info.first_name %></small> <small><%= current_user.user_info.middle_name %></small> <small><%= current_user.user_info.last_name %></small>
                <b class="caret1"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user, remote: true %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, class: "sign_out_fb" %> <!-- , method: "delete" %> -->
                </li>
              </ul>
               <li>
                            <div class="active_hide fb_logout">
                             <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="true"></div>                        
                            </div>

                  <%= link_to "Sign out", signout_path, class: "sign_out_fb" , id: "sign_out_fb" %> <!-- , method: "delete" %> -->
              </li>
            </li>
        </ul>
      </nav>
          <% else %>
        <%= link_to "Smarthood", home_page, id: "logo1", class: "brand ", style:"margin-left:0px;font-size:xx-large;margin-top:5px;vertical-align: middle;background-color:transparent; " %>
            <div class="menu_login_container pull-right">
                  <table cellspacing="0" style="margin-bottom:5px;margin-top:10px;">
                    <tbody>
                        <!-- <tr >
                            <td class="html7magic " style="border:0px;padding:0px;">
                                <label for="auth_key" style="color:white; float:left!important;">Email</label>
                            </td>
                            <td class="html7magic " style="border:0px;padding:0px;">
                                <label for="password" style="color:white; float:left!important;">Password</label>
                            </td> -->
                        </tr>
                        <tr>
                            <td style="border:0px;padding:0px;">
                                <%= text_field_tag :auth_key, nil, placeholder: "Email" %>
                            </td>
                            <td style="border:0px;padding:0px 0px 5px 5px;">
                              <table style="margin-bottom:0px;">
                                <tr>
                                  <td style="border:0px;padding:0px;">
                                      <%= password_field_tag :password, nil,  placeholder: "Password" %>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="border:0px;padding:0px; 0px 5px 5px;">
                                      <a rel="nofollow" href="<%= new_password_reset_path %>">Forgot your password?</a>
                                  </td>
                                </tr>
                              </table>
                            </td>
                            <td style="border:0px;padding:0px 0px 5px 5px;width:20px;" >
                                    <%= submit_tag "Log In", class: "ui-button", style: "padding:5px 10px;" %>
                            </td>
                            <td style="border:0px;padding:0px 0px 5px 5px;width:20px;" >
                                  <p style="margin-left:20px;margin-right:20px;color:white;margin-top:0px;font-size:small;">
                                     or
                                  </p> 
                            </td>
                          <td style="border:0px;padding:0px 0px 5px 5px;">
                           <!--  <div class="active_hide fb_logout">
                             <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="true"></div>                        
                            </div> -->
                              <%= link_to image_tag("facebook.png", alt: "Log In with Facebook"), '#', id: "sign_in_fb" %>
                          </td>
                        </tr>
                            <!--
                        <tr>
                             <td class="login_form_label_field" style="border:0px;padding:0px;">
                                <div>
                                    <div class="uiInputLabel clearfix uiInputLabelLegacy">
                                        <input id="persist_box" type="checkbox" name="persistent" value="1" checked="1" class="uiInputLabelInput uiInputLabelCheckbox">
                                        <label for="persist_box" class="uiInputLabelLabel">Keep me logged in</label>
                                    </div>
                                    <input type="hidden" name="default_persistent" value="1">
                                </div>
                            </td> 
                            <td class="login_form_label_field pull-right" style="border:0px;padding:0px;"><a rel="nofollow" href="<%= new_password_reset_path %>">Forgot your password?</a>
                            </td>
                        </tr>
                          -->
                        
                    </tbody>
                </table>
                <% end %>
            </div>
           
          <% end %>
    </div>
  </div>
</div>
</header>

<script type="text/javascript">


window.fbAsyncInit = function() {
  FB._initialized = false;
  FB.init({
    appId: '<%= FACEBOOK_CONFIG["FACEBOOK_APP_ID"] %>',
    status     : true,
    xfbml      : true,
    version    : 'v2.0',
  });
  $('#sign_in_fb').click(function(e) {
    e.preventDefault();
     FB.getLoginStatus(function(response) {
     if (response.status === 'connected') {
        // the user is logged in and has authenticated your
        // app, and response.authResponse supplies
        // the user's ID, a valid access token, a signed
        // request, and the time the access token 
        // and signed request each expire
        var uid = response.authResponse.userID;
        var accessToken = response.authResponse.accessToken;
         FB.logout();  
      } else if (response.status === 'not_authorized') {
        // the user is logged in to Facebook, 
        // but has not authenticated your app
      } else {
        // the user isn't logged in to Facebook.
      }
    });
        return FB.login(function(response) {
          if (response.authResponse) {
            return window.location = '/auth/facebook/';
          }
        });
  });
  return $('.sign_out_fb').click(function(e) {
    FB.getLoginStatus(function(response) {
      if (response.status === 'connected') {
        // the user is logged in and has authenticated your
        // app, and response.authResponse supplies
        // the user's ID, a valid access token, a signed
        // request, and the time the access token 
        // and signed request each expire
        var uid = response.authResponse.userID;
        var accessToken = response.authResponse.accessToken;
        $('.fb_logout').click();
        return FB.logout(); 
      } else if (response.status === 'not_authorized') {
        // the user is logged in to Facebook, 
        // but has not authenticated your app
      } else {
        // the user isn't logged in to Facebook.
      }
/*      if (response.authResponse) {
        return FB.logout();
      }
*/ 
   });
    return true;
  });
};

$('#fat-menu').click(function(){
  $('.loading_header_page').show();
});

</script>
