<header class="container-fluid">
  <div class="topbar">  
    
    <div class="topbar-inner navbar ">
      <div class="container-fluid canvas">

        <%= link_to "ComUnity", home_page, id: "logo1", class: "brand ", style:"margin-left:150px" %>
        <nav>
          <ul class="nav pull-right">
          <% if signed_in? %>
            
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret1"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", "#", class: "sign_out_fb" %> <!-- , method: "delete" %> -->
                </li>
              </ul>
               <li>
                  <%= link_to "Sign out", signout_path, id: "sign_out_fb" %> <!-- , method: "delete" %> -->
              </li>
            </`li>
          <% else %>
            <li><%= link_to image_tag("facebook.png", alt: "Facebook"), '#', id: "sign_in_fb", style: "margin: 1px;padding:1px;" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</div>
</header>

<script type="text/javascript">


window.fbAsyncInit = function() {
  FB.init({
    appId: '<%= ENV["FACEBOOK_APP_ID"] %>',
    cookie: true
  });
  $('#sign_in_fb').click(function(e) {
    e.preventDefault();
    return FB.login(function(response) {
      if (response.authResponse) {
        return window.location = '/auth/facebook/';
      }
    });
  });
  return $('#sign_out_fb').click(function(e) {
    FB.getLoginStatus(function(response) {
      if (response.authResponse) {
        return FB.logout();
      }
    });
    return true;
  });
};

</script>
