          <% if signed_in? %>
              <nav class="navbar header-bg-color min-ht50  navbar-fixed-top ">
                <div class="">
                  <div class="container pt10 pl20 center-xs">
                    <span class="a-white font-20">

                    <!-- Offcanvas left: This menu will take position at the top of template header (mobile only). Make sure that only #header have the `position: relative`, or it may cause unwanted behavior -->
                    <li class="pull-left li-none navbar-main hidden-lg hidden-md hidden-sm">
                        <a id="ico-paragraph" href="javascript:void(0);" data-toggle="sidebar" data-direction="ltr" rel="tooltip" title="Menu sidebar">
                            <span class="meta">
                                <span class="icon"><i class="ico-paragraph-justify3 color-white"></i></span>
                            </span>
                        </a>
                    </li>
                    <!--/ Offcanvas left -->
                    <!--<a href="#" id="logo1"><span class="color-white">Smarthood</span></a>-->
                    <span class="default dropdown-toggle" id="menu1" data-toggle="dropdown"><a href="#" id="logo1"><span class="color-white"><%= @community.name %></span></a>
                    <span class="caret color-white"></span></span>
                    <ul class="dropdown-menu dropdown-transparent dropdown-transparent-xs" role="menu" aria-labelledby="menu1">
                      <li role="presentation"><a role="menuitem" class="presentation" tabindex="-1" href="/"><span>Home</span></a></li>
                      <li class="divider"></li>
                      <% current_user.communities.each do |community| %>
                        <li role="presentation"><a role="menuitem" class="presentation" tabindex="-1" href="/communities/<%= community.id %>"><span><%= community.name %></span></a></li>
                      <% end %>
                    </ul>
                    </span>
                        <!--<ul class="nav np pull-right">            
                           <li class="dropdown header_dropdown"><a class="dropdown-toggle np dropdown-bg-none color-white" data-toggle="dropdown" href="#"><span class = "mr5-md"><%= gravatar_for current_user, size: 30 %></span> <span class="hidden-xs"><%= current_user.user_info.first_name %></span> <span class="hidden-xs"><%= current_user.user_info.middle_name %></span> <span class="hidden-xs"><%= current_user.user_info.last_name %></span><span class="caret ml5"></span></a>
                              <ul class="dropdown-menu l-25-imp l-70-imp min-wd130 wd130 font-12" id="header_dropdown_list">
                              <li><%= link_to "Profile", current_user, remote: true %></li>
                              <li><%= link_to "Report issues", issue_trackers_path, id: "issues_home" %></li>
                              <li><%= link_to "Settings", edit_user_path(current_user), remote: "true" %>
                              <li class="divider"></li>
                              <li>
                                <%= link_to "Sign out", signout_path, class: "sign_out_fb" %>
                              </li>
                            </ul>
                          </li>
                      </ul>-->
                  </div>
                </div>
              </nav>
             
                    
         <!-- <nav>
           <ul class="nav pull-left">            
            <li id="fat-menu">
            <!-- <div id="logo_community_name">
              <%= render partial: '/static_pages/community-name', locals: {community: active_community } %>
            </div>
                 -->         
                <!-- </li>
              </ul>
            </nav>-->
       <!--<nav class="center">
           <ul class="nav center">            
            <li>
            <div class="center loading_header_page active hide" style="margin-top:4px;" ><img src="/assets/loading.gif"></div>
            </li>
         </ul>
       </nav>-->
        
          <% else %>
          <div class="header">
          <header class="container-fluid center-xs ht75 header-bg-color pt20 topbar-fixed">
          <span class="a-white">
             <%= link_to "Smarthood", home_page, id: "logo1", class: "color-white header-text" %>
          </span>
        <div class="menu_login_container pull-right hidden-xs">
              <%= form_tag "/auth/identity/callback", { class: "form-inline", id: "home-inline-login" } do %>
                    <div class="form-group mb25">
                      <label for="email" class="sr-only">Email:</label>
                      <%= text_field_tag :auth_key, nil, placeholder: "Email", class: "form-control form-control-small font-12 pl6 pr6 pt7" %>
                      <div class = "inline color-white hide">
                        <label><input type="checkbox"> Remember me</label>
                      </div>
                    </div>
                    <div class="form-group pb6">
                      <label for="pwd" class="sr-only">Password:</label>
                      <%= password_field_tag :password, nil,  placeholder: "Password", class: "form-control form-control-small font-12 pl6 pr6 pt7" %>
                      <div class = "inline a-white">
                        <a class = " color-white font-11" rel="nofollow" href="<%= new_password_reset_path %>">Forgot your password?</a>
                      </div>
                    </div>
                    <div class="form-group pb27">
                      <%= submit_tag "Log In", class: "btn ptb3 btn-info ml15 mr10"  %>
                    </div>
              <% end %>
                </div>
                </header>
            </div>
        <% end %>
           

<script type="text/javascript">


window.fbAsyncInit = function() {
  FB._initialized = false;
  FB.init({
    appId: '<%= FACEBOOK_CONFIG["FACEBOOK_APP_ID"] %>',
    status     : true,
    xfbml      : true,
    version    : 'v2.0',
  });
  $('.sign_in_fb').click(function(e) {
    e.preventDefault();
     FB.getLoginStatus(function(response) {
     if (response.status === 'connected') {
        // the user is logged in and has authenticated your
        // app, and response.authResponse supplies
        // the user's ID, a valid access token, a signed
        // request, and the time the access token 
        // and signed request each expire
        var uid = response.authResponse.userID;
        var accessToken = response.authResponse.accessToken;
         FB.logout();  
      } else if (response.status === 'not_authorized') {
        // the user is logged in to Facebook, 
        // but has not authenticated your app
      } else {
        // the user isn't logged in to Facebook.
      }
    });
        return FB.login(function(response) {
          if (response.authResponse) {
            return window.location = '/auth/facebook/';
          }
        });
  });
  return $('.sign_out_fb').click(function(e) {
    FB.getLoginStatus(function(response) {
      if (response.status === 'connected') {
        // the user is logged in and has authenticated your
        // app, and response.authResponse supplies
        // the user's ID, a valid access token, a signed
        // request, and the time the access token 
        // and signed request each expire
        var uid = response.authResponse.userID;
        var accessToken = response.authResponse.accessToken;
        $('.fb_logout').click();
        return FB.logout(); 
      } else if (response.status === 'not_authorized') {
        // the user is logged in to Facebook, 
        // but has not authenticated your app
      } else {
        // the user isn't logged in to Facebook.
      }
/*      if (response.authResponse) {
        return FB.logout();
      }
*/ 
   });
    return true;
  });
};

$('#fat-menu').click(function(){
  $('.loading_header_page').show();
});



</script>

<script>

/*$("#ico-paragraph").click(function() {
  $('<div class="modal-backdrop fade in" style="height: 923px;"></div>').appendTo(document.body).hide();
  $('.modal-backdrop').toggle();
});*/


$("#ico-paragraph").click(function() {
    if($(".modal-backdrop").length > 0){
      $('.modal-backdrop').remove();
    }else{
      $('<div class="modal-backdrop fade in" style="height: 100%;"></div>').appendTo(document.body);
    }
});



</script>