

<aside class="sidebar sidebar-left sidebar-menu mt50">
            <!-- START Sidebar Content -->
            <div class="viewport1" style="position: relative; width: auto;"><section class="content slimscroll" style="overflow: hidden; width: auto;position: relative;">
               
                <!-- START Template Navigation/Menu -->
            <ul class="topmenu topmenu-responsive" data-toggle="menu">
                      <div class="mb15 mt10">
                        <span class="media-object      mr10 ml5 pull-left">
                             <%= gravatar_for @user, size: 50 %>
                        </span>
                        <span class="">
                            <a href="/users/<%= @user.id %>/" class="media mt3 pb0 profile" data-remote="true" id="user_profile">
                                <p class="media-heading mt3 mb0  pb0 semibold text-color font-16 ellipsis"><%= @user.name %></p>
                            </a>
                            <a href="/signout" class="sign_out_fb pt0 profile">
                                <p class="media-meta btn btn-primary btn-xs font-12 mt5">Sign Out</p>
                            </a>
                        </span>
                      </div>         
                        
                </li>
                <% if @community.name == "Home"%>
                        <li class='active'>
                          <a href='<%= root_path %>' id='root_home' data-remote="true" >
                           <span class="figure"><i class="ico-bubble13"></i></span>
                           <span class="text color-white">Feeds</span>
                           <span class=" loading_menu pull-right hide" ><div class="indicator show"><span class="spinner "></span></div></span>
                          </a>
                         </li>
                        
                          
                       <!-- <li>
                            <a href="javascript:void(0);" data-target="#communities" data-toggle="submenu" data-parent=".topmenu">
                                <span class="figure"><i class="ico-home11"></i></span>
                                <span class="text"><%= @community.name %></span>
                                <span class="arrow"></span>
                            </a>
                            <ul id="communities" class="submenu collapse ">
                                <li>
                                    <%= render partial: '/static_pages/community-name', locals: {community: active_community } %>
                                </li>                                
                                <li>
                                    <a href='<%=posts_com_community_path(@community) %>' id='posts_community' data-remote="true">
                                    <span class="text">Posts</span>
                                    <span class=" loading_menu pull-right hide" ><img src="/assets/loading-sub.gif"></span>
                                   </a>
                                </li>
                                  <li>
                                    <a href='<%=photos_com_community_path(@community) %>' id='photos_community' data-remote="true">
                                     <span class="text">Albums</span>
                                     <span class=" loading_menu pull-right hide" ><img src="/assets/loading-sub.gif"></span>
                                    </a>
                                  
                                 </li>
                                 <li>
                                  <% if current_user.is_cu_admin?(@community)  %>
                                    <% unless (@community.req_pending_cnt.nil? || @community.req_pending_cnt == 0)%>
                                        <span class="pull-right label important" style="margin:5px;margin-right:10px;position:absolute;right:0;"><%= if @community.req_pending_cnt > 0 then @community.req_pending_cnt end %></span>
                                        &nbsp;<% end %>
                                        <% end %>
                                    <a href='<%=members_com_community_path(@community) %>' id='members_community' data-remote="true">
                                    <span class="text">Members</span>
                                    <span class=" loading_menu pull-right hide" ><img src="/assets/loading-sub.gif"></span>
                                   </a>
                                  </li>
                                <li>
                                    <a href='<%=groups_com_community_path(@community) %>' id='groups_community' data-remote="true">
                                    <span class="text">Groups</span>
                                    <span class=" loading_menu pull-right hide" ><img src="/assets/loading-sub.gif"></span>
                                   </a>
                                </li>
                                <li>
                                    <a href='<%=events_com_community_path(@community) %>' id='events_community' data-remote="true">
                                    <span class="text">Events</span>
                                    <span class=" loading_menu pull-right hide" ><img src="/assets/loading-sub.gif"></span>
                                   </a>
                                </li>
                            </ul>
                    </li>-->
                    <li>
                              <a href='<%= other_com_communities_path %>' id='public_comUnity' data-remote="true">
                                <span class="figure"><i class="ico-office"></i></span>
                                <span class="text">Communities</span>
                                <span class=" loading_menu pull-right hide" ><div class="indicator show"><span class="spinner "></span></div></span>
                               </a>
                    </li>      
                          
                            
<!--                       <li class="dis-none-imp">
                        <a href="javascript:void(0);" data-target="#components" data-toggle="submenu" data-parent=".topmenu">
                            <span class="figure"><i class="ico-office"></i></span>
                            <span class="text">Communities</span>
                            <span class="arrow"></span>
                        </a>
                        <ul id="components" class="submenu collapse ">
                            
                            <li>
                                <a href='<%= create_community_communities_path %>' id='ComUnity' data-remote="true">
                                <span class="text">Create</span>
                                <span class=" loading_menu pull-right hide" ><img src="/assets/loading-sub.gif"></span>
                               </a>
                            </li>
                              <li>
                                <a href='<%= my_com_communities_path %>' id='joined_comUnity' data-remote="true">
                                 <span class="text">My communities</span>
                                 <span class=" loading_menu pull-right hide" ><img src="/assets/loading-sub.gif"></span>
                                </a>
                               <span id="mem_req_count"  class="cnt">
                                 <%= render partial: 'communities/mem_req_count'%>
                               </span>
                             </li>
                             <li>
                              <a href='<%= other_com_communities_path %>' id='public_comUnity' data-remote="true">
                                <span class="text">Other communities</span>
                                <span class=" loading_menu pull-right hide" ><img src="/assets/loading-sub.gif"></span>
                               </a>
                              </li>
                            <li>
                              <a href='<%= invites_requests_communities_path %>' id='invites_comUnity' data-remote="true">
                                <span class="text">Invites</span>
                                <span class=" loading_menu pull-right hide" ><img src="/assets/loading-sub.gif"></span>
                               </a>
                               <span id="inv_req_count"  class="cnt">
                                <%= render partial: 'communities/inv_req_count'%>
                              </span>
                            </li>
                        </ul>
                    </li>
                    -->
                     <li>
                            <a href='<%= events_path %>' data-remote="true" >
                            <span class="figure"><i class="ico-calendar"></i></span>
                            <span class="text">Events</span>
                            <span class=" loading_menu pull-right hide" ><div class="indicator show"><span class="spinner "></span></div></span>
                        </a>
                    </li>
                    <li> 
                                <a href="<%= list_albums_path %>" data-remote="true" id="list_album">
                                    <span class="figure"><i class="ico-images2"></i></span>
                                    <span class="text">Albums</span>
                                    <span class=" loading_menu pull-right hide" ><div class="indicator show"><span class="spinner "></span></div></span>
                                </a>
                    </li>
                    
                    <!-- Buy and sell to be added later -->
                    <!--<li> 
                                <a href="<%= buysell_index_path %>" data-remote="true" id="buysell_home">
                                    <span class="figure"><i class="ico-cart-add"></i></span>
                                    <span class="text">Buy & Sell</span>
                                    <span class=" loading_menu pull-right hide" ><div class="indicator show"><span class="spinner "></span></div></span>
                                </a>
                    </li>-->
                    
                      <!--<li>
                        <a href="javascript:void(0);" data-target="#images" data-toggle="submenu" data-parent=".topmenu">
                            <span class="figure"><i class="ico-images2"></i></span>
                            <span class="text">Photos</span>
                            <span class="arrow"></span>
                        </a>
                          <ul id="images" class="submenu collapse ">
                              <li> 
                                <a href="<%= list_albums_path %>" data-remote="true" id="list_album">
                                <span class="text">Albums</span></a>
                                <div class=" loading_menu pull-right hide" ><img src="/assets/loading-sub.gif"></div> 
                            </li>
                          </ul>  
                        </li>-->
                <% else %>
                                 <li class="active">
                                    <a href="/communities/<%= @community.id %>" data-remote="true" id="active_community_link" class="color-white"> 
                                        <span class="figure"><i class="ico-bubble13"></i></span>
                                        <span class="text color-white">Feeds</span>
                                        <span class=" loading_menu pull-right hide" ><div class="indicator show"><span class="spinner "></span></div></span>
                                    </a>
                                </li>                                
                                <!--<li>
                                    <a href='<%=posts_com_community_path(@community) %>' id='posts_community' data-remote="true">
                                    <span class=" loading_menu pull-right hide" ><img src="/assets/loading-sub.gif"></span>
                                    <span class="figure"><i class="ico-bubble13"></i></span>
                                    <span class="text">Posts</span>
                                   </a>
                                </li>-->
                                  <li>
                                    <a href='<%=photos_com_community_path(@community) %>' id='photos_community' class="color-white" data-remote="true">
                                     <span class="figure"><i class="ico-images2"></i></span>
                                     <span class="text">Albums</span>
                                     <span class=" loading_menu pull-right hide" ><div class="indicator show"><span class="spinner "></span></div></span>
                                    </a>
                                  
                                 </li>
                                 <li id="members_community_li">
                                  <% if current_user.is_cu_admin?(@community)  %>
                                    <% unless (@community.req_pending_cnt.nil? || @community.req_pending_cnt == 0)%>
                                        <span class="pull-right sidebar-info badge badge-primary text"><%= if @community.req_pending_cnt > 0 then @community.req_pending_cnt end %></span>
                                        <% end %>
                                        <% end %>
                                    <a href='<%=members_com_community_path(@community) %>' id='members_community' class="color-white" data-remote="true">
                                    <span class="figure"><i class="ico-users3"></i></span>
                                    <span class="text">Members</span>
                                    <span class=" loading_menu pull-right hide" ><div class="indicator show"><span class="spinner "></span></div></span>
                                   </a>
                                  </li>
                                  
                                <% if @community.is_joined?(current_user, @community) %>  
                                    <li>
                                        <a href='<%=groups_com_community_path(@community) %>' class="color-white" id='groups_community' data-remote="true">
                                        <span class="figure"><i class="ico-group"></i></span>
                                        <span class="text">Groups</span>
                                        <span class=" loading_menu pull-right hide" ><div class="indicator show"><span class="spinner "></span></div></span>
                                       </a>
                                    </li>
                                <% end %>
                                <li>
                                    <a href='<%=events_com_community_path(@community) %>' class="color-white"  id='events_community' data-remote="true">
                                    <span class="figure"><i class="ico-calendar"></i></span>
                                    <span class="text">Events</span>
                                    <span class=" loading_menu pull-right hide" ><div class="indicator show"><span class="spinner "></span></div></span>
                                   </a>
                                </li>
                        <% end %>
                    </ul>
                
            </section><div class="scrollbar" style="width: 8px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 0px; height: 783px; background: rgb(0, 0, 0);"></div>
            <div class="scrollrail" style="width: 8px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 0px; background: rgb(51, 51, 51);"></div>
            </div>
        </aside>
        
        
        <script>
        
        $('#user_profile').click(function(){
          $(".topmenu > li").removeClass("active");
          $(".topmenu > li > a > span.text").removeClass('color-white');
        });
        
         $(".topmenu > li").click(function(){
          $(".topmenu > li").removeClass("active");
          $(".topmenu > li > a > span.text").removeClass('color-white');
          $(this).addClass("active");
          $(".topmenu > li.active > a > span.text").addClass('color-white');
          $(".topmenu > li.active > a > span.loading_menu").removeClass('hide');
          $(".topmenu > li > span.badge-default").removeClass('badge-default').addClass('badge-primary');
          $(this).find('.badge-primary').removeClass('badge-primary').addClass('badge-default');
         });
         
         
           
         
                  /* $(".submenu > li").click(function(){
                   $(".submenu > li").removeClass("active");
                    $(this).addClass("active");
                   });*/
        </script>
        
   <!-- <script>
    $('.topmenu > li').click(function(){
     $('html').hasClass('sidebar-open-ltr').removeClass('sidebar-open-ltr');
    });
    </script>-->