<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta property="og:image" content="<%= yield(:page_image) %>" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width , user-scalable=no">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.47/jquery.form-validator.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <%= stylesheet_link_tag "token-input-facebook" %>
    <%= javascript_include_tag "jquery.tokeninput" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %> 
    <script>
        //https://my.pingdom.com/
        var _prum = [['id', '53931587abe53d0b10aa0b6d'],
                     ['mark', 'firstbyte', (new Date()).getTime()]];
        (function() {
            var s = document.getElementsByTagName('script')[0]
              , p = document.createElement('script');
            p.async = 'async';
            p.src = '//rum-static.pingdom.net/prum.min.js';
            s.parentNode.insertBefore(p, s);
        })();
    </script>
  </head>
  <body>
    <div id="fb-root"></div>
      <script>
          (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=<%= FACEBOOK_CONFIG['FACEBOOK_APP_ID'] %>&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
    
    
          function checkBrowser(){
          c=navigator.userAgent.search("Chrome");
          f=navigator.userAgent.search("Firefox");
          if (c>-1){
          brwsr = true;
          }
          else if(f>-1){
          brwsr = true;
          }
          return brwsr;
          }
          $(function(){
          if(checkBrowser){
          $("#login-page-check-compatibility").show();
          $('.menu_login_container').show();
          }
          });
          
          function GetURLParameter(sParam)
            {
                var sPageURL = window.location.search.substring(1);
                var sURLVariables = sPageURL.split('&');
                for (var i = 0; i < sURLVariables.length; i++) 
                {
                    var sParameterName = sURLVariables[i].split('=');
                    if (sParameterName[0] == sParam) 
                    {
                        return sParameterName[1];
                    }
                }
            }
      </script>
    
      <div class="header">
        <%= render 'layouts/header' %>
      </div>
      <div class="container">
          <% flash.each do |key, value| %>
            <!--<div class="alert alert-<%= key %>"><%= value %></div>-->
          <% end %>
          <% if signed_in? %>
                <div class="row mt50">
                    <div class="col-md-3 col-sm-1 np">
                      <%= render 'layouts/sidebar1' %>
                    </div>
                    <div class="col-md-9 col-sm-11 plr2-xs pl0">
                        <div data-role="page" class="pages" id="home">
                          <div data-role="content" id="ctn" class=""> <!-- class="container container-fluid"> -->
                            <div id="content" class="">
                              <div id="mainHome" >
                                  <%= yield %>
                              </div>
                            </div>
                           <!-- <%= render 'layouts/footer' %>-->
                          </div>  
                      </div>
                    </div>
                </div>
      <% else %>
          <div class="mt75">
              <%= yield %>
          </div>
      <% end %>
 
            <!--<%= debug(params) if Rails.env.development? %>-->

</div>
<div class = "ht100"></div>
  </body>
  <div id="spinner">
  </div>

  <script type="text/javascript">
    var spinnerVisible = false;
    function showProgress() {
        if (!spinnerVisible) {
            $("div#spinner").fadeIn("fast");
            spinnerVisible = true;
        }
    };
    function hideProgress() {
        if (spinnerVisible) {
            var spinner = $("div#spinner");
            spinner.stop();
            spinner.fadeOut("fast");
            spinnerVisible = false;
        }
    };

    setInterval(function() {
  //      $.get(' <%= update_count_activitynotifications_path %>');
      }, 10000);

function restartInterval(){
  setInterval(function() {
 //       $.get(' <%= update_count_activitynotifications_path %>');
      }, 10000);
}

/*
        $("a.fancybox-album").fancybox({
            padding    : 0,
            autoCenter :true,
            afterShow: function() { 
                $('<div class="expander"></div>').appendTo(this.inner).click(function() {
                    $(document).toggleFullScreen();
                    $(".header").hide();
                });
            },
            afterClose: function() {
              $(document).toggleFullScreen();
                $(document).fullScreen(false);
                $(".header").show();
            },
            'transitionIn'  : 'elastic',
            'transitionOut' : 'elastic',
            'speedIn'   : 600, 
            'speedOut'    : 200, 
            'overlayShow' : false
          });*/


</script>
</html>
